@import "../commons/index.scss";
@import "../overlay/index.scss";

.Underlay {
  @include valence-overlay;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  /* Float above things by default */
  z-index: 1;

  overflow: hidden;
}

.Underlay.is-open {
  @include valence-overlay--open;
}
