.Datepicker-fieldWrapper.Datepicker-fieldWrapper.Datepicker-fieldWrapper {
  width: auto;
  min-width: var(--valence-global-dimension-size-2000);
  max-width: 100%;
}

.Datepicker-startField {
  width: auto;
  padding-inline-end: var(--valence-global-dimension-size-100);
}

.Datepicker-endField {
  width: auto;
  flex: 1;
  padding-inline-start: var(--valence-global-dimension-size-100);
}

.Datepicker-field
  ~ .Datepicker-endField
  > .Datepicker-input {
  border-inline-start-width: 0;
  border-start-start-radius: 0;
  border-end-start-radius: 0;
}

.Datepicker-field.Datepicker-field {
  width: auto;
}

/* specificity war with .Field--positionSide etc. */
.DateField.DateField.DateField.DateField {
  min-width: var(--valence-global-dimension-size-2000);
}

.TimeField.TimeField.TimeField.TimeField {
  min-width: var(--valence-global-dimension-size-1250);
}

.TimeField-fieldWrapper.TimeField-fieldWrapper.TimeField-fieldWrapper {
  width: auto;
  min-width: var(--valence-global-dimension-size-1250);
}

.Datepicker-input.Datepicker-input {
  /* always reserve space for the validation icon */
  padding-inline-end: calc(
    var(--valence-textfield-padding-x) + var(--valence-icon-alert-medium-width) +
      var(--valence-textfield-icon-margin-left)
  );
  cursor: text;
}

.Datepicker-inputContents {
  display: flex;
  align-items: center;
  height: 100%;
  overflow-x: auto;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */

  &::-webkit-scrollbar {
    /* WebKit */
    width: 0;
    height: 0;
    display: none;
  }
}

.Datepicker-rangeDash {
  &:before {
    content: "–";
  }
}

.Datepicker-segments {
  display: flex;
  align-items: center;
}

.Datepicker-literal {
  white-space: pre;
  user-select: none;
  color: var(--valence-textfield-text-color);
}

.DatePicker-cell {
  border: none;
  background: none;
  border-radius: 2px;
  font-variant-numeric: tabular-nums;
  justify-content: center;
  box-sizing: content-box;
  white-space: nowrap;
  color: var(--valence-textfield-text-color);

  &:selection {
    /* hide the selection because there is no way to fully prevent it in Firefox */
    /* https://bugzilla.mozilla.org/show_bug.cgi?id=1742153 */
    background: transparent;
  }
}

.DatePicker-placeholder {
  display: block;
  width: 100%;
  text-align: center;
  font-style: italic;
  visibility: hidden;
  height: 0;
  pointer-events: none;
}

.DatePicker-cell.is-placeholder {
  color: var(--valence-datepicker-placeholder-color);

  .DatePicker-placeholder {
    visibility: visible;
    height: auto;
  }
}

.DatePicker-cell.is-placeholder ~ .Datepicker-literal {
  color: var(
    --valence-textfield-placeholder-text-color,
    var(--valence-global-color-gray-600)
  );
}

.DatePicker-cell.is-read-only {
  color: var(--valence-global-color-gray-700);
}

.DatePicker-cell:focus {
  background-color: var(--valence-global-color-static-blue);
  color: white;
  caret-color: transparent;
  outline: none;
}

.Datepicker-dialog.Datepicker-dialog {
  width: auto;
}

.Datepicker-dialogContent {
  display: flex;
  flex-direction: column;

  .Datepicker-calendar.is-invalid {
    /* Only apply display: contents when the calendar is invalid, which allows us to move the
     * error message below the time fields. Otherwise, don't do this because it breaks dragging
     * the selected range on Android. */
    display: contents;
  }

  /* Push the help text within the calendar down to the bottom of the dialog, below the time fields. */
  :global(.Calendar-helpText) {
    order: 10;
    margin: var(--valence-global-dimension-size-200)
      var(--valence-calendar-day-padding) 0 var(--valence-calendar-day-padding);
  }
}

/* when displayed in a tray, reduce the padding of the dialog */
@media (max-width: 700px) {
  .Datepicker-dialog {
    --valence-dialog-padding-x: 8px;

    .Datepicker-dialogContent {
      margin: 0 auto;
      max-width: calc(
        (var(--valence-calendar-day-width) * 7) +
          (var(--valence-calendar-day-padding) * 12)
      );
    }
  }
}

.Datepicker-timeFields {
  width: 100%;
  min-width: calc(var(--valence-calendar-day-width) * 7);
  max-width: calc(
    (var(--valence-calendar-day-width) * 7) +
      (var(--valence-calendar-day-padding) * 12)
  );
  padding: 0 var(--valence-calendar-day-padding);
  box-sizing: border-box;
}

@media (forced-colors: active) {
  .DatePicker-cell:focus {
    forced-color-adjust: none;
    background-color: Highlight;
    color: HighlightText;
  }
  .DatePicker-cell.is-read-only {
    color: ButtonText;
    &:focus {
      color: HighlightText;
    }
  }
  .DatePicker-cell.is-placeholder {
    color: ButtonText;
    &:focus {
      color: HighlightText;
    }
  }
}
