@import "../commons/index.scss";

.SideNav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  outline: none;

  height: 100%;
}

.SideNav-item {
  list-style-type: none;

  margin: var(--valence-sidenav-item-gap) 0;
}

.SideNav-itemLink {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;

  inline-size: 100%;
  min-block-size: var(--valence-sidenav-item-height);

  padding: var(--valence-sidenav-item-padding-y)
    var(--valence-sidenav-item-padding-x);

  border-radius: var(--valence-sidenav-item-border-radius);

  font-size: var(--valence-sidenav-item-text-size);
  font-weight: var(--valence-sidenav-item-font-weight);
  font-style: normal;
  text-decoration: none;

  word-break: break-word;
  hyphens: auto;

  cursor: pointer;

  transition: background-color var(--valence-global-animation-duration-100)
      ease-out,
    color var(--valence-global-animation-duration-100) ease-out;

  &:focus {
    outline: none;
  }

  &.focus-ring::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    border: var(--valence-tabs-focus-ring-size) solid transparent;
    border-radius: var(--valence-sidenav-item-border-radius);
  }

  .SideNav-itemIcon {
    margin-inline-end: var(--valence-sidenav-icon-gap);
  }
}

.SideNav-heading {
  block-size: var(--valence-sidenav-header-height);
  line-height: var(--valence-sidenav-header-height);

  margin: var(--valence-sidenav-header-gap-top) 0
    var(--valence-sidenav-header-gap-bottom) 0;
  padding: 0 var(--valence-sidenav-header-padding-x);

  border-radius: var(--valence-sidenav-header-border-radius);

  text-align: start;
  font-size: var(--valence-sidenav-header-text-size);
  font-weight: var(--valence-sidenav-header-font-weight);
  font-style: normal;
  letter-spacing: var(--valence-sidenav-header-letter-spacing);

  text-transform: uppercase;
}

.SideNav--multiLevel {
  .SideNav-itemLink {
    font-weight: var(--valence-sidenav-multilevel-main-item-font-weight);
  }

  .SideNav {
    margin: 0;
    padding: 0;

    .SideNav-itemLink {
      font-weight: var(--valence-sidenav-item-font-weight);

      padding-inline-start: calc(
        var(--valence-sidenav-multilevel-item-indentation-level1) +
          var(--valence-sidenav-item-padding-x)
      );
    }

    .SideNav {
      .SideNav-itemLink {
        padding-inline-start: calc(
          var(--valence-sidenav-multilevel-item-indentation-level2) +
            var(--valence-sidenav-item-padding-x)
        );
      }
    }
  }
}
