.ActionBarContainer {
  display: flex;
  flex-direction: column;
  position: relative;

  & > :not(.ActionBar) {
    flex: 1;
    min-height: 0;
  }

  & > .ActionBar {
    flex: 0 0 auto;
  }
}

.ActionBar {
  transition: height var(--valence-global-animation-duration-100) ease-in-out,
    opacity var(--valence-global-animation-duration-100) ease-in-out;

  /* Take up no space when not open */
  block-size: 0;
  opacity: 0;
  width: 100%;

  /* Clip anything outside of us, whether we're open or not. This makes the animation smooth */
  overflow: hidden;

  &.is-open {
    height: calc(
      var(--valence-global-dimension-size-600) +
        var(--valence-global-dimension-size-100) * 2
    );
    opacity: 1;
    transition-delay: 0ms;
  }

  .ActionBar-bar {
    display: grid;
    grid-template-areas: "clear selected . actiongroup";
    grid-template-columns: auto max-content minmax(
        var(--valence-global-dimension-size-300),
        1fr
      ) auto;
    align-items: center;
    isolation: isolate;
    justify-content: space-between;
    padding: var(--valence-global-dimension-size-100);

    position: absolute;
    bottom: var(--valence-global-dimension-size-100);
    left: var(--valence-global-dimension-size-100);
    right: var(--valence-global-dimension-size-100);
    max-width: 960px;
    margin: 0 auto;

    background: var(--valence-global-color-gray-50);
    border-radius: var(--valence-popover-border-radius);
    border-style: solid;
    border-width: var(--valence-popover-border-size);
    border-color: var(--valence-popover-border-color);
    box-shadow: 0 2px 8px var(--valence-alias-dropshadow-color);

    transform: translateY(var(--valence-overlay-positive-transform-distance));
    transition: transform var(--valence-global-animation-duration-100)
      ease-in-out;
  }

  &.is-open .ActionBar-bar {
    transform: translateY(0);
  }

  &.ActionBar--emphasized .ActionBar-bar {
    background: var(--valence-global-color-static-blue-700);
    color: white;
    box-shadow: 0 2px 6px var(--valence-alias-dropshadow-color);
    border: none;
  }

  .ActionBar-selectedCount {
    grid-area: selected;
    padding: 0 var(--valence-global-dimension-size-50);
    user-select: none;
    cursor: default;
  }

  .ActionBar-actionGroup {
    grid-area: actiongroup;
    min-width: 0;
  }
}
@media (forced-colors: active) {
  .ActionBar {
    &.ActionBar--emphasized .ActionBar-bar {
      border: 1px solid transparent;
    }
  }
}
