/*
 * Copyright 2020 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

.valence {
  /* valence-animationGlobals.css */
  --valence-global-animation-duration-0: 0ms;
  --valence-global-animation-duration-100: 130ms;
  --valence-global-animation-duration-200: 160ms;
  --valence-global-animation-duration-300: 190ms;
  --valence-global-animation-duration-400: 220ms;
  --valence-global-animation-duration-500: 250ms;
  --valence-global-animation-duration-600: 300ms;
  --valence-global-animation-duration-700: 350ms;
  --valence-global-animation-duration-800: 400ms;
  --valence-global-animation-duration-900: 450ms;
  --valence-global-animation-duration-1000: 500ms;
  --valence-global-animation-duration-2000: 1000ms;
  --valence-global-animation-duration-4000: 2000ms;
  --valence-global-animation-ease-in-out: cubic-bezier(0.45, 0, 0.4, 1);
  --valence-global-animation-ease-in: cubic-bezier(0.5, 0, 1, 1);
  --valence-global-animation-ease-out: cubic-bezier(0, 0, 0.4, 1);
  --valence-global-animation-linear: cubic-bezier(0, 0, 1, 1);

  /* valence-colorGlobals.css */
  --valence-global-color-status: Verified;
  --valence-global-color-version: 5.1;
  --valence-global-color-static-black: rgb(0, 0, 0);
  --valence-global-color-static-white: rgb(255, 255, 255);
  --valence-global-color-static-blue: rgb(20, 115, 230);
  --valence-global-color-static-gray-50: rgb(255, 255, 255);
  --valence-global-color-static-gray-75: rgb(255, 255, 255);
  --valence-global-color-static-gray-100: rgb(255, 255, 255);
  --valence-global-color-static-gray-200: rgb(244, 244, 244);
  --valence-global-color-static-gray-300: rgb(234, 234, 234);
  --valence-global-color-static-gray-400: rgb(211, 211, 211);
  --valence-global-color-static-gray-500: rgb(188, 188, 188);
  --valence-global-color-static-gray-600: rgb(149, 149, 149);
  --valence-global-color-static-gray-700: rgb(116, 116, 116);
  --valence-global-color-static-gray-800: rgb(80, 80, 80);
  --valence-global-color-static-gray-900: rgb(50, 50, 50);
  --valence-global-color-static-blue-200: rgb(90, 169, 250);
  --valence-global-color-static-blue-300: rgb(75, 156, 245);
  --valence-global-color-static-blue-400: rgb(55, 142, 240);
  --valence-global-color-static-blue-500: rgb(38, 128, 235);
  --valence-global-color-static-blue-600: rgb(20, 115, 230);
  --valence-global-color-static-blue-700: rgb(13, 102, 208);
  --valence-global-color-static-blue-800: rgb(9, 90, 186);
  --valence-global-color-static-red-400: rgb(236, 91, 98);
  --valence-global-color-static-red-500: rgb(227, 72, 80);
  --valence-global-color-static-red-600: rgb(215, 55, 63);
  --valence-global-color-static-red-700: rgb(201, 37, 45);
  --valence-global-color-static-orange-400: rgb(242, 148, 35);
  --valence-global-color-static-orange-500: rgb(230, 134, 25);
  --valence-global-color-static-orange-600: rgb(218, 123, 17);
  --valence-global-color-static-orange-700: rgb(203, 111, 16);
  --valence-global-color-static-green-400: rgb(51, 171, 132);
  --valence-global-color-static-green-500: rgb(45, 157, 120);
  --valence-global-color-static-green-600: rgb(38, 142, 108);
  --valence-global-color-static-green-700: rgb(18, 128, 92);
  --valence-global-color-static-celery-200: rgb(88, 224, 111);
  --valence-global-color-static-celery-300: rgb(81, 210, 103);
  --valence-global-color-static-celery-400: rgb(75, 195, 95);
  --valence-global-color-static-celery-500: rgb(68, 181, 86);
  --valence-global-color-static-celery-600: rgb(61, 167, 78);
  --valence-global-color-static-celery-700: rgb(55, 153, 71);
  --valence-global-color-static-chartreuse-300: rgb(155, 236, 84);
  --valence-global-color-static-chartreuse-400: rgb(142, 222, 73);
  --valence-global-color-static-chartreuse-500: rgb(133, 208, 68);
  --valence-global-color-static-chartreuse-600: rgb(124, 195, 63);
  --valence-global-color-static-chartreuse-700: rgb(115, 181, 58);
  --valence-global-color-static-yellow-200: rgb(255, 226, 46);
  --valence-global-color-static-yellow-300: rgb(250, 217, 0);
  --valence-global-color-static-yellow-400: rgb(237, 204, 0);
  --valence-global-color-static-yellow-500: rgb(223, 191, 0);
  --valence-global-color-static-yellow-600: rgb(210, 178, 0);
  --valence-global-color-static-yellow-700: rgb(196, 166, 0);
  --valence-global-color-static-magenta-200: rgb(245, 107, 183);
  --valence-global-color-static-magenta-300: rgb(236, 90, 170);
  --valence-global-color-static-magenta-400: rgb(226, 73, 157);
  --valence-global-color-static-magenta-500: rgb(216, 55, 144);
  --valence-global-color-static-magenta-600: rgb(202, 41, 130);
  --valence-global-color-static-magenta-700: rgb(188, 28, 116);
  --valence-global-color-static-fuchsia-400: rgb(207, 62, 220);
  --valence-global-color-static-fuchsia-500: rgb(192, 56, 204);
  --valence-global-color-static-fuchsia-600: rgb(177, 48, 189);
  --valence-global-color-static-fuchsia-700: rgb(162, 40, 173);
  --valence-global-color-static-purple-400: rgb(157, 100, 225);
  --valence-global-color-static-purple-500: rgb(146, 86, 217);
  --valence-global-color-static-purple-600: rgb(134, 76, 204);
  --valence-global-color-static-purple-700: rgb(122, 66, 191);
  --valence-global-color-static-purple-800: rgb(111, 56, 177);
  --valence-global-color-static-indigo-200: rgb(144, 144, 250);
  --valence-global-color-static-indigo-300: rgb(130, 130, 246);
  --valence-global-color-static-indigo-400: rgb(117, 117, 241);
  --valence-global-color-static-indigo-500: rgb(103, 103, 236);
  --valence-global-color-static-indigo-600: rgb(92, 92, 224);
  --valence-global-color-static-indigo-700: rgb(81, 81, 211);
  --valence-global-color-static-seafoam-200: rgb(38, 192, 199);
  --valence-global-color-static-seafoam-300: rgb(35, 178, 184);
  --valence-global-color-static-seafoam-400: rgb(32, 163, 168);
  --valence-global-color-static-seafoam-500: rgb(27, 149, 154);
  --valence-global-color-static-seafoam-600: rgb(22, 135, 140);
  --valence-global-color-static-seafoam-700: rgb(15, 121, 125);
  --valence-global-color-opacity-100: 1;
  --valence-global-color-opacity-90: 0.9;
  --valence-global-color-opacity-80: 0.8;
  --valence-global-color-opacity-60: 0.6;
  --valence-global-color-opacity-50: 0.5;
  --valence-global-color-opacity-42: 0.42;
  --valence-global-color-opacity-40: 0.4;
  --valence-global-color-opacity-30: 0.3;
  --valence-global-color-opacity-25: 0.25;
  --valence-global-color-opacity-20: 0.2;
  --valence-global-color-opacity-15: 0.15;
  --valence-global-color-opacity-10: 0.1;
  --valence-global-color-opacity-8: 0.08;
  --valence-global-color-opacity-7: 0.07;
  --valence-global-color-opacity-6: 0.06;
  --valence-global-color-opacity-5: 0.05;
  --valence-global-color-opacity-4: 0.04;
  /* valence-colorSemantics.css */
  --valence-semantic-negative-color-background: var(
    --valence-global-color-static-red-700
  );
  --valence-semantic-negative-color-default: var(
    --valence-global-color-red-500
  );
  --valence-semantic-negative-color-state-hover: var(
    --valence-global-color-red-600
  );
  --valence-semantic-negative-color-dark: var(--valence-global-color-red-600);
  --valence-semantic-negative-color-border: var(--valence-global-color-red-400);
  --valence-semantic-negative-color-icon: var(--valence-global-color-red-600);
  --valence-semantic-negative-color-status: var(--valence-global-color-red-400);
  --valence-semantic-negative-color-text-large: var(
    --valence-global-color-red-500
  );
  --valence-semantic-negative-color-text-small: var(
    --valence-global-color-red-600
  );
  --valence-semantic-negative-color-state-down: var(
    --valence-global-color-red-700
  );
  --valence-semantic-negative-color-state-focus: var(
    --valence-global-color-red-400
  );
  --valence-semantic-notice-color-background: var(
    --valence-global-color-static-orange-700
  );
  --valence-semantic-notice-color-default: var(
    --valence-global-color-orange-500
  );
  --valence-semantic-notice-color-dark: var(--valence-global-color-orange-600);
  --valence-semantic-notice-color-border: var(
    --valence-global-color-orange-400
  );
  --valence-semantic-notice-color-icon: var(--valence-global-color-orange-600);
  --valence-semantic-notice-color-status: var(
    --valence-global-color-orange-400
  );
  --valence-semantic-notice-color-text-large: var(
    --valence-global-color-orange-500
  );
  --valence-semantic-notice-color-text-small: var(
    --valence-global-color-orange-600
  );
  --valence-semantic-notice-color-state-down: var(
    --valence-global-color-orange-700
  );
  --valence-semantic-notice-color-state-focus: var(
    --valence-global-color-orange-400
  );
  --valence-semantic-positive-color-background: var(
    --valence-global-color-static-green-700
  );
  --valence-semantic-positive-color-default: var(
    --valence-global-color-green-500
  );
  --valence-semantic-positive-color-dark: var(--valence-global-color-green-600);
  --valence-semantic-positive-color-border: var(
    --valence-global-color-green-400
  );
  --valence-semantic-positive-color-icon: var(--valence-global-color-green-600);
  --valence-semantic-positive-color-status: var(
    --valence-global-color-green-400
  );
  --valence-semantic-positive-color-text-large: var(
    --valence-global-color-green-500
  );
  --valence-semantic-positive-color-text-small: var(
    --valence-global-color-green-600
  );
  --valence-semantic-positive-color-state-down: var(
    --valence-global-color-green-700
  );
  --valence-semantic-positive-color-state-focus: var(
    --valence-global-color-green-400
  );
  --valence-semantic-informative-color-background: var(
    --valence-global-color-static-blue-700
  );
  --valence-semantic-informative-color-default: var(
    --valence-global-color-blue-500
  );
  --valence-semantic-informative-color-dark: var(
    --valence-global-color-blue-600
  );
  --valence-semantic-informative-color-border: var(
    --valence-global-color-blue-400
  );
  --valence-semantic-informative-color-icon: var(
    --valence-global-color-blue-600
  );
  --valence-semantic-informative-color-status: var(
    --valence-global-color-blue-400
  );
  --valence-semantic-informative-color-text-large: var(
    --valence-global-color-blue-500
  );
  --valence-semantic-informative-color-text-small: var(
    --valence-global-color-blue-600
  );
  --valence-semantic-informative-color-state-down: var(
    --valence-global-color-blue-700
  );
  --valence-semantic-informative-color-state-focus: var(
    --valence-global-color-blue-400
  );
  --valence-semantic-cta-color-background-default: var(
    --valence-global-color-static-blue-600
  );
  --valence-semantic-cta-color-background-hover: var(
    --valence-global-color-static-blue-700
  );
  --valence-semantic-cta-color-background-down: var(
    --valence-global-color-static-blue-800
  );
  --valence-semantic-cta-color-background-key-focus: var(
    --valence-global-color-static-blue-600
  );
  --valence-semantic-background-color-key-focus: var(
    --valence-global-color-static-blue-600
  );
  --valence-semantic-neutral-color-background: var(
    --valence-global-color-static-gray-700
  );
  --valence-semantic-presence-color-1: var(
    --valence-global-color-static-red-500
  );
  --valence-semantic-presence-color-2: var(
    --valence-global-color-static-orange-400
  );
  --valence-semantic-presence-color-3: var(
    --valence-global-color-static-yellow-400
  );
  --valence-semantic-presence-color-4: rgb(75, 204, 162);
  --valence-semantic-presence-color-5: rgb(0, 199, 255);
  --valence-semantic-presence-color-6: rgb(0, 140, 184);
  --valence-semantic-presence-color-7: rgb(126, 75, 243);
  --valence-semantic-presence-color-8: var(
    --valence-global-color-static-fuchsia-600
  );

  /* valence-dimensionGlobals.css */
  --valence-global-dimension-static-size-0: 0px;
  --valence-global-dimension-static-size-10: 1px;
  --valence-global-dimension-static-size-25: 2px;
  --valence-global-dimension-static-size-50: 4px;
  --valence-global-dimension-static-size-40: 3px;
  --valence-global-dimension-static-size-65: 5px;
  --valence-global-dimension-static-size-100: 8px;
  --valence-global-dimension-static-size-115: 9px;
  --valence-global-dimension-static-size-125: 10px;
  --valence-global-dimension-static-size-130: 11px;
  --valence-global-dimension-static-size-150: 12px;
  --valence-global-dimension-static-size-160: 13px;
  --valence-global-dimension-static-size-175: 14px;
  --valence-global-dimension-static-size-200: 16px;
  --valence-global-dimension-static-size-225: 18px;
  --valence-global-dimension-static-size-250: 20px;
  --valence-global-dimension-static-size-300: 24px;
  --valence-global-dimension-static-size-400: 32px;
  --valence-global-dimension-static-size-450: 36px;
  --valence-global-dimension-static-size-500: 40px;
  --valence-global-dimension-static-size-550: 44px;
  --valence-global-dimension-static-size-600: 48px;
  --valence-global-dimension-static-size-700: 56px;
  --valence-global-dimension-static-size-800: 64px;
  --valence-global-dimension-static-size-900: 72px;
  --valence-global-dimension-static-size-1000: 80px;
  --valence-global-dimension-static-size-1200: 96px;
  --valence-global-dimension-static-size-1700: 136px;
  --valence-global-dimension-static-size-2400: 192px;
  --valence-global-dimension-static-size-2600: 208px;
  --valence-global-dimension-static-size-3400: 272px;
  --valence-global-dimension-static-size-3600: 288px;
  --valence-global-dimension-static-size-4600: 368px;
  --valence-global-dimension-static-size-5000: 400px;
  --valence-global-dimension-static-size-6000: 480px;
  --valence-global-dimension-static-font-size-50: 11px;
  --valence-global-dimension-static-font-size-75: 12px;
  --valence-global-dimension-static-font-size-100: 14px;
  --valence-global-dimension-static-font-size-150: 15px;
  --valence-global-dimension-static-font-size-200: 16px;
  --valence-global-dimension-static-font-size-300: 18px;
  --valence-global-dimension-static-font-size-400: 20px;
  --valence-global-dimension-static-font-size-500: 22px;
  --valence-global-dimension-static-font-size-600: 25px;
  --valence-global-dimension-static-font-size-700: 28px;
  --valence-global-dimension-static-font-size-800: 32px;
  --valence-global-dimension-static-font-size-900: 36px;
  --valence-global-dimension-static-font-size-1000: 40px;
  --valence-global-dimension-static-percent-50: 50%;
  --valence-global-dimension-static-percent-100: 100%;
  --valence-global-dimension-static-breakpoint-xsmall: 304px;
  --valence-global-dimension-static-breakpoint-small: 768px;
  --valence-global-dimension-static-breakpoint-medium: 1280px;
  --valence-global-dimension-static-breakpoint-large: 1768px;
  --valence-global-dimension-static-breakpoint-xlarge: 2160px;
  --valence-global-dimension-static-grid-columns: 12;
  --valence-global-dimension-static-grid-fluid-width: 100%;
  --valence-global-dimension-static-grid-fixed-max-width: 1280px;

  /* valence-fontGlobals.css */
  --valence-global-font-family-base: adobe-clean, "Source Sans Pro",
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu,
    "Trebuchet MS", "Lucida Grande", sans-serif;
  --valence-global-font-family-serif: adobe-clean-serif, "Source Serif Pro",
    Georgia, serif;
  --valence-global-font-family-code: "Source Code Pro", Monaco, monospace;
  --valence-global-font-weight-thin: 100;
  --valence-global-font-weight-ultra-light: 200;
  --valence-global-font-weight-light: 300;
  --valence-global-font-weight-regular: 400;
  --valence-global-font-weight-medium: 500;
  --valence-global-font-weight-semi-bold: 600;
  --valence-global-font-weight-bold: 700;
  --valence-global-font-weight-extra-bold: 800;
  --valence-global-font-weight-black: 900;
  --valence-global-font-style-regular: normal;
  --valence-global-font-style-italic: italic;
  --valence-global-font-letter-spacing-none: 0;
  --valence-global-font-letter-spacing-small: 0.0125em;
  --valence-global-font-letter-spacing-han: 0.05em;
  --valence-global-font-letter-spacing-medium: 0.06em;
  --valence-global-font-line-height-large: 1.7;
  --valence-global-font-line-height-medium: 1.5;
  --valence-global-font-line-height-small: 1.3;
  --valence-global-font-multiplier-25: 0.25em;
  --valence-global-font-multiplier-75: 0.75em;

  /* valence-staticAliases.css */
  --valence-alias-border-size-thin: var(
    --valence-global-dimension-static-size-10
  );
  --valence-alias-border-size-thick: var(
    --valence-global-dimension-static-size-25
  );
  --valence-alias-border-size-thicker: var(
    --valence-global-dimension-static-size-50
  );
  --valence-alias-border-size-thickest: var(
    --valence-global-dimension-static-size-100
  );
  --valence-alias-border-offset-thin: var(
    --valence-global-dimension-static-size-25
  );
  --valence-alias-border-offset-thick: var(
    --valence-global-dimension-static-size-50
  );
  --valence-alias-border-offset-thicker: var(
    --valence-global-dimension-static-size-100
  );
  --valence-alias-border-offset-thickest: var(
    --valence-global-dimension-static-size-200
  );
  --valence-alias-grid-baseline: var(
    --valence-global-dimension-static-size-100
  );
  --valence-alias-grid-gutter-xsmall: var(
    --valence-global-dimension-static-size-200
  );
  --valence-alias-grid-gutter-small: var(
    --valence-global-dimension-static-size-300
  );
  --valence-alias-grid-gutter-medium: var(
    --valence-global-dimension-static-size-400
  );
  --valence-alias-grid-gutter-large: var(
    --valence-global-dimension-static-size-500
  );
  --valence-alias-grid-gutter-xlarge: var(
    --valence-global-dimension-static-size-600
  );
  --valence-alias-grid-margin-xsmall: var(
    --valence-global-dimension-static-size-200
  );
  --valence-alias-grid-margin-small: var(
    --valence-global-dimension-static-size-300
  );
  --valence-alias-grid-margin-medium: var(
    --valence-global-dimension-static-size-400
  );
  --valence-alias-grid-margin-large: var(
    --valence-global-dimension-static-size-500
  );
  --valence-alias-grid-margin-xlarge: var(
    --valence-global-dimension-static-size-600
  );
  --valence-alias-grid-layout-region-margin-bottom-xsmall: var(
    --valence-global-dimension-static-size-200
  );
  --valence-alias-grid-layout-region-margin-bottom-small: var(
    --valence-global-dimension-static-size-300
  );
  --valence-alias-grid-layout-region-margin-bottom-medium: var(
    --valence-global-dimension-static-size-400
  );
  --valence-alias-grid-layout-region-margin-bottom-large: var(
    --valence-global-dimension-static-size-500
  );
  --valence-alias-grid-layout-region-margin-bottom-xlarge: var(
    --valence-global-dimension-static-size-600
  );
  --valence-alias-radial-reaction-size-default: var(
    --valence-global-dimension-static-size-550
  );
  --valence-alias-font-family-ar: myriad-arabic, adobe-clean, "Source Sans Pro",
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu,
    "Trebuchet MS", "Lucida Grande", sans-serif;
  --valence-alias-font-family-he: myriad-hebrew, adobe-clean, "Source Sans Pro",
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu,
    "Trebuchet MS", "Lucida Grande", sans-serif;
  --valence-alias-font-family-zh: adobe-clean-han-traditional,
    source-han-traditional, "MingLiu", "Heiti TC Light", "sans-serif";
  --valence-alias-font-family-zhhans: adobe-clean-han-simplified-c,
    source-han-simplified-c, "SimSun", "Heiti SC Light", "sans-serif";
  --valence-alias-font-family-ko: adobe-clean-han-korean, source-han-korean,
    "Malgun Gothic", "Apple Gothic", "sans-serif";
  --valence-alias-font-family-ja: adobe-clean-han-japanese, source-han-japanese,
    "Yu Gothic", "\30E1 \30A4 \30EA \30AA",
    "\30D2 \30E9 \30AE \30CE \89D2 \30B4  Pro W3", "Hiragino Kaku Gothic Pro W3",
    "Osaka", "\FF2D \FF33 \FF30 \30B4 \30B7 \30C3 \30AF", "MS PGothic",
    "sans-serif";
  --valence-alias-font-family-condensed: adobe-clean-han-traditional,
    source-han-traditional, "MingLiu", "Heiti TC Light", adobe-clean,
    "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Trebuchet MS", "Lucida Grande", sans-serif;
  --valence-alias-line-height-body: var(
    --valence-global-font-line-height-medium
  );
  --valence-alias-line-height-title: var(
    --valence-global-font-line-height-small
  );
  --valence-alias-body-han-text-line-height: var(
    --valence-global-font-line-height-large
  );
  --valence-alias-body-text-font-family: var(--valence-global-font-family-base);
  --valence-alias-body-text-line-height: var(
    --valence-global-font-line-height-medium
  );
  --valence-alias-body-text-font-weight: var(
    --valence-global-font-weight-regular
  );
  --valence-alias-body-text-font-weight-strong: var(
    --valence-global-font-weight-bold
  );
  --valence-alias-button-text-line-height: var(
    --valence-global-font-line-height-small
  );
  --valence-alias-heading-han-text-line-height: var(
    --valence-global-font-line-height-medium
  );
  --valence-alias-heading-text-line-height: var(
    --valence-global-font-line-height-small
  );
  --valence-alias-heading-text-font-weight-regular: var(
    --valence-global-font-weight-bold
  );
  --valence-alias-heading-text-font-weight-regular-strong: var(
    --valence-global-font-weight-black
  );
  --valence-alias-heading-text-font-weight-quiet: var(
    --valence-global-font-weight-light
  );
  --valence-alias-heading-text-font-weight-quiet-strong: var(
    --valence-global-font-weight-bold
  );
  --valence-alias-heading-text-font-weight-strong: var(
    --valence-global-font-weight-black
  );
  --valence-alias-heading-text-font-weight-strong-strong: var(
    --valence-global-font-weight-black
  );
  --valence-alias-subheading-text-font-weight: var(
    --valence-global-font-weight-bold
  );
  --valence-alias-subheading-text-font-weight-strong: var(
    --valence-global-font-weight-black
  );
  --valence-alias-detail-text-font-weight: var(
    --valence-global-font-weight-bold
  );
  --valence-alias-detail-text-font-weight-light: var(
    --valence-global-font-weight-regular
  );
  --valence-alias-detail-text-font-weight-strong: var(
    --valence-global-font-weight-black
  );
  --valence-alias-serif-text-font-family: var(
    --valence-global-font-family-serif
  );
  --valence-alias-article-text-font-family: var(
    --valence-global-font-family-serif
  );
  --valence-alias-article-body-text-font-weight: var(
    --valence-global-font-weight-regular
  );
  --valence-alias-article-body-text-font-weight-strong: var(
    --valence-global-font-weight-black
  );
  --valence-alias-article-heading-text-font-weight: var(
    --valence-global-font-weight-bold
  );
  --valence-alias-article-heading-text-font-weight-strong: var(
    --valence-global-font-weight-black
  );
  --valence-alias-article-heading-text-font-weight-quiet: var(
    --valence-global-font-weight-regular
  );
  --valence-alias-article-heading-text-font-weight-quiet-strong: var(
    --valence-global-font-weight-bold
  );
  --valence-alias-article-subheading-text-font-weight: var(
    --valence-global-font-weight-bold
  );
  --valence-alias-article-subheading-text-font-weight-strong: var(
    --valence-global-font-weight-black
  );
  --valence-alias-article-detail-text-font-weight: var(
    --valence-global-font-weight-regular
  );
  --valence-alias-article-detail-text-font-weight-strong: var(
    --valence-global-font-weight-bold
  );
  --valence-alias-code-text-font-family: var(--valence-global-font-family-code);
  --valence-alias-han-heading-text-font-weight-regular: var(
    --valence-global-font-weight-bold
  );
  --valence-alias-han-heading-text-font-weight-regular-emphasis: var(
    --valence-global-font-weight-extra-bold
  );
  --valence-alias-han-heading-text-font-weight-regular-strong: var(
    --valence-global-font-weight-black
  );
  --valence-alias-han-heading-text-font-weight-quiet: var(
    --valence-global-font-weight-light
  );
  --valence-alias-han-heading-text-font-weight-quiet-emphasis: var(
    --valence-global-font-weight-regular
  );
  --valence-alias-han-heading-text-font-weight-quiet-strong: var(
    --valence-global-font-weight-bold
  );
  --valence-alias-han-heading-text-font-weight-light: var(
    --valence-global-font-weight-light
  );
  --valence-alias-han-heading-text-font-weight-light-emphasis: var(
    --valence-global-font-weight-regular
  );
  --valence-alias-han-heading-text-font-weight-light-strong: var(
    --valence-global-font-weight-bold
  );
  --valence-alias-han-heading-text-font-weight-strong: var(
    --valence-global-font-weight-black
  );
  --valence-alias-han-heading-text-font-weight-strong-emphasis: var(
    --valence-global-font-weight-black
  );
  --valence-alias-han-heading-text-font-weight-strong-strong: var(
    --valence-global-font-weight-black
  );
  --valence-alias-han-heading-text-font-weight-heavy: var(
    --valence-global-font-weight-black
  );
  --valence-alias-han-heading-text-font-weight-heavy-emphasis: var(
    --valence-global-font-weight-black
  );
  --valence-alias-han-heading-text-font-weight-heavy-strong: var(
    --valence-global-font-weight-black
  );
  --valence-alias-han-body-text-font-weight-regular: var(
    --valence-global-font-weight-regular
  );
  --valence-alias-han-body-text-font-weight-emphasis: var(
    --valence-global-font-weight-bold
  );
  --valence-alias-han-body-text-font-weight-strong: var(
    --valence-global-font-weight-black
  );
  --valence-alias-han-subheading-text-font-weight-regular: var(
    --valence-global-font-weight-bold
  );
  --valence-alias-han-subheading-text-font-weight-emphasis: var(
    --valence-global-font-weight-extra-bold
  );
  --valence-alias-han-subheading-text-font-weight-strong: var(
    --valence-global-font-weight-black
  );
  --valence-alias-han-detail-text-font-weight: var(
    --valence-global-font-weight-regular
  );
  --valence-alias-han-detail-text-font-weight-emphasis: var(
    --valence-global-font-weight-bold
  );
  --valence-alias-han-detail-text-font-weight-strong: var(
    --valence-global-font-weight-black
  );
  --valence-alias-code-text-font-weight-regular: var(
    --valence-global-font-weight-regular
  );
  --valence-alias-code-text-font-weight-strong: var(
    --valence-global-font-weight-bold
  );
  --valence-alias-code-text-line-height: var(
    --valence-global-font-line-height-medium
  );
  --valence-alias-heading-margin-bottom: var(
    --valence-global-font-multiplier-25
  );
  --valence-alias-body-margin-bottom: var(--valence-global-font-multiplier-75);
  --valence-alias-focus-ring-gap: var(
    --valence-global-dimension-static-size-25
  );
  --valence-alias-focus-ring-size: var(
    --valence-global-dimension-static-size-25
  );
  --valence-alias-loupe-entry-animation-duration: var(
    --valence-global-animation-duration-300
  );
  --valence-alias-loupe-exit-animation-duration: var(
    --valence-global-animation-duration-300
  );
}

.valence--medium,
.valence--large {
  /* valence-dimensionAliases.css */
  --valence-alias-dropshadow-blur: var(--valence-global-dimension-size-50);
  --valence-alias-dropshadow-offset-y: var(--valence-global-dimension-size-10);
  --valence-alias-font-size-default: var(
    --valence-global-dimension-font-size-100
  );
  --valence-alias-line-height-small: var(--valence-global-dimension-size-200);
  --valence-alias-line-height-medium: var(--valence-global-dimension-size-250);
  --valence-alias-line-height-large: var(--valence-global-dimension-size-300);
  --valence-alias-line-height-xlarge: var(--valence-global-dimension-size-400);
  --valence-alias-line-height-xxlarge: var(--valence-global-dimension-size-600);
  --valence-alias-layout-label-gap-size: var(
    --valence-global-dimension-size-100
  );
  --valence-alias-pill-button-text-size: var(
    --valence-global-dimension-font-size-100
  );
  --valence-alias-pill-button-text-baseline: var(
    --valence-global-dimension-static-size-150
  );
  --valence-alias-border-radius-xsmall: var(--valence-global-dimension-size-10);
  --valence-alias-border-radius-small: var(--valence-global-dimension-size-25);
  --valence-alias-border-radius-regular: var(
    --valence-global-dimension-size-50
  );
  --valence-alias-border-radius-medium: var(
    --valence-global-dimension-size-100
  );
  --valence-alias-border-radius-large: var(--valence-global-dimension-size-200);
  --valence-alias-single-line-height: var(--valence-global-dimension-size-400);
  --valence-alias-single-line-width: var(--valence-global-dimension-size-2400);
  --valence-alias-workflow-icon-size: var(--valence-global-dimension-size-225);
  --valence-alias-heading-display1-text-size: var(
    --valence-global-dimension-font-size-1300
  );
  --valence-alias-heading-xxxl-text-size: var(
    --valence-global-dimension-font-size-1300
  );
  --valence-alias-heading-han-display1-text-size: var(
    --valence-global-dimension-font-size-1300
  );
  --valence-alias-heading-han-xxxl-text-size: var(
    --valence-global-dimension-font-size-1300
  );
  --valence-alias-heading-han-display1-margin-top: var(
    --valence-global-dimension-font-size-1200
  );
  --valence-alias-heading-han-xxxl-margin-top: var(
    --valence-global-dimension-font-size-1200
  );
  --valence-alias-heading-display1-margin-top: var(
    --valence-global-dimension-font-size-1200
  );
  --valence-alias-heading-xxxl-margin-top: var(
    --valence-global-dimension-font-size-1200
  );
  --valence-alias-heading-display2-text-size: var(
    --valence-global-dimension-font-size-1100
  );
  --valence-alias-heading-xxl-text-size: var(
    --valence-global-dimension-font-size-1100
  );
  --valence-alias-heading-display2-margin-top: var(
    --valence-global-dimension-font-size-900
  );
  --valence-alias-heading-xxl-margin-top: var(
    --valence-global-dimension-font-size-900
  );
  --valence-alias-heading-han-display2-text-size: var(
    --valence-global-dimension-font-size-900
  );
  --valence-alias-heading-han-xxl-text-size: var(
    --valence-global-dimension-font-size-900
  );
  --valence-alias-heading-han-display2-margin-top: var(
    --valence-global-dimension-font-size-800
  );
  --valence-alias-heading-han-xxl-margin-top: var(
    --valence-global-dimension-font-size-800
  );
  --valence-alias-heading1-text-size: var(
    --valence-global-dimension-font-size-900
  );
  --valence-alias-heading-xl-text-size: var(
    --valence-global-dimension-font-size-900
  );
  --valence-alias-heading1-margin-top: var(
    --valence-global-dimension-font-size-800
  );
  --valence-alias-heading-xl-margin-top: var(
    --valence-global-dimension-font-size-800
  );
  --valence-alias-heading1-han-text-size: var(
    --valence-global-dimension-font-size-800
  );
  --valence-alias-heading-han-xl-text-size: var(
    --valence-global-dimension-font-size-800
  );
  --valence-alias-heading1-han-margin-top: var(
    --valence-global-dimension-font-size-700
  );
  --valence-alias-heading-han-xl-margin-top: var(
    --valence-global-dimension-font-size-700
  );
  --valence-alias-heading2-text-size: var(
    --valence-global-dimension-font-size-700
  );
  --valence-alias-heading-l-text-size: var(
    --valence-global-dimension-font-size-700
  );
  --valence-alias-heading2-margin-top: var(
    --valence-global-dimension-font-size-600
  );
  --valence-alias-heading-l-margin-top: var(
    --valence-global-dimension-font-size-600
  );
  --valence-alias-heading2-han-text-size: var(
    --valence-global-dimension-font-size-600
  );
  --valence-alias-heading-han-l-text-size: var(
    --valence-global-dimension-font-size-600
  );
  --valence-alias-heading2-han-margin-top: var(
    --valence-global-dimension-font-size-500
  );
  --valence-alias-heading-han-l-margin-top: var(
    --valence-global-dimension-font-size-500
  );
  --valence-alias-heading3-text-size: var(
    --valence-global-dimension-font-size-500
  );
  --valence-alias-heading-m-text-size: var(
    --valence-global-dimension-font-size-500
  );
  --valence-alias-heading3-margin-top: var(
    --valence-global-dimension-font-size-400
  );
  --valence-alias-heading-m-margin-top: var(
    --valence-global-dimension-font-size-400
  );
  --valence-alias-heading3-han-text-size: var(
    --valence-global-dimension-font-size-400
  );
  --valence-alias-heading-han-m-text-size: var(
    --valence-global-dimension-font-size-400
  );
  --valence-alias-heading3-han-margin-top: var(
    --valence-global-dimension-font-size-300
  );
  --valence-alias-heading-han-m-margin-top: var(
    --valence-global-dimension-font-size-300
  );
  --valence-alias-heading4-text-size: var(
    --valence-global-dimension-font-size-300
  );
  --valence-alias-heading-s-text-size: var(
    --valence-global-dimension-font-size-300
  );
  --valence-alias-heading4-margin-top: var(
    --valence-global-dimension-font-size-200
  );
  --valence-alias-heading-s-margin-top: var(
    --valence-global-dimension-font-size-200
  );
  --valence-alias-heading5-text-size: var(
    --valence-global-dimension-font-size-200
  );
  --valence-alias-heading-xs-text-size: var(
    --valence-global-dimension-font-size-200
  );
  --valence-alias-heading5-margin-top: var(
    --valence-global-dimension-font-size-100
  );
  --valence-alias-heading-xs-margin-top: var(
    --valence-global-dimension-font-size-100
  );
  --valence-alias-heading6-text-size: var(
    --valence-global-dimension-font-size-100
  );
  --valence-alias-heading-xxs-text-size: var(
    --valence-global-dimension-font-size-100
  );
  --valence-alias-heading6-margin-top: var(
    --valence-global-dimension-font-size-75
  );
  --valence-alias-heading-xxs-margin-top: var(
    --valence-global-dimension-font-size-75
  );
  --valence-alias-avatar-size-50: var(--valence-global-dimension-size-200);
  --valence-alias-avatar-size-75: var(--valence-global-dimension-size-225);
  --valence-alias-avatar-size-200: var(--valence-global-dimension-size-275);
  --valence-alias-avatar-size-300: var(--valence-global-dimension-size-325);
  --valence-alias-avatar-size-500: var(--valence-global-dimension-size-400);
  --valence-alias-avatar-size-700: var(--valence-global-dimension-size-500);
}

.valence--darkest,
.valence--dark,
.valence--light,
.valence--lightest {
  /* valence-colorAliases.css */
  --valence-alias-background-color-default: var(
    --valence-global-color-gray-100
  );
  --valence-alias-background-color-transparent: transparent;
  --valence-alias-background-color-label-gray: rgb(112, 112, 112);
  --valence-alias-background-color-quickactions-overlay: rgba(0, 0, 0, 0.2);
  --valence-alias-placeholder-text-color: var(--valence-global-color-gray-600);
  --valence-alias-placeholder-text-color-hover: var(
    --valence-global-color-gray-900
  );
  --valence-alias-placeholder-text-color-down: var(
    --valence-global-color-gray-900
  );
  --valence-alias-placeholder-text-color-selected: var(
    --valence-global-color-gray-800
  );
  --valence-alias-label-text-color: var(--valence-global-color-gray-700);
  --valence-alias-text-color: var(--valence-global-color-gray-800);
  --valence-alias-text-color-hover: var(--valence-global-color-gray-900);
  --valence-alias-text-color-down: var(--valence-global-color-gray-900);
  --valence-alias-text-color-key-focus: var(--valence-global-color-blue-600);
  --valence-alias-text-color-mouse-focus: var(--valence-global-color-blue-600);
  --valence-alias-text-color-disabled: var(--valence-global-color-gray-500);
  --valence-alias-text-color-invalid: var(--valence-global-color-red-500);
  --valence-alias-text-color-selected: var(--valence-global-color-blue-600);
  --valence-alias-text-color-selected-neutral: var(
    --valence-global-color-gray-900
  );
  --valence-alias-title-text-color: var(--valence-global-color-gray-900);
  --valence-alias-heading-text-color: var(--valence-global-color-gray-900);
  --valence-alias-border-color: var(--valence-global-color-gray-400);
  --valence-alias-border-color-hover: var(--valence-global-color-gray-500);
  --valence-alias-border-color-down: var(--valence-global-color-gray-500);
  --valence-alias-border-color-focus: var(--valence-global-color-blue-400);
  --valence-alias-border-color-mouse-focus: var(
    --valence-global-color-blue-500
  );
  --valence-alias-border-color-disabled: var(--valence-global-color-gray-200);
  --valence-alias-border-color-extralight: var(--valence-global-color-gray-100);
  --valence-alias-border-color-light: var(--valence-global-color-gray-200);
  --valence-alias-border-color-mid: var(--valence-global-color-gray-300);
  --valence-alias-border-color-dark: var(--valence-global-color-gray-400);
  --valence-alias-border-color-transparent: transparent;
  --valence-alias-border-color-translucent-dark: rgba(0, 0, 0, 0.05);
  --valence-alias-border-color-translucent-darker: rgba(0, 0, 0, 0.1);
  --valence-alias-focus-color: var(--valence-global-color-blue-400);
  --valence-alias-focus-ring-color: var(--valence-alias-focus-color);
  --valence-alias-track-color-default: var(--valence-global-color-gray-300);
  --valence-alias-track-color-disabled: var(--valence-global-color-gray-300);
  --valence-alias-track-color-over-background: rgba(255, 255, 255, 0.2);
  --valence-alias-icon-color: var(--valence-global-color-gray-700);
  --valence-alias-icon-color-over-background: var(
    --valence-global-color-static-white
  );
  --valence-alias-icon-color-hover: var(--valence-global-color-gray-900);
  --valence-alias-icon-color-down: var(--valence-global-color-gray-900);
  --valence-alias-icon-color-focus: var(--valence-global-color-gray-900);
  --valence-alias-icon-color-disabled: var(--valence-global-color-gray-400);
  --valence-alias-icon-color-selected-neutral: var(
    --valence-global-color-gray-900
  );
  --valence-alias-icon-color-selected: var(--valence-global-color-blue-500);
  --valence-alias-icon-color-selected-hover: var(
    --valence-global-color-blue-600
  );
  --valence-alias-icon-color-selected-down: var(
    --valence-global-color-blue-700
  );
  --valence-alias-icon-color-selected-focus: var(
    --valence-global-color-blue-600
  );
  --valence-alias-icon-color-error: var(--valence-global-color-red-400);
  --valence-alias-toolbar-background-color: var(
    --valence-global-color-gray-100
  );
  --valence-alias-colorhandle-outer-border-color: rgba(0, 0, 0, 0.42);
  --valence-alias-categorical-color-1: var(
    --valence-global-color-static-seafoam-200
  );
  --valence-alias-categorical-color-2: var(
    --valence-global-color-static-indigo-700
  );
  --valence-alias-categorical-color-3: var(
    --valence-global-color-static-orange-500
  );
  --valence-alias-categorical-color-4: var(
    --valence-global-color-static-magenta-500
  );
  --valence-alias-categorical-color-5: var(
    --valence-global-color-static-indigo-200
  );
  --valence-alias-categorical-color-6: var(
    --valence-global-color-static-celery-200
  );
  --valence-alias-categorical-color-7: var(
    --valence-global-color-static-blue-500
  );
  --valence-alias-categorical-color-8: var(
    --valence-global-color-static-purple-800
  );
  --valence-alias-categorical-color-9: var(
    --valence-global-color-static-yellow-500
  );
  --valence-alias-categorical-color-10: var(
    --valence-global-color-static-orange-700
  );
  --valence-alias-categorical-color-11: var(
    --valence-global-color-static-green-600
  );
  --valence-alias-categorical-color-12: var(
    --valence-global-color-static-chartreuse-300
  );
  --valence-alias-categorical-color-13: var(
    --valence-global-color-static-blue-200
  );
  --valence-alias-categorical-color-14: var(
    --valence-global-color-static-fuchsia-500
  );
  --valence-alias-categorical-color-15: var(
    --valence-global-color-static-magenta-200
  );
  --valence-alias-categorical-color-16: var(
    --valence-global-color-static-yellow-200
  );
}
