/*
 * Copyright 2020 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

.valence--large {

  // base unit is things like the icon size square
  --sandia-base-unit: 1rem;
  // line height is the height of all the inputs and buttons
  // line height is also considered in the calculation of
  // padding units.
  --sandia-line-height: 2.55rem;

  // padding units are used as a minimum unit off padding
  --sandia-padding-unit: calc((var(--sandia-line-height) - var(--sandia-base-unit))/2);
  --sandia-padding-min: var(--sandia-padding-unit); 
  --sandia-padding-unit-2: calc(var(--sandia-padding-unit)*2);

  --sandia-font-size: 16px;
  --sandia-font-size-small: .8125rem;
  --sandia-font-size-large: 1.618rem;
  --sandia-font-weight-semibold: 700;

  --sandia-input-font-size: var(--sandia-font-size);

  --sandia-frame-unit: var(--sandia-line-height);

  --sandia-focus-ring-gap: 2px;

  --sandia-icon-indicator: var(--sandia-base-unit);
  --sandia-input-icon-offset: calc(var(--sandia-padding-unit) + var(--sandia-input-border-size));

  --sandia-input-border-size: 1px;
  --sandia-input-border-radius: 0.235458rem;
  --sandia-input-min-width: 150px;
  --sandia-input-width-default: 300px;

  --sandia-frame-unit-with-border: calc(var(--sandia-frame-unit) + (var(--sandia-input-border-size)*2));
  --sandia-framed-icon-offset: calc((var(--sandia-frame-unit-with-border) - var(--sandia-icon-indicator)) / 2);

  --sandia-button-border-radius: .236rem;
  --sandia-button-text-size: 13px;
  --sandia-button-padding-x: calc(var(--sandia-line-height) - var(--sandia-button-text-size));
  
  --sandia-actionbutton-border-radius: var(--sandia-button-border-radius);
  --sandia-actionbutton-border-size: 1px; 

  --sandia-logicbutton-border-radius: var(--sandia-button-border-radius);
  --sandia-logicbutton-border-size: 1px;

  --sandia-icon-text-padding: var(--sandia-padding-unit);

  --sandia-placeholder-font-style: italic;

  --valence-global-dimension-scale-factor: 1.25;
  --valence-global-dimension-size-0: 0px;
  --valence-global-dimension-size-10: 1px;
  --valence-global-dimension-size-25: 2px;
  --valence-global-dimension-size-40: 4px;
  --valence-global-dimension-size-50: 5px;
  --valence-global-dimension-size-65: 6px;
  --valence-global-dimension-size-75: 8px;
  --valence-global-dimension-size-85: 9px;
  --valence-global-dimension-size-100: 10px;
  --valence-global-dimension-size-115: 11px;
  --valence-global-dimension-size-125: 13px;
  --valence-global-dimension-size-130: 14px;
  --valence-global-dimension-size-150: 15px;
  --valence-global-dimension-size-160: 16px;
  --valence-global-dimension-size-175: 18px;
  --valence-global-dimension-size-200: 20px;
  --valence-global-dimension-size-225: 22px;
  --valence-global-dimension-size-250: 25px;
  --valence-global-dimension-size-275: 28px;
  --valence-global-dimension-size-300: 30px;
  --valence-global-dimension-size-325: 32px;
  --valence-global-dimension-size-350: 35px;
  --valence-global-dimension-size-400: 40px;
  --valence-global-dimension-size-450: 45px;
  --valence-global-dimension-size-500: 50px;
  --valence-global-dimension-size-550: 56px;
  --valence-global-dimension-size-600: 60px;
  --valence-global-dimension-size-675: 68px;
  --valence-global-dimension-size-700: 70px;
  --valence-global-dimension-size-800: 80px;
  --valence-global-dimension-size-900: 90px;
  --valence-global-dimension-size-1000: 100px;
  --valence-global-dimension-size-1200: 120px;
  --valence-global-dimension-size-1250: 125px;
  --valence-global-dimension-size-1600: 160px;
  --valence-global-dimension-size-1700: 170px;
  --valence-global-dimension-size-2000: 200px;
  --valence-global-dimension-size-2400: 240px;
  --valence-global-dimension-size-3000: 300px;
  --valence-global-dimension-size-3400: 340px;
  --valence-global-dimension-size-3600: 360px;
  --valence-global-dimension-size-4600: 460px;
  --valence-global-dimension-size-5000: 500px;
  --valence-global-dimension-size-6000: 600px;
  --valence-global-dimension-font-size-25: 12px;
  --valence-global-dimension-font-size-50: 13px;
  --valence-global-dimension-font-size-75: 15px;
  --valence-global-dimension-font-size-100: 17px;
  --valence-global-dimension-font-size-150: 18px;
  --valence-global-dimension-font-size-200: 19px;
  --valence-global-dimension-font-size-300: 22px;
  --valence-global-dimension-font-size-400: 24px;
  --valence-global-dimension-font-size-500: 27px;
  --valence-global-dimension-font-size-600: 31px;
  --valence-global-dimension-font-size-700: 34px;
  --valence-global-dimension-font-size-800: 39px;
  --valence-global-dimension-font-size-900: 44px;
  --valence-global-dimension-font-size-1000: 49px;
  --valence-global-dimension-font-size-1100: 55px;
  --valence-global-dimension-font-size-1200: 62px;
  --valence-global-dimension-font-size-1300: 70px;
  --valence-alias-avatar-size-100: 26px;
  --valence-alias-avatar-size-400: 36px;
  --valence-alias-avatar-size-600: 46px;
  --valence-actionbutton-touch-hit-x: var(
    --valence-global-dimension-static-size-50
  );
  --valence-actionbutton-touch-hit-y: var(
    --valence-global-dimension-static-size-50
  );
  --valence-actionbutton-emphasized-touch-hit-x: var(
    --valence-global-dimension-static-size-50
  );
  --valence-actionbutton-emphasized-touch-hit-y: var(
    --valence-global-dimension-static-size-50
  );
  --valence-actionbutton-quiet-touch-hit-x: var(
    --valence-global-dimension-static-size-50
  );
  --valence-actionbutton-quiet-touch-hit-y: var(
    --valence-global-dimension-static-size-50
  );
  --valence-actionbutton-quiet-emphasized-touch-hit-x: var(
    --valence-global-dimension-static-size-50
  );
  --valence-actionbutton-quiet-emphasized-touch-hit-y: var(
    --valence-global-dimension-static-size-50
  );
  --valence-barloader-large-border-radius: 4px;
  --valence-barloader-large-indeterminate-border-radius: 4px;
  --valence-barloader-large-over-background-border-radius: 4px;
  --valence-barloader-small-border-radius: 3px;
  --valence-barloader-small-indeterminate-border-radius: 3px;
  --valence-barloader-small-over-background-border-radius: 3px;
  --valence-breadcrumb-compact-item-touch-hit-y: var(
    --valence-global-dimension-static-size-50
  );
  --valence-breadcrumb-compact-button-touch-hit-y: var(
    --valence-global-dimension-static-size-50
  );
  --valence-breadcrumb-item-touch-hit-y: var(
    --valence-global-dimension-static-size-50
  );
  --valence-breadcrumb-button-touch-hit-y: var(
    --valence-global-dimension-static-size-50
  );
  --valence-breadcrumb-multiline-item-touch-hit-y: var(
    --valence-global-dimension-static-size-50
  );
  --valence-breadcrumb-multiline-button-touch-hit-y: var(
    --valence-global-dimension-static-size-50
  );
  --valence-button-cta-text-padding-bottom: var(
    --valence-global-dimension-size-100
  );
  --valence-button-cta-min-width: 90px;
  --valence-button-cta-touch-hit-x: var(
    --valence-global-dimension-static-size-50
  );
  --valence-button-cta-touch-hit-y: var(
    --valence-global-dimension-static-size-50
  );
  --valence-button-over-background-text-padding-bottom: var(
    --valence-global-dimension-size-100
  );
  --valence-button-over-background-min-width: 90px;
  --valence-button-over-background-touch-hit-x: var(
    --valence-global-dimension-static-size-50
  );
  --valence-button-over-background-touch-hit-y: var(
    --valence-global-dimension-static-size-50
  );
  --valence-button-primary-text-padding-bottom: var(
    --valence-global-dimension-size-100
  );
  --valence-button-primary-min-width: 90px;
  --valence-button-primary-touch-hit-x: var(
    --valence-global-dimension-static-size-50
  );
  --valence-button-primary-touch-hit-y: var(
    --valence-global-dimension-static-size-50
  );
  --valence-button-quiet-over-background-text-padding-bottom: var(
    --valence-global-dimension-size-100
  );
  --valence-button-quiet-over-background-min-width: 90px;
  --valence-button-quiet-over-background-touch-hit-x: var(
    --valence-global-dimension-static-size-250
  );
  --valence-button-quiet-over-background-touch-hit-y: var(
    --valence-global-dimension-static-size-50
  );
  --valence-button-quiet-over-background-cursor-hit-x: var(
    --valence-global-dimension-static-size-250
  );
  --valence-button-quiet-primary-text-padding-bottom: var(
    --valence-global-dimension-size-100
  );
  --valence-button-quiet-primary-min-width: 90px;
  --valence-button-quiet-primary-touch-hit-x: var(
    --valence-global-dimension-static-size-250
  );
  --valence-button-quiet-primary-touch-hit-y: var(
    --valence-global-dimension-static-size-50
  );
  --valence-button-quiet-primary-cursor-hit-x: var(
    --valence-global-dimension-static-size-250
  );
  --valence-button-quiet-secondary-text-padding-bottom: var(
    --valence-global-dimension-size-100
  );
  --valence-button-quiet-secondary-min-width: 90px;
  --valence-button-quiet-secondary-touch-hit-x: var(
    --valence-global-dimension-static-size-250
  );
  --valence-button-quiet-secondary-touch-hit-y: var(
    --valence-global-dimension-static-size-50
  );
  --valence-button-quiet-secondary-cursor-hit-x: var(
    --valence-global-dimension-static-size-250
  );
  --valence-button-quiet-warning-text-padding-bottom: var(
    --valence-global-dimension-size-100
  );
  --valence-button-quiet-warning-min-width: 90px;
  --valence-button-quiet-warning-touch-hit-x: var(
    --valence-global-dimension-static-size-250
  );
  --valence-button-quiet-warning-touch-hit-y: var(
    --valence-global-dimension-static-size-50
  );
  --valence-button-quiet-warning-cursor-hit-x: var(
    --valence-global-dimension-static-size-250
  );
  --valence-button-secondary-text-padding-bottom: var(
    --valence-global-dimension-size-100
  );
  --valence-button-secondary-min-width: 90px;
  --valence-button-secondary-touch-hit-x: var(
    --valence-global-dimension-static-size-50
  );
  --valence-button-secondary-touch-hit-y: var(
    --valence-global-dimension-static-size-50
  );
  --valence-button-warning-text-padding-bottom: var(
    --valence-global-dimension-size-100
  );
  --valence-button-warning-min-width: 90px;
  --valence-button-warning-touch-hit-x: var(
    --valence-global-dimension-static-size-50
  );
  --valence-button-warning-touch-hit-y: var(
    --valence-global-dimension-static-size-50
  );
  --valence-checkbox-text-gap-key-focus: var(
    --valence-global-dimension-static-size-150
  );
  --valence-checkbox-text-gap-selected-key-focus: var(
    --valence-global-dimension-static-size-150
  );
  --valence-checkbox-text-gap-indeterminate-key-focus: var(
    --valence-global-dimension-static-size-150
  );
  --valence-checkbox-text-gap-error-key-focus: var(
    --valence-global-dimension-static-size-150
  );
  --valence-checkbox-text-gap-error-selected-key-focus: var(
    --valence-global-dimension-static-size-150
  );
  --valence-checkbox-text-gap-error-indeterminate-key-focus: var(
    --valence-global-dimension-static-size-150
  );
  --valence-checkbox-touch-hit-y: var(
    --valence-global-dimension-static-size-50
  );
  --valence-checkbox-emphasized-text-gap-key-focus: var(
    --valence-global-dimension-static-size-150
  );
  --valence-checkbox-emphasized-text-gap-selected-key-focus: var(
    --valence-global-dimension-static-size-150
  );
  --valence-checkbox-emphasized-text-gap-indeterminate-key-focus: var(
    --valence-global-dimension-static-size-150
  );
  --valence-checkbox-emphasized-text-gap-error-key-focus: var(
    --valence-global-dimension-static-size-150
  );
  --valence-checkbox-emphasized-text-gap-error-selected-key-focus: var(
    --valence-global-dimension-static-size-150
  );
  --valence-checkbox-emphasized-text-gap-error-indeterminate-key-focus: var(
    --valence-global-dimension-static-size-150
  );
  --valence-checkbox-emphasized-touch-hit-y: var(
    --valence-global-dimension-static-size-50
  );
  --valence-checkbox-quiet-text-gap-key-focus: var(
    --valence-global-dimension-static-size-150
  );
  --valence-checkbox-quiet-text-gap-selected-key-focus: var(
    --valence-global-dimension-static-size-150
  );
  --valence-checkbox-quiet-text-gap-indeterminate-key-focus: var(
    --valence-global-dimension-static-size-150
  );
  --valence-checkbox-quiet-text-gap-error-key-focus: var(
    --valence-global-dimension-static-size-150
  );
  --valence-checkbox-quiet-text-gap-error-selected-key-focus: var(
    --valence-global-dimension-static-size-150
  );
  --valence-checkbox-quiet-text-gap-error-indeterminate-key-focus: var(
    --valence-global-dimension-static-size-150
  );
  --valence-checkbox-quiet-touch-hit-y: var(
    --valence-global-dimension-static-size-50
  );
  --valence-circleloader-medium-border-size: var(
    --valence-global-dimension-static-size-50
  );
  --valence-circleloader-medium-over-background-border-size: var(
    --valence-global-dimension-static-size-50
  );
  --valence-circleloader-small-border-size: 3px;
  --valence-circleloader-small-over-background-border-size: 3px;
  --valence-colorhandle-loupe-margin: var(
    --valence-global-dimension-static-size-100
  );
  --valence-colorloupe-colorhandle-gap: var(
    --valence-global-dimension-static-size-100
  );
  --valence-colorslider-touch-hit-y: var(--valence-global-dimension-size-85);
  --valence-colorslider-vertical-touch-hit-x: var(
    --valence-global-dimension-size-85
  );
  --valence-colorwheel-min-size: var(
    --valence-global-dimension-static-size-2600
  );
  --valence-colorwheel-touch-hit-outer: var(--valence-global-dimension-size-85);
  --valence-colorwheel-touch-hit-inner: var(--valence-global-dimension-size-85);
  --valence-cyclebutton-touch-hit-x: var(
    --valence-global-dimension-static-size-50
  );
  --valence-cyclebutton-touch-hit-y: var(
    --valence-global-dimension-static-size-50
  );
  --valence-dialog-confirm-max-width: var(
    --valence-global-dimension-static-size-5000
  );
  --valence-dialog-confirm-title-text-size: var(
    --valence-global-dimension-font-size-200
  );
  --valence-dialog-confirm-description-text-size: var(
    --valence-global-dimension-font-size-75
  );
  --valence-dialog-confirm-padding: var(
    --valence-global-dimension-static-size-300
  );
  --valence-dialog-confirm-description-margin-bottom: var(
    --valence-global-dimension-static-size-500
  );
  --valence-dialog-max-width: var(--valence-global-dimension-static-size-5000);
  --valence-dialog-title-text-size: var(
    --valence-global-dimension-font-size-200
  );
  --valence-dialog-content-text-size: var(
    --valence-global-dimension-font-size-75
  );
  --valence-dialog-padding: var(--valence-global-dimension-static-size-300);
  --valence-dialog-content-margin-bottom: var(
    --valence-global-dimension-static-size-500
  );
  --valence-dialog-destructive-max-width: var(
    --valence-global-dimension-static-size-5000
  );
  --valence-dialog-destructive-title-text-size: var(
    --valence-global-dimension-font-size-200
  );
  --valence-dialog-destructive-description-text-size: var(
    --valence-global-dimension-font-size-75
  );
  --valence-dialog-destructive-padding: var(
    --valence-global-dimension-static-size-300
  );
  --valence-dialog-destructive-description-margin-bottom: var(
    --valence-global-dimension-static-size-500
  );
  --valence-dialog-error-max-width: var(
    --valence-global-dimension-static-size-5000
  );
  --valence-dialog-error-title-text-size: var(
    --valence-global-dimension-font-size-200
  );
  --valence-dialog-error-description-text-size: var(
    --valence-global-dimension-font-size-75
  );
  --valence-dialog-error-padding: var(
    --valence-global-dimension-static-size-300
  );
  --valence-dialog-error-description-margin-bottom: var(
    --valence-global-dimension-static-size-500
  );
  --valence-dialog-info-max-width: var(
    --valence-global-dimension-static-size-5000
  );
  --valence-dialog-info-title-text-size: var(
    --valence-global-dimension-font-size-200
  );
  --valence-dialog-info-description-text-size: var(
    --valence-global-dimension-font-size-75
  );
  --valence-dialog-info-padding: var(
    --valence-global-dimension-static-size-300
  );
  --valence-dialog-info-description-margin-bottom: var(
    --valence-global-dimension-static-size-500
  );
  --valence-dropdown-touch-hit-x: var(
    --valence-global-dimension-static-size-50
  );
  --valence-dropdown-touch-hit-y: var(
    --valence-global-dimension-static-size-50
  );
  --valence-dropdown-quiet-touch-hit-y: var(
    --valence-global-dimension-static-size-50
  );
  --valence-dropdown-thumbnail-small-touch-hit-x: var(
    --valence-global-dimension-static-size-50
  );
  --valence-dropdown-thumbnail-small-touch-hit-y: var(
    --valence-global-dimension-static-size-50
  );
  --valence-fieldbutton-quiet-min-width: var(
    --valence-global-dimension-size-200
  );
  --valence-icon-arrow-down-small-height: 12px;
  --valence-icon-arrow-left-medium-height: 12px;
  --valence-icon-checkmark-medium-width: var(--valence-global-dimension-size-300);
  --valence-icon-checkmark-medium-height: var(--valence-global-dimension-size-300);
  --valence-icon-checkmark-small-width: 12px;
  --valence-icon-checkmark-small-height: 12px;
  --valence-icon-chevron-down-medium-width: 12px;
  --valence-icon-chevron-left-large-width: 16px;
  --valence-icon-chevron-left-medium-height: 12px;
  --valence-icon-chevron-right-large-width: 16px;
  --valence-icon-chevron-right-medium-height: 12px;
  --valence-icon-cross-large-width: 16px;
  --valence-icon-cross-large-height: 16px;
  --valence-icon-dash-small-width: 12px;
  --valence-icon-dash-small-height: 12px;
  --valence-icon-skip-left-width: 10px;
  --valence-icon-skip-left-height: 12px;
  --valence-icon-skip-right-width: 10px;
  --valence-icon-skip-right-height: 12px;
  --valence-icon-triplegripper-width: 12px;
  --valence-listitem-option-icon-size: var(
    --valence-global-dimension-static-size-200
  );
  --valence-listitem-option-icon-margin-top: var(
    --valence-global-dimension-static-size-50
  );
  --valence-listitem-option-height: var(
    --valence-global-dimension-static-size-600
  );
  --valence-listitem-option-icon-padding-y: var(
    --valence-global-dimension-static-size-200
  );
  --valence-listitem-thumbnail-option-icon-margin-top: var(
    --valence-global-dimension-static-size-50
  );
  --valence-listitem-thumbnail-option-icon-padding-y: var(
    --valence-global-dimension-static-size-200
  );
  --valence-selectlist-thumbnail-small-option-icon-margin-top: var(
    --valence-global-dimension-static-size-50
  );
  --valence-selectlist-thumbnail-small-option-icon-padding-y: var(
    --valence-global-dimension-static-size-200
  );
  --valence-selectlist-option-icon-size: var(
    --valence-global-dimension-static-size-200
  );
  --valence-selectlist-option-icon-padding-y: var(
    --valence-global-dimension-static-size-200
  );
  --valence-selectlist-option-icon-margin-top: var(
    --valence-global-dimension-static-size-50
  );
  --valence-selectlist-option-height: var(
    --valence-global-dimension-static-size-600
  );
  /* BEGIN RSP PATCH */
  /*
    This is not correct in DNA. Renamed from padding-y to padding-height to fix docs issue where fallback var replaced this value
    (due to old valence-css postcss-custom-properties-custom-mapping plugin).
  */
  --valence-selectlist-option-padding-height: var(
    --valence-global-dimension-static-size-160
  );
  /* END RSP PATCH */
  --valence-selectlist-thumbnail-option-icon-padding-y: var(
    --valence-global-dimension-static-size-200
  );
  --valence-loader-bar-large-border-radius: 4px;
  --valence-loader-bar-large-over-background-border-radius: 4px;
  --valence-loader-bar-small-border-radius: 3px;
  --valence-loader-bar-small-over-background-border-radius: 3px;
  --valence-loader-circle-medium-border-size: var(
    --valence-global-dimension-static-size-50
  );
  --valence-loader-circle-medium-over-background-border-size: var(
    --valence-global-dimension-static-size-50
  );
  --valence-loader-circle-small-border-size: 3px;
  --valence-loader-circle-small-over-background-border-size: 3px;
  --valence-meter-large-border-radius: 4px;
  --valence-meter-small-border-radius: 3px;
  --valence-pagination-page-button-line-height: 32px;
  /* BEGIN RSP PATCH */
  /* fix popover in edge https://github.com/adobe/react-valence/pull/402 */
  --valence-overlay-positive-transform-distance: 8px;
  --valence-overlay-negative-transform-distance: -8px;
  /* END RSP PATCH */
  --valence-picker-touch-hit-x: var(--valence-global-dimension-static-size-50);
  --valence-picker-touch-hit-y: var(--valence-global-dimension-static-size-50);
  --valence-picker-quiet-min-width: var(--valence-global-dimension-size-200);
  --valence-picker-quiet-touch-hit-y: var(
    --valence-global-dimension-static-size-50
  );
  --valence-picker-thumbnail-small-touch-hit-x: var(
    --valence-global-dimension-static-size-50
  );
  --valence-picker-thumbnail-small-touch-hit-y: var(
    --valence-global-dimension-static-size-50
  );
  --valence-progressbar-large-border-radius: 4px;
  --valence-progressbar-large-indeterminate-border-radius: 4px;
  --valence-progressbar-large-over-background-border-radius: 4px;
  --valence-progressbar-small-border-radius: 3px;
  --valence-progressbar-small-indeterminate-border-radius: 3px;
  --valence-progressbar-small-over-background-border-radius: 3px;
  --valence-progresscircle-medium-border-size: var(
    --valence-global-dimension-static-size-50
  );
  --valence-progresscircle-medium-over-background-border-size: var(
    --valence-global-dimension-static-size-50
  );
  --valence-progresscircle-small-border-size: 3px;
  --valence-progresscircle-small-indeterminate-border-size: 3px;
  --valence-progresscircle-small-over-background-border-size: 3px;
  --valence-progresscircle-medium-indeterminate-border-size: var(
    --valence-global-dimension-static-size-50
  );
  --valence-radio-text-gap-key-focus: var(
    --valence-global-dimension-static-size-150
  );
  --valence-radio-text-gap-selected-key-focus: var(
    --valence-global-dimension-static-size-150
  );
  --valence-radio-text-gap-error-key-focus: var(
    --valence-global-dimension-static-size-150
  );
  --valence-radio-text-gap-error-selected-key-focus: var(
    --valence-global-dimension-static-size-150
  );
  --valence-radio-margin-bottom: var(
    --valence-global-dimension-static-size-100
  );
  --valence-radio-touch-hit-y: var(--valence-global-dimension-static-size-50);
  --valence-radio-emphasized-text-gap-key-focus: var(
    --valence-global-dimension-static-size-150
  );
  --valence-radio-emphasized-text-gap-selected-key-focus: var(
    --valence-global-dimension-static-size-150
  );
  --valence-radio-emphasized-text-gap-error-key-focus: var(
    --valence-global-dimension-static-size-150
  );
  --valence-radio-emphasized-text-gap-error-selected-key-focus: var(
    --valence-global-dimension-static-size-150
  );
  --valence-radio-emphasized-margin-bottom: var(
    --valence-global-dimension-static-size-100
  );
  --valence-radio-emphasized-touch-hit-y: var(
    --valence-global-dimension-static-size-50
  );
  --valence-radio-quiet-text-gap-key-focus: var(
    --valence-global-dimension-static-size-150
  );
  --valence-radio-quiet-text-gap-selected-key-focus: var(
    --valence-global-dimension-static-size-150
  );
  --valence-radio-quiet-text-gap-error-key-focus: var(
    --valence-global-dimension-static-size-150
  );
  --valence-radio-quiet-text-gap-error-selected-key-focus: var(
    --valence-global-dimension-static-size-150
  );
  --valence-radio-quiet-margin-bottom: var(
    --valence-global-dimension-static-size-100
  );
  --valence-radio-quiet-touch-hit-y: var(
    --valence-global-dimension-static-size-50
  );
  --valence-rating-icon-width: 30px;
  --valence-rating-indicator-width: 20px;
  --valence-rating-touch-hit-y: var(--valence-global-dimension-static-size-50);
  --valence-rating-emphasized-icon-width: 30px;
  --valence-rating-emphasized-indicator-width: 20px;
  --valence-rating-emphasized-touch-hit-y: var(
    --valence-global-dimension-static-size-50
  );
  --valence-rating-quiet-icon-width: 30px;
  --valence-rating-quiet-indicator-width: 20px;
  --valence-rating-quiet-touch-hit-y: var(
    --valence-global-dimension-static-size-50
  );
  --valence-search-touch-hit-x: var(--valence-global-dimension-static-size-50);
  --valence-search-touch-hit-y: var(--valence-global-dimension-static-size-50);
  --valence-search-icon-frame: var(--valence-global-dimension-static-size-500);
  --valence-search-quiet-touch-hit-x: var(
    --valence-global-dimension-static-size-50
  );
  --valence-search-quiet-touch-hit-y: var(
    --valence-global-dimension-static-size-50
  );
  --valence-search-quiet-icon-frame: var(
    --valence-global-dimension-static-size-500
  );
  --valence-sidenav-item-touch-hit-bottom: 3px;
  --valence-sidenav-multilevel-item-touch-hit-bottom: 3px;
  --valence-slider-track-touch-hit-y: var(
    --valence-global-dimension-static-size-50
  );
  --valence-slider-handle-touch-hit-x: var(
    --valence-global-dimension-static-size-175
  );
  --valence-slider-handle-touch-hit-y: var(
    --valence-global-dimension-static-size-175
  );
  --valence-slider-editable-track-touch-hit-y: var(
    --valence-global-dimension-static-size-50
  );
  --valence-slider-editable-handle-touch-hit-x: var(
    --valence-global-dimension-static-size-175
  );
  --valence-slider-editable-handle-touch-hit-y: var(
    --valence-global-dimension-static-size-175
  );
  --valence-slider-fill-track-touch-hit-y: var(
    --valence-global-dimension-static-size-50
  );
  --valence-slider-fill-handle-touch-hit-x: var(
    --valence-global-dimension-static-size-175
  );
  --valence-slider-fill-handle-touch-hit-y: var(
    --valence-global-dimension-static-size-175
  );
  --valence-switch-focus-ring-border-radius-key-focus: var(
    --valence-global-dimension-static-size-160
  );
  --valence-switch-text-gap-key-focus: var(
    --valence-global-dimension-static-size-150
  );
  --valence-switch-text-gap-selected-key-focus: var(
    --valence-global-dimension-static-size-150
  );
  --valence-switch-text-gap-error-key-focus: var(
    --valence-global-dimension-static-size-150
  );
  --valence-switch-text-gap-error-selected-key-focus: var(
    --valence-global-dimension-static-size-150
  );
  --valence-switch-track-width: var(--valence-global-dimension-static-size-450);
  --valence-switch-handle-border-radius: 9px;
  /* BEGIN RSP PATCH */
  /* fix switch in edge: https://github.com/adobe/react-valence/pull/90 */
  --valence-switch-handle-transform-x-ltr: 18px;
  --valence-switch-handle-transform-x-rtl: -18px;
  /* END RSP PATCH */
  --valence-switch-touch-hit-y: var(--valence-global-dimension-static-size-50);
  --valence-switch-emphasized-focus-ring-border-radius-key-focus: var(
    --valence-global-dimension-static-size-160
  );
  --valence-switch-emphasized-text-gap-key-focus: var(
    --valence-global-dimension-static-size-150
  );
  --valence-switch-emphasized-text-gap-selected-key-focus: var(
    --valence-global-dimension-static-size-150
  );
  --valence-switch-emphasized-text-gap-error-key-focus: var(
    --valence-global-dimension-static-size-150
  );
  --valence-switch-emphasized-text-gap-error-selected-key-focus: var(
    --valence-global-dimension-static-size-150
  );
  --valence-switch-emphasized-track-width: var(
    --valence-global-dimension-static-size-450
  );
  --valence-switch-emphasized-handle-border-radius: 9px;
  --valence-switch-emphasized-touch-hit-y: var(
    --valence-global-dimension-static-size-50
  );
  --valence-switch-quiet-focus-ring-border-radius-key-focus: var(
    --valence-global-dimension-static-size-160
  );
  --valence-switch-quiet-text-gap-key-focus: var(
    --valence-global-dimension-static-size-150
  );
  --valence-switch-quiet-text-gap-selected-key-focus: var(
    --valence-global-dimension-static-size-150
  );
  --valence-switch-quiet-text-gap-error-key-focus: var(
    --valence-global-dimension-static-size-150
  );
  --valence-switch-quiet-text-gap-error-selected-key-focus: var(
    --valence-global-dimension-static-size-150
  );
  --valence-switch-quiet-track-width: var(
    --valence-global-dimension-static-size-450
  );
  --valence-switch-quiet-handle-border-radius: 9px;
  --valence-switch-quiet-touch-hit-y: var(
    --valence-global-dimension-static-size-50
  );
  --valence-tabs-compact-focus-ring-border-radius: 6px;
  --valence-tabs-compact-margin-left: -11px;
  --valence-tabs-compact-margin-right: -11px;
  --valence-tabs-compact-vertical-focus-ring-border-radius: 6px;
  --valence-tabs-compact-vertical-emphasized-focus-ring-border-radius: 6px;
  --valence-tabs-baseline: var(--valence-global-dimension-size-250);
  --valence-tabs-focus-ring-border-radius: 6px;
  --valence-tabs-margin-left: -11px;
  --valence-tabs-margin-right: -11px;
  --valence-tabs-emphasized-baseline: var(--valence-global-dimension-size-250);
  --valence-tabs-emphasized-focus-ring-border-radius: 6px;
  --valence-tabs-emphasized-margin-left: -11px;
  --valence-tabs-emphasized-margin-right: -11px;
  --valence-tabs-quiet-baseline: var(--valence-global-dimension-size-250);
  --valence-tabs-quiet-focus-ring-border-radius: 6px;
  --valence-tabs-quiet-margin-left: -11px;
  --valence-tabs-quiet-margin-right: -11px;
  --valence-tabs-quiet-compact-focus-ring-border-radius: 6px;
  --valence-tabs-quiet-compact-margin-left: -11px;
  --valence-tabs-quiet-compact-margin-right: -11px;
  --valence-tabs-quiet-compact-emphasized-focus-ring-border-radius: 6px;
  --valence-tabs-quiet-compact-emphasized-margin-left: -11px;
  --valence-tabs-quiet-compact-emphasized-margin-right: -11px;
  --valence-tabs-quiet-compact-vertical-focus-ring-border-radius: 6px;
  --valence-tabs-quiet-compact-vertical-emphasized-focus-ring-border-radius: 6px;
  --valence-tabs-quiet-emphasized-baseline: var(
    --valence-global-dimension-size-250
  );
  --valence-tabs-quiet-emphasized-focus-ring-border-radius: 6px;
  --valence-tabs-quiet-emphasized-margin-left: -11px;
  --valence-tabs-quiet-emphasized-margin-right: -11px;
  --valence-tabs-quiet-vertical-baseline: var(
    --valence-global-dimension-size-250
  );
  --valence-tabs-quiet-vertical-focus-ring-border-radius: 6px;
  --valence-tabs-quiet-vertical-emphasized-baseline: var(
    --valence-global-dimension-size-250
  );
  --valence-tabs-quiet-vertical-emphasized-focus-ring-border-radius: 6px;
  --valence-tabs-vertical-baseline: var(--valence-global-dimension-size-250);
  --valence-tabs-vertical-focus-ring-border-radius: 6px;
  --valence-textarea-touch-hit-x: var(
    --valence-global-dimension-static-size-50
  );
  --valence-textarea-touch-hit-y: var(
    --valence-global-dimension-static-size-50
  );
  --valence-textarea-icon-frame: var(
    --valence-global-dimension-static-size-500
  );
  --valence-textarea-quiet-touch-hit-x: var(
    --valence-global-dimension-static-size-50
  );
  --valence-textarea-quiet-touch-hit-y: var(
    --valence-global-dimension-static-size-50
  );
  --valence-textarea-quiet-icon-frame: var(
    --valence-global-dimension-static-size-500
  );
  --valence-textfield-touch-hit-x: var(
    --valence-global-dimension-static-size-50
  );
  --valence-textfield-touch-hit-y: var(
    --valence-global-dimension-static-size-50
  );
  --valence-textfield-icon-frame: var(
    --valence-global-dimension-static-size-500
  );
  --valence-textfield-quiet-touch-hit-x: var(
    --valence-global-dimension-static-size-50
  );
  --valence-textfield-quiet-touch-hit-y: var(
    --valence-global-dimension-static-size-50
  );
  --valence-textfield-quiet-icon-frame: var(
    --valence-global-dimension-static-size-500
  );
  --valence-tool-touch-hit-x: var(--valence-global-dimension-static-size-50);
  --valence-tool-touch-hit-y: var(--valence-global-dimension-static-size-50);
  --valence-tool-high-emphasis-touch-hit-x: var(
    --valence-global-dimension-static-size-50
  );
  --valence-tool-high-emphasis-touch-hit-y: var(
    --valence-global-dimension-static-size-50
  );
  --valence-tooltip-padding-bottom: 6px;
  /* BEGIN RSP PATCH */
  /* Old value is deprecated, bumping to new value for now: https://git.corp.adobe.com/Spectrum/valence-dna/blob/53f6efb0d81ec6829048a53a9e8389b450f46dee/data/elements/tooltip/TooltipBase.mjs#L36 */
  --valence-tooltip-content-max-width: var(
    --valence-global-dimension-size-2000
  );
  /* END RSP PATCH */
  --valence-tooltip-info-padding-bottom: 6px;
  --valence-tooltip-info-content-max-width: 126px;
  --valence-tooltip-negative-padding-bottom: 6px;
  --valence-tooltip-negative-content-max-width: 126px;
  --valence-tooltip-positive-padding-bottom: 6px;
  --valence-tooltip-positive-content-max-width: 126px;
}
