.Rule--large {
  background-color: var(--valence-rule-large-background-color);
}

.Rule--medium {
  background-color: var(--valence-rule-medium-background-color);
}

.Rule--small {
  background-color: var(--valence-rule-small-background-color);
}
