:root {
  // --ladle-bg-color-primary: #282a36;
  // --ladle-bg-color-secondary: rgba(17,17,17,0.35);
  font-family: 'Roboto';
}

.header {
  font-weight: 300;
  color: var(--ladle-color-primary);
}

.story_content {
}