.Card {
  &.is-drop-target {
    border-color: var(--valence-card-border-color-key-focus);
    box-shadow: 0 0 0 1px var(--valence-card-border-color-key-focus);
    background-color: var(--valence-alias-highlight-selected);
  }

  .Card-checkboxWrapper {
    background-color: var(--valence-quickactions-background-color);
  }

  .Card-detail {
    color: var(--valence-card-description-text-color);
  }
}

.Card-illustration {
}
.Card-image {
}
.Card-avatar {
}
.Card-heading {
  color: var(--valence-global-color-gray-900);
}
.Card-detail {
  color: var(--valence-global-color-gray-700);
}
.Card-actions {
}
.Card-content {
  color: var(--valence-global-color-gray-700);
}
.Card-divider {
}
.Card-footer {
}

.Card--default {
  border-color: var(--valence-card-border-color);
  background-color: var(--valence-card-background-color);

  &:hover {
    border-color: var(--valence-card-border-color-hover);
    &:before {
      box-shadow: 0 0 0 1px var(--valence-card-border-color-hover);
    }
  }

  &.is-selected {
    border-color: var(--valence-card-border-color-key-focus);
    &:before {
      /* Image needs to go right to the edge, so no border. Adding border on focus causes
      * a jump in the text and image. So focus ring is only box-shadow
      */
      box-shadow: 0 0 0 1px var(--valence-card-border-color-key-focus);
    }
  }

  &:hover.is-selected {
    border-color: var(--valence-card-border-color-key-focus);
    &:before {
      /* Image needs to go right to the edge, so no border. Adding border on focus causes
      * a jump in the text and image. So focus ring is only box-shadow
      */
      box-shadow: 0 0 0 1px var(--valence-card-border-color-key-focus);
    }
  }

  &.focus-ring {
    border-color: var(--valence-card-border-color-key-focus);
    &:before {
      box-shadow: 0 0 0 2px var(--valence-card-border-color-key-focus);
    }
  }

  &.focus-ring:hover.is-selected {
    border-color: var(--valence-card-border-color-key-focus);
    &:before {
      box-shadow: 0 0 0 2px var(--valence-card-border-color-key-focus);
    }
  }

  &.is-selected {
    border-color: var(--valence-card-border-color-key-focus);
    &:after {
      background-color: var(--valence-global-color-blue-400);
      opacity: 0.15;
    }
    &:hover {
      border-color: var(--valence-card-border-color-key-focus);
      &:after {
        background-color: var(--valence-global-color-blue-400);
        opacity: 0.25;
      }
    }
  }
  &:before {
    transition: background-color var(--valence-global-animation-duration-100);
  }
  &:after {
    transition: background-color var(--valence-global-animation-duration-100),
      opacity var(--valence-global-animation-duration-100);
    opacity: 0;
  }
  .Card-grid {
    &:before {
      transition: background-color var(--valence-global-animation-duration-100);
      background-color: var(--valence-card-quiet-preview-background-color);
    }
  }

  .Card-image,
  .Card-illustration {
    border-block-end-color: var(--valence-card-coverphoto-border-color);
  }
  .Card-image {
  }
  .Card-avatar {
  }
  .Card-heading {
  }
  .Card-detail {
  }
  .Card-actions {
  }
  .Card-content {
    color: var(--valence-card-description-text-color);
  }
  .Card-divider {
  }
  .Card-footer {
  }
}

.Card--isQuiet {
  border-color: transparent;
  background-color: transparent;
  &:hover {
    .Card-grid {
      &:before {
        background-color: var(
          --valence-card-quiet-preview-background-color-hover
        );
        /* TODO do we still want this border on the image itself? */
        box-shadow: 0 0 0 1px var(--valence-card-border-color-hover);
      }
    }
  }

  &.is-selected {
    .Card-grid {
      &:after {
        /* Image needs to go right to the edge, so no border. Adding border on focus causes
        * a jump in the text and image. So focus ring is only box-shadow
        */
        box-shadow: 0 0 0 1px var(--valence-card-border-color-key-focus);
      }
    }
  }

  &:hover.is-selected {
    .Card-grid {
      &:after {
        /* Image needs to go right to the edge, so no border. Adding border on focus causes
        * a jump in the text and image. So focus ring is only box-shadow
        */
        box-shadow: 0 0 0 1px var(--valence-card-border-color-key-focus);
      }
    }
  }

  &.focus-ring {
    .Card-grid {
      &:after {
        box-shadow: 0 0 0 2px var(--valence-card-border-color-key-focus);
      }
    }
  }

  &.focus-ring:hover.is-selected {
    .Card-grid {
      &:after {
        box-shadow: 0 0 0 2px var(--valence-card-border-color-key-focus);
      }
    }
  }

  &.is-selected {
    .Card-grid {
      .Card-decoration {
        opacity: 0.15;
      }
    }
    &:hover {
      .Card-grid {
        .Card-decoration {
          opacity: 0.25;
        }
      }
    }
  }

  .Card-grid {
    &:before {
      transition: background-color var(--valence-global-animation-duration-100);
      background-color: var(--valence-card-quiet-preview-background-color);
    }
  }
  .Card-image,
  .Card-illustration {
  }
  .Card-image {
  }
  .Card-avatar {
  }
  .Card-heading {
  }
  .Card-detail {
  }
  .Card-actions {
  }
  .Card-content {
  }
  .Card-divider {
  }
  .Card-footer {
  }
  .Card-decoration {
    transition: background-color var(--valence-global-animation-duration-100),
      opacity var(--valence-global-animation-duration-100);
    background-color: var(--valence-global-color-blue-400);
    opacity: 0;
  }
}

.Card--horizontal {
  border-color: var(--valence-card-border-color);
  background-color: var(--valence-card-background-color);
  &:hover {
    border-color: var(--valence-card-border-color-hover);
    .Card-grid {
      &:before {
        box-shadow: 0 0 0 1px var(--valence-card-border-color-hover);
      }
    }
  }

  &.is-selected {
    border-color: var(--valence-card-border-color-key-focus);
    .Card-grid {
      &:before {
        /* Image needs to go right to the edge, so no border. Adding border on focus causes
        * a jump in the text and image. So focus ring is only box-shadow
        */
        box-shadow: 0 0 0 1px var(--valence-card-border-color-key-focus);
      }
    }
  }

  &:hover.is-selected {
    border-color: var(--valence-card-border-color-key-focus);
    .Card-grid {
      &:before {
        /* Image needs to go right to the edge, so no border. Adding border on focus causes
        * a jump in the text and image. So focus ring is only box-shadow
        */
        box-shadow: 0 0 0 1px var(--valence-card-border-color-key-focus);
      }
    }
  }

  &.focus-ring {
    border-color: var(--valence-card-border-color-key-focus);
    .Card-grid {
      &:before {
        box-shadow: 0 0 0 2px var(--valence-card-border-color-key-focus);
      }
    }
  }

  &.focus-ring:hover.is-selected {
    border-color: var(--valence-card-border-color-key-focus);
    .Card-grid {
      &:before {
        box-shadow: 0 0 0 2px var(--valence-card-border-color-key-focus);
      }
    }
  }

  &.is-selected {
    border-color: var(--valence-card-border-color-key-focus);
    .Card-grid {
      &:after {
        background-color: var(--valence-global-color-blue-400);
        opacity: 0.15;
      }
    }
    &:hover {
      border-color: var(--valence-card-border-color-key-focus);
      .Card-grid {
        &:after {
          background-color: var(--valence-global-color-blue-400);
          opacity: 0.25;
        }
      }
    }
  }

  .Card-grid {
    &:after {
      transition: background-color var(--valence-global-animation-duration-100),
        opacity var(--valence-global-animation-duration-100);
      opacity: 0;
    }
  }
  .Card-image,
  .Card-illustration {
    border-inline-end-color: var(--valence-card-coverphoto-border-color);
  }
  .Card-image {
  }
  .Card-illustration {
  }
  .Card-avatar {
  }
  .Card-heading {
  }
  .Card-detail {
  }
  .Card-actions {
  }
  .Card-content {
  }
  .Card-divider {
  }
  .Card-footer {
  }
}
