@import "../commons/index.scss";
@import "font.scss";

/*@mixin typography .valence-Body1 {}
@mixin typography .valence-Body2 {}
@mixin typography .valence-Body3 {}
@mixin typography .valence-Body4 {}
@mixin typography .valence-Body5 {}
@mixin typography .valence-Heading1 {}
@mixin typography .valence-Heading2 {}
@mixin typography .valence-Heading3 {}
@mixin typography .valence-Heading4 {}
@mixin typography .valence-Heading5 {}
@mixin typography .valence-Heading6 {}
@mixin typography .valence-Subheading {}
@mixin typography .valence-Detail {}
@mixin typography .valence-Heading1--quiet, heading-quiet-1 {}
@mixin typography .valence-Heading2--quiet, heading-quiet-2 {}
@mixin typography .valence-Heading1--strong, heading-strong-1 {}
@mixin typography .valence-Heading2--strong, heading-strong-2 {}
@mixin typography .valence-Heading1--display, display-1 {}
@mixin typography .valence-Heading2--display, display-2 {}
@mixin typography .valence-Heading1--display.valence-Heading1--strong, display-strong-1 {}
@mixin typography .valence-Heading2--display.valence-Heading2--strong, display-strong-2 {}
@mixin typography .valence-Heading1--display.valence-Heading1--quiet, display-quiet-1 {}
@mixin typography .valence-Heading2--display.valence-Heading2--quiet, display-quiet-2 {}

.valence-Typography {
  @mixin typographyMargins .valence-Body1 {}
  @mixin typographyMargins .valence-Body2 {}
  @mixin typographyMargins .valence-Body3 {}
  @mixin typographyMargins .valence-Body4 {}
  @mixin typographyMargins .valence-Body5 {}
  @mixin typographyMargins .valence-Heading1 {}
  @mixin typographyMargins .valence-Heading2 {}
  @mixin typographyMargins .valence-Heading3 {}
  @mixin typographyMargins .valence-Heading4 {}
  @mixin typographyMargins .valence-Heading5 {}
  @mixin typographyMargins .valence-Heading6 {}
  @mixin typographyMargins .valence-Subheading {}
  @mixin typographyMargins .valence-Detail {}
  @mixin typographyMargins .valence-Heading1--quiet, heading-quiet-1 {}
  @mixin typographyMargins .valence-Heading2--quiet, heading-quiet-2 {}
  @mixin typographyMargins .valence-Heading1--strong, heading-strong-1 {}
  @mixin typographyMargins .valence-Heading2--strong, heading-strong-2 {}
  @mixin typographyMargins .valence-Heading1--display, display-1 {}
  @mixin typographyMargins .valence-Heading2--display, display-2 {}
  @mixin typographyMargins .valence-Heading1--display.valence-Heading1--strong, display-strong-1 {}
  @mixin typographyMargins .valence-Heading2--display.valence-Heading2--strong, display-strong-2 {}
  @mixin typographyMargins .valence-Heading1--display.valence-Heading1--quiet, display-quiet-1 {}
  @mixin typographyMargins .valence-Heading2--display.valence-Heading2--quiet, display-quiet-2 {}
}

.valence-Article {
  font-family: var(--valence-body-article-1-text-font-family);
  @mixin typography .valence-Body1, body-article-1 {}
  @mixin typography .valence-Body2, body-article-2 {}
  @mixin typography .valence-Body3, body-article-3 {}
  @mixin typography .valence-Body4, body-article-4 {}
  @mixin typography .valence-Body5, body-article-5 {}
  @mixin typography .valence-Heading1, heading-article-1 {}
  @mixin typography .valence-Heading2, heading-article-2 {}
  @mixin typography .valence-Heading3, heading-article-3 {}
  @mixin typography .valence-Heading4, heading-article-4 {}
  @mixin typography .valence-Heading5, heading-article-5 {}
  @mixin typography .valence-Heading6, heading-article-6 {}
  @mixin typography .valence-Subheading, subheading-article {}
  @mixin typography .valence-Detail, detail-article {}
  @mixin typography .valence-Heading1--quiet, heading-quiet-article-1 {}
  @mixin typography .valence-Heading2--quiet, heading-quiet-article-2 {}
  @mixin typography .valence-Heading1--display, display-article-1 {}
  @mixin typography .valence-Heading2--display, display-article-2 {}
  @mixin typography .valence-Heading1--display.valence-Heading1--quiet, display-quiet-article-1 {}
  @mixin typography .valence-Heading2--display.valence-Heading2--quiet, display-quiet-article-2 {}
}
.valence {
  &:lang(ja),
  &:lang(ko),
  &:lang(zh) {
    @mixin typography .valence-Body1, body-han-1 {}
    @mixin typography .valence-Body2, body-han-2 {}
    @mixin typography .valence-Body3, body-han-3 {}
    @mixin typography .valence-Body4, body-han-4 {}
    @mixin typography .valence-Body5, body-han-5 {}
    @mixin typography .valence-Heading1, heading-han-1 {}
    @mixin typography .valence-Heading2, heading-han-2 {}
    @mixin typography .valence-Heading3, heading-han-3 {}
    @mixin typography .valence-Heading4, heading-han-4 {}
    @mixin typography .valence-Heading5, heading-han-5 {}
    @mixin typography .valence-Heading6, heading-han-6 {}
    @mixin typography .valence-Subheading, subheading-han {}
    @mixin typography .valence-Detail, detail-han {}
    @mixin typography .valence-Heading1--quiet, heading-quiet-han-1 {}
    @mixin typography .valence-Heading2--quiet, heading-quiet-han-2 {}
    @mixin typography .valence-Heading1--strong, heading-strong-han-1 {}
    @mixin typography .valence-Heading2--strong, heading-strong-han-2 {}
    @mixin typography .valence-Heading1--display, display-han-1 {}
    @mixin typography .valence-Heading2--display, display-han-2 {}
    @mixin typography .valence-Heading1--display.valence-Heading1--strong, display-strong-han-1 {}
    @mixin typography .valence-Heading2--display.valence-Heading2--strong, display-strong-han-2 {}
    @mixin typography .valence-Heading1--display.valence-Heading1--quiet, display-quiet-han-1 {}
    @mixin typography .valence-Heading2--display.valence-Heading2--quiet, display-quiet-han-2 {}
  }
}
@mixin typography .valence-Code1, body-code-1, true {
  font-family: var(--valence-body-code-1-text-font-family);
}
@mixin typography .valence-Code2, body-code-2, true {
  font-family: var(--valence-body-code-2-text-font-family);
}
@mixin typography .valence-Code3, body-code-3, true {
  font-family: var(--valence-body-code-3-text-font-family);
}
@mixin typography .valence-Code4, body-code-4, true {
  font-family: var(--valence-body-code-4-text-font-family);
}
@mixin typography .valence-Code5, body-code-5, true {
  font-family: var(--valence-body-code-5-text-font-family);
}*/

/*
  The &.valence makes it so users can do <div class="valence valence--large"> and still get the right font sizes
  Without this, they would have to do <div class="valence--large"><div class="valence">, which makes no sense
*/
.valence,
.valence-Body,
.valence,
.valence-Body {
  font-size: var(--valence-body-4-text-size);
  font-weight: var(--valence-body-4-text-font-weight);
  line-height: var(--valence-body-4-text-line-height);
  font-style: var(--valence-body-4-text-font-style);
}

.valence-Body--italic {
  font-style: var(--valence-body-4-emphasis-text-font-style);
}

/*
.valence-Body--large {
  @extend .valence-Body2;
}

.valence-Body--small {
  @extend .valence-Body5;
}

.valence-Body--secondary {
  @extend .valence-Body4;
}

.valence-Heading--display {
  @extend .valence-Heading2--display.valence-Heading2--quiet;
}

.valence-Heading--pageTitle {
  @extend .valence-Heading2--quiet;
}

.valence-Heading--subtitle1 {
  @extend .valence-Heading4;
}

.valence-Heading--subtitle2 {
  @extend .valence-Heading6;
}

.valence-Heading--subtitle3 {
  @extend .valence-Subheading;
}*/
