.theme {
  --valence-rating-border-color: var(--valence-alias-border-color-transparent);
  --valence-rating-icon-color: var(--valence-alias-icon-color);
  --valence-rating-focus-ring-color: var(--valence-alias-focus-color);
  --valence-rating-border-color-hover: var(--valence-alias-border-color-transparent);
  --valence-rating-icon-color-hover: var(--valence-global-color-gray-800);
  --valence-rating-border-color-down: var(--valence-alias-border-color-transparent);
  --valence-rating-icon-color-down: var(--valence-alias-icon-color-down);
  --valence-rating-border-color-key-focus: var(--valence-alias-focus-color);
  --valence-rating-icon-color-key-focus: var(--valence-alias-icon-color-focus);
  --valence-rating-border-color-selected: var(--valence-alias-border-color-transparent);
  --valence-rating-icon-color-selected: var(--valence-alias-icon-color);
  --valence-rating-border-color-selected-hover: var(--valence-alias-border-color-transparent);
  --valence-rating-icon-color-selected-hover: var(--valence-global-color-gray-800);
  --valence-rating-border-color-selected-down: var(--valence-alias-border-color-transparent);
  --valence-rating-icon-color-selected-down: var(--valence-alias-icon-color-down);
  --valence-rating-border-color-selected-key-focus: var(--valence-alias-focus-color);
  --valence-rating-icon-color-selected-key-focus: var(--valence-alias-icon-color-focus);
  --valence-rating-border-color-disabled: var(--valence-alias-border-color-transparent);
  --valence-rating-icon-color-disabled: var(--valence-global-color-gray-400);
  --valence-rating-height: var(--valence-alias-single-line-height);
  --valence-rating-border-radius: var(--valence-alias-border-radius-regular);
  --valence-rating-focus-ring-size: var(--valence-alias-border-size-thick);
  --valence-rating-border-size: var(--valence-alias-border-size-thick);
  --valence-rating-icon-count: 5;
  --valence-rating-icon-spacing: var(--valence-global-dimension-size-75);
  --valence-rating-icon-padding-y: var(--valence-global-dimension-size-85);
  --valence-rating-indicator-height: var(--valence-global-dimension-size-25);
  --valence-rating-indicator-border-radius: var(--valence-alias-border-radius-small);
  --valence-rating-indicator-offset: var(--valence-alias-border-size-thick);
  --valence-rating-emphasized-border-color: var(--valence-alias-border-color-transparent);
  --valence-rating-emphasized-icon-color: var(--valence-alias-icon-color);
  --valence-rating-emphasized-border-color-hover: var(--valence-alias-border-color-transparent);
  --valence-rating-emphasized-icon-color-hover: var(--valence-alias-icon-color-selected-hover);
  --valence-rating-emphasized-border-color-down: var(--valence-alias-border-color-transparent);
  --valence-rating-emphasized-icon-color-down: var(--valence-alias-icon-color-selected-down);
  --valence-rating-emphasized-border-color-key-focus: var(--valence-alias-focus-color);
  --valence-rating-emphasized-icon-color-key-focus: var(--valence-alias-icon-color-selected-focus);
  --valence-rating-emphasized-border-color-selected: var(--valence-alias-border-color-transparent);
  --valence-rating-emphasized-icon-color-selected: var(--valence-alias-icon-color-selected);
  --valence-rating-emphasized-border-color-selected-hover: var(--valence-alias-border-color-transparent);
  --valence-rating-emphasized-icon-color-selected-hover: var(--valence-alias-icon-color-selected-hover);
  --valence-rating-emphasized-border-color-selected-down: var(--valence-alias-border-color-transparent);
  --valence-rating-emphasized-icon-color-selected-down: var(--valence-alias-icon-color-selected-down);
  --valence-rating-emphasized-border-color-selected-key-focus: var(--valence-alias-focus-color);
  --valence-rating-emphasized-icon-color-selected-key-focus: var(--valence-alias-icon-color-selected-focus);
  --valence-rating-emphasized-border-color-disabled: var(--valence-alias-border-color-transparent);
  --valence-rating-emphasized-icon-color-disabled: var(--valence-global-color-gray-400);
  --valence-rating-emphasized-height: var(--valence-alias-single-line-height);
  --valence-rating-emphasized-border-radius: var(--valence-alias-border-radius-regular);
  --valence-rating-emphasized-focus-ring-size: var(--valence-alias-border-size-thick);
  --valence-rating-emphasized-border-size: var(--valence-alias-border-size-thick);
  --valence-rating-emphasized-icon-count: 5;
  --valence-rating-emphasized-icon-spacing: var(--valence-global-dimension-size-75);
  --valence-rating-emphasized-icon-padding-y: var(--valence-global-dimension-size-85);
  --valence-rating-emphasized-indicator-height: var(--valence-global-dimension-size-25);
  --valence-rating-emphasized-indicator-border-radius: var(--valence-alias-border-radius-small);
  --valence-rating-emphasized-indicator-offset: var(--valence-alias-border-size-thick);
  --valence-rating-quiet-border-color: var(--valence-alias-border-color-transparent);
  --valence-rating-quiet-icon-color: var(--valence-alias-icon-color);
  --valence-rating-quiet-focus-ring-color: var(--valence-alias-focus-color);
  --valence-rating-quiet-border-color-hover: var(--valence-alias-border-color-transparent);
  --valence-rating-quiet-icon-color-hover: var(--valence-global-color-gray-800);
  --valence-rating-quiet-border-color-down: var(--valence-alias-border-color-transparent);
  --valence-rating-quiet-icon-color-down: var(--valence-alias-icon-color-down);
  --valence-rating-quiet-border-color-key-focus: var(--valence-alias-focus-color);
  --valence-rating-quiet-icon-color-key-focus: var(--valence-alias-icon-color-focus);
  --valence-rating-quiet-border-color-selected: var(--valence-alias-border-color-transparent);
  --valence-rating-quiet-icon-color-selected: var(--valence-alias-icon-color);
  --valence-rating-quiet-border-color-selected-hover: var(--valence-alias-border-color-transparent);
  --valence-rating-quiet-icon-color-selected-hover: var(--valence-global-color-gray-800);
  --valence-rating-quiet-border-color-selected-down: var(--valence-alias-border-color-transparent);
  --valence-rating-quiet-icon-color-selected-down: var(--valence-alias-icon-color-down);
  --valence-rating-quiet-border-color-selected-key-focus: var(--valence-alias-focus-color);
  --valence-rating-quiet-icon-color-selected-key-focus: var(--valence-alias-icon-color-focus);
  --valence-rating-quiet-border-color-disabled: var(--valence-alias-border-color-transparent);
  --valence-rating-quiet-icon-color-disabled: var(--valence-global-color-gray-400);
  --valence-rating-quiet-height: var(--valence-alias-single-line-height);
  --valence-rating-quiet-border-radius: var(--valence-alias-border-radius-regular);
  --valence-rating-quiet-focus-ring-size: var(--valence-alias-border-size-thick);
  --valence-rating-quiet-border-size: var(--valence-alias-border-size-thick);
  --valence-rating-quiet-icon-count: 5;
  --valence-rating-quiet-icon-spacing: var(--valence-global-dimension-size-75);
  --valence-rating-quiet-icon-padding-y: var(--valence-global-dimension-size-85);
  --valence-rating-quiet-indicator-height: var(--valence-global-dimension-size-25);
  --valence-rating-quiet-indicator-border-radius: var(--valence-alias-border-radius-small);
  --valence-rating-quiet-indicator-offset: var(--valence-alias-border-size-thick);
}
