.theme {
  --valence-coachmark-indicator-ring-default-color: var(--valence-alias-focus-color);
  --valence-coachmark-indicator-ring-low-contrast-color: var(--valence-global-color-gray-50);
  --valence-coachmark-indicator-ring-high-contrast-color: var(--valence-global-color-gray-900);
  --valence-coachmark-background-color: var(--valence-global-color-gray-50);
  --valence-coachmark-shadow-color: var(--valence-alias-dropshadow-color);
  --valence-coachmark-border-color: var(--valence-alias-border-color-dark);
  --valence-coachmark-title-text-color: var(--valence-alias-title-text-color);
  --valence-coachmark-content-text-color: var(--valence-alias-text-color);
  --valence-coachmark-step-text-color: var(--valence-alias-label-text-color);
  --valence-coachmark-min-width: var(--valence-global-dimension-size-3400);
  --valence-coachmark-max-width: var(--valence-global-dimension-size-5000);
  --valence-coachmark-padding-x: var(--valence-global-dimension-size-300);
  --valence-coachmark-padding-y: var(--valence-global-dimension-size-300);
  --valence-coachmark-border-radius: var(--valence-global-dimension-size-50);
  --valence-coachmark-title-margin-bottom: var(--valence-global-dimension-size-200);
  --valence-coachmark-content-margin-bottom: var(--valence-global-dimension-size-200);
  --valence-coachmark-indicator-gap: var(--valence-global-dimension-size-75);
  --valence-coachmark-step-margin-left: var(--valence-global-dimension-size-200);
  --valence-coachmark-border-size: var(--valence-alias-border-size-thin);
  --valence-coachmark-title-text-size: var(--valence-global-dimension-font-size-200);
  --valence-coachmark-title-text-font-weight: var(--valence-global-font-weight-bold);
  --valence-coachmark-title-text-line-height: var(--valence-alias-heading-text-line-height);
  --valence-coachmark-content-text-size: var(--valence-global-dimension-font-size-100);
  --valence-coachmark-content-text-font-weight: var(--valence-global-font-weight-regular);
  --valence-coachmark-content-text-line-height: var(--valence-alias-body-text-line-height);
  --valence-coachmark-step-text-size: var(--valence-global-dimension-font-size-100);
  --valence-coachmark-step-text-font-weight: var(--valence-global-font-weight-regular);
  --valence-coachmark-step-text-line-height: var(--valence-alias-body-text-line-height);
  --valence-coachmark-indicator-ring-border-size: var(--valence-global-dimension-static-size-25);
  --valence-coachmark-animation-indicator-ring-duration: 3000ms;
  --valence-coachmark-animation-indicator-ring-ease: var(--valence-global-animation-linear);
  --valence-coachmark-animation-inticator-ring-outer-delay-multiple: -1;
  --valence-coachmark-animation-indicator-keyframe-0-opacity: 0;
  --valence-coachmark-animation-indicator-keyframe-50-scale: 1.5;
  --valence-coachmark-animation-indicator-keyframe-50-opacity: 1;
  --valence-coachmark-animation-indicator-keyframe-100-scale: 2;
  --valence-coachmark-animation-indicator-keyframe-100-opacity: 0;
  --valence-coachmark-shadow-blur: var(--valence-alias-dropshadow-blur);
  --valence-coachmark-shadow-offset-y: var(--valence-alias-dropshadow-offset-y);
  --valence-coachmark-indicator-ring-diameter: var(--valence-global-dimension-size-200);
  --valence-coachmark-animation-inticator-ring-inner-delay-multiple: -0.5;
  --valence-coachmark-animation-inticator-ring-center-delay-multiple: -0.66;
  --valence-coachmark-animation-indicator-keyframe-0-scale: 1;
  --valence-coachmark-indicator-entry-animation-delay: 0ms;
  --valence-coachmark-indicator-entry-animation-duration: var(--valence-global-animation-duration-800);
  --valence-coachmark-indicator-entry-animation-ease: var(--valence-global-animation-ease-out);
  --valence-coachmark-indicator-entry-animation-properties: opacity;
  --valence-coachmark-entry-animation-delay: var(--valence-global-animation-duration-300);
  --valence-coachmark-entry-animation-duration: var(--valence-global-animation-duration-400);
  --valence-coachmark-entry-animation-distance: var(--valence-global-dimension-size-75);
  --valence-coachmark-entry-animation-ease: var(--valence-global-animation-ease-out);
  --valence-coachmark-entry-animation-properties: opacity, distance;
  --valence-coachmark-indicator-exit-animation-delay: 0ms;
  --valence-coachmark-indicator-exit-animation-duration: var(--valence-global-animation-duration-800);
  --valence-coachmark-indicator-exit-animation-ease: var(--valence-global-animation-ease-in);
  --valence-coachmark-indicator-exit-animation-properties: opacity;
  --valence-coachmark-exit-animation-delay: var(--valence-global-animation-duration-100);
  --valence-coachmark-exit-animation-duration: var(--valence-global-animation-duration-100);
  --valence-coachmark-exit-animation-distance: var(--valence-global-dimension-size-75);
  --valence-coachmark-exit-animation-ease: var(--valence-global-animation-ease-in);
  --valence-coachmark-exit-animation-properties: opacity, distance;
  --valence-coachmark-quiet-indicator-ring-default-color: var(--valence-alias-focus-color);
  --valence-coachmark-quiet-indicator-ring-low-contrast-color: var(--valence-global-color-gray-50);
  --valence-coachmark-quiet-indicator-ring-high-contrast-color: var(--valence-global-color-gray-900);
  --valence-coachmark-quiet-background-color: var(--valence-global-color-gray-50);
  --valence-coachmark-quiet-shadow-color: var(--valence-alias-dropshadow-color);
  --valence-coachmark-quiet-border-color: var(--valence-alias-border-color-dark);
  --valence-coachmark-quiet-title-text-color: var(--valence-alias-title-text-color);
  --valence-coachmark-quiet-content-text-color: var(--valence-alias-text-color);
  --valence-coachmark-quiet-step-text-color: var(--valence-alias-label-text-color);
  --valence-coachmark-quiet-min-width: var(--valence-global-dimension-size-3400);
  --valence-coachmark-quiet-max-width: var(--valence-global-dimension-size-5000);
  --valence-coachmark-quiet-padding-x: var(--valence-global-dimension-size-300);
  --valence-coachmark-quiet-padding-y: var(--valence-global-dimension-size-300);
  --valence-coachmark-quiet-border-radius: var(--valence-global-dimension-size-50);
  --valence-coachmark-quiet-title-margin-bottom: var(--valence-global-dimension-size-200);
  --valence-coachmark-quiet-content-margin-bottom: var(--valence-global-dimension-size-200);
  --valence-coachmark-quiet-indicator-gap: var(--valence-global-dimension-size-75);
  --valence-coachmark-quiet-step-margin-left: var(--valence-global-dimension-size-200);
  --valence-coachmark-quiet-border-size: var(--valence-alias-border-size-thin);
  --valence-coachmark-quiet-title-text-size: var(--valence-global-dimension-font-size-200);
  --valence-coachmark-quiet-title-text-font-weight: var(--valence-global-font-weight-bold);
  --valence-coachmark-quiet-title-text-line-height: var(--valence-alias-heading-text-line-height);
  --valence-coachmark-quiet-content-text-size: var(--valence-global-dimension-font-size-100);
  --valence-coachmark-quiet-content-text-font-weight: var(--valence-global-font-weight-regular);
  --valence-coachmark-quiet-content-text-line-height: var(--valence-alias-body-text-line-height);
  --valence-coachmark-quiet-step-text-size: var(--valence-global-dimension-font-size-100);
  --valence-coachmark-quiet-step-text-font-weight: var(--valence-global-font-weight-regular);
  --valence-coachmark-quiet-step-text-line-height: var(--valence-alias-body-text-line-height);
  --valence-coachmark-quiet-indicator-ring-border-size: var(--valence-global-dimension-static-size-25);
  --valence-coachmark-quiet-animation-indicator-ring-duration: 3000ms;
  --valence-coachmark-quiet-animation-indicator-ring-ease: var(--valence-global-animation-linear);
  --valence-coachmark-quiet-animation-inticator-ring-outer-delay-multiple: -1;
  --valence-coachmark-quiet-animation-indicator-keyframe-0-opacity: 0;
  --valence-coachmark-quiet-animation-indicator-keyframe-50-scale: 1.5;
  --valence-coachmark-quiet-animation-indicator-keyframe-50-opacity: 1;
  --valence-coachmark-quiet-animation-indicator-keyframe-100-scale: 2;
  --valence-coachmark-quiet-animation-indicator-keyframe-100-opacity: 0;
  --valence-coachmark-quiet-shadow-blur: var(--valence-alias-dropshadow-blur);
  --valence-coachmark-quiet-shadow-offset-y: var(--valence-alias-dropshadow-offset-y);
  --valence-coachmark-quiet-indicator-ring-diameter: var(--valence-global-dimension-size-100);
  --valence-coachmark-quiet-animation-inticator-ring-center-delay-multiple: -0.66;
  --valence-coachmark-quiet-animation-inticator-ring-inner-delay-multiple: -0.33;
  --valence-coachmark-quiet-animation-indicator-keyframe-0-scale: 0.8;
  --valence-coachmark-quiet-indicator-entry-animation-delay: 0ms;
  --valence-coachmark-quiet-indicator-entry-animation-duration: var(--valence-global-animation-duration-800);
  --valence-coachmark-quiet-indicator-entry-animation-ease: var(--valence-global-animation-ease-out);
  --valence-coachmark-quiet-indicator-entry-animation-properties: opacity;
  --valence-coachmark-quiet-entry-animation-delay: var(--valence-global-animation-duration-300);
  --valence-coachmark-quiet-entry-animation-duration: var(--valence-global-animation-duration-400);
  --valence-coachmark-quiet-entry-animation-distance: var(--valence-global-dimension-size-75);
  --valence-coachmark-quiet-entry-animation-ease: var(--valence-global-animation-ease-out);
  --valence-coachmark-quiet-entry-animation-properties: opacity, distance;
  --valence-coachmark-quiet-indicator-exit-animation-delay: 0ms;
  --valence-coachmark-quiet-indicator-exit-animation-duration: var(--valence-global-animation-duration-800);
  --valence-coachmark-quiet-indicator-exit-animation-ease: var(--valence-global-animation-ease-in);
  --valence-coachmark-quiet-indicator-exit-animation-properties: opacity;
  --valence-coachmark-quiet-exit-animation-delay: var(--valence-global-animation-duration-100);
  --valence-coachmark-quiet-exit-animation-duration: var(--valence-global-animation-duration-100);
  --valence-coachmark-quiet-exit-animation-distance: var(--valence-global-dimension-size-75);
  --valence-coachmark-quiet-exit-animation-ease: var(--valence-global-animation-ease-in);
  --valence-coachmark-quiet-exit-animation-properties: opacity, distance;
}
