.theme {
  --valence-subheading-article-text-color: var(--valence-alias-heading-text-color);
  --valence-subheading-article-text-font-family: var(--valence-alias-article-text-font-family);
  --valence-subheading-article-text-font-style: var(--valence-global-font-style-regular);
  --valence-subheading-article-text-font-weight: var(--valence-alias-article-subheading-text-font-weight);
  --valence-subheading-article-text-line-height: var(--valence-alias-heading-text-line-height);
  --valence-subheading-article-text-letter-spacing: var(--valence-global-font-letter-spacing-small);
  --valence-subheading-article-text-transform: none;
  --valence-subheading-article-margin-bottom-multiplier: var(--valence-alias-heading-margin-bottom);
  --valence-subheading-article-text-size: var(--valence-global-dimension-font-size-50);
  --valence-subheading-article-margin-top: var(--valence-global-dimension-font-size-75);
  --valence-subheading-article-margin-bottom: var(--valence-global-dimension-size-40);
  --valence-subheading-article-emphasis-text-color: var(--valence-alias-heading-text-color);
  --valence-subheading-article-emphasis-text-font-family: var(--valence-alias-article-text-font-family);
  --valence-subheading-article-emphasis-text-font-style: var(--valence-global-font-style-italic);
  --valence-subheading-article-emphasis-text-font-weight: var(--valence-alias-article-subheading-text-font-weight);
  --valence-subheading-article-emphasis-text-line-height: var(--valence-alias-heading-text-line-height);
  --valence-subheading-article-emphasis-text-letter-spacing: var(--valence-global-font-letter-spacing-small);
  --valence-subheading-article-emphasis-text-transform: none;
  --valence-subheading-article-emphasis-margin-bottom-multiplier: var(--valence-alias-heading-margin-bottom);
  --valence-subheading-article-emphasis-text-size: var(--valence-global-dimension-font-size-50);
  --valence-subheading-article-emphasis-margin-top: var(--valence-global-dimension-font-size-75);
  --valence-subheading-article-emphasis-margin-bottom: var(--valence-global-dimension-size-40);
  --valence-subheading-article-strong-text-color: var(--valence-alias-heading-text-color);
  --valence-subheading-article-strong-text-font-family: var(--valence-alias-article-text-font-family);
  --valence-subheading-article-strong-text-font-style: var(--valence-global-font-style-regular);
  --valence-subheading-article-strong-text-font-weight: var(--valence-alias-article-subheading-text-font-weight-strong);
  --valence-subheading-article-strong-text-line-height: var(--valence-alias-heading-text-line-height);
  --valence-subheading-article-strong-text-letter-spacing: var(--valence-global-font-letter-spacing-small);
  --valence-subheading-article-strong-text-transform: none;
  --valence-subheading-article-strong-margin-bottom-multiplier: var(--valence-alias-heading-margin-bottom);
  --valence-subheading-article-strong-text-size: var(--valence-global-dimension-font-size-50);
  --valence-subheading-article-strong-margin-top: var(--valence-global-dimension-font-size-75);
  --valence-subheading-article-strong-margin-bottom: var(--valence-global-dimension-size-40);
  --valence-subheading-text-color: var(--valence-alias-heading-text-color);
  --valence-subheading-text-font-family: var(--valence-alias-body-text-font-family);
  --valence-subheading-text-font-style: var(--valence-global-font-style-regular);
  --valence-subheading-text-font-weight: var(--valence-alias-subheading-text-font-weight);
  --valence-subheading-text-line-height: var(--valence-alias-heading-text-line-height);
  --valence-subheading-text-letter-spacing: var(--valence-global-font-letter-spacing-medium);
  --valence-subheading-text-transform: uppercase;
  --valence-subheading-margin-bottom-multiplier: var(--valence-alias-heading-margin-bottom);
  --valence-subheading-text-size: var(--valence-global-dimension-font-size-50);
  --valence-subheading-margin-top: var(--valence-global-dimension-font-size-75);
  --valence-subheading-margin-bottom: var(--valence-global-dimension-size-40);
  --valence-subheading-emphasis-text-color: var(--valence-alias-heading-text-color);
  --valence-subheading-emphasis-text-font-family: var(--valence-alias-body-text-font-family);
  --valence-subheading-emphasis-text-font-style: var(--valence-global-font-style-italic);
  --valence-subheading-emphasis-text-font-weight: var(--valence-alias-subheading-text-font-weight);
  --valence-subheading-emphasis-text-line-height: var(--valence-alias-heading-text-line-height);
  --valence-subheading-emphasis-text-letter-spacing: var(--valence-global-font-letter-spacing-medium);
  --valence-subheading-emphasis-text-transform: uppercase;
  --valence-subheading-emphasis-margin-bottom-multiplier: var(--valence-alias-heading-margin-bottom);
  --valence-subheading-emphasis-text-size: var(--valence-global-dimension-font-size-50);
  --valence-subheading-emphasis-margin-top: var(--valence-global-dimension-font-size-75);
  --valence-subheading-emphasis-margin-bottom: var(--valence-global-dimension-size-40);
  --valence-subheading-strong-text-color: var(--valence-alias-heading-text-color);
  --valence-subheading-strong-text-font-family: var(--valence-alias-body-text-font-family);
  --valence-subheading-strong-text-font-style: var(--valence-global-font-style-regular);
  --valence-subheading-strong-text-font-weight: var(--valence-alias-subheading-text-font-weight-strong);
  --valence-subheading-strong-text-line-height: var(--valence-alias-heading-text-line-height);
  --valence-subheading-strong-text-letter-spacing: var(--valence-global-font-letter-spacing-medium);
  --valence-subheading-strong-text-transform: uppercase;
  --valence-subheading-strong-margin-bottom-multiplier: var(--valence-alias-heading-margin-bottom);
  --valence-subheading-strong-text-size: var(--valence-global-dimension-font-size-50);
  --valence-subheading-strong-margin-top: var(--valence-global-dimension-font-size-75);
  --valence-subheading-strong-margin-bottom: var(--valence-global-dimension-size-40);
  --valence-subheading-han-text-color: var(--valence-alias-heading-text-color);
  --valence-subheading-han-text-font-family: var(--valence-alias-font-family-zh);
  --valence-subheading-han-text-font-style: var(--valence-global-font-style-regular);
  --valence-subheading-han-text-font-weight: var(--valence-alias-han-heading-text-font-weight-regular);
  --valence-subheading-han-text-line-height: var(--valence-alias-heading-han-text-line-height);
  --valence-subheading-han-text-letter-spacing: var(--valence-global-font-letter-spacing-han);
  --valence-subheading-han-text-transform: none;
  --valence-subheading-han-margin-bottom-multiplier: var(--valence-alias-heading-margin-bottom);
  --valence-subheading-han-text-size: var(--valence-global-dimension-font-size-50);
  --valence-subheading-han-margin-top: var(--valence-global-dimension-font-size-75);
  --valence-subheading-han-margin-bottom: var(--valence-global-dimension-size-40);
  --valence-subheading-han-emphasis-text-color: var(--valence-alias-heading-text-color);
  --valence-subheading-han-emphasis-text-font-family: var(--valence-alias-font-family-zh);
  --valence-subheading-han-emphasis-text-font-style: var(--valence-global-font-style-regular);
  --valence-subheading-han-emphasis-text-font-weight: var(--valence-alias-han-subheading-text-font-weight-emphasis);
  --valence-subheading-han-emphasis-text-line-height: var(--valence-alias-heading-han-text-line-height);
  --valence-subheading-han-emphasis-text-letter-spacing: var(--valence-global-font-letter-spacing-han);
  --valence-subheading-han-emphasis-text-transform: none;
  --valence-subheading-han-emphasis-margin-bottom-multiplier: var(--valence-alias-heading-margin-bottom);
  --valence-subheading-han-emphasis-text-size: var(--valence-global-dimension-font-size-50);
  --valence-subheading-han-emphasis-margin-top: var(--valence-global-dimension-font-size-75);
  --valence-subheading-han-emphasis-margin-bottom: var(--valence-global-dimension-size-40);
  --valence-subheading-han-strong-text-color: var(--valence-alias-heading-text-color);
  --valence-subheading-han-strong-text-font-family: var(--valence-alias-font-family-zh);
  --valence-subheading-han-strong-text-font-style: var(--valence-global-font-style-regular);
  --valence-subheading-han-strong-text-font-weight: var(--valence-alias-han-subheading-text-font-weight-strong);
  --valence-subheading-han-strong-text-line-height: var(--valence-alias-heading-han-text-line-height);
  --valence-subheading-han-strong-text-letter-spacing: var(--valence-global-font-letter-spacing-han);
  --valence-subheading-han-strong-text-transform: none;
  --valence-subheading-han-strong-margin-bottom-multiplier: var(--valence-alias-heading-margin-bottom);
  --valence-subheading-han-strong-text-size: var(--valence-global-dimension-font-size-50);
  --valence-subheading-han-strong-margin-top: var(--valence-global-dimension-font-size-75);
  --valence-subheading-han-strong-margin-bottom: var(--valence-global-dimension-size-40);
}
