.theme {
  --valence-switch-text-color: var(--valence-alias-text-color);
  --valence-switch-handle-border-color: var(--valence-global-color-gray-600);
  --valence-switch-handle-background-color: var(--valence-global-color-gray-75);
  --valence-switch-handle-border-size: var(--valence-alias-border-size-thick);
  --valence-switch-track-color: var(--valence-global-color-gray-300);
  --valence-switch-text-gap: var(--valence-global-dimension-size-125);
  --valence-switch-text-color-hover: var(--valence-alias-text-color-hover);
  --valence-switch-handle-border-color-hover: var(--valence-global-color-gray-700);
  --valence-switch-handle-background-color-hover: var(--valence-global-color-gray-75);
  --valence-switch-handle-border-size-hover: var(--valence-alias-border-size-thick);
  --valence-switch-track-color-hover: var(--valence-global-color-gray-300);
  --valence-switch-text-gap-hover: var(--valence-global-dimension-size-125);
  --valence-switch-text-color-down: var(--valence-alias-text-color-down);
  --valence-switch-handle-border-color-down: var(--valence-global-color-gray-800);
  --valence-switch-handle-background-color-down: var(--valence-global-color-gray-75);
  --valence-switch-handle-border-size-down: var(--valence-alias-border-size-thick);
  --valence-switch-track-color-down: var(--valence-global-color-gray-300);
  --valence-switch-text-gap-down: var(--valence-global-dimension-size-125);
  --valence-switch-text-color-key-focus: var(--valence-alias-text-color-hover);
  --valence-switch-handle-border-color-key-focus: var(--valence-global-color-gray-700);
  --valence-switch-handle-background-color-key-focus: var(--valence-global-color-gray-75);
  --valence-switch-handle-border-size-key-focus: var(--valence-alias-border-size-thick);
  --valence-switch-track-color-key-focus: var(--valence-global-color-gray-300);
  --valence-switch-focus-ring-gap-key-focus: var(--valence-alias-focus-ring-gap);
  --valence-switch-focus-ring-size-key-focus: var(--valence-alias-focus-ring-size);
  --valence-switch-focus-ring-color-key-focus: var(--valence-alias-focus-ring-color);
  --valence-switch-text-color-disabled: var(--valence-alias-text-color-disabled);
  --valence-switch-handle-border-color-disabled: var(--valence-global-color-gray-400);
  --valence-switch-handle-background-color-disabled: var(--valence-global-color-gray-75);
  --valence-switch-handle-border-size-disabled: var(--valence-alias-border-size-thick);
  --valence-switch-track-color-disabled: var(--valence-global-color-gray-300);
  --valence-switch-text-gap-disabled: var(--valence-global-dimension-size-125);
  --valence-switch-text-color-selected: var(--valence-alias-text-color);
  --valence-switch-handle-border-color-selected: var(--valence-global-color-gray-700);
  --valence-switch-handle-background-color-selected: var(--valence-global-color-gray-75);
  --valence-switch-handle-border-size-selected: var(--valence-alias-border-size-thick);
  --valence-switch-track-color-selected: var(--valence-global-color-gray-700);
  --valence-switch-text-gap-selected: var(--valence-global-dimension-size-125);
  --valence-switch-text-color-selected-hover: var(--valence-alias-text-color-hover);
  --valence-switch-handle-border-color-selected-hover: var(--valence-global-color-gray-800);
  --valence-switch-handle-background-color-selected-hover: var(--valence-global-color-gray-75);
  --valence-switch-handle-border-size-selected-hover: var(--valence-alias-border-size-thick);
  --valence-switch-track-color-selected-hover: var(--valence-global-color-gray-800);
  --valence-switch-text-gap-selected-hover: var(--valence-global-dimension-size-125);
  --valence-switch-text-color-selected-down: var(--valence-alias-text-color-down);
  --valence-switch-handle-border-color-selected-down: var(--valence-global-color-gray-900);
  --valence-switch-handle-background-color-selected-down: var(--valence-global-color-gray-75);
  --valence-switch-handle-border-size-selected-down: var(--valence-alias-border-size-thick);
  --valence-switch-track-color-selected-down: var(--valence-global-color-gray-900);
  --valence-switch-text-gap-selected-down: var(--valence-global-dimension-size-125);
  --valence-switch-text-color-selected-key-focus: var(--valence-alias-text-color-hover);
  --valence-switch-handle-border-color-selected-key-focus: var(--valence-global-color-gray-800);
  --valence-switch-handle-background-color-selected-key-focus: var(--valence-global-color-gray-75);
  --valence-switch-handle-border-size-selected-key-focus: var(--valence-alias-border-size-thick);
  --valence-switch-track-color-selected-key-focus: var(--valence-global-color-gray-800);
  --valence-switch-focus-ring-gap-selected-key-focus: var(--valence-alias-focus-ring-gap);
  --valence-switch-focus-ring-size-selected-key-focus: var(--valence-alias-focus-ring-size);
  --valence-switch-focus-ring-color-selected-key-focus: var(--valence-alias-focus-ring-color);
  --valence-switch-text-color-selected-disabled: var(--valence-alias-text-color-disabled);
  --valence-switch-track-color-selected-disabled: var(--valence-global-color-gray-400);
  --valence-switch-handle-border-size-selected-disabled: var(--valence-alias-border-size-thick);
  --valence-switch-handle-border-color-selected-disabled: var(--valence-global-color-gray-400);
  --valence-switch-handle-background-color-selected-disabled: var(--valence-global-color-gray-75);
  --valence-switch-text-gap-selected-disabled: var(--valence-global-dimension-size-125);
  --valence-switch-text-color-error: var(--valence-global-color-red-600);
  --valence-switch-track-color-error: var(--valence-global-color-red-500);
  --valence-switch-handle-border-size-error: var(--valence-alias-border-size-thick);
  --valence-switch-handle-border-color-error: var(--valence-global-color-red-500);
  --valence-switch-handle-background-color-error: var(--valence-global-color-gray-75);
  --valence-switch-text-gap-error: var(--valence-global-dimension-size-125);
  --valence-switch-text-color-error-hover: var(--valence-global-color-red-700);
  --valence-switch-track-color-error-hover: var(--valence-global-color-red-600);
  --valence-switch-handle-border-size-error-hover: var(--valence-alias-border-size-thick);
  --valence-switch-handle-border-color-error-hover: var(--valence-global-color-red-600);
  --valence-switch-handle-background-color-error-hover: var(--valence-global-color-gray-75);
  --valence-switch-text-gap-error-hover: var(--valence-global-dimension-size-125);
  --valence-switch-text-color-error-down: var(--valence-global-color-red-700);
  --valence-switch-track-color-error-down: var(--valence-global-color-red-700);
  --valence-switch-handle-border-size-error-down: var(--valence-alias-border-size-thick);
  --valence-switch-handle-border-color-error-down: var(--valence-global-color-red-700);
  --valence-switch-handle-background-color-error-down: var(--valence-global-color-gray-75);
  --valence-switch-text-gap-error-down: var(--valence-global-dimension-size-125);
  --valence-switch-text-color-error-key-focus: var(--valence-global-color-blue-600);
  --valence-switch-track-color-error-key-focus: var(--valence-global-color-red-600);
  --valence-switch-handle-border-size-error-key-focus: var(--valence-alias-border-size-thick);
  --valence-switch-handle-border-color-error-key-focus: var(--valence-global-color-red-600);
  --valence-switch-handle-background-color-error-key-focus: var(--valence-global-color-gray-75);
  --valence-switch-focus-ring-gap-error-key-focus: var(--valence-alias-focus-ring-gap);
  --valence-switch-focus-ring-size-error-key-focus: var(--valence-alias-focus-ring-size);
  --valence-switch-focus-ring-color-error-key-focus: var(--valence-alias-focus-ring-color);
  --valence-switch-text-color-error-disabled: var(--valence-alias-text-color-disabled);
  --valence-switch-handle-border-color-error-disabled: var(--valence-global-color-gray-400);
  --valence-switch-handle-background-color-error-disabled: var(--valence-global-color-gray-75);
  --valence-switch-handle-border-size-error-disabled: var(--valence-alias-border-size-thick);
  --valence-switch-track-color-error-disabled: var(--valence-global-color-gray-300);
  --valence-switch-text-gap-error-disabled: var(--valence-global-dimension-size-125);
  --valence-switch-text-color-error-selected: var(--valence-global-color-red-600);
  --valence-switch-track-color-error-selected: var(--valence-global-color-red-500);
  --valence-switch-handle-border-size-error-selected: var(--valence-alias-border-size-thick);
  --valence-switch-handle-border-color-error-selected: var(--valence-global-color-red-500);
  --valence-switch-handle-background-color-error-selected: var(--valence-global-color-gray-75);
  --valence-switch-text-gap-error-selected: var(--valence-global-dimension-size-125);
  --valence-switch-text-color-error-selected-hover: var(--valence-global-color-red-700);
  --valence-switch-track-color-error-selected-hover: var(--valence-global-color-red-600);
  --valence-switch-handle-border-size-error-selected-hover: var(--valence-alias-border-size-thick);
  --valence-switch-handle-border-color-error-selected-hover: var(--valence-global-color-red-600);
  --valence-switch-handle-background-color-error-selected-hover: var(--valence-global-color-gray-75);
  --valence-switch-text-gap-error-selected-hover: var(--valence-global-dimension-size-125);
  --valence-switch-text-color-error-selected-down: var(--valence-global-color-red-700);
  --valence-switch-track-color-error-selected-down: var(--valence-global-color-red-700);
  --valence-switch-handle-border-size-error-selected-down: var(--valence-alias-border-size-thick);
  --valence-switch-handle-border-color-error-selected-down: var(--valence-global-color-red-700);
  --valence-switch-handle-background-color-error-selected-down: var(--valence-global-color-gray-75);
  --valence-switch-text-gap-error-selected-down: var(--valence-global-dimension-size-125);
  --valence-switch-text-color-error-selected-key-focus: var(--valence-global-color-blue-600);
  --valence-switch-track-color-error-selected-key-focus: var(--valence-global-color-red-600);
  --valence-switch-handle-border-size-error-selected-key-focus: var(--valence-alias-border-size-thick);
  --valence-switch-handle-border-color-error-selected-key-focus: var(--valence-global-color-red-600);
  --valence-switch-handle-background-color-error-selected-key-focus: var(--valence-global-color-gray-75);
  --valence-switch-focus-ring-gap-error-selected-key-focus: var(--valence-alias-focus-ring-gap);
  --valence-switch-focus-ring-size-error-selected-key-focus: var(--valence-alias-focus-ring-size);
  --valence-switch-focus-ring-color-error-selected-key-focus: var(--valence-alias-focus-ring-color);
  --valence-switch-text-color-error-selected-disabled: var(--valence-alias-text-color-disabled);
  --valence-switch-track-color-error-selected-disabled: var(--valence-global-color-gray-400);
  --valence-switch-handle-border-size-error-selected-disabled: var(--valence-alias-border-size-thick);
  --valence-switch-handle-border-color-error-selected-disabled: var(--valence-global-color-gray-400);
  --valence-switch-handle-background-color-error-selected-disabled: var(--valence-global-color-gray-75);
  --valence-switch-text-gap-error-selected-disabled: var(--valence-global-dimension-size-125);
  --valence-switch-track-color-disabled-selected: var(--valence-global-color-gray-400);
  --valence-switch-text-font-family: var(--valence-alias-body-text-font-family);
  --valence-switch-text-font-style: var(--valence-global-font-style-regular);
  --valence-switch-text-font-weight: var(--valence-global-font-weight-regular);
  --valence-switch-text-line-height: var(--valence-alias-body-text-line-height);
  --valence-switch-text-letter-spacing: var(--valence-global-font-letter-spacing-none);
  --valence-switch-text-transform: none;
  --valence-switch-text-size: var(--valence-alias-font-size-default);
  --valence-switch-handle-size: var(--valence-global-dimension-size-175);
  --valence-switch-track-height: var(--valence-global-dimension-size-175);
  --valence-switch-height: var(--valence-global-dimension-size-400);
  --valence-switch-text-baseline: var(--valence-global-dimension-font-size-75);
  --valence-switch-cursor-hit-x: var(--valence-global-dimension-size-100);
  --valence-switch-touch-hit-x: var(--valence-global-dimension-size-100);
  --valence-switch-emphasized-text-color: var(--valence-alias-text-color);
  --valence-switch-emphasized-handle-border-color: var(--valence-global-color-gray-600);
  --valence-switch-emphasized-handle-background-color: var(--valence-global-color-gray-75);
  --valence-switch-emphasized-handle-border-size: var(--valence-alias-border-size-thick);
  --valence-switch-emphasized-track-color: var(--valence-global-color-gray-300);
  --valence-switch-emphasized-text-gap: var(--valence-global-dimension-size-125);
  --valence-switch-emphasized-text-color-hover: var(--valence-alias-text-color-hover);
  --valence-switch-emphasized-handle-border-color-hover: var(--valence-global-color-gray-700);
  --valence-switch-emphasized-handle-background-color-hover: var(--valence-global-color-gray-75);
  --valence-switch-emphasized-handle-border-size-hover: var(--valence-alias-border-size-thick);
  --valence-switch-emphasized-track-color-hover: var(--valence-global-color-gray-300);
  --valence-switch-emphasized-text-gap-hover: var(--valence-global-dimension-size-125);
  --valence-switch-emphasized-text-color-down: var(--valence-alias-text-color-down);
  --valence-switch-emphasized-handle-border-color-down: var(--valence-global-color-gray-800);
  --valence-switch-emphasized-handle-background-color-down: var(--valence-global-color-gray-75);
  --valence-switch-emphasized-handle-border-size-down: var(--valence-alias-border-size-thick);
  --valence-switch-emphasized-track-color-down: var(--valence-global-color-gray-300);
  --valence-switch-emphasized-text-gap-down: var(--valence-global-dimension-size-125);
  --valence-switch-emphasized-text-color-key-focus: var(--valence-alias-text-color-hover);
  --valence-switch-emphasized-handle-border-color-key-focus: var(--valence-global-color-gray-700);
  --valence-switch-emphasized-handle-background-color-key-focus: var(--valence-global-color-gray-75);
  --valence-switch-emphasized-handle-border-size-key-focus: var(--valence-alias-border-size-thick);
  --valence-switch-emphasized-track-color-key-focus: var(--valence-global-color-gray-300);
  --valence-switch-emphasized-focus-ring-gap-key-focus: var(--valence-alias-focus-ring-gap);
  --valence-switch-emphasized-focus-ring-size-key-focus: var(--valence-alias-focus-ring-size);
  --valence-switch-emphasized-focus-ring-color-key-focus: var(--valence-alias-focus-ring-color);
  --valence-switch-emphasized-text-color-disabled: var(--valence-alias-text-color-disabled);
  --valence-switch-emphasized-handle-border-color-disabled: var(--valence-global-color-gray-400);
  --valence-switch-emphasized-handle-background-color-disabled: var(--valence-global-color-gray-75);
  --valence-switch-emphasized-handle-border-size-disabled: var(--valence-alias-border-size-thick);
  --valence-switch-emphasized-track-color-disabled: var(--valence-global-color-gray-300);
  --valence-switch-emphasized-text-gap-disabled: var(--valence-global-dimension-size-125);
  --valence-switch-emphasized-text-color-selected: var(--valence-alias-text-color);
  --valence-switch-emphasized-handle-border-color-selected: var(--valence-global-color-blue-500);
  --valence-switch-emphasized-handle-background-color-selected: var(--valence-global-color-gray-75);
  --valence-switch-emphasized-handle-border-size-selected: var(--valence-alias-border-size-thick);
  --valence-switch-emphasized-track-color-selected: var(--valence-global-color-blue-500);
  --valence-switch-emphasized-text-gap-selected: var(--valence-global-dimension-size-125);
  --valence-switch-emphasized-text-color-selected-hover: var(--valence-alias-text-color-hover);
  --valence-switch-emphasized-handle-border-color-selected-hover: var(--valence-global-color-blue-600);
  --valence-switch-emphasized-handle-background-color-selected-hover: var(--valence-global-color-gray-75);
  --valence-switch-emphasized-handle-border-size-selected-hover: var(--valence-alias-border-size-thick);
  --valence-switch-emphasized-track-color-selected-hover: var(--valence-global-color-blue-600);
  --valence-switch-emphasized-text-gap-selected-hover: var(--valence-global-dimension-size-125);
  --valence-switch-emphasized-text-color-selected-down: var(--valence-alias-text-color-down);
  --valence-switch-emphasized-handle-border-color-selected-down: var(--valence-global-color-blue-700);
  --valence-switch-emphasized-handle-background-color-selected-down: var(--valence-global-color-gray-75);
  --valence-switch-emphasized-handle-border-size-selected-down: var(--valence-alias-border-size-thick);
  --valence-switch-emphasized-track-color-selected-down: var(--valence-global-color-blue-700);
  --valence-switch-emphasized-text-gap-selected-down: var(--valence-global-dimension-size-125);
  --valence-switch-emphasized-text-color-selected-key-focus: var(--valence-alias-text-color-hover);
  --valence-switch-emphasized-handle-border-color-selected-key-focus: var(--valence-global-color-blue-600);
  --valence-switch-emphasized-handle-background-color-selected-key-focus: var(--valence-global-color-gray-75);
  --valence-switch-emphasized-handle-border-size-selected-key-focus: var(--valence-alias-border-size-thick);
  --valence-switch-emphasized-track-color-selected-key-focus: var(--valence-global-color-blue-600);
  --valence-switch-emphasized-focus-ring-gap-selected-key-focus: var(--valence-alias-focus-ring-gap);
  --valence-switch-emphasized-focus-ring-size-selected-key-focus: var(--valence-alias-focus-ring-size);
  --valence-switch-emphasized-focus-ring-color-selected-key-focus: var(--valence-alias-focus-ring-color);
  --valence-switch-emphasized-text-color-selected-disabled: var(--valence-alias-text-color-disabled);
  --valence-switch-emphasized-track-color-selected-disabled: var(--valence-global-color-gray-400);
  --valence-switch-emphasized-handle-border-size-selected-disabled: var(--valence-alias-border-size-thick);
  --valence-switch-emphasized-handle-border-color-selected-disabled: var(--valence-global-color-gray-400);
  --valence-switch-emphasized-handle-background-color-selected-disabled: var(--valence-global-color-gray-75);
  --valence-switch-emphasized-text-gap-selected-disabled: var(--valence-global-dimension-size-125);
  --valence-switch-emphasized-text-color-error: var(--valence-global-color-red-600);
  --valence-switch-emphasized-track-color-error: var(--valence-global-color-red-500);
  --valence-switch-emphasized-handle-border-size-error: var(--valence-alias-border-size-thick);
  --valence-switch-emphasized-handle-border-color-error: var(--valence-global-color-red-500);
  --valence-switch-emphasized-handle-background-color-error: var(--valence-global-color-gray-75);
  --valence-switch-emphasized-text-gap-error: var(--valence-global-dimension-size-125);
  --valence-switch-emphasized-text-color-error-hover: var(--valence-global-color-red-700);
  --valence-switch-emphasized-track-color-error-hover: var(--valence-global-color-red-600);
  --valence-switch-emphasized-handle-border-size-error-hover: var(--valence-alias-border-size-thick);
  --valence-switch-emphasized-handle-border-color-error-hover: var(--valence-global-color-red-600);
  --valence-switch-emphasized-handle-background-color-error-hover: var(--valence-global-color-gray-75);
  --valence-switch-emphasized-text-gap-error-hover: var(--valence-global-dimension-size-125);
  --valence-switch-emphasized-text-color-error-down: var(--valence-global-color-red-700);
  --valence-switch-emphasized-track-color-error-down: var(--valence-global-color-red-700);
  --valence-switch-emphasized-handle-border-size-error-down: var(--valence-alias-border-size-thick);
  --valence-switch-emphasized-handle-border-color-error-down: var(--valence-global-color-red-700);
  --valence-switch-emphasized-handle-background-color-error-down: var(--valence-global-color-gray-75);
  --valence-switch-emphasized-text-gap-error-down: var(--valence-global-dimension-size-125);
  --valence-switch-emphasized-text-color-error-key-focus: var(--valence-global-color-blue-600);
  --valence-switch-emphasized-track-color-error-key-focus: var(--valence-global-color-red-600);
  --valence-switch-emphasized-handle-border-size-error-key-focus: var(--valence-alias-border-size-thick);
  --valence-switch-emphasized-handle-border-color-error-key-focus: var(--valence-global-color-red-600);
  --valence-switch-emphasized-handle-background-color-error-key-focus: var(--valence-global-color-gray-75);
  --valence-switch-emphasized-focus-ring-gap-error-key-focus: var(--valence-alias-focus-ring-gap);
  --valence-switch-emphasized-focus-ring-size-error-key-focus: var(--valence-alias-focus-ring-size);
  --valence-switch-emphasized-focus-ring-color-error-key-focus: var(--valence-alias-focus-ring-color);
  --valence-switch-emphasized-text-color-error-disabled: var(--valence-alias-text-color-disabled);
  --valence-switch-emphasized-handle-border-color-error-disabled: var(--valence-global-color-gray-400);
  --valence-switch-emphasized-handle-background-color-error-disabled: var(--valence-global-color-gray-75);
  --valence-switch-emphasized-handle-border-size-error-disabled: var(--valence-alias-border-size-thick);
  --valence-switch-emphasized-track-color-error-disabled: var(--valence-global-color-gray-300);
  --valence-switch-emphasized-text-gap-error-disabled: var(--valence-global-dimension-size-125);
  --valence-switch-emphasized-text-color-error-selected: var(--valence-global-color-red-600);
  --valence-switch-emphasized-track-color-error-selected: var(--valence-global-color-red-500);
  --valence-switch-emphasized-handle-border-size-error-selected: var(--valence-alias-border-size-thick);
  --valence-switch-emphasized-handle-border-color-error-selected: var(--valence-global-color-red-500);
  --valence-switch-emphasized-handle-background-color-error-selected: var(--valence-global-color-gray-75);
  --valence-switch-emphasized-text-gap-error-selected: var(--valence-global-dimension-size-125);
  --valence-switch-emphasized-text-color-error-selected-hover: var(--valence-global-color-red-700);
  --valence-switch-emphasized-track-color-error-selected-hover: var(--valence-global-color-red-600);
  --valence-switch-emphasized-handle-border-size-error-selected-hover: var(--valence-alias-border-size-thick);
  --valence-switch-emphasized-handle-border-color-error-selected-hover: var(--valence-global-color-red-600);
  --valence-switch-emphasized-handle-background-color-error-selected-hover: var(--valence-global-color-gray-75);
  --valence-switch-emphasized-text-gap-error-selected-hover: var(--valence-global-dimension-size-125);
  --valence-switch-emphasized-text-color-error-selected-down: var(--valence-global-color-red-700);
  --valence-switch-emphasized-track-color-error-selected-down: var(--valence-global-color-red-700);
  --valence-switch-emphasized-handle-border-size-error-selected-down: var(--valence-alias-border-size-thick);
  --valence-switch-emphasized-handle-border-color-error-selected-down: var(--valence-global-color-red-700);
  --valence-switch-emphasized-handle-background-color-error-selected-down: var(--valence-global-color-gray-75);
  --valence-switch-emphasized-text-gap-error-selected-down: var(--valence-global-dimension-size-125);
  --valence-switch-emphasized-text-color-error-selected-key-focus: var(--valence-global-color-blue-600);
  --valence-switch-emphasized-track-color-error-selected-key-focus: var(--valence-global-color-red-600);
  --valence-switch-emphasized-handle-border-size-error-selected-key-focus: var(--valence-alias-border-size-thick);
  --valence-switch-emphasized-handle-border-color-error-selected-key-focus: var(--valence-global-color-red-600);
  --valence-switch-emphasized-handle-background-color-error-selected-key-focus: var(--valence-global-color-gray-75);
  --valence-switch-emphasized-focus-ring-gap-error-selected-key-focus: var(--valence-alias-focus-ring-gap);
  --valence-switch-emphasized-focus-ring-size-error-selected-key-focus: var(--valence-alias-focus-ring-size);
  --valence-switch-emphasized-focus-ring-color-error-selected-key-focus: var(--valence-alias-focus-ring-color);
  --valence-switch-emphasized-text-color-error-selected-disabled: var(--valence-alias-text-color-disabled);
  --valence-switch-emphasized-track-color-error-selected-disabled: var(--valence-global-color-gray-400);
  --valence-switch-emphasized-handle-border-size-error-selected-disabled: var(--valence-alias-border-size-thick);
  --valence-switch-emphasized-handle-border-color-error-selected-disabled: var(--valence-global-color-gray-400);
  --valence-switch-emphasized-handle-background-color-error-selected-disabled: var(--valence-global-color-gray-75);
  --valence-switch-emphasized-text-gap-error-selected-disabled: var(--valence-global-dimension-size-125);
  --valence-switch-emphasized-track-color-disabled-selected: var(--valence-global-color-gray-400);
  --valence-switch-emphasized-text-font-family: var(--valence-alias-body-text-font-family);
  --valence-switch-emphasized-text-font-style: var(--valence-global-font-style-regular);
  --valence-switch-emphasized-text-font-weight: var(--valence-global-font-weight-regular);
  --valence-switch-emphasized-text-line-height: var(--valence-alias-body-text-line-height);
  --valence-switch-emphasized-text-letter-spacing: var(--valence-global-font-letter-spacing-none);
  --valence-switch-emphasized-text-transform: none;
  --valence-switch-emphasized-text-size: var(--valence-alias-font-size-default);
  --valence-switch-emphasized-handle-size: var(--valence-global-dimension-size-175);
  --valence-switch-emphasized-track-height: var(--valence-global-dimension-size-175);
  --valence-switch-emphasized-height: var(--valence-global-dimension-size-400);
  --valence-switch-emphasized-text-baseline: var(--valence-global-dimension-font-size-75);
  --valence-switch-emphasized-cursor-hit-x: var(--valence-global-dimension-size-100);
  --valence-switch-emphasized-touch-hit-x: var(--valence-global-dimension-size-100);
  --valence-switch-quiet-text-color: var(--valence-alias-text-color);
  --valence-switch-quiet-handle-border-color: var(--valence-global-color-gray-600);
  --valence-switch-quiet-handle-background-color: var(--valence-global-color-gray-75);
  --valence-switch-quiet-handle-border-size: var(--valence-alias-border-size-thick);
  --valence-switch-quiet-track-color: var(--valence-global-color-gray-300);
  --valence-switch-quiet-text-gap: var(--valence-global-dimension-size-125);
  --valence-switch-quiet-text-color-hover: var(--valence-alias-text-color-hover);
  --valence-switch-quiet-handle-border-color-hover: var(--valence-global-color-gray-700);
  --valence-switch-quiet-handle-background-color-hover: var(--valence-global-color-gray-75);
  --valence-switch-quiet-handle-border-size-hover: var(--valence-alias-border-size-thick);
  --valence-switch-quiet-track-color-hover: var(--valence-global-color-gray-300);
  --valence-switch-quiet-text-gap-hover: var(--valence-global-dimension-size-125);
  --valence-switch-quiet-text-color-down: var(--valence-alias-text-color-down);
  --valence-switch-quiet-handle-border-color-down: var(--valence-global-color-gray-800);
  --valence-switch-quiet-handle-background-color-down: var(--valence-global-color-gray-75);
  --valence-switch-quiet-handle-border-size-down: var(--valence-alias-border-size-thick);
  --valence-switch-quiet-track-color-down: var(--valence-global-color-gray-300);
  --valence-switch-quiet-text-gap-down: var(--valence-global-dimension-size-125);
  --valence-switch-quiet-text-color-key-focus: var(--valence-alias-text-color-hover);
  --valence-switch-quiet-handle-border-color-key-focus: var(--valence-global-color-gray-700);
  --valence-switch-quiet-handle-background-color-key-focus: var(--valence-global-color-gray-75);
  --valence-switch-quiet-handle-border-size-key-focus: var(--valence-alias-border-size-thick);
  --valence-switch-quiet-track-color-key-focus: var(--valence-global-color-gray-300);
  --valence-switch-quiet-focus-ring-gap-key-focus: var(--valence-alias-focus-ring-gap);
  --valence-switch-quiet-focus-ring-size-key-focus: var(--valence-alias-focus-ring-size);
  --valence-switch-quiet-focus-ring-color-key-focus: var(--valence-alias-focus-ring-color);
  --valence-switch-quiet-text-color-disabled: var(--valence-alias-text-color-disabled);
  --valence-switch-quiet-handle-border-color-disabled: var(--valence-global-color-gray-400);
  --valence-switch-quiet-handle-background-color-disabled: var(--valence-global-color-gray-75);
  --valence-switch-quiet-handle-border-size-disabled: var(--valence-alias-border-size-thick);
  --valence-switch-quiet-track-color-disabled: var(--valence-global-color-gray-300);
  --valence-switch-quiet-text-gap-disabled: var(--valence-global-dimension-size-125);
  --valence-switch-quiet-text-color-selected: var(--valence-alias-text-color);
  --valence-switch-quiet-handle-border-color-selected: var(--valence-global-color-gray-700);
  --valence-switch-quiet-handle-background-color-selected: var(--valence-global-color-gray-75);
  --valence-switch-quiet-handle-border-size-selected: var(--valence-alias-border-size-thick);
  --valence-switch-quiet-track-color-selected: var(--valence-global-color-gray-700);
  --valence-switch-quiet-text-gap-selected: var(--valence-global-dimension-size-125);
  --valence-switch-quiet-text-color-selected-hover: var(--valence-alias-text-color-hover);
  --valence-switch-quiet-handle-border-color-selected-hover: var(--valence-global-color-gray-800);
  --valence-switch-quiet-handle-background-color-selected-hover: var(--valence-global-color-gray-75);
  --valence-switch-quiet-handle-border-size-selected-hover: var(--valence-alias-border-size-thick);
  --valence-switch-quiet-track-color-selected-hover: var(--valence-global-color-gray-800);
  --valence-switch-quiet-text-gap-selected-hover: var(--valence-global-dimension-size-125);
  --valence-switch-quiet-text-color-selected-down: var(--valence-alias-text-color-down);
  --valence-switch-quiet-handle-border-color-selected-down: var(--valence-global-color-gray-900);
  --valence-switch-quiet-handle-background-color-selected-down: var(--valence-global-color-gray-75);
  --valence-switch-quiet-handle-border-size-selected-down: var(--valence-alias-border-size-thick);
  --valence-switch-quiet-track-color-selected-down: var(--valence-global-color-gray-900);
  --valence-switch-quiet-text-gap-selected-down: var(--valence-global-dimension-size-125);
  --valence-switch-quiet-text-color-selected-key-focus: var(--valence-alias-text-color-hover);
  --valence-switch-quiet-handle-border-color-selected-key-focus: var(--valence-global-color-gray-800);
  --valence-switch-quiet-handle-background-color-selected-key-focus: var(--valence-global-color-gray-75);
  --valence-switch-quiet-handle-border-size-selected-key-focus: var(--valence-alias-border-size-thick);
  --valence-switch-quiet-track-color-selected-key-focus: var(--valence-global-color-gray-800);
  --valence-switch-quiet-focus-ring-gap-selected-key-focus: var(--valence-alias-focus-ring-gap);
  --valence-switch-quiet-focus-ring-size-selected-key-focus: var(--valence-alias-focus-ring-size);
  --valence-switch-quiet-focus-ring-color-selected-key-focus: var(--valence-alias-focus-ring-color);
  --valence-switch-quiet-text-color-selected-disabled: var(--valence-alias-text-color-disabled);
  --valence-switch-quiet-track-color-selected-disabled: var(--valence-global-color-gray-400);
  --valence-switch-quiet-handle-border-size-selected-disabled: var(--valence-alias-border-size-thick);
  --valence-switch-quiet-handle-border-color-selected-disabled: var(--valence-global-color-gray-400);
  --valence-switch-quiet-handle-background-color-selected-disabled: var(--valence-global-color-gray-75);
  --valence-switch-quiet-text-gap-selected-disabled: var(--valence-global-dimension-size-125);
  --valence-switch-quiet-text-color-error: var(--valence-global-color-red-600);
  --valence-switch-quiet-track-color-error: var(--valence-global-color-red-500);
  --valence-switch-quiet-handle-border-size-error: var(--valence-alias-border-size-thick);
  --valence-switch-quiet-handle-border-color-error: var(--valence-global-color-red-500);
  --valence-switch-quiet-handle-background-color-error: var(--valence-global-color-gray-75);
  --valence-switch-quiet-text-gap-error: var(--valence-global-dimension-size-125);
  --valence-switch-quiet-text-color-error-hover: var(--valence-global-color-red-700);
  --valence-switch-quiet-track-color-error-hover: var(--valence-global-color-red-600);
  --valence-switch-quiet-handle-border-size-error-hover: var(--valence-alias-border-size-thick);
  --valence-switch-quiet-handle-border-color-error-hover: var(--valence-global-color-red-600);
  --valence-switch-quiet-handle-background-color-error-hover: var(--valence-global-color-gray-75);
  --valence-switch-quiet-text-gap-error-hover: var(--valence-global-dimension-size-125);
  --valence-switch-quiet-text-color-error-down: var(--valence-global-color-red-700);
  --valence-switch-quiet-track-color-error-down: var(--valence-global-color-red-700);
  --valence-switch-quiet-handle-border-size-error-down: var(--valence-alias-border-size-thick);
  --valence-switch-quiet-handle-border-color-error-down: var(--valence-global-color-red-700);
  --valence-switch-quiet-handle-background-color-error-down: var(--valence-global-color-gray-75);
  --valence-switch-quiet-text-gap-error-down: var(--valence-global-dimension-size-125);
  --valence-switch-quiet-text-color-error-key-focus: var(--valence-global-color-blue-600);
  --valence-switch-quiet-track-color-error-key-focus: var(--valence-global-color-red-600);
  --valence-switch-quiet-handle-border-size-error-key-focus: var(--valence-alias-border-size-thick);
  --valence-switch-quiet-handle-border-color-error-key-focus: var(--valence-global-color-red-600);
  --valence-switch-quiet-handle-background-color-error-key-focus: var(--valence-global-color-gray-75);
  --valence-switch-quiet-focus-ring-gap-error-key-focus: var(--valence-alias-focus-ring-gap);
  --valence-switch-quiet-focus-ring-size-error-key-focus: var(--valence-alias-focus-ring-size);
  --valence-switch-quiet-focus-ring-color-error-key-focus: var(--valence-alias-focus-ring-color);
  --valence-switch-quiet-text-color-error-disabled: var(--valence-alias-text-color-disabled);
  --valence-switch-quiet-handle-border-color-error-disabled: var(--valence-global-color-gray-400);
  --valence-switch-quiet-handle-background-color-error-disabled: var(--valence-global-color-gray-75);
  --valence-switch-quiet-handle-border-size-error-disabled: var(--valence-alias-border-size-thick);
  --valence-switch-quiet-track-color-error-disabled: var(--valence-global-color-gray-300);
  --valence-switch-quiet-text-gap-error-disabled: var(--valence-global-dimension-size-125);
  --valence-switch-quiet-text-color-error-selected: var(--valence-global-color-red-600);
  --valence-switch-quiet-track-color-error-selected: var(--valence-global-color-red-500);
  --valence-switch-quiet-handle-border-size-error-selected: var(--valence-alias-border-size-thick);
  --valence-switch-quiet-handle-border-color-error-selected: var(--valence-global-color-red-500);
  --valence-switch-quiet-handle-background-color-error-selected: var(--valence-global-color-gray-75);
  --valence-switch-quiet-text-gap-error-selected: var(--valence-global-dimension-size-125);
  --valence-switch-quiet-text-color-error-selected-hover: var(--valence-global-color-red-700);
  --valence-switch-quiet-track-color-error-selected-hover: var(--valence-global-color-red-600);
  --valence-switch-quiet-handle-border-size-error-selected-hover: var(--valence-alias-border-size-thick);
  --valence-switch-quiet-handle-border-color-error-selected-hover: var(--valence-global-color-red-600);
  --valence-switch-quiet-handle-background-color-error-selected-hover: var(--valence-global-color-gray-75);
  --valence-switch-quiet-text-gap-error-selected-hover: var(--valence-global-dimension-size-125);
  --valence-switch-quiet-text-color-error-selected-down: var(--valence-global-color-red-700);
  --valence-switch-quiet-track-color-error-selected-down: var(--valence-global-color-red-700);
  --valence-switch-quiet-handle-border-size-error-selected-down: var(--valence-alias-border-size-thick);
  --valence-switch-quiet-handle-border-color-error-selected-down: var(--valence-global-color-red-700);
  --valence-switch-quiet-handle-background-color-error-selected-down: var(--valence-global-color-gray-75);
  --valence-switch-quiet-text-gap-error-selected-down: var(--valence-global-dimension-size-125);
  --valence-switch-quiet-text-color-error-selected-key-focus: var(--valence-global-color-blue-600);
  --valence-switch-quiet-track-color-error-selected-key-focus: var(--valence-global-color-red-600);
  --valence-switch-quiet-handle-border-size-error-selected-key-focus: var(--valence-alias-border-size-thick);
  --valence-switch-quiet-handle-border-color-error-selected-key-focus: var(--valence-global-color-red-600);
  --valence-switch-quiet-handle-background-color-error-selected-key-focus: var(--valence-global-color-gray-75);
  --valence-switch-quiet-focus-ring-gap-error-selected-key-focus: var(--valence-alias-focus-ring-gap);
  --valence-switch-quiet-focus-ring-size-error-selected-key-focus: var(--valence-alias-focus-ring-size);
  --valence-switch-quiet-focus-ring-color-error-selected-key-focus: var(--valence-alias-focus-ring-color);
  --valence-switch-quiet-text-color-error-selected-disabled: var(--valence-alias-text-color-disabled);
  --valence-switch-quiet-track-color-error-selected-disabled: var(--valence-global-color-gray-400);
  --valence-switch-quiet-handle-border-size-error-selected-disabled: var(--valence-alias-border-size-thick);
  --valence-switch-quiet-handle-border-color-error-selected-disabled: var(--valence-global-color-gray-400);
  --valence-switch-quiet-handle-background-color-error-selected-disabled: var(--valence-global-color-gray-75);
  --valence-switch-quiet-text-gap-error-selected-disabled: var(--valence-global-dimension-size-125);
  --valence-switch-quiet-track-color-disabled-selected: var(--valence-global-color-gray-400);
  --valence-switch-quiet-text-font-family: var(--valence-alias-body-text-font-family);
  --valence-switch-quiet-text-font-style: var(--valence-global-font-style-regular);
  --valence-switch-quiet-text-font-weight: var(--valence-global-font-weight-regular);
  --valence-switch-quiet-text-line-height: var(--valence-alias-body-text-line-height);
  --valence-switch-quiet-text-letter-spacing: var(--valence-global-font-letter-spacing-none);
  --valence-switch-quiet-text-transform: none;
  --valence-switch-quiet-text-size: var(--valence-alias-font-size-default);
  --valence-switch-quiet-handle-size: var(--valence-global-dimension-size-175);
  --valence-switch-quiet-track-height: var(--valence-global-dimension-size-175);
  --valence-switch-quiet-height: var(--valence-global-dimension-size-400);
  --valence-switch-quiet-text-baseline: var(--valence-global-dimension-font-size-75);
  --valence-switch-quiet-cursor-hit-x: var(--valence-global-dimension-size-100);
  --valence-switch-quiet-touch-hit-x: var(--valence-global-dimension-size-100);
}
