.theme {
  --valence-statuslight-celery-text-color: var(--valence-alias-text-color);
  --valence-statuslight-celery-text-color-disabled: var(--valence-alias-text-color-disabled);
  --valence-statuslight-celery-dot-color-disabled: var(--valence-global-color-gray-400);
  --valence-statuslight-celery-dot-color: var(--valence-global-color-celery-400);
  --valence-statuslight-celery-text-font-family: var(--valence-alias-body-text-font-family);
  --valence-statuslight-celery-text-font-style: var(--valence-global-font-style-regular);
  --valence-statuslight-celery-text-font-weight: var(--valence-alias-body-text-font-weight);
  --valence-statuslight-celery-text-line-height: var(--valence-alias-body-text-line-height);
  --valence-statuslight-celery-text-letter-spacing: var(--valence-global-font-letter-spacing-none);
  --valence-statuslight-celery-text-transform: none;
  --valence-statuslight-celery-text-size: var(--valence-alias-font-size-default);
  --valence-statuslight-celery-height: var(--valence-alias-single-line-height);
  --valence-statuslight-celery-text-gap: var(--valence-global-dimension-size-150);
  --valence-statuslight-celery-dot-size: var(--valence-global-dimension-size-100);
  --valence-statuslight-chartreuse-text-color: var(--valence-alias-text-color);
  --valence-statuslight-chartreuse-text-color-disabled: var(--valence-alias-text-color-disabled);
  --valence-statuslight-chartreuse-dot-color-disabled: var(--valence-global-color-gray-400);
  --valence-statuslight-chartreuse-dot-color: var(--valence-global-color-chartreuse-400);
  --valence-statuslight-chartreuse-text-font-family: var(--valence-alias-body-text-font-family);
  --valence-statuslight-chartreuse-text-font-style: var(--valence-global-font-style-regular);
  --valence-statuslight-chartreuse-text-font-weight: var(--valence-alias-body-text-font-weight);
  --valence-statuslight-chartreuse-text-line-height: var(--valence-alias-body-text-line-height);
  --valence-statuslight-chartreuse-text-letter-spacing: var(--valence-global-font-letter-spacing-none);
  --valence-statuslight-chartreuse-text-transform: none;
  --valence-statuslight-chartreuse-text-size: var(--valence-alias-font-size-default);
  --valence-statuslight-chartreuse-height: var(--valence-alias-single-line-height);
  --valence-statuslight-chartreuse-text-gap: var(--valence-global-dimension-size-150);
  --valence-statuslight-chartreuse-dot-size: var(--valence-global-dimension-size-100);
  --valence-statuslight-text-color: var(--valence-alias-text-color);
  --valence-statuslight-text-color-disabled: var(--valence-alias-text-color-disabled);
  --valence-statuslight-dot-color-disabled: var(--valence-global-color-gray-400);
  --valence-statuslight-dot-color-label-celery: var(--valence-global-color-celery-400);
  --valence-statuslight-dot-color-label-chartreuse: var(--valence-global-color-chartreuse-400);
  --valence-statuslight-dot-color-label-yellow: var(--valence-global-color-yellow-400);
  --valence-statuslight-dot-color-label-magenta: var(--valence-global-color-magenta-400);
  --valence-statuslight-dot-color-label-fuchsia: var(--valence-global-color-fuchsia-400);
  --valence-statuslight-dot-color-label-purple: var(--valence-global-color-purple-400);
  --valence-statuslight-dot-color-label-indigo: var(--valence-global-color-indigo-400);
  --valence-statuslight-dot-color-label-seafoam: var(--valence-global-color-seafoam-400);
  --valence-statuslight-text-font-family: var(--valence-alias-body-text-font-family);
  --valence-statuslight-text-font-style: var(--valence-global-font-style-regular);
  --valence-statuslight-text-font-weight: var(--valence-alias-body-text-font-weight);
  --valence-statuslight-text-line-height: var(--valence-alias-body-text-line-height);
  --valence-statuslight-text-letter-spacing: var(--valence-global-font-letter-spacing-none);
  --valence-statuslight-text-transform: none;
  --valence-statuslight-text-size: var(--valence-alias-font-size-default);
  --valence-statuslight-height: var(--valence-alias-single-line-height);
  --valence-statuslight-text-gap: var(--valence-global-dimension-size-150);
  --valence-statuslight-dot-size: var(--valence-global-dimension-size-100);
  --valence-statuslight-fuchsia-text-color: var(--valence-alias-text-color);
  --valence-statuslight-fuchsia-text-color-disabled: var(--valence-alias-text-color-disabled);
  --valence-statuslight-fuchsia-dot-color-disabled: var(--valence-global-color-gray-400);
  --valence-statuslight-fuchsia-dot-color: var(--valence-global-color-fuchsia-400);
  --valence-statuslight-fuchsia-text-font-family: var(--valence-alias-body-text-font-family);
  --valence-statuslight-fuchsia-text-font-style: var(--valence-global-font-style-regular);
  --valence-statuslight-fuchsia-text-font-weight: var(--valence-alias-body-text-font-weight);
  --valence-statuslight-fuchsia-text-line-height: var(--valence-alias-body-text-line-height);
  --valence-statuslight-fuchsia-text-letter-spacing: var(--valence-global-font-letter-spacing-none);
  --valence-statuslight-fuchsia-text-transform: none;
  --valence-statuslight-fuchsia-text-size: var(--valence-alias-font-size-default);
  --valence-statuslight-fuchsia-height: var(--valence-alias-single-line-height);
  --valence-statuslight-fuchsia-text-gap: var(--valence-global-dimension-size-150);
  --valence-statuslight-fuchsia-dot-size: var(--valence-global-dimension-size-100);
  --valence-statuslight-indigo-text-color: var(--valence-alias-text-color);
  --valence-statuslight-indigo-text-color-disabled: var(--valence-alias-text-color-disabled);
  --valence-statuslight-indigo-dot-color-disabled: var(--valence-global-color-gray-400);
  --valence-statuslight-indigo-dot-color: var(--valence-global-color-indigo-400);
  --valence-statuslight-indigo-text-font-family: var(--valence-alias-body-text-font-family);
  --valence-statuslight-indigo-text-font-style: var(--valence-global-font-style-regular);
  --valence-statuslight-indigo-text-font-weight: var(--valence-alias-body-text-font-weight);
  --valence-statuslight-indigo-text-line-height: var(--valence-alias-body-text-line-height);
  --valence-statuslight-indigo-text-letter-spacing: var(--valence-global-font-letter-spacing-none);
  --valence-statuslight-indigo-text-transform: none;
  --valence-statuslight-indigo-text-size: var(--valence-alias-font-size-default);
  --valence-statuslight-indigo-height: var(--valence-alias-single-line-height);
  --valence-statuslight-indigo-text-gap: var(--valence-global-dimension-size-150);
  --valence-statuslight-indigo-dot-size: var(--valence-global-dimension-size-100);
  --valence-statuslight-info-text-color: var(--valence-alias-text-color);
  --valence-statuslight-info-text-color-disabled: var(--valence-alias-text-color-disabled);
  --valence-statuslight-info-dot-color-disabled: var(--valence-global-color-gray-400);
  --valence-statuslight-info-dot-color: var(--valence-semantic-informative-color-status);
  --valence-statuslight-info-text-font-family: var(--valence-alias-body-text-font-family);
  --valence-statuslight-info-text-font-style: var(--valence-global-font-style-regular);
  --valence-statuslight-info-text-font-weight: var(--valence-alias-body-text-font-weight);
  --valence-statuslight-info-text-line-height: var(--valence-alias-body-text-line-height);
  --valence-statuslight-info-text-letter-spacing: var(--valence-global-font-letter-spacing-none);
  --valence-statuslight-info-text-transform: none;
  --valence-statuslight-info-text-size: var(--valence-alias-font-size-default);
  --valence-statuslight-info-height: var(--valence-alias-single-line-height);
  --valence-statuslight-info-text-gap: var(--valence-global-dimension-size-150);
  --valence-statuslight-info-dot-size: var(--valence-global-dimension-size-100);
  --valence-statuslight-magenta-text-color: var(--valence-alias-text-color);
  --valence-statuslight-magenta-text-color-disabled: var(--valence-alias-text-color-disabled);
  --valence-statuslight-magenta-dot-color-disabled: var(--valence-global-color-gray-400);
  --valence-statuslight-magenta-dot-color: var(--valence-global-color-magenta-400);
  --valence-statuslight-magenta-text-font-family: var(--valence-alias-body-text-font-family);
  --valence-statuslight-magenta-text-font-style: var(--valence-global-font-style-regular);
  --valence-statuslight-magenta-text-font-weight: var(--valence-alias-body-text-font-weight);
  --valence-statuslight-magenta-text-line-height: var(--valence-alias-body-text-line-height);
  --valence-statuslight-magenta-text-letter-spacing: var(--valence-global-font-letter-spacing-none);
  --valence-statuslight-magenta-text-transform: none;
  --valence-statuslight-magenta-text-size: var(--valence-alias-font-size-default);
  --valence-statuslight-magenta-height: var(--valence-alias-single-line-height);
  --valence-statuslight-magenta-text-gap: var(--valence-global-dimension-size-150);
  --valence-statuslight-magenta-dot-size: var(--valence-global-dimension-size-100);
  --valence-statuslight-negative-text-color: var(--valence-alias-text-color);
  --valence-statuslight-negative-text-color-disabled: var(--valence-alias-text-color-disabled);
  --valence-statuslight-negative-dot-color-disabled: var(--valence-global-color-gray-400);
  --valence-statuslight-negative-dot-color: var(--valence-semantic-negative-color-status);
  --valence-statuslight-negative-text-font-family: var(--valence-alias-body-text-font-family);
  --valence-statuslight-negative-text-font-style: var(--valence-global-font-style-regular);
  --valence-statuslight-negative-text-font-weight: var(--valence-alias-body-text-font-weight);
  --valence-statuslight-negative-text-line-height: var(--valence-alias-body-text-line-height);
  --valence-statuslight-negative-text-letter-spacing: var(--valence-global-font-letter-spacing-none);
  --valence-statuslight-negative-text-transform: none;
  --valence-statuslight-negative-text-size: var(--valence-alias-font-size-default);
  --valence-statuslight-negative-height: var(--valence-alias-single-line-height);
  --valence-statuslight-negative-text-gap: var(--valence-global-dimension-size-150);
  --valence-statuslight-negative-dot-size: var(--valence-global-dimension-size-100);
  --valence-statuslight-neutral-text-color: var(--valence-global-color-gray-700);
  --valence-statuslight-neutral-text-color-disabled: var(--valence-alias-text-color-disabled);
  --valence-statuslight-neutral-dot-color-disabled: var(--valence-global-color-gray-400);
  --valence-statuslight-neutral-dot-color: var(--valence-global-color-gray-500);
  --valence-statuslight-neutral-text-font-family: var(--valence-alias-body-text-font-family);
  --valence-statuslight-neutral-text-font-style: var(--valence-global-font-style-italic);
  --valence-statuslight-neutral-text-font-weight: var(--valence-alias-body-text-font-weight);
  --valence-statuslight-neutral-text-line-height: var(--valence-alias-body-text-line-height);
  --valence-statuslight-neutral-text-letter-spacing: var(--valence-global-font-letter-spacing-none);
  --valence-statuslight-neutral-text-transform: none;
  --valence-statuslight-neutral-text-size: var(--valence-alias-font-size-default);
  --valence-statuslight-neutral-height: var(--valence-alias-single-line-height);
  --valence-statuslight-neutral-text-gap: var(--valence-global-dimension-size-150);
  --valence-statuslight-neutral-dot-size: var(--valence-global-dimension-size-100);
  --valence-statuslight-notice-text-color: var(--valence-alias-text-color);
  --valence-statuslight-notice-text-color-disabled: var(--valence-alias-text-color-disabled);
  --valence-statuslight-notice-dot-color-disabled: var(--valence-global-color-gray-400);
  --valence-statuslight-notice-dot-color: var(--valence-semantic-notice-color-status);
  --valence-statuslight-notice-text-font-family: var(--valence-alias-body-text-font-family);
  --valence-statuslight-notice-text-font-style: var(--valence-global-font-style-regular);
  --valence-statuslight-notice-text-font-weight: var(--valence-alias-body-text-font-weight);
  --valence-statuslight-notice-text-line-height: var(--valence-alias-body-text-line-height);
  --valence-statuslight-notice-text-letter-spacing: var(--valence-global-font-letter-spacing-none);
  --valence-statuslight-notice-text-transform: none;
  --valence-statuslight-notice-text-size: var(--valence-alias-font-size-default);
  --valence-statuslight-notice-height: var(--valence-alias-single-line-height);
  --valence-statuslight-notice-text-gap: var(--valence-global-dimension-size-150);
  --valence-statuslight-notice-dot-size: var(--valence-global-dimension-size-100);
  --valence-statuslight-positive-text-color: var(--valence-alias-text-color);
  --valence-statuslight-positive-text-color-disabled: var(--valence-alias-text-color-disabled);
  --valence-statuslight-positive-dot-color-disabled: var(--valence-global-color-gray-400);
  --valence-statuslight-positive-dot-color: var(--valence-semantic-positive-color-status);
  --valence-statuslight-positive-text-font-family: var(--valence-alias-body-text-font-family);
  --valence-statuslight-positive-text-font-style: var(--valence-global-font-style-regular);
  --valence-statuslight-positive-text-font-weight: var(--valence-alias-body-text-font-weight);
  --valence-statuslight-positive-text-line-height: var(--valence-alias-body-text-line-height);
  --valence-statuslight-positive-text-letter-spacing: var(--valence-global-font-letter-spacing-none);
  --valence-statuslight-positive-text-transform: none;
  --valence-statuslight-positive-text-size: var(--valence-alias-font-size-default);
  --valence-statuslight-positive-height: var(--valence-alias-single-line-height);
  --valence-statuslight-positive-text-gap: var(--valence-global-dimension-size-150);
  --valence-statuslight-positive-dot-size: var(--valence-global-dimension-size-100);
  --valence-statuslight-purple-text-color: var(--valence-alias-text-color);
  --valence-statuslight-purple-text-color-disabled: var(--valence-alias-text-color-disabled);
  --valence-statuslight-purple-dot-color-disabled: var(--valence-global-color-gray-400);
  --valence-statuslight-purple-dot-color: var(--valence-global-color-purple-400);
  --valence-statuslight-purple-text-font-family: var(--valence-alias-body-text-font-family);
  --valence-statuslight-purple-text-font-style: var(--valence-global-font-style-regular);
  --valence-statuslight-purple-text-font-weight: var(--valence-alias-body-text-font-weight);
  --valence-statuslight-purple-text-line-height: var(--valence-alias-body-text-line-height);
  --valence-statuslight-purple-text-letter-spacing: var(--valence-global-font-letter-spacing-none);
  --valence-statuslight-purple-text-transform: none;
  --valence-statuslight-purple-text-size: var(--valence-alias-font-size-default);
  --valence-statuslight-purple-height: var(--valence-alias-single-line-height);
  --valence-statuslight-purple-text-gap: var(--valence-global-dimension-size-150);
  --valence-statuslight-purple-dot-size: var(--valence-global-dimension-size-100);
  --valence-statuslight-seafoam-text-color: var(--valence-alias-text-color);
  --valence-statuslight-seafoam-text-color-disabled: var(--valence-alias-text-color-disabled);
  --valence-statuslight-seafoam-dot-color-disabled: var(--valence-global-color-gray-400);
  --valence-statuslight-seafoam-dot-color: var(--valence-global-color-seafoam-400);
  --valence-statuslight-seafoam-text-font-family: var(--valence-alias-body-text-font-family);
  --valence-statuslight-seafoam-text-font-style: var(--valence-global-font-style-regular);
  --valence-statuslight-seafoam-text-font-weight: var(--valence-alias-body-text-font-weight);
  --valence-statuslight-seafoam-text-line-height: var(--valence-alias-body-text-line-height);
  --valence-statuslight-seafoam-text-letter-spacing: var(--valence-global-font-letter-spacing-none);
  --valence-statuslight-seafoam-text-transform: none;
  --valence-statuslight-seafoam-text-size: var(--valence-alias-font-size-default);
  --valence-statuslight-seafoam-height: var(--valence-alias-single-line-height);
  --valence-statuslight-seafoam-text-gap: var(--valence-global-dimension-size-150);
  --valence-statuslight-seafoam-dot-size: var(--valence-global-dimension-size-100);
  --valence-statuslight-yellow-text-color: var(--valence-alias-text-color);
  --valence-statuslight-yellow-text-color-disabled: var(--valence-alias-text-color-disabled);
  --valence-statuslight-yellow-dot-color-disabled: var(--valence-global-color-gray-400);
  --valence-statuslight-yellow-dot-color: var(--valence-global-color-yellow-400);
  --valence-statuslight-yellow-text-font-family: var(--valence-alias-body-text-font-family);
  --valence-statuslight-yellow-text-font-style: var(--valence-global-font-style-regular);
  --valence-statuslight-yellow-text-font-weight: var(--valence-alias-body-text-font-weight);
  --valence-statuslight-yellow-text-line-height: var(--valence-alias-body-text-line-height);
  --valence-statuslight-yellow-text-letter-spacing: var(--valence-global-font-letter-spacing-none);
  --valence-statuslight-yellow-text-transform: none;
  --valence-statuslight-yellow-text-size: var(--valence-alias-font-size-default);
  --valence-statuslight-yellow-height: var(--valence-alias-single-line-height);
  --valence-statuslight-yellow-text-gap: var(--valence-global-dimension-size-150);
  --valence-statuslight-yellow-dot-size: var(--valence-global-dimension-size-100);
}

.theme {
  --valence-statuslight-padding-y: var(--valence-global-dimension-size-65);

  /* Override line-height to fix Firefox */
  --valence-statuslight-text-line-height: 1.44;

  /* Override padding to fix alignment of the first line of text (needs to be moved down 1px) */
  --valence-statuslight-padding-top: calc(
    var(--valence-statuslight-padding-y) - 1px
  );
  --valence-statuslight-padding-bottom: calc(
    var(--valence-statuslight-padding-y) + 1px
  );
}
