.theme {
  --valence-inlinealert-background-color: var(--valence-global-color-gray-50);
  --valence-inlinealert-title-text-color: var(--valence-global-color-gray-900);
  --valence-inlinealert-text-color: var(--valence-global-color-gray-700);
  --valence-inlinealert-border-color: var(--valence-global-color-gray-600);
  --valence-inlinealert-padding-x: var(--valence-global-dimension-static-size-250);
  --valence-inlinealert-padding-y: var(--valence-global-dimension-static-size-250);
  --valence-inlinealert-min-width: var(--valence-global-dimension-static-size-4600);
  --valence-inlinealert-content-margin-top: var(--valence-global-dimension-static-size-100);
  --valence-inlinealert-error-background-color: var(--valence-global-color-gray-50);
  --valence-inlinealert-error-title-text-color: var(--valence-global-color-gray-900);
  --valence-inlinealert-error-text-color: var(--valence-global-color-gray-700);
  --valence-inlinealert-error-border-color: var(--valence-semantic-negative-color-border);
  --valence-inlinealert-error-icon-color: var(--valence-semantic-negative-color-icon);
  --valence-inlinealert-error-padding-x: var(--valence-global-dimension-static-size-250);
  --valence-inlinealert-error-padding-y: var(--valence-global-dimension-static-size-250);
  --valence-inlinealert-error-min-width: var(--valence-global-dimension-static-size-4600);
  --valence-inlinealert-error-content-margin-top: var(--valence-global-dimension-static-size-100);
  --valence-inlinealert-info-background-color: var(--valence-global-color-gray-50);
  --valence-inlinealert-info-title-text-color: var(--valence-global-color-gray-900);
  --valence-inlinealert-info-text-color: var(--valence-global-color-gray-700);
  --valence-inlinealert-info-border-color: var(--valence-semantic-informative-color-border);
  --valence-inlinealert-info-icon-color: var(--valence-semantic-informative-color-icon);
  --valence-inlinealert-info-padding-x: var(--valence-global-dimension-static-size-250);
  --valence-inlinealert-info-padding-y: var(--valence-global-dimension-static-size-250);
  --valence-inlinealert-info-min-width: var(--valence-global-dimension-static-size-4600);
  --valence-inlinealert-info-content-margin-top: var(--valence-global-dimension-static-size-100);
  --valence-inlinealert-success-background-color: var(--valence-global-color-gray-50);
  --valence-inlinealert-success-title-text-color: var(--valence-global-color-gray-900);
  --valence-inlinealert-success-text-color: var(--valence-global-color-gray-700);
  --valence-inlinealert-success-border-color: var(--valence-semantic-positive-color-border);
  --valence-inlinealert-success-icon-color: var(--valence-semantic-positive-color-icon);
  --valence-inlinealert-success-padding-x: var(--valence-global-dimension-static-size-250);
  --valence-inlinealert-success-padding-y: var(--valence-global-dimension-static-size-250);
  --valence-inlinealert-success-min-width: var(--valence-global-dimension-static-size-4600);
  --valence-inlinealert-success-content-margin-top: var(--valence-global-dimension-static-size-100);
  --valence-inlinealert-warning-background-color: var(--valence-global-color-gray-50);
  --valence-inlinealert-warning-title-text-color: var(--valence-global-color-gray-900);
  --valence-inlinealert-warning-text-color: var(--valence-global-color-gray-700);
  --valence-inlinealert-warning-border-color: var(--valence-semantic-notice-color-border);
  --valence-inlinealert-warning-icon-color: var(--valence-semantic-notice-color-icon);
  --valence-inlinealert-warning-padding-x: var(--valence-global-dimension-static-size-250);
  --valence-inlinealert-warning-padding-y: var(--valence-global-dimension-static-size-250);
  --valence-inlinealert-warning-min-width: var(--valence-global-dimension-static-size-4600);
  --valence-inlinealert-warning-content-margin-top: var(--valence-global-dimension-static-size-100);
}
