.theme {
    --valence-illustrated-message-description-max-width: 500px;
    --valence-illustrated-message-heading-max-width: 500px;
    --valence-illustrated-message-illustration-margin-bottom: 24px;
    --valence-illustrated-message-heading-margin: 0;
    --valence-illustrated-message-description-margin: 4px 0 0 0;
  }
  
