.theme {
  --valence-link-text-color: var(--valence-global-color-blue-600);
  --valence-link-underline-color: var(--valence-alias-border-color-transparent);
  --valence-link-text-color-hover: var(--valence-global-color-blue-600);
  --valence-link-underline-color-hover: var(--valence-global-color-blue-600);
  --valence-link-text-color-down: var(--valence-global-color-blue-700);
  --valence-link-underline-color-down: var(--valence-global-color-blue-700);
  --valence-link-text-color-key-focus: var(--valence-alias-text-color-key-focus);
  --valence-link-underline-color-key-focus: var(--valence-alias-text-color-key-focus);
  --valence-link-text-color-disabled: var(--valence-alias-text-color-disabled);
  --valence-link-underline-color-disabled: var(--valence-alias-border-color-transparent);
  --valence-link-text-font-family: var(--valence-alias-body-text-font-family);
  --valence-link-text-font-style: var(--valence-global-font-style-regular);
  --valence-link-text-font-weight: var(--valence-alias-body-text-font-weight);
  --valence-link-text-line-height: var(--valence-alias-body-text-line-height);
  --valence-link-text-letter-spacing: var(--valence-global-font-letter-spacing-none);
  --valence-link-text-transform: none;
  --valence-link-text-size: var(--valence-alias-font-size-default);
  --valence-link-underline-gap: var(--valence-global-dimension-static-size-10);
  --valence-link-underline-size: var(--valence-alias-border-size-thin);
  --valence-link-over-background-text-color: var(--valence-global-color-static-white);
  --valence-link-over-background-underline-color: var(--valence-global-color-static-white);
  --valence-link-over-background-text-color-hover: var(--valence-global-color-static-white);
  --valence-link-over-background-underline-color-hover: var(--valence-global-color-static-white);
  --valence-link-over-background-text-color-down: var(--valence-global-color-static-white);
  --valence-link-over-background-underline-color-down: var(--valence-global-color-static-white);
  --valence-link-over-background-text-color-key-focus: var(--valence-global-color-static-white);
  --valence-link-over-background-underline-color-key-focus: var(--valence-global-color-static-white);
  --valence-link-over-background-text-color-mouse-focus: rgb(255, 255, 255);
  --valence-link-over-background-underline-color-mouse-focus: rgb(255, 255, 255);
  --valence-link-over-background-text-color-disabled: rgba(255,255,255,0.5);
  --valence-link-over-background-underline-color-disabled: var(--valence-alias-border-color-transparent);
  --valence-link-over-background-text-font-family: var(--valence-alias-body-text-font-family);
  --valence-link-over-background-text-font-style: var(--valence-global-font-style-regular);
  --valence-link-over-background-text-font-weight: var(--valence-alias-body-text-font-weight);
  --valence-link-over-background-text-line-height: var(--valence-alias-body-text-line-height);
  --valence-link-over-background-text-letter-spacing: var(--valence-global-font-letter-spacing-none);
  --valence-link-over-background-text-transform: none;
  --valence-link-over-background-text-size: var(--valence-alias-font-size-default);
  --valence-link-over-background-underline-gap: var(--valence-global-dimension-static-size-10);
  --valence-link-over-background-underline-size: var(--valence-alias-border-size-thin);
  --valence-link-primary-text-color: var(--valence-global-color-blue-600);
  --valence-link-primary-underline-color: var(--valence-global-color-blue-600);
  --valence-link-primary-text-color-hover: var(--valence-global-color-blue-600);
  --valence-link-primary-underline-color-hover: var(--valence-global-color-blue-600);
  --valence-link-primary-text-color-down: var(--valence-global-color-blue-700);
  --valence-link-primary-underline-color-down: var(--valence-global-color-blue-700);
  --valence-link-primary-text-color-key-focus: var(--valence-alias-text-color-key-focus);
  --valence-link-primary-underline-color-key-focus: var(--valence-alias-text-color-key-focus);
  --valence-link-primary-text-color-mouse-focus: var(--valence-alias-text-color-mouse-focus);
  --valence-link-primary-underline-color-mouse-focus: var(--valence-alias-text-color-mouse-focus);
  --valence-link-primary-text-color-disabled: var(--valence-alias-text-color-disabled);
  --valence-link-primary-underline-color-disabled: var(--valence-alias-text-color-disabled);
  --valence-link-primary-text-font-family: var(--valence-alias-body-text-font-family);
  --valence-link-primary-text-font-style: var(--valence-global-font-style-regular);
  --valence-link-primary-text-font-weight: var(--valence-alias-body-text-font-weight);
  --valence-link-primary-text-line-height: var(--valence-alias-body-text-line-height);
  --valence-link-primary-text-letter-spacing: var(--valence-global-font-letter-spacing-none);
  --valence-link-primary-text-transform: none;
  --valence-link-primary-text-size: var(--valence-alias-font-size-default);
  --valence-link-primary-underline-gap: var(--valence-global-dimension-static-size-10);
  --valence-link-primary-underline-size: var(--valence-alias-border-size-thin);
  --valence-link-quiet-text-color: var(--valence-alias-text-color);
  --valence-link-quiet-underline-color: var(--valence-alias-text-color);
  --valence-link-quiet-text-color-hover: var(--valence-alias-text-color-hover);
  --valence-link-quiet-underline-color-hover: var(--valence-alias-text-color-hover);
  --valence-link-quiet-text-color-down: var(--valence-alias-text-color-down);
  --valence-link-quiet-underline-color-down: var(--valence-alias-text-color-down);
  --valence-link-quiet-text-color-key-focus: var(--valence-alias-text-color-hover);
  --valence-link-quiet-underline-color-key-focus: var(--valence-alias-text-color-hover);
  --valence-link-quiet-text-color-mouse-focus: var(--valence-alias-text-color-hover);
  --valence-link-quiet-text-color-disabled: var(--valence-alias-text-color-disabled);
  --valence-link-quiet-underline-color-disabled: var(--valence-alias-border-color-transparent);
  --valence-link-quiet-text-font-family: var(--valence-alias-body-text-font-family);
  --valence-link-quiet-text-font-style: var(--valence-global-font-style-regular);
  --valence-link-quiet-text-font-weight: var(--valence-alias-body-text-font-weight);
  --valence-link-quiet-text-line-height: var(--valence-alias-body-text-line-height);
  --valence-link-quiet-text-letter-spacing: var(--valence-global-font-letter-spacing-none);
  --valence-link-quiet-text-transform: none;
  --valence-link-quiet-text-size: var(--valence-alias-font-size-default);
  --valence-link-quiet-underline-gap: var(--valence-global-dimension-static-size-10);
  --valence-link-quiet-underline-size: var(--valence-alias-border-size-thin);
  --valence-link-quiet-over-background-text-color: rgb(255, 255, 255);
  --valence-link-quiet-over-background-text-color-hover: rgb(255, 255, 255);
  --valence-link-quiet-over-background-text-color-down: rgb(255, 255, 255);
  --valence-link-quiet-over-background-text-color-key-focus: rgb(255, 255, 255);
  --valence-link-quiet-over-background-text-color-mouse-focus: rgb(255, 255, 255);
  --valence-link-quiet-over-background-text-color-disabled: rgba(255,255,255,0.5);
  --valence-link-quiet-over-background-text-font-family: var(--valence-alias-body-text-font-family);
  --valence-link-quiet-over-background-text-font-style: var(--valence-global-font-style-regular);
  --valence-link-quiet-over-background-text-font-weight: var(--valence-alias-body-text-font-weight);
  --valence-link-quiet-over-background-text-line-height: var(--valence-alias-body-text-line-height);
  --valence-link-quiet-over-background-text-letter-spacing: var(--valence-global-font-letter-spacing-none);
  --valence-link-quiet-over-background-text-transform: none;
  --valence-link-quiet-over-background-text-size: var(--valence-alias-font-size-default);
  --valence-link-quiet-primary-text-color: var(--valence-global-color-blue-600);
  --valence-link-quiet-primary-text-color-hover: var(--valence-global-color-blue-600);
  --valence-link-quiet-primary-text-color-down: var(--valence-global-color-blue-700);
  --valence-link-quiet-primary-text-color-key-focus: var(--valence-alias-text-color-key-focus);
  --valence-link-quiet-primary-text-color-mouse-focus: var(--valence-alias-text-color-mouse-focus);
  --valence-link-quiet-primary-text-color-disabled: var(--valence-alias-text-color-disabled);
  --valence-link-quiet-primary-text-font-family: var(--valence-alias-body-text-font-family);
  --valence-link-quiet-primary-text-font-style: var(--valence-global-font-style-regular);
  --valence-link-quiet-primary-text-font-weight: var(--valence-alias-body-text-font-weight);
  --valence-link-quiet-primary-text-line-height: var(--valence-alias-body-text-line-height);
  --valence-link-quiet-primary-text-letter-spacing: var(--valence-global-font-letter-spacing-none);
  --valence-link-quiet-primary-text-transform: none;
  --valence-link-quiet-primary-text-size: var(--valence-alias-font-size-default);
  --valence-link-quiet-secondary-text-color: var(--valence-alias-text-color);
  --valence-link-quiet-secondary-underline-color: var(--valence-alias-text-color);
  --valence-link-quiet-secondary-text-color-hover: var(--valence-alias-text-color-hover);
  --valence-link-quiet-secondary-underline-color-hover: var(--valence-alias-text-color-hover);
  --valence-link-quiet-secondary-text-color-down: var(--valence-alias-text-color-down);
  --valence-link-quiet-secondary-underline-color-down: var(--valence-alias-text-color-down);
  --valence-link-quiet-secondary-text-color-key-focus: var(--valence-alias-text-color-hover);
  --valence-link-quiet-secondary-underline-color-key-focus: var(--valence-alias-text-color-hover);
  --valence-link-quiet-secondary-text-color-mouse-focus: var(--valence-alias-text-color-hover);
  --valence-link-quiet-secondary-underline-color-mouse-focus: var(--valence-alias-text-color-hover);
  --valence-link-quiet-secondary-text-color-disabled: var(--valence-alias-text-color-disabled);
  --valence-link-quiet-secondary-underline-color-disabled: var(--valence-alias-text-color-disabled);
  --valence-link-quiet-secondary-text-font-family: var(--valence-alias-body-text-font-family);
  --valence-link-quiet-secondary-text-font-style: var(--valence-global-font-style-regular);
  --valence-link-quiet-secondary-text-font-weight: var(--valence-alias-body-text-font-weight);
  --valence-link-quiet-secondary-text-line-height: var(--valence-alias-body-text-line-height);
  --valence-link-quiet-secondary-text-letter-spacing: var(--valence-global-font-letter-spacing-none);
  --valence-link-quiet-secondary-text-transform: none;
  --valence-link-quiet-secondary-text-size: var(--valence-alias-font-size-default);
  --valence-link-quiet-secondary-underline-gap: var(--valence-global-dimension-static-size-10);
  --valence-link-quiet-secondary-underline-size: var(--valence-alias-border-size-thin);
  --valence-link-secondary-text-color: var(--valence-alias-text-color);
  --valence-link-secondary-underline-color: var(--valence-alias-text-color);
  --valence-link-secondary-text-color-hover: var(--valence-alias-text-color-hover);
  --valence-link-secondary-underline-color-hover: var(--valence-alias-text-color-hover);
  --valence-link-secondary-text-color-down: var(--valence-alias-text-color-down);
  --valence-link-secondary-underline-color-down: var(--valence-alias-text-color-down);
  --valence-link-secondary-text-color-key-focus: var(--valence-alias-text-color-hover);
  --valence-link-secondary-underline-color-key-focus: var(--valence-alias-text-color-hover);
  --valence-link-secondary-text-color-mouse-focus: var(--valence-alias-text-color-hover);
  --valence-link-secondary-underline-color-mouse-focus: var(--valence-alias-text-color-hover);
  --valence-link-secondary-text-color-disabled: var(--valence-alias-text-color-disabled);
  --valence-link-secondary-underline-color-disabled: var(--valence-alias-text-color-disabled);
  --valence-link-secondary-text-font-family: var(--valence-alias-body-text-font-family);
  --valence-link-secondary-text-font-style: var(--valence-global-font-style-regular);
  --valence-link-secondary-text-font-weight: var(--valence-alias-body-text-font-weight);
  --valence-link-secondary-text-line-height: var(--valence-alias-body-text-line-height);
  --valence-link-secondary-text-letter-spacing: var(--valence-global-font-letter-spacing-none);
  --valence-link-secondary-text-transform: none;
  --valence-link-secondary-text-size: var(--valence-alias-font-size-default);
  --valence-link-secondary-underline-gap: var(--valence-global-dimension-static-size-10);
  --valence-link-secondary-underline-size: var(--valence-alias-border-size-thin);
}
