.theme {
  --valence-textfield-placeholder-text-color: var(--valence-alias-placeholder-text-color);
  --valence-textfield-text-color: var(--valence-alias-text-color);
  --valence-textfield-border-size: var(--valence-alias-border-size-thin);
  --valence-textfield-background-color: var(--valence-global-color-gray-50);
  --valence-textfield-border-color: var(--valence-alias-border-color);
  --valence-textfield-icon-color: var(--valence-alias-icon-color);
  --valence-textfield-placeholder-text-color-hover: var(--valence-alias-placeholder-text-color-hover);
  --valence-textfield-text-color-hover: var(--valence-alias-text-color-hover);
  --valence-textfield-background-color-hover: var(--valence-global-color-gray-50);
  --valence-textfield-border-color-hover: var(--valence-alias-border-color-hover);
  --valence-textfield-icon-color-hover: var(--valence-global-color-gray-900);
  --valence-textfield-placeholder-text-color-key-focus: var(--valence-alias-placeholder-text-color-hover);
  --valence-textfield-text-color-key-focus: var(--valence-alias-text-color-hover);
  --valence-textfield-background-color-key-focus: var(--valence-global-color-gray-50);
  --valence-textfield-icon-color-key-focus: var(--valence-global-color-gray-900);
  --valence-textfield-border-color-key-focus: var(--valence-alias-border-color-focus);
  --valence-textfield-border-size-key-focus: var(--valence-alias-border-size-thick);
  --valence-textfield-placeholder-text-color-disabled: var(--valence-alias-text-color-disabled);
  --valence-textfield-text-color-disabled: var(--valence-alias-text-color-disabled);
  --valence-textfield-background-color-disabled: var(--valence-global-color-gray-200);
  --valence-textfield-border-color-disabled: var(--valence-alias-border-color-transparent);
  --valence-textfield-icon-color-disabled: var(--valence-global-color-gray-500);
  --valence-textfield-validation-icon-color-disabled: var(--valence-global-color-gray-500);
  --valence-textfield-text-color-down: var(--valence-alias-text-color-down);
  --valence-textfield-placeholder-text-color-down: var(--valence-alias-placeholder-text-color-down);
  --valence-textfield-background-color-down: var(--valence-global-color-gray-50);
  --valence-textfield-border-color-down: var(--valence-alias-border-color-mouse-focus);
  --valence-textfield-icon-color-down: var(--valence-alias-icon-color-down);
  --valence-textfield-text-color-mouse-focus: var(--valence-alias-text-color-hover);
  --valence-textfield-placeholder-text-color-mouse-focus: var(--valence-alias-placeholder-text-color);
  --valence-textfield-background-color-mouse-focus: var(--valence-global-color-gray-50);
  --valence-textfield-border-color-mouse-focus: var(--valence-alias-border-color-mouse-focus);
  --valence-textfield-border-size-mouse-focus: var(--valence-alias-border-size-thin);
  --valence-textfield-icon-color-mouse-focus: var(--valence-global-color-gray-700);
  --valence-textfield-border-color-error: var(--valence-semantic-negative-color-default);
  --valence-textfield-validation-icon-color-error: var(--valence-semantic-negative-color-icon);
  --valence-textfield-border-color-error-hover: var(--valence-semantic-negative-color-state-hover);
  --valence-textfield-validation-icon-color-error-hover: var(--valence-semantic-negative-color-icon);
  --valence-textfield-border-color-error-down: var(--valence-semantic-negative-color-state-down);
  --valence-textfield-validation-icon-color-error-down: var(--valence-semantic-negative-color-icon);
  --valence-textfield-border-color-error-key-focus: var(--valence-alias-border-color-focus);
  --valence-textfield-validation-icon-color-error-key-focus: var(--valence-semantic-negative-color-icon);
  --valence-textfield-border-color-error-mouse-focus: var(--valence-semantic-negative-color-state-hover);
  --valence-textfield-validation-icon-color-error-mouse-focus: var(--valence-semantic-negative-color-icon);
  --valence-textfield-icon-color-valid: var(--valence-global-color-green-400);
  --valence-textfield-border-color-valid-hover: var(--valence-global-color-gray-400);
  --valence-textfield-icon-color-valid-hover: var(--valence-global-color-green-400);
  --valence-textfield-border-color-valid-down: var(--valence-alias-border-color-down);
  --valence-textfield-icon-color-valid-down: var(--valence-global-color-green-400);
  --valence-textfield-border-color-valid-key-focus: var(--valence-alias-border-color-focus);
  --valence-textfield-icon-color-valid-key-focus: var(--valence-global-color-green-400);
  --valence-textfield-border-color-valid-mouse-focus: var(--valence-alias-border-color-down);
  --valence-textfield-icon-color-valid-mouse-focus: var(--valence-global-color-green-400);
  --valence-textfield-placeholder-text-font-style: var(--valence-global-font-style-italic);
  --valence-textfield-placeholder-text-font-weight: var(--valence-global-font-weight-regular);
  --valence-textfield-placeholder-text-size: var(--valence-global-dimension-font-size-100);
  --valence-textfield-text-font-family: var(--valence-alias-body-text-font-family);
  --valence-textfield-text-font-style: var(--valence-global-font-style-regular);
  --valence-textfield-text-font-weight: var(--valence-alias-body-text-font-weight);
  --valence-textfield-text-line-height: var(--valence-alias-body-text-line-height);
  --valence-textfield-text-letter-spacing: var(--valence-global-font-letter-spacing-none);
  --valence-textfield-text-transform: none;
  --valence-textfield-text-size: var(--valence-alias-font-size-default);
  --valence-textfield-height: calc(var(--valence-alias-single-line-height) + (var(--valence-textfield-border-size)*2));
  --valence-textfield-min-width: var(--valence-global-dimension-size-600);
  --valence-textfield-padding-x: var(--valence-global-dimension-size-100);
  --valence-textfield-padding-top: var(--valence-global-dimension-size-75);
  --valence-textfield-padding-bottom: var(--valence-global-dimension-size-100);
  --valence-textfield-border-radius: var(--valence-alias-border-radius-regular);
  --valence-textfield-label-gap-x: var(--valence-global-dimension-size-100);
  --valence-textfield-label-gap-y: var(--valence-global-dimension-size-100);
  --valence-textfield-label-padding-top: var(--valence-global-dimension-size-100);
  --valence-textfield-label-padding-bottom: var(--valence-global-dimension-size-150);
  --valence-textfield-counter-gap: var(--valence-global-dimension-size-100);
  --valence-textfield-asterisk-size: var(--valence-global-dimension-size-100);
  --valence-textfield-asterisk-gap: var(--valence-global-dimension-size-50);
  --valence-textfield-icon-size: var(--valence-global-dimension-size-250);
  --valence-textfield-success-icon-height: var(--valence-global-dimension-size-150);
  --valence-textfield-success-icon-width: var(--valence-global-dimension-size-150);
  --valence-textfield-error-icon-height: var(--valence-icon-indicator-medium);
  --valence-textfield-error-icon-width: var(--valence-icon-indicator-medium);
  --valence-textfield-text-baseline: var(--valence-global-dimension-size-150);
  --valence-textfield-cursor-hit-x: var(--valence-global-dimension-size-50);
  --valence-textfield-icon-margin-left: var(--valence-global-dimension-size-150);
  --valence-textfield-icon-margin-right: var(--valence-global-dimension-size-150);
  --valence-textfield-quiet-placeholder-text-color: var(--valence-alias-placeholder-text-color);
  --valence-textfield-quiet-text-color: var(--valence-alias-text-color);
  --valence-textfield-quiet-border-size: var(--valence-alias-border-size-thin);
  --valence-textfield-quiet-background-color: var(--valence-alias-background-color-transparent);
  --valence-textfield-quiet-border-color: var(--valence-alias-border-color);
  --valence-textfield-quiet-icon-color: var(--valence-alias-icon-color);
  --valence-textfield-quiet-placeholder-text-color-hover: var(--valence-alias-placeholder-text-color-hover);
  --valence-textfield-quiet-text-color-hover: var(--valence-alias-text-color-hover);
  --valence-textfield-quiet-background-color-hover: var(--valence-alias-background-color-transparent);
  --valence-textfield-quiet-border-color-hover: var(--valence-alias-border-color-hover);
  --valence-textfield-quiet-icon-color-hover: var(--valence-global-color-gray-900);
  --valence-textfield-quiet-placeholder-text-color-key-focus: var(--valence-alias-placeholder-text-color-hover);
  --valence-textfield-quiet-text-color-key-focus: var(--valence-alias-text-color-hover);
  --valence-textfield-quiet-background-color-key-focus: var(--valence-alias-background-color-transparent);
  --valence-textfield-quiet-icon-color-key-focus: var(--valence-global-color-gray-900);
  --valence-textfield-quiet-border-color-key-focus: var(--valence-alias-border-color-focus);
  --valence-textfield-quiet-border-size-key-focus: var(--valence-alias-border-size-thick);
  --valence-textfield-quiet-placeholder-text-color-disabled: var(--valence-alias-text-color-disabled);
  --valence-textfield-quiet-text-color-disabled: var(--valence-alias-text-color-disabled);
  --valence-textfield-quiet-background-color-disabled: var(--valence-alias-background-color-transparent);
  --valence-textfield-quiet-border-color-disabled: var(--valence-alias-border-color-mid);
  --valence-textfield-quiet-icon-color-disabled: var(--valence-global-color-gray-500);
  --valence-textfield-quiet-validation-icon-color-disabled: var(--valence-global-color-gray-500);
  --valence-textfield-quiet-text-color-down: var(--valence-alias-text-color-down);
  --valence-textfield-quiet-placeholder-text-color-down: var(--valence-alias-placeholder-text-color-down);
  --valence-textfield-quiet-background-color-down: var(--valence-alias-background-color-transparent);
  --valence-textfield-quiet-border-color-down: var(--valence-alias-border-color-mouse-focus);
  --valence-textfield-quiet-icon-color-down: var(--valence-alias-icon-color-down);
  --valence-textfield-quiet-text-color-mouse-focus: var(--valence-alias-text-color-hover);
  --valence-textfield-quiet-placeholder-text-color-mouse-focus: var(--valence-alias-placeholder-text-color);
  --valence-textfield-quiet-background-color-mouse-focus: var(--valence-alias-background-color-transparent);
  --valence-textfield-quiet-border-color-mouse-focus: var(--valence-alias-border-color-mouse-focus);
  --valence-textfield-quiet-border-size-mouse-focus: var(--valence-alias-border-size-thin);
  --valence-textfield-quiet-icon-color-mouse-focus: var(--valence-global-color-gray-700);
  --valence-textfield-quiet-border-color-error: var(--valence-semantic-negative-color-default);
  --valence-textfield-quiet-validation-icon-color-error: var(--valence-semantic-negative-color-icon);
  --valence-textfield-quiet-border-color-error-hover: var(--valence-semantic-negative-color-state-hover);
  --valence-textfield-quiet-validation-icon-color-error-hover: var(--valence-semantic-negative-color-icon);
  --valence-textfield-quiet-border-color-error-down: var(--valence-semantic-negative-color-state-down);
  --valence-textfield-quiet-validation-icon-color-error-down: var(--valence-semantic-negative-color-icon);
  --valence-textfield-quiet-border-color-error-key-focus: var(--valence-alias-border-color-focus);
  --valence-textfield-quiet-validation-icon-color-error-key-focus: var(--valence-semantic-negative-color-icon);
  --valence-textfield-quiet-border-color-error-mouse-focus: var(--valence-semantic-negative-color-state-hover);
  --valence-textfield-quiet-validation-icon-color-error-mouse-focus: var(--valence-semantic-negative-color-icon);
  --valence-textfield-quiet-icon-color-valid: var(--valence-global-color-green-400);
  --valence-textfield-quiet-border-color-valid-hover: var(--valence-global-color-gray-400);
  --valence-textfield-quiet-icon-color-valid-hover: var(--valence-global-color-green-400);
  --valence-textfield-quiet-border-color-valid-down: var(--valence-alias-border-color-down);
  --valence-textfield-quiet-icon-color-valid-down: var(--valence-global-color-green-400);
  --valence-textfield-quiet-border-color-valid-key-focus: var(--valence-alias-border-color-focus);
  --valence-textfield-quiet-icon-color-valid-key-focus: var(--valence-global-color-green-400);
  --valence-textfield-quiet-border-color-valid-mouse-focus: var(--valence-alias-border-color-down);
  --valence-textfield-quiet-icon-color-valid-mouse-focus: var(--valence-global-color-green-400);
  --valence-textfield-quiet-placeholder-text-font-style: var(--valence-global-font-style-italic);
  --valence-textfield-quiet-placeholder-text-font-weight: var(--valence-global-font-weight-regular);
  --valence-textfield-quiet-placeholder-text-size: var(--valence-global-dimension-font-size-100);
  --valence-textfield-quiet-text-font-family: var(--valence-alias-body-text-font-family);
  --valence-textfield-quiet-text-font-style: var(--valence-global-font-style-regular);
  --valence-textfield-quiet-text-font-weight: var(--valence-alias-body-text-font-weight);
  --valence-textfield-quiet-text-line-height: var(--valence-alias-body-text-line-height);
  --valence-textfield-quiet-text-letter-spacing: var(--valence-global-font-letter-spacing-none);
  --valence-textfield-quiet-text-transform: none;
  --valence-textfield-quiet-text-size: var(--valence-alias-font-size-default);
  --valence-textfield-quiet-height: var(--valence-alias-single-line-height);
  --valence-textfield-quiet-min-width: var(--valence-global-dimension-size-600);
  --valence-textfield-quiet-padding-x: 0;
  --valence-textfield-quiet-padding-top: var(--valence-global-dimension-size-75);
  --valence-textfield-quiet-padding-bottom: var(--valence-global-dimension-size-115);
  --valence-textfield-quiet-border-radius: 0px;
  --valence-textfield-quiet-label-gap-x: var(--valence-global-dimension-size-150);
  --valence-textfield-quiet-label-gap-y: 0;
  --valence-textfield-quiet-label-padding-top: var(--valence-global-dimension-size-100);
  --valence-textfield-quiet-label-padding-bottom: var(--valence-global-dimension-size-150);
  --valence-textfield-quiet-counter-gap: var(--valence-global-dimension-size-100);
  --valence-textfield-quiet-asterisk-size: var(--valence-global-dimension-size-100);
  --valence-textfield-quiet-asterisk-gap: var(--valence-global-dimension-size-50);
  --valence-textfield-quiet-icon-size: var(--valence-global-dimension-size-225);
  --valence-textfield-quiet-success-icon-height: var(--valence-global-dimension-size-150);
  --valence-textfield-quiet-success-icon-width: var(--valence-global-dimension-size-150);
  --valence-textfield-quiet-error-icon-height: var(--valence-global-dimension-size-225);
  --valence-textfield-quiet-error-icon-width: var(--valence-global-dimension-size-225);
  --valence-textfield-quiet-text-baseline: var(--valence-global-dimension-size-150);
  --valence-textfield-quiet-cursor-hit-x: var(--valence-global-dimension-size-50);
  --valence-textfield-quiet-icon-margin-left: var(--valence-global-dimension-size-150);
  --valence-textfield-quiet-icon-margin-right: var(--valence-global-dimension-size-0);
  --valence-textfield-quiet-affixed-border-size: var(--valence-global-dimension-static-size-10);
}

.theme {

  /* Todo fix in DNA */
  --valence-textfield-quiet-border-radius: 0;

  --valence-textfield-quiet-invalid-background-position: 100% 50%;

  --valence-textfield-multiline-height: auto;
  --valence-textfield-multiline-min-height: var(
    --valence-global-dimension-size-700
  );

  --valence-textfield-multiline-padding-x: var(--valence-textfield-padding-x);
  --valence-textfield-multiline-padding-top: var(
    --valence-textfield-padding-top
  );
  --valence-textfield-multiline-padding-bottom: var(
    --valence-textfield-padding-bottom
  );

}