.theme {
  --valence-clearbutton-medium-background-color: var(--valence-alias-background-color-transparent);
  --valence-clearbutton-medium-icon-color: var(--valence-alias-icon-color);
  --valence-clearbutton-medium-background-color-hover: var(--valence-alias-background-color-transparent);
  --valence-clearbutton-medium-icon-color-hover: var(--valence-alias-icon-color-hover);
  --valence-clearbutton-medium-background-color-down: var(--valence-alias-background-color-transparent);
  --valence-clearbutton-medium-icon-color-down: var(--valence-alias-icon-color-down);
  --valence-clearbutton-medium-background-color-key-focus: var(--valence-alias-background-color-transparent);
  --valence-clearbutton-medium-icon-color-key-focus: var(--valence-alias-icon-color-focus);
  --valence-clearbutton-medium-background-color-mouse-focus: var(--valence-alias-background-color-transparent);
  --valence-clearbutton-medium-icon-color-mouse-focus: var(--valence-alias-icon-color-focus);
  --valence-clearbutton-medium-background-color-disabled: var(--valence-alias-background-color-transparent);
  --valence-clearbutton-medium-icon-color-disabled: var(--valence-alias-icon-color-disabled);
  --valence-clearbutton-medium-icon-size: var(--valence-global-dimension-size-100);
  --valence-clearbutton-medium-border-radius: var(--valence-global-dimension-static-size-0);
  --valence-clearbutton-medium-width: var(--valence-alias-single-line-height);
  --valence-clearbutton-medium-height: var(--valence-alias-single-line-height);
  --valence-clearbutton-medium-over-background-background-color: var(--valence-alias-background-color-transparent);
  --valence-clearbutton-medium-over-background-icon-color: var(--valence-global-color-static-white);
  --valence-clearbutton-medium-over-background-background-color-hover: rgba(255,255,255,0.1);
  --valence-clearbutton-medium-over-background-icon-color-hover: var(--valence-global-color-static-white);
  --valence-clearbutton-medium-over-background-background-color-down: rgba(255,255,255,0.15);
  --valence-clearbutton-medium-over-background-icon-color-down: var(--valence-global-color-static-white);
  --valence-clearbutton-medium-over-background-background-color-key-focus: var(--valence-alias-background-color-transparent);
  --valence-clearbutton-medium-over-background-icon-color-key-focus: var(--valence-alias-icon-color-focus);
  --valence-clearbutton-medium-over-background-background-color-mouse-focus: var(--valence-alias-background-color-transparent);
  --valence-clearbutton-medium-over-background-icon-color-mouse-focus: var(--valence-alias-icon-color-focus);
  --valence-clearbutton-medium-over-background-background-color-disabled: var(--valence-alias-background-color-transparent);
  --valence-clearbutton-medium-over-background-icon-color-disabled: var(--valence-alias-icon-color-disabled);
  --valence-clearbutton-medium-over-background-icon-size: var(--valence-global-dimension-size-100);
  --valence-clearbutton-medium-over-background-border-radius: var(--valence-alias-border-radius-large);
  --valence-clearbutton-medium-over-background-width: var(--valence-alias-single-line-height);
  --valence-clearbutton-medium-over-background-height: var(--valence-alias-single-line-height);
  --valence-clearbutton-small-background-color: var(--valence-alias-background-color-transparent);
  --valence-clearbutton-small-icon-color: var(--valence-alias-icon-color);
  --valence-clearbutton-small-background-color-hover: var(--valence-alias-background-color-transparent);
  --valence-clearbutton-small-icon-color-hover: var(--valence-alias-icon-color-hover);
  --valence-clearbutton-small-background-color-down: var(--valence-alias-background-color-transparent);
  --valence-clearbutton-small-icon-color-down: var(--valence-alias-icon-color-down);
  --valence-clearbutton-small-background-color-key-focus: var(--valence-alias-background-color-transparent);
  --valence-clearbutton-small-icon-color-key-focus: var(--valence-alias-icon-color-focus);
  --valence-clearbutton-small-background-color-mouse-focus: var(--valence-alias-background-color-transparent);
  --valence-clearbutton-small-icon-color-mouse-focus: var(--valence-alias-icon-color-focus);
  --valence-clearbutton-small-background-color-disabled: var(--valence-alias-background-color-transparent);
  --valence-clearbutton-small-icon-color-disabled: var(--valence-alias-icon-color-disabled);
  --valence-clearbutton-small-icon-size: var(--valence-global-dimension-size-100);
  --valence-clearbutton-small-border-radius: var(--valence-global-dimension-static-size-0);
  --valence-clearbutton-small-width: var(--valence-global-dimension-size-300);
  --valence-clearbutton-small-height: var(--valence-global-dimension-size-300);
}
