.theme {
  --valence-breadcrumb-compact-item-border-size: var(--valence-global-dimension-static-size-0);
  --valence-breadcrumb-compact-item-border-color: var(--valence-alias-border-color-transparent);
  --valence-breadcrumb-compact-item-background-color: var(--valence-alias-background-color-transparent);
  --valence-breadcrumb-compact-item-text-color: var(--valence-alias-label-text-color);
  --valence-breadcrumb-compact-item-underline-color: var(--valence-alias-border-color-transparent);
  --valence-breadcrumb-compact-item-border-size-hover: var(--valence-global-dimension-static-size-0);
  --valence-breadcrumb-compact-item-border-color-hover: var(--valence-alias-border-color-transparent);
  --valence-breadcrumb-compact-item-background-color-hover: var(--valence-alias-background-color-transparent);
  --valence-breadcrumb-compact-item-text-color-hover: var(--valence-alias-text-color-hover);
  --valence-breadcrumb-compact-item-underline-color-hover: var(--valence-alias-text-color-hover);
  --valence-breadcrumb-compact-item-border-size-down: var(--valence-global-dimension-static-size-0);
  --valence-breadcrumb-compact-item-border-color-down: var(--valence-alias-border-color-transparent);
  --valence-breadcrumb-compact-item-background-color-down: var(--valence-alias-background-color-transparent);
  --valence-breadcrumb-compact-item-text-color-down: var(--valence-alias-text-color-down);
  --valence-breadcrumb-compact-item-underline-color-down: var(--valence-alias-text-color-down);
  --valence-breadcrumb-compact-item-border-size-key-focus: var(--valence-alias-border-size-thick);
  --valence-breadcrumb-compact-item-border-color-key-focus: var(--valence-alias-border-color-focus);
  --valence-breadcrumb-compact-item-background-color-key-focus: var(--valence-alias-background-color-transparent);
  --valence-breadcrumb-compact-item-text-color-key-focus: var(--valence-alias-text-color-hover);
  --valence-breadcrumb-compact-item-underline-color-key-focus: var(--valence-alias-text-color-hover);
  --valence-breadcrumb-compact-item-border-size-drop: var(--valence-alias-border-size-thick);
  --valence-breadcrumb-compact-item-border-color-drop: var(--valence-global-color-blue-500);
  --valence-breadcrumb-compact-item-background-color-drop: var(--valence-alias-highlight-selected);
  --valence-breadcrumb-compact-item-text-color-drop: var(--valence-alias-text-color-hover);
  --valence-breadcrumb-compact-item-underline-color-drop: var(--valence-alias-border-color-transparent);
  --valence-breadcrumb-compact-item-border-size-disabled: var(--valence-global-dimension-static-size-0);
  --valence-breadcrumb-compact-item-border-color-disabled: var(--valence-alias-border-color-transparent);
  --valence-breadcrumb-compact-item-background-color-disabled: var(--valence-alias-background-color-transparent);
  --valence-breadcrumb-compact-item-text-color-disabled: var(--valence-alias-text-color-disabled);
  --valence-breadcrumb-compact-item-underline-color-disabled: var(--valence-alias-border-color-transparent);
  --valence-breadcrumb-compact-separator-icon-color: var(--valence-alias-icon-color);
  --valence-breadcrumb-compact-title-text-color: var(--valence-alias-heading-text-color);
  --valence-breadcrumb-compact-margin-top: var(--valence-global-dimension-size-100);
  --valence-breadcrumb-compact-margin-bottom: var(--valence-global-dimension-size-100);
  --valence-breadcrumb-compact-list-height: var(--valence-global-dimension-size-400);
  --valence-breadcrumb-compact-list-padding-top: var(--valence-global-dimension-static-size-25);
  --valence-breadcrumb-compact-list-padding-bottom: var(--valence-global-dimension-static-size-0);
  --valence-breadcrumb-compact-separator-margin-y: var(--valence-global-dimension-size-130);
  --valence-breadcrumb-compact-separator-icon-width: var(--valence-global-dimension-size-75);
  --valence-breadcrumb-compact-separator-icon-height: var(--valence-global-dimension-size-100);
  --valence-breadcrumb-compact-item-text-font-family: var(--valence-alias-body-text-font-family);
  --valence-breadcrumb-compact-item-text-line-height: var(--valence-alias-body-text-line-height);
  --valence-breadcrumb-compact-item-text-font-weight: var(--valence-alias-body-text-font-weight);
  --valence-breadcrumb-compact-item-margin-left: var(--valence-global-dimension-static-size-10);
  --valence-breadcrumb-compact-item-margin-right: var(--valence-global-dimension-static-size-10);
  --valence-breadcrumb-compact-item-border-radius: var(--valence-alias-border-radius-regular);
  --valence-breadcrumb-compact-item-padding-x: var(--valence-global-dimension-size-100);
  --valence-breadcrumb-compact-title-margin-top: var(--valence-global-dimension-static-size-0);
  --valence-breadcrumb-compact-title-margin-left: var(--valence-global-dimension-static-size-0);
  --valence-breadcrumb-compact-title-text-font-family: var(--valence-alias-body-text-font-family);
  --valence-breadcrumb-compact-title-text-line-height: var(--valence-alias-body-text-line-height);
  --valence-breadcrumb-compact-title-text-font-weight: var(--valence-alias-body-text-font-weight-strong);
  --valence-breadcrumb-compact-title-padding-x: var(--valence-global-dimension-size-100);
  --valence-breadcrumb-compact-button-gap: var(--valence-global-dimension-static-size-10);
  --valence-breadcrumb-compact-button-touch-hit-x: var(--valence-global-dimension-static-size-50);
  --valence-breadcrumb-compact-item-text-size: var(--valence-global-dimension-font-size-100);
  --valence-breadcrumb-compact-title-text-size: var(--valence-global-dimension-font-size-100);
  --valence-breadcrumb-item-border-size: var(--valence-global-dimension-static-size-0);
  --valence-breadcrumb-item-border-color: var(--valence-alias-border-color-transparent);
  --valence-breadcrumb-item-background-color: var(--valence-alias-background-color-transparent);
  --valence-breadcrumb-item-text-color: var(--valence-alias-label-text-color);
  --valence-breadcrumb-item-underline-color: var(--valence-alias-border-color-transparent);
  --valence-breadcrumb-ui-icon-color: var(--valence-global-color-gray-500);
  --valence-breadcrumb-text-color: var(--valence-alias-label-text-color);
  --valence-breadcrumb-item-border-size-hover: var(--valence-global-dimension-static-size-0);
  --valence-breadcrumb-item-border-color-hover: var(--valence-alias-border-color-transparent);
  --valence-breadcrumb-item-background-color-hover: var(--valence-alias-background-color-transparent);
  --valence-breadcrumb-item-text-color-hover: var(--valence-alias-text-color-hover);
  --valence-breadcrumb-item-underline-color-hover: var(--valence-alias-text-color-hover);
  --valence-breadcrumb-text-color-hover: var(--valence-alias-text-color-hover);
  --valence-breadcrumb-item-border-size-down: var(--valence-global-dimension-static-size-0);
  --valence-breadcrumb-item-border-color-down: var(--valence-alias-border-color-transparent);
  --valence-breadcrumb-item-background-color-down: var(--valence-alias-background-color-transparent);
  --valence-breadcrumb-item-text-color-down: var(--valence-alias-text-color-down);
  --valence-breadcrumb-item-underline-color-down: var(--valence-alias-text-color-down);
  --valence-breadcrumb-text-color-down: var(--valence-alias-text-color-down);
  --valence-breadcrumb-item-border-size-key-focus: var(--valence-alias-border-size-thick);
  --valence-breadcrumb-item-border-color-key-focus: var(--valence-alias-border-color-focus);
  --valence-breadcrumb-item-background-color-key-focus: var(--valence-alias-background-color-transparent);
  --valence-breadcrumb-item-text-color-key-focus: var(--valence-alias-text-color-hover);
  --valence-breadcrumb-item-underline-color-key-focus: var(--valence-alias-text-color-hover);
  --valence-breadcrumb-text-color-key-focus: var(--valence-alias-text-color-hover);
  --valence-breadcrumb-item-border-size-drop: var(--valence-alias-border-size-thick);
  --valence-breadcrumb-item-border-color-drop: var(--valence-global-color-blue-500);
  --valence-breadcrumb-item-background-color-drop: var(--valence-alias-highlight-selected);
  --valence-breadcrumb-item-text-color-drop: var(--valence-alias-text-color-hover);
  --valence-breadcrumb-item-underline-color-drop: var(--valence-alias-border-color-transparent);
  --valence-breadcrumb-item-border-size-disabled: var(--valence-global-dimension-static-size-0);
  --valence-breadcrumb-item-border-color-disabled: var(--valence-alias-border-color-transparent);
  --valence-breadcrumb-item-background-color-disabled: var(--valence-alias-background-color-transparent);
  --valence-breadcrumb-item-text-color-disabled: var(--valence-alias-text-color-disabled);
  --valence-breadcrumb-item-underline-color-disabled: var(--valence-alias-border-color-transparent);
  --valence-breadcrumb-separator-icon-color: var(--valence-alias-icon-color);
  --valence-breadcrumb-title-text-color: var(--valence-alias-heading-text-color);
  --valence-breadcrumb-margin-top: var(--valence-global-dimension-size-100);
  --valence-breadcrumb-margin-bottom: var(--valence-global-dimension-size-100);
  --valence-breadcrumb-list-height: var(--valence-global-dimension-size-400);
  --valence-breadcrumb-list-padding-top: var(--valence-global-dimension-static-size-25);
  --valence-breadcrumb-list-padding-bottom: var(--valence-global-dimension-static-size-0);
  --valence-breadcrumb-separator-margin-y: var(--valence-global-dimension-size-130);
  --valence-breadcrumb-separator-icon-width: var(--valence-global-dimension-size-75);
  --valence-breadcrumb-separator-icon-height: var(--valence-global-dimension-size-100);
  --valence-breadcrumb-item-text-font-family: var(--valence-alias-body-text-font-family);
  --valence-breadcrumb-item-text-line-height: var(--valence-alias-body-text-line-height);
  --valence-breadcrumb-item-text-font-weight: var(--valence-alias-body-text-font-weight);
  --valence-breadcrumb-item-margin-left: var(--valence-global-dimension-static-size-10);
  --valence-breadcrumb-item-margin-right: var(--valence-global-dimension-static-size-10);
  --valence-breadcrumb-item-border-radius: var(--valence-alias-border-radius-regular);
  --valence-breadcrumb-item-padding-x: var(--valence-global-dimension-size-100);
  --valence-breadcrumb-title-margin-top: var(--valence-global-dimension-static-size-0);
  --valence-breadcrumb-title-margin-left: var(--valence-global-dimension-static-size-0);
  --valence-breadcrumb-title-text-font-family: var(--valence-alias-body-text-font-family);
  --valence-breadcrumb-title-text-line-height: var(--valence-alias-body-text-line-height);
  --valence-breadcrumb-title-text-font-weight: var(--valence-alias-body-text-font-weight-strong);
  --valence-breadcrumb-title-padding-x: var(--valence-global-dimension-size-100);
  --valence-breadcrumb-button-gap: var(--valence-global-dimension-static-size-10);
  --valence-breadcrumb-button-touch-hit-x: var(--valence-global-dimension-static-size-50);
  --valence-breadcrumb-height: 32px;
  --valence-breadcrumb-ui-icon-width: var(--valence-global-dimension-size-75);
  --valence-breadcrumb-ui-icon-height: var(--valence-global-dimension-size-100);
  --valence-breadcrumb-margin: 32px;
  --valence-breadcrumb-text-size: var(--valence-global-dimension-font-size-200);
  --valence-breadcrumb-text-line-height: var(--valence-alias-body-text-line-height);
  --valence-breadcrumb-text-font-weight: var(--valence-alias-body-text-font-weight);
  --valence-breadcrumb-item-text-size: var(--valence-global-dimension-font-size-200);
  --valence-breadcrumb-title-text-size: var(--valence-global-dimension-font-size-200);
  --valence-breadcrumb-multiline-item-border-size: var(--valence-global-dimension-static-size-0);
  --valence-breadcrumb-multiline-item-border-color: var(--valence-alias-border-color-transparent);
  --valence-breadcrumb-multiline-item-background-color: var(--valence-alias-background-color-transparent);
  --valence-breadcrumb-multiline-item-text-color: var(--valence-alias-label-text-color);
  --valence-breadcrumb-multiline-item-underline-color: var(--valence-alias-border-color-transparent);
  --valence-breadcrumb-multiline-item-border-size-hover: var(--valence-global-dimension-static-size-0);
  --valence-breadcrumb-multiline-item-border-color-hover: var(--valence-alias-border-color-transparent);
  --valence-breadcrumb-multiline-item-background-color-hover: var(--valence-alias-background-color-transparent);
  --valence-breadcrumb-multiline-item-text-color-hover: var(--valence-alias-text-color-hover);
  --valence-breadcrumb-multiline-item-underline-color-hover: var(--valence-alias-text-color-hover);
  --valence-breadcrumb-multiline-item-border-size-down: var(--valence-global-dimension-static-size-0);
  --valence-breadcrumb-multiline-item-border-color-down: var(--valence-alias-border-color-transparent);
  --valence-breadcrumb-multiline-item-background-color-down: var(--valence-alias-background-color-transparent);
  --valence-breadcrumb-multiline-item-text-color-down: var(--valence-alias-text-color-down);
  --valence-breadcrumb-multiline-item-underline-color-down: var(--valence-alias-text-color-down);
  --valence-breadcrumb-multiline-item-border-size-key-focus: var(--valence-alias-border-size-thick);
  --valence-breadcrumb-multiline-item-border-color-key-focus: var(--valence-alias-border-color-focus);
  --valence-breadcrumb-multiline-item-background-color-key-focus: var(--valence-alias-background-color-transparent);
  --valence-breadcrumb-multiline-item-text-color-key-focus: var(--valence-alias-text-color-hover);
  --valence-breadcrumb-multiline-item-underline-color-key-focus: var(--valence-alias-text-color-hover);
  --valence-breadcrumb-multiline-item-border-size-drop: var(--valence-alias-border-size-thick);
  --valence-breadcrumb-multiline-item-border-color-drop: var(--valence-global-color-blue-500);
  --valence-breadcrumb-multiline-item-background-color-drop: var(--valence-alias-highlight-selected);
  --valence-breadcrumb-multiline-item-text-color-drop: var(--valence-alias-text-color-hover);
  --valence-breadcrumb-multiline-item-underline-color-drop: var(--valence-alias-border-color-transparent);
  --valence-breadcrumb-multiline-item-border-size-disabled: var(--valence-global-dimension-static-size-0);
  --valence-breadcrumb-multiline-item-border-color-disabled: var(--valence-alias-border-color-transparent);
  --valence-breadcrumb-multiline-item-background-color-disabled: var(--valence-alias-background-color-transparent);
  --valence-breadcrumb-multiline-item-text-color-disabled: var(--valence-alias-text-color-disabled);
  --valence-breadcrumb-multiline-item-underline-color-disabled: var(--valence-alias-border-color-transparent);
  --valence-breadcrumb-multiline-separator-icon-color: var(--valence-alias-icon-color);
  --valence-breadcrumb-multiline-title-text-color: var(--valence-alias-heading-text-color);
  --valence-breadcrumb-multiline-margin-top: var(--valence-global-dimension-size-100);
  --valence-breadcrumb-multiline-margin-bottom: var(--valence-global-dimension-size-100);
  --valence-breadcrumb-multiline-list-height: var(--valence-global-dimension-size-400);
  --valence-breadcrumb-multiline-list-padding-top: var(--valence-global-dimension-static-size-25);
  --valence-breadcrumb-multiline-list-padding-bottom: var(--valence-global-dimension-static-size-0);
  --valence-breadcrumb-multiline-separator-margin-y: var(--valence-global-dimension-size-130);
  --valence-breadcrumb-multiline-separator-icon-width: var(--valence-global-dimension-size-75);
  --valence-breadcrumb-multiline-separator-icon-height: var(--valence-global-dimension-size-100);
  --valence-breadcrumb-multiline-item-text-font-family: var(--valence-alias-body-text-font-family);
  --valence-breadcrumb-multiline-item-text-line-height: var(--valence-alias-body-text-line-height);
  --valence-breadcrumb-multiline-item-text-font-weight: var(--valence-alias-body-text-font-weight);
  --valence-breadcrumb-multiline-item-margin-left: var(--valence-global-dimension-static-size-10);
  --valence-breadcrumb-multiline-item-margin-right: var(--valence-global-dimension-static-size-10);
  --valence-breadcrumb-multiline-item-border-radius: var(--valence-alias-border-radius-regular);
  --valence-breadcrumb-multiline-item-padding-x: var(--valence-global-dimension-size-100);
  --valence-breadcrumb-multiline-title-margin-top: var(--valence-global-dimension-static-size-0);
  --valence-breadcrumb-multiline-title-margin-left: var(--valence-global-dimension-static-size-0);
  --valence-breadcrumb-multiline-title-text-font-family: var(--valence-alias-body-text-font-family);
  --valence-breadcrumb-multiline-title-text-line-height: var(--valence-alias-heading-text-line-height);
  --valence-breadcrumb-multiline-title-text-font-weight: var(--valence-alias-body-text-font-weight-strong);
  --valence-breadcrumb-multiline-title-padding-x: var(--valence-global-dimension-size-100);
  --valence-breadcrumb-multiline-button-gap: var(--valence-global-dimension-static-size-10);
  --valence-breadcrumb-multiline-button-touch-hit-x: var(--valence-global-dimension-static-size-50);
  --valence-breadcrumb-multiline-item-text-size: var(--valence-global-dimension-font-size-75);
  --valence-breadcrumb-multiline-title-text-size: var(--valence-global-dimension-font-size-300);
  --valence-breadcrumb-title-margin: 0.3em 0;
  --valence-breadcrumb-title-active-text-size: 28px;
  --valence-breadcrumb-title-active-text-font-weight: 300;
  --valence-breadcrumb-title-active-text-line-height: 32px;
}
