.theme {
    /* Bug: this must be 0ms, not 0 */
    --valence-dialog-background-entry-animation-delay: 0ms;
    --valence-dialog-background-exit-animation-ease: cubic-bezier(
      0.5,
      0,
      1,
      1
    ); /* wrong in DNA */
    --valence-dialog-background-entry-animation-ease: cubic-bezier(
      0,
      0,
      0.4,
      1
    ); /* wrong in DNA */
  }
  