.theme {
  --valence-progresscircle-large-text-color: var(--valence-alias-text-color);
  --valence-progresscircle-large-track-color: var(--valence-alias-track-color-default);
  --valence-progresscircle-large-track-fill-color: var(--valence-global-color-blue-500);
  --valence-progresscircle-large-track-color-disabled: var(--valence-alias-track-color-disabled);
  --valence-progresscircle-large-track-fill-color-disabled: var(--valence-alias-track-color-disabled);
  --valence-progresscircle-large-height: var(--valence-global-dimension-size-800);
  --valence-progresscircle-large-width: var(--valence-global-dimension-size-800);
  --valence-progresscircle-large-border-size: var(--valence-global-dimension-size-50);
  --valence-progresscircle-large-spin-animation-duration: var(--valence-global-animation-duration-2000);
  --valence-progresscircle-large-spin-animation-ease: var(--valence-global-animation-ease-in-out);
  --valence-progresscircle-large-indeterminate-text-color: var(--valence-alias-text-color);
  --valence-progresscircle-large-indeterminate-track-color: var(--valence-alias-track-color-default);
  --valence-progresscircle-large-indeterminate-track-fill-color: var(--valence-global-color-blue-500);
  --valence-progresscircle-large-indeterminate-track-color-disabled: var(--valence-alias-track-color-disabled);
  --valence-progresscircle-large-indeterminate-track-fill-color-disabled: var(--valence-alias-track-color-disabled);
  --valence-progresscircle-large-indeterminate-height: var(--valence-global-dimension-size-800);
  --valence-progresscircle-large-indeterminate-width: var(--valence-global-dimension-size-800);
  --valence-progresscircle-large-indeterminate-border-size: var(--valence-global-dimension-size-50);
  --valence-progresscircle-large-indeterminate-spin-animation-duration: var(--valence-global-animation-duration-2000);
  --valence-progresscircle-large-indeterminate-spin-animation-ease: var(--valence-global-animation-ease-in-out);
  --valence-progresscircle-large-over-background-text-color: var(--valence-global-color-static-white);
  --valence-progresscircle-large-over-background-track-color: var(--valence-alias-track-color-over-background);
  --valence-progresscircle-large-over-background-track-fill-color: var(--valence-global-color-static-white);
  --valence-progresscircle-large-over-background-track-color-disabled: var(--valence-alias-track-color-over-background);
  --valence-progresscircle-large-over-background-track-fill-color-disabled: var(--valence-alias-background-color-transparent);
  --valence-progresscircle-large-over-background-height: var(--valence-global-dimension-size-800);
  --valence-progresscircle-large-over-background-width: var(--valence-global-dimension-size-800);
  --valence-progresscircle-large-over-background-border-size: var(--valence-global-dimension-size-50);
  --valence-progresscircle-large-over-background-spin-animation-duration: var(--valence-global-animation-duration-2000);
  --valence-progresscircle-large-over-background-spin-animation-ease: var(--valence-global-animation-ease-in-out);
  --valence-progresscircle-medium-text-color: var(--valence-alias-text-color);
  --valence-progresscircle-medium-track-color: var(--valence-alias-track-color-default);
  --valence-progresscircle-medium-track-fill-color: var(--valence-global-color-blue-500);
  --valence-progresscircle-medium-track-color-disabled: var(--valence-alias-track-color-disabled);
  --valence-progresscircle-medium-track-fill-color-disabled: var(--valence-alias-track-color-disabled);
  --valence-progresscircle-medium-height: var(--valence-global-dimension-size-400);
  --valence-progresscircle-medium-width: var(--valence-global-dimension-size-400);
  --valence-progresscircle-medium-spin-animation-duration: var(--valence-global-animation-duration-2000);
  --valence-progresscircle-medium-spin-animation-ease: var(--valence-global-animation-ease-in-out);
  --valence-progresscircle-medium-over-background-text-color: var(--valence-global-color-static-white);
  --valence-progresscircle-medium-over-background-track-color: var(--valence-alias-track-color-over-background);
  --valence-progresscircle-medium-over-background-track-fill-color: var(--valence-global-color-static-white);
  --valence-progresscircle-medium-over-background-track-color-disabled: var(--valence-alias-track-color-over-background);
  --valence-progresscircle-medium-over-background-track-fill-color-disabled: var(--valence-alias-background-color-transparent);
  --valence-progresscircle-medium-over-background-height: var(--valence-global-dimension-size-400);
  --valence-progresscircle-medium-over-background-width: var(--valence-global-dimension-size-400);
  --valence-progresscircle-medium-over-background-spin-animation-duration: var(--valence-global-animation-duration-2000);
  --valence-progresscircle-medium-over-background-spin-animation-ease: var(--valence-global-animation-ease-in-out);
  --valence-progresscircle-small-text-color: var(--valence-alias-text-color);
  --valence-progresscircle-small-track-color: var(--valence-alias-track-color-default);
  --valence-progresscircle-small-track-fill-color: var(--valence-global-color-blue-500);
  --valence-progresscircle-small-track-color-disabled: var(--valence-alias-track-color-disabled);
  --valence-progresscircle-small-track-fill-color-disabled: var(--valence-alias-track-color-disabled);
  --valence-progresscircle-small-height: var(--valence-global-dimension-size-200);
  --valence-progresscircle-small-width: var(--valence-global-dimension-size-200);
  --valence-progresscircle-small-spin-animation-duration: var(--valence-global-animation-duration-2000);
  --valence-progresscircle-small-spin-animation-ease: var(--valence-global-animation-ease-in-out);
  --valence-progresscircle-small-indeterminate-text-color: var(--valence-alias-text-color);
  --valence-progresscircle-small-indeterminate-track-color: var(--valence-alias-track-color-default);
  --valence-progresscircle-small-indeterminate-track-fill-color: var(--valence-global-color-blue-500);
  --valence-progresscircle-small-indeterminate-track-color-disabled: var(--valence-alias-track-color-disabled);
  --valence-progresscircle-small-indeterminate-track-fill-color-disabled: var(--valence-alias-track-color-disabled);
  --valence-progresscircle-small-indeterminate-height: var(--valence-global-dimension-size-200);
  --valence-progresscircle-small-indeterminate-width: var(--valence-global-dimension-size-200);
  --valence-progresscircle-small-indeterminate-spin-animation-duration: var(--valence-global-animation-duration-2000);
  --valence-progresscircle-small-indeterminate-spin-animation-ease: var(--valence-global-animation-ease-in-out);
  --valence-progresscircle-small-over-background-text-color: var(--valence-global-color-static-white);
  --valence-progresscircle-small-over-background-track-color: var(--valence-alias-track-color-over-background);
  --valence-progresscircle-small-over-background-track-fill-color: var(--valence-global-color-static-white);
  --valence-progresscircle-small-over-background-track-color-disabled: var(--valence-alias-track-color-over-background);
  --valence-progresscircle-small-over-background-track-fill-color-disabled: var(--valence-alias-background-color-transparent);
  --valence-progresscircle-small-over-background-height: var(--valence-global-dimension-size-200);
  --valence-progresscircle-small-over-background-width: var(--valence-global-dimension-size-200);
  --valence-progresscircle-small-over-background-spin-animation-duration: var(--valence-global-animation-duration-2000);
  --valence-progresscircle-small-over-background-spin-animation-ease: var(--valence-global-animation-ease-in-out);
}
