.theme {
  --valence-button-cta-icon-color: var(--valence-global-color-static-white);
  --valence-button-cta-background-color: var(--valence-semantic-cta-color-background-default);
  --valence-button-cta-border-color: var(--valence-semantic-cta-color-background-default);
  --valence-button-cta-text-color: var(--valence-global-color-static-white);
  --valence-button-cta-icon-color-hover: var(--valence-global-color-static-white);
  --valence-button-cta-background-color-hover: var(--valence-semantic-cta-color-background-hover);
  --valence-button-cta-border-color-hover: var(--valence-semantic-cta-color-background-hover);
  --valence-button-cta-text-color-hover: var(--valence-global-color-static-white);
  --valence-button-cta-icon-color-down: var(--valence-global-color-static-white);
  --valence-button-cta-background-color-down: var(--valence-semantic-cta-color-background-down);
  --valence-button-cta-border-color-down: var(--valence-semantic-cta-color-background-down);
  --valence-button-cta-text-color-down: var(--valence-global-color-static-white);
  --valence-button-cta-icon-color-key-focus: var(--valence-global-color-static-white);
  --valence-button-cta-border-size-increase-key-focus: 1px;
  --valence-button-cta-focus-ring-gap-key-focus: var(--valence-alias-focus-ring-gap);
  --valence-button-cta-focus-ring-size-key-focus: var(--valence-alias-focus-ring-size);
  --valence-button-cta-focus-ring-color-key-focus: var(--valence-alias-focus-ring-color);
  --valence-button-cta-focus-ring-border-radius-key-focus: var(--valence-global-dimension-size-250);
  --valence-button-cta-background-color-key-focus: var(--valence-semantic-cta-color-background-hover);
  --valence-button-cta-border-color-key-focus: var(--valence-semantic-cta-color-background-hover);
  --valence-button-cta-text-color-key-focus: var(--valence-global-color-static-white);
  --valence-button-cta-icon-color-disabled: var(--valence-global-color-gray-500);
  --valence-button-cta-background-color-disabled: var(--valence-global-color-gray-200);
  --valence-button-cta-border-color-disabled: var(--valence-global-color-gray-200);
  --valence-button-cta-text-color-disabled: var(--valence-global-color-gray-500);
  --valence-button-cta-height: var(--valence-alias-single-line-height);
  --valence-button-cta-padding-x: var(--valence-global-dimension-size-200);
  --valence-button-cta-text-padding-x: var(--valence-global-dimension-size-200);
  --valence-button-cta-text-padding-top: var(--valence-global-dimension-size-75);
  --valence-button-cta-medium-text-padding-bottom: var(--valence-global-dimension-size-85);
  --valence-button-cta-large-text-padding-bottom: var(--valence-global-dimension-size-100);
  --valence-button-cta-icon-padding-left: var(--valence-global-dimension-size-175);
  --valence-button-cta-icon-padding-right: var(--valence-global-dimension-size-100);
  --valence-button-cta-icon-padding-y: var(--valence-global-dimension-size-85);
  --valence-button-cta-border-radius: var(--valence-alias-border-radius-large);
  --valence-button-cta-border-size: var(--valence-alias-border-size-thick);
  --valence-button-cta-text-font-weight: var(--valence-global-font-weight-bold);
  --valence-button-cta-text-gap: var(--valence-global-dimension-size-100);
  --valence-button-cta-text-size: var(--valence-alias-pill-button-text-size);
  --valence-button-cta-text-baseline: var(--valence-alias-pill-button-text-baseline);
  --valence-button-cta-text-line-height: var(--valence-alias-button-text-line-height);
  --valence-button-over-background-icon-color: var(--valence-global-color-static-white);
  --valence-button-over-background-background-color: var(--valence-alias-background-color-transparent);
  --valence-button-over-background-border-color: var(--valence-global-color-static-white);
  --valence-button-over-background-text-color: var(--valence-global-color-static-white);
  --valence-button-over-background-icon-color-hover: var(--valence-global-color-gray-50);
  --valence-button-over-background-background-color-hover: var(--valence-global-color-static-white);
  --valence-button-over-background-border-color-hover: var(--valence-global-color-static-white);
  --valence-button-over-background-icon-color-down: var(--valence-global-color-gray-50);
  --valence-button-over-background-background-color-down: var(--valence-global-color-static-white);
  --valence-button-over-background-border-color-down: var(--valence-global-color-static-white);
  --valence-button-over-background-icon-color-key-focus: var(--valence-global-color-gray-50);
  --valence-button-over-background-border-size-increase-key-focus: 1px;
  --valence-button-over-background-focus-ring-gap-key-focus: var(--valence-alias-focus-ring-gap);
  --valence-button-over-background-focus-ring-size-key-focus: var(--valence-alias-focus-ring-size);
  --valence-button-over-background-focus-ring-color-key-focus: var(--valence-global-color-static-white);
  --valence-button-over-background-focus-ring-border-radius-key-focus: var(--valence-global-dimension-size-250);
  --valence-button-over-background-background-color-key-focus: var(--valence-global-color-static-white);
  --valence-button-over-background-border-color-key-focus: var(--valence-global-color-static-white);
  --valence-button-over-background-icon-color-disabled: rgba(255,255,255,0.35);
  --valence-button-over-background-background-color-disabled: rgba(255,255,255,0.1);
  --valence-button-over-background-border-color-disabled: var(--valence-alias-border-color-transparent);
  --valence-button-over-background-text-color-disabled: rgba(255,255,255,0.35);
  --valence-button-over-background-height: var(--valence-alias-single-line-height);
  --valence-button-over-background-padding-x: var(--valence-global-dimension-size-200);
  --valence-button-over-background-text-padding-x: var(--valence-global-dimension-size-200);
  --valence-button-over-background-text-padding-top: var(--valence-global-dimension-size-75);
  --valence-button-over-background-medium-text-padding-bottom: var(--valence-global-dimension-size-85);
  --valence-button-over-background-large-text-padding-bottom: var(--valence-global-dimension-size-100);
  --valence-button-over-background-icon-padding-left: var(--valence-global-dimension-size-175);
  --valence-button-over-background-icon-padding-right: var(--valence-global-dimension-size-100);
  --valence-button-over-background-icon-padding-y: var(--valence-global-dimension-size-85);
  --valence-button-over-background-border-radius: var(--valence-alias-border-radius-large);
  --valence-button-over-background-border-size: var(--valence-alias-border-size-thick);
  --valence-button-over-background-text-font-weight: var(--valence-global-font-weight-bold);
  --valence-button-over-background-text-gap: var(--valence-global-dimension-size-100);
  --valence-button-over-background-text-size: var(--valence-alias-pill-button-text-size);
  --valence-button-over-background-text-baseline: var(--valence-alias-pill-button-text-baseline);
  --valence-button-over-background-text-line-height: var(--valence-alias-button-text-line-height);
  --valence-button-primary-icon-color: var(--valence-alias-icon-color);
  --valence-button-primary-background-color: var(--valence-alias-background-color-transparent);
  --valence-button-primary-border-color: var(--valence-global-color-gray-800);
  --valence-button-primary-text-color: var(--valence-global-color-gray-800);
  --valence-button-primary-icon-color-hover: var(--valence-alias-icon-color-hover);
  --valence-button-primary-background-color-hover: var(--valence-global-color-gray-800);
  --valence-button-primary-border-color-hover: var(--valence-global-color-gray-800);
  --valence-button-primary-text-color-hover: var(--valence-global-color-gray-50);
  --valence-button-primary-icon-color-down: var(--valence-alias-icon-color-down);
  --valence-button-primary-background-color-down: var(--valence-global-color-gray-900);
  --valence-button-primary-border-color-down: var(--valence-global-color-gray-900);
  --valence-button-primary-text-color-down: var(--valence-global-color-gray-50);
  --valence-button-primary-icon-color-key-focus: var(--valence-alias-icon-color-focus);
  --valence-button-primary-border-size-increase-key-focus: 1px;
  --valence-button-primary-focus-ring-gap-key-focus: var(--valence-alias-focus-ring-gap);
  --valence-button-primary-focus-ring-size-key-focus: var(--valence-alias-focus-ring-size);
  --valence-button-primary-focus-ring-color-key-focus: var(--valence-alias-focus-ring-color);
  --valence-button-primary-focus-ring-border-radius-key-focus: var(--valence-global-dimension-size-250);
  --valence-button-primary-background-color-key-focus: var(--valence-global-color-gray-800);
  --valence-button-primary-border-color-key-focus: var(--valence-global-color-gray-800);
  --valence-button-primary-text-color-key-focus: var(--valence-global-color-gray-50);
  --valence-button-primary-icon-color-disabled: var(--valence-alias-icon-color-disabled);
  --valence-button-primary-background-color-disabled: var(--valence-global-color-gray-200);
  --valence-button-primary-border-color-disabled: var(--valence-global-color-gray-200);
  --valence-button-primary-text-color-disabled: var(--valence-global-color-gray-500);
  --valence-button-primary-height: var(--valence-alias-single-line-height);
  --valence-button-primary-padding-x: var(--valence-global-dimension-size-200);
  --valence-button-primary-text-padding-x: var(--valence-global-dimension-size-200);
  --valence-button-primary-text-padding-top: var(--valence-global-dimension-size-75);
  --valence-button-primary-medium-text-padding-bottom: var(--valence-global-dimension-size-85);
  --valence-button-primary-large-text-padding-bottom: var(--valence-global-dimension-size-100);
  --valence-button-primary-icon-padding-left: var(--valence-global-dimension-size-175);
  --valence-button-primary-icon-padding-right: var(--valence-global-dimension-size-100);
  --valence-button-primary-icon-padding-y: var(--valence-global-dimension-size-85);
  --valence-button-primary-border-radius: var(--valence-alias-border-radius-large);
  --valence-button-primary-border-size: var(--valence-alias-border-size-thick);
  --valence-button-primary-text-font-weight: var(--valence-global-font-weight-bold);
  --valence-button-primary-text-gap: var(--valence-global-dimension-size-100);
  --valence-button-primary-text-size: var(--valence-alias-pill-button-text-size);
  --valence-button-primary-text-baseline: var(--valence-alias-pill-button-text-baseline);
  --valence-button-primary-text-line-height: var(--valence-alias-button-text-line-height);
  --valence-button-primary-icon-size: var(--valence-alias-workflow-icon-size);
  --valence-button-quiet-over-background-icon-color: var(--valence-global-color-static-white);
  --valence-button-quiet-over-background-background-color: var(--valence-alias-background-color-transparent);
  --valence-button-quiet-over-background-border-color: var(--valence-alias-border-color-transparent);
  --valence-button-quiet-over-background-text-color: var(--valence-global-color-static-white);
  --valence-button-quiet-over-background-icon-color-hover: var(--valence-global-color-static-white);
  --valence-button-quiet-over-background-background-color-hover: rgba(255,255,255,0.1);
  --valence-button-quiet-over-background-border-color-hover: var(--valence-alias-border-color-transparent);
  --valence-button-quiet-over-background-text-color-hover: var(--valence-global-color-static-white);
  --valence-button-quiet-over-background-icon-color-down: var(--valence-global-color-static-white);
  --valence-button-quiet-over-background-background-color-down: rgba(255,255,255,0.15);
  --valence-button-quiet-over-background-border-color-down: var(--valence-alias-border-color-transparent);
  --valence-button-quiet-over-background-text-color-down: var(--valence-global-color-static-white);
  --valence-button-quiet-over-background-icon-color-key-focus: var(--valence-global-color-static-white);
  --valence-button-quiet-over-background-border-size-increase-key-focus: 1px;
  --valence-button-quiet-over-background-focus-ring-gap-key-focus: var(--valence-alias-focus-ring-gap);
  --valence-button-quiet-over-background-focus-ring-size-key-focus: var(--valence-alias-focus-ring-size);
  --valence-button-quiet-over-background-focus-ring-color-key-focus: var(--valence-global-color-static-white);
  --valence-button-quiet-over-background-focus-ring-border-radius-key-focus: var(--valence-global-dimension-size-250);
  --valence-button-quiet-over-background-background-color-key-focus: rgba(255,255,255,0.1);
  --valence-button-quiet-over-background-border-color-key-focus: var(--valence-alias-border-color-transparent);
  --valence-button-quiet-over-background-text-color-key-focus: var(--valence-global-color-static-white);
  --valence-button-quiet-over-background-icon-color-disabled: rgba(255,255,255,0.15);
  --valence-button-quiet-over-background-background-color-disabled: var(--valence-alias-background-color-transparent);
  --valence-button-quiet-over-background-border-color-disabled: var(--valence-alias-border-color-transparent);
  --valence-button-quiet-over-background-text-color-disabled: rgba(255,255,255,0.15);
  --valence-button-quiet-over-background-height: var(--valence-alias-single-line-height);
  --valence-button-quiet-over-background-padding-x: var(--valence-global-dimension-size-200);
  --valence-button-quiet-over-background-text-padding-x: var(--valence-global-dimension-size-200);
  --valence-button-quiet-over-background-text-padding-top: var(--valence-global-dimension-size-75);
  --valence-button-quiet-over-background-medium-text-padding-bottom: var(--valence-global-dimension-size-85);
  --valence-button-quiet-over-background-large-text-padding-bottom: var(--valence-global-dimension-size-100);
  --valence-button-quiet-over-background-icon-padding-left: var(--valence-global-dimension-size-175);
  --valence-button-quiet-over-background-icon-padding-right: var(--valence-global-dimension-size-100);
  --valence-button-quiet-over-background-icon-padding-y: var(--valence-global-dimension-size-85);
  --valence-button-quiet-over-background-border-radius: var(--valence-alias-border-radius-large);
  --valence-button-quiet-over-background-border-size: 0;
  --valence-button-quiet-over-background-text-font-weight: var(--valence-global-font-weight-bold);
  --valence-button-quiet-over-background-text-gap: var(--valence-global-dimension-size-100);
  --valence-button-quiet-over-background-text-size: var(--valence-alias-pill-button-text-size);
  --valence-button-quiet-over-background-text-baseline: var(--valence-alias-pill-button-text-baseline);
  --valence-button-quiet-over-background-text-line-height: var(--valence-alias-button-text-line-height);
  --valence-button-quiet-primary-icon-color: var(--valence-global-color-gray-800);
  --valence-button-quiet-primary-background-color: var(--valence-alias-background-color-transparent);
  --valence-button-quiet-primary-border-color: var(--valence-alias-border-color-transparent);
  --valence-button-quiet-primary-text-color: var(--valence-global-color-gray-800);
  --valence-button-quiet-primary-icon-color-hover: var(--valence-alias-icon-color-hover);
  --valence-button-quiet-primary-background-color-hover: var(--valence-global-color-gray-200);
  --valence-button-quiet-primary-border-color-hover: var(--valence-global-color-gray-200);
  --valence-button-quiet-primary-text-color-hover: var(--valence-global-color-gray-900);
  --valence-button-quiet-primary-icon-color-down: var(--valence-alias-icon-color-down);
  --valence-button-quiet-primary-background-color-down: var(--valence-global-color-gray-300);
  --valence-button-quiet-primary-border-color-down: var(--valence-global-color-gray-300);
  --valence-button-quiet-primary-text-color-down: var(--valence-global-color-gray-900);
  --valence-button-quiet-primary-icon-color-key-focus: var(--valence-alias-icon-color-focus);
  --valence-button-quiet-primary-border-size-increase-key-focus: 1px;
  --valence-button-quiet-primary-focus-ring-gap-key-focus: var(--valence-alias-focus-ring-gap);
  --valence-button-quiet-primary-focus-ring-size-key-focus: var(--valence-alias-focus-ring-size);
  --valence-button-quiet-primary-focus-ring-color-key-focus: var(--valence-alias-focus-ring-color);
  --valence-button-quiet-primary-focus-ring-border-radius-key-focus: var(--valence-global-dimension-size-250);
  --valence-button-quiet-primary-background-color-key-focus: var(--valence-global-color-gray-200);
  --valence-button-quiet-primary-border-color-key-focus: var(--valence-global-color-gray-200);
  --valence-button-quiet-primary-text-color-key-focus: var(--valence-global-color-gray-900);
  --valence-button-quiet-primary-icon-color-disabled: var(--valence-alias-icon-color-disabled);
  --valence-button-quiet-primary-background-color-disabled: var(--valence-alias-background-color-transparent);
  --valence-button-quiet-primary-border-color-disabled: var(--valence-alias-border-color-transparent);
  --valence-button-quiet-primary-text-color-disabled: var(--valence-global-color-gray-500);
  --valence-button-quiet-primary-height: var(--valence-alias-single-line-height);
  --valence-button-quiet-primary-padding-x: var(--valence-global-dimension-size-200);
  --valence-button-quiet-primary-text-padding-x: var(--valence-global-dimension-size-200);
  --valence-button-quiet-primary-text-padding-top: var(--valence-global-dimension-size-75);
  --valence-button-quiet-primary-medium-text-padding-bottom: var(--valence-global-dimension-size-85);
  --valence-button-quiet-primary-large-text-padding-bottom: var(--valence-global-dimension-size-100);
  --valence-button-quiet-primary-icon-padding-left: var(--valence-global-dimension-size-175);
  --valence-button-quiet-primary-icon-padding-right: var(--valence-global-dimension-size-100);
  --valence-button-quiet-primary-icon-padding-y: var(--valence-global-dimension-size-85);
  --valence-button-quiet-primary-border-radius: var(--valence-alias-border-radius-large);
  --valence-button-quiet-primary-border-size: 0;
  --valence-button-quiet-primary-text-font-weight: var(--valence-global-font-weight-bold);
  --valence-button-quiet-primary-text-gap: var(--valence-global-dimension-size-100);
  --valence-button-quiet-primary-text-size: var(--valence-alias-pill-button-text-size);
  --valence-button-quiet-primary-text-baseline: var(--valence-alias-pill-button-text-baseline);
  --valence-button-quiet-primary-text-line-height: var(--valence-alias-button-text-line-height);
  --valence-button-quiet-primary-icon-size: var(--valence-alias-workflow-icon-size);
  --valence-button-quiet-secondary-icon-color: var(--valence-alias-icon-color);
  --valence-button-quiet-secondary-background-color: var(--valence-alias-background-color-transparent);
  --valence-button-quiet-secondary-border-color: var(--valence-alias-border-color-transparent);
  --valence-button-quiet-secondary-text-color: var(--valence-global-color-gray-700);
  --valence-button-quiet-secondary-icon-color-hover: var(--valence-alias-icon-color-hover);
  --valence-button-quiet-secondary-background-color-hover: var(--valence-global-color-gray-200);
  --valence-button-quiet-secondary-border-color-hover: var(--valence-global-color-gray-200);
  --valence-button-quiet-secondary-text-color-hover: var(--valence-global-color-gray-800);
  --valence-button-quiet-secondary-icon-color-down: var(--valence-alias-icon-color-down);
  --valence-button-quiet-secondary-background-color-down: var(--valence-global-color-gray-300);
  --valence-button-quiet-secondary-border-color-down: var(--valence-global-color-gray-300);
  --valence-button-quiet-secondary-text-color-down: var(--valence-global-color-gray-800);
  --valence-button-quiet-secondary-icon-color-key-focus: var(--valence-alias-icon-color-focus);
  --valence-button-quiet-secondary-border-size-increase-key-focus: 1px;
  --valence-button-quiet-secondary-focus-ring-gap-key-focus: var(--valence-alias-focus-ring-gap);
  --valence-button-quiet-secondary-focus-ring-size-key-focus: var(--valence-alias-focus-ring-size);
  --valence-button-quiet-secondary-focus-ring-color-key-focus: var(--valence-alias-focus-ring-color);
  --valence-button-quiet-secondary-focus-ring-border-radius-key-focus: var(--valence-global-dimension-size-250);
  --valence-button-quiet-secondary-background-color-key-focus: var(--valence-global-color-gray-200);
  --valence-button-quiet-secondary-border-color-key-focus: var(--valence-global-color-gray-200);
  --valence-button-quiet-secondary-text-color-key-focus: var(--valence-global-color-gray-800);
  --valence-button-quiet-secondary-icon-color-disabled: var(--valence-alias-icon-color-disabled);
  --valence-button-quiet-secondary-background-color-disabled: var(--valence-alias-background-color-transparent);
  --valence-button-quiet-secondary-border-color-disabled: var(--valence-alias-border-color-transparent);
  --valence-button-quiet-secondary-text-color-disabled: var(--valence-global-color-gray-500);
  --valence-button-quiet-secondary-height: var(--valence-alias-single-line-height);
  --valence-button-quiet-secondary-padding-x: var(--valence-global-dimension-size-200);
  --valence-button-quiet-secondary-text-padding-x: var(--valence-global-dimension-size-200);
  --valence-button-quiet-secondary-text-padding-top: var(--valence-global-dimension-size-75);
  --valence-button-quiet-secondary-medium-text-padding-bottom: var(--valence-global-dimension-size-85);
  --valence-button-quiet-secondary-large-text-padding-bottom: var(--valence-global-dimension-size-100);
  --valence-button-quiet-secondary-icon-padding-left: var(--valence-global-dimension-size-175);
  --valence-button-quiet-secondary-icon-padding-right: var(--valence-global-dimension-size-100);
  --valence-button-quiet-secondary-icon-padding-y: var(--valence-global-dimension-size-85);
  --valence-button-quiet-secondary-border-radius: var(--valence-alias-border-radius-large);
  --valence-button-quiet-secondary-border-size: 0;
  --valence-button-quiet-secondary-text-font-weight: var(--valence-global-font-weight-bold);
  --valence-button-quiet-secondary-text-gap: var(--valence-global-dimension-size-100);
  --valence-button-quiet-secondary-text-size: var(--valence-alias-pill-button-text-size);
  --valence-button-quiet-secondary-text-baseline: var(--valence-alias-pill-button-text-baseline);
  --valence-button-quiet-secondary-text-line-height: var(--valence-alias-button-text-line-height);
  --valence-button-quiet-secondary-icon-size: var(--valence-alias-workflow-icon-size);
  --valence-button-quiet-warning-icon-color: var(--valence-semantic-negative-color-text-small);
  --valence-button-quiet-warning-background-color: var(--valence-alias-background-color-transparent);
  --valence-button-quiet-warning-border-color: var(--valence-alias-border-color-transparent);
  --valence-button-quiet-warning-text-color: var(--valence-semantic-negative-color-text-small);
  --valence-button-quiet-warning-icon-color-hover: var(--valence-global-color-red-700);
  --valence-button-quiet-warning-background-color-hover: var(--valence-global-color-gray-200);
  --valence-button-quiet-warning-border-color-hover: var(--valence-global-color-gray-200);
  --valence-button-quiet-warning-text-color-hover: var(--valence-global-color-red-700);
  --valence-button-quiet-warning-icon-color-down: var(--valence-global-color-red-700);
  --valence-button-quiet-warning-background-color-down: var(--valence-global-color-gray-300);
  --valence-button-quiet-warning-border-color-down: var(--valence-global-color-gray-300);
  --valence-button-quiet-warning-text-color-down: var(--valence-global-color-red-700);
  --valence-button-quiet-warning-icon-color-key-focus: var(--valence-global-color-red-700);
  --valence-button-quiet-warning-border-size-increase-key-focus: 1px;
  --valence-button-quiet-warning-focus-ring-gap-key-focus: var(--valence-alias-focus-ring-gap);
  --valence-button-quiet-warning-focus-ring-size-key-focus: var(--valence-alias-focus-ring-size);
  --valence-button-quiet-warning-focus-ring-color-key-focus: var(--valence-alias-focus-ring-color);
  --valence-button-quiet-warning-focus-ring-border-radius-key-focus: var(--valence-global-dimension-size-250);
  --valence-button-quiet-warning-background-color-key-focus: var(--valence-global-color-gray-200);
  --valence-button-quiet-warning-border-color-key-focus: var(--valence-global-color-gray-200);
  --valence-button-quiet-warning-text-color-key-focus: var(--valence-global-color-red-700);
  --valence-button-quiet-warning-icon-color-disabled: var(--valence-alias-icon-color-disabled);
  --valence-button-quiet-warning-background-color-disabled: var(--valence-alias-background-color-transparent);
  --valence-button-quiet-warning-border-color-disabled: var(--valence-alias-border-color-transparent);
  --valence-button-quiet-warning-text-color-disabled: var(--valence-global-color-gray-500);
  --valence-button-quiet-warning-height: var(--valence-alias-single-line-height);
  --valence-button-quiet-warning-padding-x: var(--valence-global-dimension-size-200);
  --valence-button-quiet-warning-text-padding-x: var(--valence-global-dimension-size-200);
  --valence-button-quiet-warning-text-padding-top: var(--valence-global-dimension-size-75);
  --valence-button-quiet-warning-medium-text-padding-bottom: var(--valence-global-dimension-size-85);
  --valence-button-quiet-warning-large-text-padding-bottom: var(--valence-global-dimension-size-100);
  --valence-button-quiet-warning-icon-padding-left: var(--valence-global-dimension-size-175);
  --valence-button-quiet-warning-icon-padding-right: var(--valence-global-dimension-size-100);
  --valence-button-quiet-warning-icon-padding-y: var(--valence-global-dimension-size-85);
  --valence-button-quiet-warning-border-radius: var(--valence-alias-border-radius-large);
  --valence-button-quiet-warning-border-size: 0;
  --valence-button-quiet-warning-text-font-weight: var(--valence-global-font-weight-bold);
  --valence-button-quiet-warning-text-gap: var(--valence-global-dimension-size-100);
  --valence-button-quiet-warning-text-size: var(--valence-alias-pill-button-text-size);
  --valence-button-quiet-warning-text-baseline: var(--valence-alias-pill-button-text-baseline);
  --valence-button-quiet-warning-text-line-height: var(--valence-alias-button-text-line-height);
  --valence-button-quiet-warning-icon-size: var(--valence-alias-workflow-icon-size);
  --valence-button-secondary-icon-color: var(--valence-alias-icon-color);
  --valence-button-secondary-background-color: var(--valence-alias-background-color-transparent);
  --valence-button-secondary-border-color: var(--valence-global-color-gray-700);
  --valence-button-secondary-text-color: var(--valence-global-color-gray-700);
  --valence-button-secondary-icon-color-hover: var(--valence-alias-icon-color-hover);
  --valence-button-secondary-background-color-hover: var(--valence-global-color-gray-700);
  --valence-button-secondary-border-color-hover: var(--valence-global-color-gray-700);
  --valence-button-secondary-text-color-hover: var(--valence-global-color-gray-50);
  --valence-button-secondary-icon-color-down: var(--valence-alias-icon-color-down);
  --valence-button-secondary-background-color-down: var(--valence-global-color-gray-800);
  --valence-button-secondary-border-color-down: var(--valence-global-color-gray-800);
  --valence-button-secondary-text-color-down: var(--valence-global-color-gray-50);
  --valence-button-secondary-icon-color-key-focus: var(--valence-alias-icon-color-focus);
  --valence-button-secondary-border-size-increase-key-focus: 1px;
  --valence-button-secondary-focus-ring-gap-key-focus: var(--valence-alias-focus-ring-gap);
  --valence-button-secondary-focus-ring-size-key-focus: var(--valence-alias-focus-ring-size);
  --valence-button-secondary-focus-ring-color-key-focus: var(--valence-alias-focus-ring-color);
  --valence-button-secondary-focus-ring-border-radius-key-focus: var(--valence-global-dimension-size-250);
  --valence-button-secondary-background-color-key-focus: var(--valence-global-color-gray-700);
  --valence-button-secondary-border-color-key-focus: var(--valence-global-color-gray-700);
  --valence-button-secondary-text-color-key-focus: var(--valence-global-color-gray-50);
  --valence-button-secondary-icon-color-disabled: var(--valence-alias-icon-color-disabled);
  --valence-button-secondary-background-color-disabled: var(--valence-global-color-gray-200);
  --valence-button-secondary-border-color-disabled: var(--valence-global-color-gray-200);
  --valence-button-secondary-text-color-disabled: var(--valence-global-color-gray-500);
  --valence-button-secondary-height: var(--valence-alias-single-line-height);
  --valence-button-secondary-padding-x: var(--valence-global-dimension-size-200);
  --valence-button-secondary-text-padding-x: var(--valence-global-dimension-size-200);
  --valence-button-secondary-text-padding-top: var(--valence-global-dimension-size-75);
  --valence-button-secondary-medium-text-padding-bottom: var(--valence-global-dimension-size-85);
  --valence-button-secondary-large-text-padding-bottom: var(--valence-global-dimension-size-100);
  --valence-button-secondary-icon-padding-left: var(--valence-global-dimension-size-175);
  --valence-button-secondary-icon-padding-right: var(--valence-global-dimension-size-100);
  --valence-button-secondary-icon-padding-y: var(--valence-global-dimension-size-85);
  --valence-button-secondary-border-radius: var(--valence-alias-border-radius-large);
  --valence-button-secondary-border-size: var(--valence-alias-border-size-thick);
  --valence-button-secondary-text-font-weight: var(--valence-global-font-weight-bold);
  --valence-button-secondary-text-gap: var(--valence-global-dimension-size-100);
  --valence-button-secondary-text-size: var(--valence-alias-pill-button-text-size);
  --valence-button-secondary-text-baseline: var(--valence-alias-pill-button-text-baseline);
  --valence-button-secondary-text-line-height: var(--valence-alias-button-text-line-height);
  --valence-button-secondary-icon-size: var(--valence-alias-workflow-icon-size);
  --valence-button-warning-icon-color: var(--valence-semantic-negative-color-text-small);
  --valence-button-warning-background-color: var(--valence-alias-background-color-transparent);
  --valence-button-warning-border-color: var(--valence-semantic-negative-color-text-small);
  --valence-button-warning-text-color: var(--valence-semantic-negative-color-text-small);
  --valence-button-warning-icon-color-hover: var(--valence-global-color-gray-50);
  --valence-button-warning-background-color-hover: var(--valence-semantic-negative-color-text-small);
  --valence-button-warning-border-color-hover: var(--valence-semantic-negative-color-text-small);
  --valence-button-warning-text-color-hover: var(--valence-global-color-gray-50);
  --valence-button-warning-icon-color-down: var(--valence-global-color-gray-50);
  --valence-button-warning-background-color-down: var(--valence-global-color-red-700);
  --valence-button-warning-border-color-down: var(--valence-global-color-red-700);
  --valence-button-warning-text-color-down: var(--valence-global-color-gray-50);
  --valence-button-warning-icon-color-key-focus: var(--valence-global-color-gray-50);
  --valence-button-warning-border-size-increase-key-focus: 1px;
  --valence-button-warning-focus-ring-gap-key-focus: var(--valence-alias-focus-ring-gap);
  --valence-button-warning-focus-ring-size-key-focus: var(--valence-alias-focus-ring-size);
  --valence-button-warning-focus-ring-color-key-focus: var(--valence-alias-focus-ring-color);
  --valence-button-warning-focus-ring-border-radius-key-focus: var(--valence-global-dimension-size-250);
  --valence-button-warning-background-color-key-focus: var(--valence-semantic-negative-color-text-small);
  --valence-button-warning-border-color-key-focus: var(--valence-semantic-negative-color-text-small);
  --valence-button-warning-text-color-key-focus: var(--valence-global-color-gray-50);
  --valence-button-warning-icon-color-disabled: var(--valence-alias-icon-color-disabled);
  --valence-button-warning-background-color-disabled: var(--valence-global-color-gray-200);
  --valence-button-warning-border-color-disabled: var(--valence-global-color-gray-200);
  --valence-button-warning-text-color-disabled: var(--valence-global-color-gray-500);
  --valence-button-warning-height: var(--valence-alias-single-line-height);
  --valence-button-warning-padding-x: var(--valence-global-dimension-size-200);
  --valence-button-warning-text-padding-x: var(--valence-global-dimension-size-200);
  --valence-button-warning-text-padding-top: var(--valence-global-dimension-size-75);
  --valence-button-warning-medium-text-padding-bottom: var(--valence-global-dimension-size-85);
  --valence-button-warning-large-text-padding-bottom: var(--valence-global-dimension-size-100);
  --valence-button-warning-icon-padding-left: var(--valence-global-dimension-size-175);
  --valence-button-warning-icon-padding-right: var(--valence-global-dimension-size-100);
  --valence-button-warning-icon-padding-y: var(--valence-global-dimension-size-85);
  --valence-button-warning-border-radius: var(--valence-alias-border-radius-large);
  --valence-button-warning-border-size: var(--valence-alias-border-size-thick);
  --valence-button-warning-text-font-weight: var(--valence-global-font-weight-bold);
  --valence-button-warning-text-gap: var(--valence-global-dimension-size-100);
  --valence-button-warning-text-size: var(--valence-alias-pill-button-text-size);
  --valence-button-warning-text-baseline: var(--valence-alias-pill-button-text-baseline);
  --valence-button-warning-text-line-height: var(--valence-alias-button-text-line-height);
  --valence-button-warning-icon-size: var(--valence-alias-workflow-icon-size);
}

.theme {
  /* Todo: fix in DNA, should have been zero */
  --valence-fieldbutton-quiet-border-size: 0;
  --valence-fieldbutton-disabled-border-size: 0;
  --valence-fieldbutton-quiet-margin: 0;
  --valence-fieldbutton-quiet-padding: 0;

  /* Hardcoded for wrapping study, needs to be in DNA */
  --valence-button-padding-y: var(--valence-global-dimension-size-50);
  --valence-button-line-height: 1.3;
}

.theme {
  /* Overridden because of the way we draw focus rings */
  --valence-actionbutton-quiet-border-size-key-focus: 1px;
  /* Interactions with overbackground button should match background. Not a DNA token, overridden in WHCM. */
  --valence-button-over-background-color: inherit;
}