.theme {
  --valence-actionbutton-border-size-selected: var(--valence-alias-border-size-thin);
  --valence-actionbutton-background-color-selected: var(--valence-global-color-gray-200);
  --valence-actionbutton-border-color-selected: var(--valence-alias-border-color);
  --valence-actionbutton-text-color-selected: var(--valence-alias-text-color);
  --valence-actionbutton-hold-icon-color-selected: var(--valence-alias-icon-color);
  --valence-actionbutton-icon-color-selected: var(--valence-alias-icon-color);
  --valence-actionbutton-border-size-selected-hover: var(--valence-alias-border-size-thin);
  --valence-actionbutton-background-color-selected-hover: var(--valence-global-color-gray-200);
  --valence-actionbutton-border-color-selected-hover: var(--valence-alias-border-color-hover);
  --valence-actionbutton-text-color-selected-hover: var(--valence-alias-text-color-hover);
  --valence-actionbutton-hold-icon-color-selected-hover: var(--valence-alias-icon-color-hover);
  --valence-actionbutton-icon-color-selected-hover: var(--valence-alias-icon-color-hover);
  --valence-actionbutton-border-size-selected-down: var(--valence-alias-border-size-thin);
  --valence-actionbutton-background-color-selected-down: var(--valence-global-color-gray-200);
  --valence-actionbutton-border-color-selected-down: var(--valence-alias-border-color-down);
  --valence-actionbutton-text-color-selected-down: var(--valence-alias-text-color-down);
  --valence-actionbutton-hold-icon-color-selected-down: var(--valence-alias-icon-color-down);
  --valence-actionbutton-icon-color-selected-down: var(--valence-alias-icon-color-down);
  --valence-actionbutton-border-size-selected-key-focus: var(--valence-alias-border-size-thick);
  --valence-actionbutton-background-color-selected-key-focus: var(--valence-global-color-gray-200);
  --valence-actionbutton-border-color-selected-key-focus: var(--valence-alias-border-color-focus);
  --valence-actionbutton-text-color-selected-key-focus: var(--valence-alias-text-color-hover);
  --valence-actionbutton-hold-icon-color-selected-key-focus: var(--valence-alias-icon-color-hover);
  --valence-actionbutton-icon-color-selected-key-focus: var(--valence-alias-icon-color-hover);
  --valence-actionbutton-border-size-selected-disabled: var(--valence-alias-border-size-thin);
  --valence-actionbutton-text-color-selected-disabled: var(--valence-alias-text-color-disabled);
  --valence-actionbutton-icon-color-selected-disabled: var(--valence-alias-icon-color-disabled);
  --valence-actionbutton-hold-icon-color-selected-disabled: var(--valence-alias-icon-color-disabled);
  --valence-actionbutton-background-color-selected-disabled: var(--valence-global-color-gray-200);
  --valence-actionbutton-border-color-selected-disabled: var(--valence-alias-border-color-disabled);
  --valence-actionbutton-text-color: var(--valence-alias-text-color);
  --valence-actionbutton-icon-color: var(--valence-alias-icon-color);
  --valence-actionbutton-border-size: var(--valence-alias-border-size-thin);
  --valence-actionbutton-background-color: var(--valence-global-color-gray-75);
  --valence-actionbutton-border-color: var(--valence-alias-border-color);
  --valence-actionbutton-hold-icon-color: var(--valence-alias-icon-color);
  --valence-actionbutton-text-color-hover: var(--valence-alias-text-color-hover);
  --valence-actionbutton-icon-color-hover: var(--valence-alias-icon-color-hover);
  --valence-actionbutton-border-size-hover: var(--valence-alias-border-size-thin);
  --valence-actionbutton-background-color-hover: var(--valence-global-color-gray-50);
  --valence-actionbutton-border-color-hover: var(--valence-alias-border-color-hover);
  --valence-actionbutton-hold-icon-color-hover: var(--valence-alias-icon-color-hover);
  --valence-actionbutton-text-color-down: var(--valence-alias-text-color-down);
  --valence-actionbutton-icon-color-down: var(--valence-alias-icon-color-down);
  --valence-actionbutton-border-size-down: var(--valence-alias-border-size-thin);
  --valence-actionbutton-background-color-down: var(--valence-global-color-gray-200);
  --valence-actionbutton-border-color-down: var(--valence-alias-border-color-down);
  --valence-actionbutton-hold-icon-color-down: var(--valence-alias-icon-color-down);
  --valence-actionbutton-text-color-key-focus: var(--valence-alias-text-color-hover);
  --valence-actionbutton-icon-color-key-focus: var(--valence-alias-icon-color-focus);
  --valence-actionbutton-border-size-key-focus: var(--valence-alias-border-size-thick);
  --valence-actionbutton-border-color-key-focus: var(--valence-alias-border-color-focus);
  --valence-actionbutton-background-color-key-focus: var(--valence-global-color-gray-50);
  --valence-actionbutton-hold-icon-color-key-focus: var(--valence-alias-icon-color-hover);
  --valence-actionbutton-text-color-mouse-focus: var(--valence-alias-text-color-hover);
  --valence-actionbutton-text-color-disabled: var(--valence-alias-text-color-disabled);
  --valence-actionbutton-icon-color-disabled: var(--valence-alias-icon-color-disabled);
  --valence-actionbutton-border-size-disabled: var(--valence-alias-border-size-thin);
  --valence-actionbutton-background-color-disabled: var(--valence-global-color-gray-200);
  --valence-actionbutton-border-color-disabled: var(--valence-alias-border-color-disabled);
  --valence-actionbutton-hold-icon-color-disabled: var(--valence-alias-icon-color-disabled);
  --valence-actionbutton-text-font-family: var(--valence-alias-body-text-font-family);
  --valence-actionbutton-text-font-style: var(--valence-global-font-style-regular);
  --valence-actionbutton-text-font-weight: var(--valence-alias-body-text-font-weight);
  --valence-actionbutton-text-line-height: var(--valence-alias-body-text-line-height);
  --valence-actionbutton-text-letter-spacing: var(--valence-global-font-letter-spacing-none);
  --valence-actionbutton-text-transform: none;
  --valence-actionbutton-text-size: var(--valence-alias-font-size-default);
  --valence-actionbutton-icon-size: var(--valence-alias-workflow-icon-size);
  --valence-actionbutton-text-baseline: var(--valence-global-dimension-size-150);
  --valence-actionbutton-height: var(--valence-alias-single-line-height);
  --valence-actionbutton-min-width: var(--valence-global-dimension-size-400);
  --valence-actionbutton-border-radius: var(--valence-alias-border-radius-regular);
  --valence-actionbutton-text-padding-x: var(--valence-global-dimension-size-150);
  --valence-actionbutton-icon-padding-x: var(--valence-global-dimension-size-85);
  --valence-actionbutton-icon-padding-y: var(--valence-global-dimension-size-85);
  --valence-actionbutton-hold-icon-padding-bottom: var(--valence-global-dimension-size-40);
  --valence-actionbutton-hold-icon-padding-right: var(--valence-global-dimension-size-40);
  --valence-actionbutton-hold-icon-size: var(--valence-global-dimension-size-65);
  --valence-actionbutton-emphasized-border-size-selected: var(--valence-alias-border-size-thin);
  --valence-actionbutton-emphasized-background-color-selected: var(--valence-semantic-cta-color-background-default);
  --valence-actionbutton-emphasized-border-color-selected: var(--valence-semantic-cta-color-background-default);
  --valence-actionbutton-emphasized-text-color-selected: var(--valence-global-color-static-white);
  --valence-actionbutton-emphasized-hold-icon-color-selected: var(--valence-global-color-static-white);
  --valence-actionbutton-emphasized-icon-color-selected: var(--valence-global-color-static-white);
  --valence-actionbutton-emphasized-border-size-selected-hover: var(--valence-alias-border-size-thin);
  --valence-actionbutton-emphasized-background-color-selected-hover: var(--valence-semantic-cta-color-background-hover);
  --valence-actionbutton-emphasized-border-color-selected-hover: var(--valence-semantic-cta-color-background-hover);
  --valence-actionbutton-emphasized-text-color-selected-hover: var(--valence-global-color-static-white);
  --valence-actionbutton-emphasized-hold-icon-color-selected-hover: var(--valence-global-color-static-white);
  --valence-actionbutton-emphasized-icon-color-selected-hover: var(--valence-global-color-static-white);
  --valence-actionbutton-emphasized-border-size-selected-down: var(--valence-alias-border-size-thin);
  --valence-actionbutton-emphasized-background-color-selected-down: var(--valence-semantic-cta-color-background-down);
  --valence-actionbutton-emphasized-border-color-selected-down: var(--valence-semantic-cta-color-background-down);
  --valence-actionbutton-emphasized-text-color-selected-down: var(--valence-global-color-static-white);
  --valence-actionbutton-emphasized-hold-icon-color-selected-down: var(--valence-global-color-static-white);
  --valence-actionbutton-emphasized-icon-color-selected-down: var(--valence-global-color-static-white);
  --valence-actionbutton-emphasized-border-size-selected-key-focus: var(--valence-alias-border-size-thick);
  --valence-actionbutton-emphasized-background-color-selected-key-focus: var(--valence-semantic-cta-color-background-key-focus);
  --valence-actionbutton-emphasized-border-color-selected-key-focus: var(--valence-semantic-cta-color-background-key-focus);
  --valence-actionbutton-emphasized-text-color-selected-key-focus: var(--valence-global-color-static-white);
  --valence-actionbutton-emphasized-hold-icon-color-selected-key-focus: var(--valence-global-color-static-white);
  --valence-actionbutton-emphasized-icon-color-selected-key-focus: var(--valence-global-color-static-white);
  --valence-actionbutton-emphasized-border-size-selected-disabled: var(--valence-alias-border-size-thin);
  --valence-actionbutton-emphasized-text-color-selected-disabled: var(--valence-alias-text-color-disabled);
  --valence-actionbutton-emphasized-icon-color-selected-disabled: var(--valence-alias-icon-color-disabled);
  --valence-actionbutton-emphasized-hold-icon-color-selected-disabled: var(--valence-alias-icon-color-disabled);
  --valence-actionbutton-emphasized-background-color-selected-disabled: var(--valence-global-color-gray-200);
  --valence-actionbutton-emphasized-border-color-selected-disabled: var(--valence-alias-border-color-disabled);
  --valence-actionbutton-emphasized-text-color: var(--valence-alias-text-color);
  --valence-actionbutton-emphasized-icon-color: var(--valence-alias-icon-color);
  --valence-actionbutton-emphasized-border-size: var(--valence-alias-border-size-thin);
  --valence-actionbutton-emphasized-background-color: var(--valence-global-color-gray-75);
  --valence-actionbutton-emphasized-border-color: var(--valence-alias-border-color);
  --valence-actionbutton-emphasized-hold-icon-color: var(--valence-alias-icon-color);
  --valence-actionbutton-emphasized-text-color-hover: var(--valence-alias-text-color-hover);
  --valence-actionbutton-emphasized-icon-color-hover: var(--valence-alias-icon-color-hover);
  --valence-actionbutton-emphasized-border-size-hover: var(--valence-alias-border-size-thin);
  --valence-actionbutton-emphasized-background-color-hover: var(--valence-global-color-gray-50);
  --valence-actionbutton-emphasized-border-color-hover: var(--valence-alias-border-color-hover);
  --valence-actionbutton-emphasized-hold-icon-color-hover: var(--valence-alias-icon-color-hover);
  --valence-actionbutton-emphasized-text-color-down: var(--valence-alias-text-color-down);
  --valence-actionbutton-emphasized-icon-color-down: var(--valence-alias-icon-color-down);
  --valence-actionbutton-emphasized-border-size-down: var(--valence-alias-border-size-thin);
  --valence-actionbutton-emphasized-background-color-down: var(--valence-global-color-gray-200);
  --valence-actionbutton-emphasized-border-color-down: var(--valence-alias-border-color-down);
  --valence-actionbutton-emphasized-hold-icon-color-down: var(--valence-alias-icon-color-down);
  --valence-actionbutton-emphasized-text-color-key-focus: var(--valence-alias-text-color-hover);
  --valence-actionbutton-emphasized-icon-color-key-focus: var(--valence-alias-icon-color-focus);
  --valence-actionbutton-emphasized-border-size-key-focus: var(--valence-alias-border-size-thick);
  --valence-actionbutton-emphasized-border-color-key-focus: var(--valence-alias-border-color-focus);
  --valence-actionbutton-emphasized-background-color-key-focus: var(--valence-global-color-gray-50);
  --valence-actionbutton-emphasized-hold-icon-color-key-focus: var(--valence-alias-icon-color-hover);
  --valence-actionbutton-emphasized-text-color-mouse-focus: var(--valence-alias-text-color-hover);
  --valence-actionbutton-emphasized-text-color-disabled: var(--valence-alias-text-color-disabled);
  --valence-actionbutton-emphasized-icon-color-disabled: var(--valence-alias-icon-color-disabled);
  --valence-actionbutton-emphasized-border-size-disabled: var(--valence-alias-border-size-thin);
  --valence-actionbutton-emphasized-background-color-disabled: var(--valence-global-color-gray-200);
  --valence-actionbutton-emphasized-border-color-disabled: var(--valence-alias-border-color-disabled);
  --valence-actionbutton-emphasized-hold-icon-color-disabled: var(--valence-alias-icon-color-disabled);
  --valence-actionbutton-emphasized-text-font-family: var(--valence-alias-body-text-font-family);
  --valence-actionbutton-emphasized-text-font-style: var(--valence-global-font-style-regular);
  --valence-actionbutton-emphasized-text-font-weight: var(--valence-alias-body-text-font-weight);
  --valence-actionbutton-emphasized-text-line-height: var(--valence-alias-body-text-line-height);
  --valence-actionbutton-emphasized-text-letter-spacing: var(--valence-global-font-letter-spacing-none);
  --valence-actionbutton-emphasized-text-transform: none;
  --valence-actionbutton-emphasized-text-size: var(--valence-alias-font-size-default);
  --valence-actionbutton-emphasized-icon-size: var(--valence-alias-workflow-icon-size);
  --valence-actionbutton-emphasized-text-baseline: var(--valence-global-dimension-size-150);
  --valence-actionbutton-emphasized-height: var(--valence-alias-single-line-height);
  --valence-actionbutton-emphasized-min-width: var(--valence-global-dimension-size-400);
  --valence-actionbutton-emphasized-border-radius: var(--valence-alias-border-radius-regular);
  --valence-actionbutton-emphasized-text-padding-x: var(--valence-global-dimension-size-150);
  --valence-actionbutton-emphasized-icon-padding-x: var(--valence-global-dimension-size-85);
  --valence-actionbutton-emphasized-icon-padding-y: var(--valence-global-dimension-size-85);
  --valence-actionbutton-emphasized-hold-icon-padding-bottom: var(--valence-global-dimension-size-40);
  --valence-actionbutton-emphasized-hold-icon-padding-right: var(--valence-global-dimension-size-40);
  --valence-actionbutton-emphasized-hold-icon-size: var(--valence-global-dimension-size-65);
  --valence-actionbutton-quiet-border-size-selected: var(--valence-alias-border-size-thin);
  --valence-actionbutton-quiet-background-color-selected: var(--valence-global-color-gray-300);
  --valence-actionbutton-quiet-border-color-selected: var(--valence-alias-border-color);
  --valence-actionbutton-quiet-text-color-selected: var(--valence-alias-text-color);
  --valence-actionbutton-quiet-hold-icon-color-selected: var(--valence-alias-icon-color);
  --valence-actionbutton-quiet-icon-color-selected: var(--valence-alias-icon-color);
  --valence-actionbutton-quiet-border-size-selected-hover: var(--valence-alias-border-size-thin);
  --valence-actionbutton-quiet-background-color-selected-hover: var(--valence-global-color-gray-300);
  --valence-actionbutton-quiet-border-color-selected-hover: var(--valence-alias-border-color-hover);
  --valence-actionbutton-quiet-text-color-selected-hover: var(--valence-alias-text-color-hover);
  --valence-actionbutton-quiet-hold-icon-color-selected-hover: var(--valence-alias-icon-color-hover);
  --valence-actionbutton-quiet-icon-color-selected-hover: var(--valence-alias-icon-color-hover);
  --valence-actionbutton-quiet-border-size-selected-down: var(--valence-alias-border-size-thin);
  --valence-actionbutton-quiet-background-color-selected-down: var(--valence-global-color-gray-300);
  --valence-actionbutton-quiet-border-color-selected-down: var(--valence-alias-border-color-down);
  --valence-actionbutton-quiet-text-color-selected-down: var(--valence-alias-text-color-down);
  --valence-actionbutton-quiet-hold-icon-color-selected-down: var(--valence-alias-icon-color-down);
  --valence-actionbutton-quiet-icon-color-selected-down: var(--valence-alias-icon-color-down);
  --valence-actionbutton-quiet-border-size-selected-key-focus: var(--valence-alias-border-size-thick);
  --valence-actionbutton-quiet-background-color-selected-key-focus: var(--valence-global-color-gray-300);
  --valence-actionbutton-quiet-border-color-selected-key-focus: var(--valence-alias-border-color-focus);
  --valence-actionbutton-quiet-text-color-selected-key-focus: var(--valence-alias-text-color-hover);
  --valence-actionbutton-quiet-hold-icon-color-selected-key-focus: var(--valence-alias-icon-color-hover);
  --valence-actionbutton-quiet-icon-color-selected-key-focus: var(--valence-alias-icon-color-hover);
  --valence-actionbutton-quiet-border-size-selected-disabled: var(--valence-alias-border-size-thin);
  --valence-actionbutton-quiet-text-color-selected-disabled: var(--valence-alias-text-color-disabled);
  --valence-actionbutton-quiet-icon-color-selected-disabled: var(--valence-alias-icon-color-disabled);
  --valence-actionbutton-quiet-hold-icon-color-selected-disabled: var(--valence-alias-icon-color-disabled);
  --valence-actionbutton-quiet-background-color-selected-disabled: var(--valence-global-color-gray-200);
  --valence-actionbutton-quiet-border-color-selected-disabled: var(--valence-alias-border-color-disabled);
  --valence-actionbutton-quiet-text-color: var(--valence-alias-text-color);
  --valence-actionbutton-quiet-icon-color: var(--valence-alias-icon-color);
  --valence-actionbutton-quiet-border-size: var(--valence-alias-border-size-thin);
  --valence-actionbutton-quiet-background-color: var(--valence-alias-background-color-transparent);
  --valence-actionbutton-quiet-border-color: var(--valence-alias-border-color-transparent);
  --valence-actionbutton-quiet-hold-icon-color: var(--valence-alias-icon-color);
  --valence-actionbutton-quiet-text-color-hover: var(--valence-alias-text-color-hover);
  --valence-actionbutton-quiet-icon-color-hover: var(--valence-alias-icon-color-hover);
  --valence-actionbutton-quiet-border-size-hover: var(--valence-alias-border-size-thin);
  --valence-actionbutton-quiet-background-color-hover: var(--valence-alias-background-color-transparent);
  --valence-actionbutton-quiet-border-color-hover: var(--valence-alias-border-color-transparent);
  --valence-actionbutton-quiet-hold-icon-color-hover: var(--valence-alias-icon-color-hover);
  --valence-actionbutton-quiet-text-color-down: var(--valence-alias-text-color-down);
  --valence-actionbutton-quiet-icon-color-down: var(--valence-alias-icon-color-down);
  --valence-actionbutton-quiet-border-size-down: var(--valence-alias-border-size-thin);
  --valence-actionbutton-quiet-background-color-down: var(--valence-global-color-gray-300);
  --valence-actionbutton-quiet-border-color-down: var(--valence-global-color-gray-300);
  --valence-actionbutton-quiet-hold-icon-color-down: var(--valence-alias-icon-color-down);
  --valence-actionbutton-quiet-text-color-key-focus: var(--valence-alias-text-color-hover);
  --valence-actionbutton-quiet-icon-color-key-focus: var(--valence-alias-icon-color-focus);
  --valence-actionbutton-quiet-border-size-key-focus: var(--valence-alias-border-size-thick);
  --valence-actionbutton-quiet-border-color-key-focus: var(--valence-alias-border-color-focus);
  --valence-actionbutton-quiet-background-color-key-focus: var(--valence-alias-background-color-transparent);
  --valence-actionbutton-quiet-hold-icon-color-key-focus: var(--valence-alias-icon-color-hover);
  --valence-actionbutton-quiet-text-color-mouse-focus: var(--valence-alias-text-color-hover);
  --valence-actionbutton-quiet-text-color-disabled: var(--valence-alias-text-color-disabled);
  --valence-actionbutton-quiet-icon-color-disabled: var(--valence-alias-icon-color-disabled);
  --valence-actionbutton-quiet-border-size-disabled: var(--valence-alias-border-size-thin);
  --valence-actionbutton-quiet-background-color-disabled: var(--valence-alias-background-color-transparent);
  --valence-actionbutton-quiet-border-color-disabled: var(--valence-alias-border-color-transparent);
  --valence-actionbutton-quiet-hold-icon-color-disabled: var(--valence-alias-icon-color-disabled);
  --valence-actionbutton-quiet-text-font-family: var(--valence-alias-body-text-font-family);
  --valence-actionbutton-quiet-text-font-style: var(--valence-global-font-style-regular);
  --valence-actionbutton-quiet-text-font-weight: var(--valence-alias-body-text-font-weight);
  --valence-actionbutton-quiet-text-line-height: var(--valence-alias-body-text-line-height);
  --valence-actionbutton-quiet-text-letter-spacing: var(--valence-global-font-letter-spacing-none);
  --valence-actionbutton-quiet-text-transform: none;
  --valence-actionbutton-quiet-text-size: var(--valence-alias-font-size-default);
  --valence-actionbutton-quiet-icon-size: var(--valence-alias-workflow-icon-size);
  --valence-actionbutton-quiet-text-baseline: var(--valence-global-dimension-size-150);
  --valence-actionbutton-quiet-height: var(--valence-alias-single-line-height);
  --valence-actionbutton-quiet-min-width: var(--valence-global-dimension-size-400);
  --valence-actionbutton-quiet-border-radius: var(--valence-alias-border-radius-regular);
  --valence-actionbutton-quiet-text-padding-x: var(--valence-global-dimension-size-150);
  --valence-actionbutton-quiet-icon-padding-x: var(--valence-global-dimension-size-85);
  --valence-actionbutton-quiet-icon-padding-y: var(--valence-global-dimension-size-85);
  --valence-actionbutton-quiet-hold-icon-padding-bottom: var(--valence-global-dimension-size-40);
  --valence-actionbutton-quiet-hold-icon-padding-right: var(--valence-global-dimension-size-40);
  --valence-actionbutton-quiet-hold-icon-size: var(--valence-global-dimension-size-65);
  --valence-actionbutton-quiet-emphasized-border-size-selected: var(--valence-alias-border-size-thin);
  --valence-actionbutton-quiet-emphasized-background-color-selected: var(--valence-semantic-cta-color-background-default);
  --valence-actionbutton-quiet-emphasized-border-color-selected: var(--valence-semantic-cta-color-background-default);
  --valence-actionbutton-quiet-emphasized-text-color-selected: var(--valence-global-color-static-white);
  --valence-actionbutton-quiet-emphasized-hold-icon-color-selected: var(--valence-global-color-static-white);
  --valence-actionbutton-quiet-emphasized-icon-color-selected: var(--valence-global-color-static-white);
  --valence-actionbutton-quiet-emphasized-border-size-selected-hover: var(--valence-alias-border-size-thin);
  --valence-actionbutton-quiet-emphasized-background-color-selected-hover: var(--valence-semantic-cta-color-background-hover);
  --valence-actionbutton-quiet-emphasized-border-color-selected-hover: var(--valence-semantic-cta-color-background-hover);
  --valence-actionbutton-quiet-emphasized-text-color-selected-hover: var(--valence-global-color-static-white);
  --valence-actionbutton-quiet-emphasized-hold-icon-color-selected-hover: var(--valence-global-color-static-white);
  --valence-actionbutton-quiet-emphasized-icon-color-selected-hover: var(--valence-global-color-static-white);
  --valence-actionbutton-quiet-emphasized-border-size-selected-down: var(--valence-alias-border-size-thin);
  --valence-actionbutton-quiet-emphasized-background-color-selected-down: var(--valence-semantic-cta-color-background-down);
  --valence-actionbutton-quiet-emphasized-border-color-selected-down: var(--valence-semantic-cta-color-background-down);
  --valence-actionbutton-quiet-emphasized-text-color-selected-down: var(--valence-global-color-static-white);
  --valence-actionbutton-quiet-emphasized-hold-icon-color-selected-down: var(--valence-global-color-static-white);
  --valence-actionbutton-quiet-emphasized-icon-color-selected-down: var(--valence-global-color-static-white);
  --valence-actionbutton-quiet-emphasized-border-size-selected-key-focus: var(--valence-alias-border-size-thick);
  --valence-actionbutton-quiet-emphasized-background-color-selected-key-focus: var(--valence-semantic-cta-color-background-key-focus);
  --valence-actionbutton-quiet-emphasized-border-color-selected-key-focus: var(--valence-semantic-cta-color-background-key-focus);
  --valence-actionbutton-quiet-emphasized-text-color-selected-key-focus: var(--valence-global-color-static-white);
  --valence-actionbutton-quiet-emphasized-hold-icon-color-selected-key-focus: var(--valence-global-color-static-white);
  --valence-actionbutton-quiet-emphasized-icon-color-selected-key-focus: var(--valence-global-color-static-white);
  --valence-actionbutton-quiet-emphasized-border-size-selected-disabled: var(--valence-alias-border-size-thin);
  --valence-actionbutton-quiet-emphasized-text-color-selected-disabled: var(--valence-alias-text-color-disabled);
  --valence-actionbutton-quiet-emphasized-icon-color-selected-disabled: var(--valence-alias-icon-color-disabled);
  --valence-actionbutton-quiet-emphasized-hold-icon-color-selected-disabled: var(--valence-alias-icon-color-disabled);
  --valence-actionbutton-quiet-emphasized-background-color-selected-disabled: var(--valence-global-color-gray-200);
  --valence-actionbutton-quiet-emphasized-border-color-selected-disabled: var(--valence-alias-border-color-disabled);
  --valence-actionbutton-quiet-emphasized-text-color: var(--valence-alias-text-color);
  --valence-actionbutton-quiet-emphasized-icon-color: var(--valence-alias-icon-color);
  --valence-actionbutton-quiet-emphasized-border-size: var(--valence-alias-border-size-thin);
  --valence-actionbutton-quiet-emphasized-background-color: var(--valence-alias-background-color-transparent);
  --valence-actionbutton-quiet-emphasized-border-color: var(--valence-alias-border-color-transparent);
  --valence-actionbutton-quiet-emphasized-hold-icon-color: var(--valence-alias-icon-color);
  --valence-actionbutton-quiet-emphasized-text-color-hover: var(--valence-alias-text-color-hover);
  --valence-actionbutton-quiet-emphasized-icon-color-hover: var(--valence-alias-icon-color-hover);
  --valence-actionbutton-quiet-emphasized-border-size-hover: var(--valence-alias-border-size-thin);
  --valence-actionbutton-quiet-emphasized-background-color-hover: var(--valence-alias-background-color-transparent);
  --valence-actionbutton-quiet-emphasized-border-color-hover: var(--valence-alias-border-color-transparent);
  --valence-actionbutton-quiet-emphasized-hold-icon-color-hover: var(--valence-alias-icon-color-hover);
  --valence-actionbutton-quiet-emphasized-text-color-down: var(--valence-alias-text-color-down);
  --valence-actionbutton-quiet-emphasized-icon-color-down: var(--valence-alias-icon-color-down);
  --valence-actionbutton-quiet-emphasized-border-size-down: var(--valence-alias-border-size-thin);
  --valence-actionbutton-quiet-emphasized-background-color-down: var(--valence-global-color-gray-300);
  --valence-actionbutton-quiet-emphasized-border-color-down: var(--valence-global-color-gray-300);
  --valence-actionbutton-quiet-emphasized-hold-icon-color-down: var(--valence-alias-icon-color-down);
  --valence-actionbutton-quiet-emphasized-text-color-key-focus: var(--valence-alias-text-color-hover);
  --valence-actionbutton-quiet-emphasized-icon-color-key-focus: var(--valence-alias-icon-color-focus);
  --valence-actionbutton-quiet-emphasized-border-size-key-focus: var(--valence-alias-border-size-thick);
  --valence-actionbutton-quiet-emphasized-border-color-key-focus: var(--valence-alias-border-color-focus);
  --valence-actionbutton-quiet-emphasized-background-color-key-focus: var(--valence-alias-background-color-transparent);
  --valence-actionbutton-quiet-emphasized-hold-icon-color-key-focus: var(--valence-alias-icon-color-hover);
  --valence-actionbutton-quiet-emphasized-text-color-mouse-focus: var(--valence-alias-text-color-hover);
  --valence-actionbutton-quiet-emphasized-text-color-disabled: var(--valence-alias-text-color-disabled);
  --valence-actionbutton-quiet-emphasized-icon-color-disabled: var(--valence-alias-icon-color-disabled);
  --valence-actionbutton-quiet-emphasized-border-size-disabled: var(--valence-alias-border-size-thin);
  --valence-actionbutton-quiet-emphasized-background-color-disabled: var(--valence-alias-background-color-transparent);
  --valence-actionbutton-quiet-emphasized-border-color-disabled: var(--valence-alias-border-color-transparent);
  --valence-actionbutton-quiet-emphasized-hold-icon-color-disabled: var(--valence-alias-icon-color-disabled);
  --valence-actionbutton-quiet-emphasized-text-font-family: var(--valence-alias-body-text-font-family);
  --valence-actionbutton-quiet-emphasized-text-font-style: var(--valence-global-font-style-regular);
  --valence-actionbutton-quiet-emphasized-text-font-weight: var(--valence-alias-body-text-font-weight);
  --valence-actionbutton-quiet-emphasized-text-line-height: var(--valence-alias-body-text-line-height);
  --valence-actionbutton-quiet-emphasized-text-letter-spacing: var(--valence-global-font-letter-spacing-none);
  --valence-actionbutton-quiet-emphasized-text-transform: none;
  --valence-actionbutton-quiet-emphasized-text-size: var(--valence-alias-font-size-default);
  --valence-actionbutton-quiet-emphasized-icon-size: var(--valence-alias-workflow-icon-size);
  --valence-actionbutton-quiet-emphasized-text-baseline: var(--valence-global-dimension-size-150);
  --valence-actionbutton-quiet-emphasized-height: var(--valence-alias-single-line-height);
  --valence-actionbutton-quiet-emphasized-min-width: var(--valence-global-dimension-size-400);
  --valence-actionbutton-quiet-emphasized-border-radius: var(--valence-alias-border-radius-regular);
  --valence-actionbutton-quiet-emphasized-text-padding-x: var(--valence-global-dimension-size-150);
  --valence-actionbutton-quiet-emphasized-icon-padding-x: var(--valence-global-dimension-size-85);
  --valence-actionbutton-quiet-emphasized-icon-padding-y: var(--valence-global-dimension-size-85);
  --valence-actionbutton-quiet-emphasized-hold-icon-padding-bottom: var(--valence-global-dimension-size-40);
  --valence-actionbutton-quiet-emphasized-hold-icon-padding-right: var(--valence-global-dimension-size-40);
  --valence-actionbutton-quiet-emphasized-hold-icon-size: var(--valence-global-dimension-size-65);
}
