.theme {
  --valence-cyclebutton-text-color: var(--valence-alias-text-color);
  --valence-cyclebutton-icon-color: var(--valence-alias-icon-color);
  --valence-cyclebutton-border-size: var(--valence-alias-border-size-thin);
  --valence-cyclebutton-background-color: var(--valence-alias-background-color-transparent);
  --valence-cyclebutton-border-color: var(--valence-alias-border-color-transparent);
  --valence-cyclebutton-hold-icon-color: var(--valence-alias-icon-color);
  --valence-cyclebutton-text-color-hover: var(--valence-alias-text-color-hover);
  --valence-cyclebutton-icon-color-hover: var(--valence-alias-icon-color-hover);
  --valence-cyclebutton-border-size-hover: var(--valence-alias-border-size-thin);
  --valence-cyclebutton-background-color-hover: var(--valence-alias-background-color-transparent);
  --valence-cyclebutton-border-color-hover: var(--valence-alias-border-color-transparent);
  --valence-cyclebutton-hold-icon-color-hover: var(--valence-alias-icon-color-hover);
  --valence-cyclebutton-text-color-down: var(--valence-alias-text-color-down);
  --valence-cyclebutton-icon-color-down: var(--valence-alias-icon-color-down);
  --valence-cyclebutton-border-size-down: var(--valence-alias-border-size-thin);
  --valence-cyclebutton-background-color-down: var(--valence-global-color-gray-300);
  --valence-cyclebutton-border-color-down: var(--valence-global-color-gray-300);
  --valence-cyclebutton-hold-icon-color-down: var(--valence-alias-icon-color-down);
  --valence-cyclebutton-text-color-key-focus: var(--valence-alias-text-color-hover);
  --valence-cyclebutton-icon-color-key-focus: var(--valence-alias-icon-color-focus);
  --valence-cyclebutton-border-size-key-focus: var(--valence-alias-border-size-thick);
  --valence-cyclebutton-border-color-key-focus: var(--valence-alias-border-color-focus);
  --valence-cyclebutton-background-color-key-focus: var(--valence-alias-background-color-transparent);
  --valence-cyclebutton-hold-icon-color-key-focus: var(--valence-alias-icon-color-hover);
  --valence-cyclebutton-text-color-mouse-focus: var(--valence-alias-text-color-hover);
  --valence-cyclebutton-text-color-disabled: var(--valence-alias-text-color-disabled);
  --valence-cyclebutton-icon-color-disabled: var(--valence-alias-icon-color-disabled);
  --valence-cyclebutton-border-size-disabled: var(--valence-alias-border-size-thin);
  --valence-cyclebutton-background-color-disabled: var(--valence-alias-background-color-transparent);
  --valence-cyclebutton-border-color-disabled: var(--valence-alias-border-color-transparent);
  --valence-cyclebutton-hold-icon-color-disabled: var(--valence-alias-icon-color-disabled);
  --valence-cyclebutton-text-font-family: var(--valence-alias-body-text-font-family);
  --valence-cyclebutton-text-font-style: var(--valence-global-font-style-regular);
  --valence-cyclebutton-text-font-weight: var(--valence-alias-body-text-font-weight);
  --valence-cyclebutton-text-line-height: var(--valence-alias-body-text-line-height);
  --valence-cyclebutton-text-letter-spacing: var(--valence-global-font-letter-spacing-none);
  --valence-cyclebutton-text-transform: none;
  --valence-cyclebutton-text-size: var(--valence-alias-font-size-default);
  --valence-cyclebutton-icon-size: var(--valence-alias-workflow-icon-size);
  --valence-cyclebutton-text-baseline: var(--valence-global-dimension-size-150);
  --valence-cyclebutton-height: var(--valence-alias-single-line-height);
  --valence-cyclebutton-min-width: var(--valence-global-dimension-size-400);
  --valence-cyclebutton-border-radius: var(--valence-alias-border-radius-regular);
  --valence-cyclebutton-text-padding-x: var(--valence-global-dimension-size-150);
  --valence-cyclebutton-icon-padding-x: var(--valence-global-dimension-size-85);
  --valence-cyclebutton-icon-padding-y: var(--valence-global-dimension-size-85);
  --valence-cyclebutton-hold-icon-padding-bottom: var(--valence-global-dimension-size-40);
  --valence-cyclebutton-hold-icon-padding-right: var(--valence-global-dimension-size-40);
  --valence-cyclebutton-hold-icon-size: var(--valence-global-dimension-size-65);
}
