.theme {
  --valence-code-l-text-color: var(--valence-alias-text-color);
  --valence-code-l-margin-top: 0px;
  --valence-code-l-text-font-family: var(--valence-alias-code-text-font-family);
  --valence-code-l-text-font-style: var(--valence-global-font-style-regular);
  --valence-code-l-text-font-weight: var(--valence-alias-code-text-font-weight-regular);
  --valence-code-l-text-line-height: var(--valence-alias-code-text-line-height);
  --valence-code-l-text-transform: none;
  --valence-code-l-text-letter-spacing: var(--valence-global-font-letter-spacing-none);
  --valence-code-l-margin-bottom-multiplier: 0em;
  --valence-code-l-text-size: var(--valence-global-dimension-font-size-300);
  --valence-code-l-margin-bottom: var(--valence-global-dimension-size-0);
  --valence-code-l-emphasis-text-color: var(--valence-alias-text-color);
  --valence-code-l-emphasis-margin-top: 0px;
  --valence-code-l-emphasis-text-font-family: var(--valence-alias-code-text-font-family);
  --valence-code-l-emphasis-text-font-style: var(--valence-global-font-style-italic);
  --valence-code-l-emphasis-text-font-weight: var(--valence-alias-code-text-font-weight-regular);
  --valence-code-l-emphasis-text-line-height: var(--valence-alias-code-text-line-height);
  --valence-code-l-emphasis-text-transform: none;
  --valence-code-l-emphasis-text-letter-spacing: var(--valence-global-font-letter-spacing-none);
  --valence-code-l-emphasis-margin-bottom-multiplier: 0em;
  --valence-code-l-emphasis-text-size: var(--valence-global-dimension-font-size-300);
  --valence-code-l-emphasis-margin-bottom: var(--valence-global-dimension-size-0);
  --valence-code-l-emphasis-strong-text-color: var(--valence-alias-text-color);
  --valence-code-l-emphasis-strong-margin-top: 0px;
  --valence-code-l-emphasis-strong-text-font-family: var(--valence-alias-code-text-font-family);
  --valence-code-l-emphasis-strong-text-font-style: var(--valence-global-font-style-italic);
  --valence-code-l-emphasis-strong-text-font-weight: var(--valence-global-font-weight-bold);
  --valence-code-l-emphasis-strong-text-line-height: var(--valence-alias-code-text-line-height);
  --valence-code-l-emphasis-strong-text-transform: none;
  --valence-code-l-emphasis-strong-text-letter-spacing: var(--valence-global-font-letter-spacing-none);
  --valence-code-l-emphasis-strong-margin-bottom-multiplier: 0em;
  --valence-code-l-emphasis-strong-text-size: var(--valence-global-dimension-font-size-300);
  --valence-code-l-emphasis-strong-margin-bottom: var(--valence-global-dimension-size-0);
  --valence-code-l-strong-text-color: var(--valence-alias-text-color);
  --valence-code-l-strong-margin-top: 0px;
  --valence-code-l-strong-text-font-family: var(--valence-alias-code-text-font-family);
  --valence-code-l-strong-text-font-style: var(--valence-global-font-style-regular);
  --valence-code-l-strong-text-font-weight: var(--valence-global-font-weight-bold);
  --valence-code-l-strong-text-line-height: var(--valence-alias-code-text-line-height);
  --valence-code-l-strong-text-transform: none;
  --valence-code-l-strong-text-letter-spacing: var(--valence-global-font-letter-spacing-none);
  --valence-code-l-strong-margin-bottom-multiplier: 0em;
  --valence-code-l-strong-text-size: var(--valence-global-dimension-font-size-300);
  --valence-code-l-strong-margin-bottom: var(--valence-global-dimension-size-0);
  --valence-code-m-text-color: var(--valence-alias-text-color);
  --valence-code-m-margin-top: 0px;
  --valence-code-m-text-font-family: var(--valence-alias-code-text-font-family);
  --valence-code-m-text-font-style: var(--valence-global-font-style-regular);
  --valence-code-m-text-font-weight: var(--valence-alias-code-text-font-weight-regular);
  --valence-code-m-text-line-height: var(--valence-alias-code-text-line-height);
  --valence-code-m-text-transform: none;
  --valence-code-m-text-letter-spacing: var(--valence-global-font-letter-spacing-none);
  --valence-code-m-margin-bottom-multiplier: 0em;
  --valence-code-m-text-size: var(--valence-global-dimension-font-size-200);
  --valence-code-m-margin-bottom: var(--valence-global-dimension-size-0);
  --valence-code-m-emphasis-text-color: var(--valence-alias-text-color);
  --valence-code-m-emphasis-margin-top: 0px;
  --valence-code-m-emphasis-text-font-family: var(--valence-alias-code-text-font-family);
  --valence-code-m-emphasis-text-font-style: var(--valence-global-font-style-italic);
  --valence-code-m-emphasis-text-font-weight: var(--valence-alias-code-text-font-weight-regular);
  --valence-code-m-emphasis-text-line-height: var(--valence-alias-code-text-line-height);
  --valence-code-m-emphasis-text-transform: none;
  --valence-code-m-emphasis-text-letter-spacing: var(--valence-global-font-letter-spacing-none);
  --valence-code-m-emphasis-margin-bottom-multiplier: 0em;
  --valence-code-m-emphasis-text-size: var(--valence-global-dimension-font-size-200);
  --valence-code-m-emphasis-margin-bottom: var(--valence-global-dimension-size-0);
  --valence-code-m-emphasis-strong-text-color: var(--valence-alias-text-color);
  --valence-code-m-emphasis-strong-margin-top: 0px;
  --valence-code-m-emphasis-strong-text-font-family: var(--valence-alias-code-text-font-family);
  --valence-code-m-emphasis-strong-text-font-style: var(--valence-global-font-style-italic);
  --valence-code-m-emphasis-strong-text-font-weight: var(--valence-global-font-weight-bold);
  --valence-code-m-emphasis-strong-text-line-height: var(--valence-alias-code-text-line-height);
  --valence-code-m-emphasis-strong-text-transform: none;
  --valence-code-m-emphasis-strong-text-letter-spacing: var(--valence-global-font-letter-spacing-none);
  --valence-code-m-emphasis-strong-margin-bottom-multiplier: 0em;
  --valence-code-m-emphasis-strong-text-size: var(--valence-global-dimension-font-size-200);
  --valence-code-m-emphasis-strong-margin-bottom: var(--valence-global-dimension-size-0);
  --valence-code-m-strong-text-color: var(--valence-alias-text-color);
  --valence-code-m-strong-margin-top: 0px;
  --valence-code-m-strong-text-font-family: var(--valence-alias-code-text-font-family);
  --valence-code-m-strong-text-font-style: var(--valence-global-font-style-regular);
  --valence-code-m-strong-text-font-weight: var(--valence-global-font-weight-bold);
  --valence-code-m-strong-text-line-height: var(--valence-alias-code-text-line-height);
  --valence-code-m-strong-text-transform: none;
  --valence-code-m-strong-text-letter-spacing: var(--valence-global-font-letter-spacing-none);
  --valence-code-m-strong-margin-bottom-multiplier: 0em;
  --valence-code-m-strong-text-size: var(--valence-global-dimension-font-size-200);
  --valence-code-m-strong-margin-bottom: var(--valence-global-dimension-size-0);
  --valence-code-s-text-color: var(--valence-alias-text-color);
  --valence-code-s-margin-top: 0px;
  --valence-code-s-text-font-family: var(--valence-alias-code-text-font-family);
  --valence-code-s-text-font-style: var(--valence-global-font-style-regular);
  --valence-code-s-text-font-weight: var(--valence-alias-code-text-font-weight-regular);
  --valence-code-s-text-line-height: var(--valence-alias-code-text-line-height);
  --valence-code-s-text-transform: none;
  --valence-code-s-text-letter-spacing: var(--valence-global-font-letter-spacing-none);
  --valence-code-s-margin-bottom-multiplier: 0em;
  --valence-code-s-text-size: var(--valence-alias-font-size-default);
  --valence-code-s-margin-bottom: var(--valence-global-dimension-size-0);
  --valence-code-s-emphasis-text-color: var(--valence-alias-text-color);
  --valence-code-s-emphasis-margin-top: 0px;
  --valence-code-s-emphasis-text-font-family: var(--valence-alias-code-text-font-family);
  --valence-code-s-emphasis-text-font-style: var(--valence-global-font-style-italic);
  --valence-code-s-emphasis-text-font-weight: var(--valence-alias-code-text-font-weight-regular);
  --valence-code-s-emphasis-text-line-height: var(--valence-alias-code-text-line-height);
  --valence-code-s-emphasis-text-transform: none;
  --valence-code-s-emphasis-text-letter-spacing: var(--valence-global-font-letter-spacing-none);
  --valence-code-s-emphasis-margin-bottom-multiplier: 0em;
  --valence-code-s-emphasis-text-size: var(--valence-alias-font-size-default);
  --valence-code-s-emphasis-margin-bottom: var(--valence-global-dimension-size-0);
  --valence-code-s-emphasis-strong-text-color: var(--valence-alias-text-color);
  --valence-code-s-emphasis-strong-margin-top: 0px;
  --valence-code-s-emphasis-strong-text-font-family: var(--valence-alias-code-text-font-family);
  --valence-code-s-emphasis-strong-text-font-style: var(--valence-global-font-style-italic);
  --valence-code-s-emphasis-strong-text-font-weight: var(--valence-global-font-weight-bold);
  --valence-code-s-emphasis-strong-text-line-height: var(--valence-alias-code-text-line-height);
  --valence-code-s-emphasis-strong-text-transform: none;
  --valence-code-s-emphasis-strong-text-letter-spacing: var(--valence-global-font-letter-spacing-none);
  --valence-code-s-emphasis-strong-margin-bottom-multiplier: 0em;
  --valence-code-s-emphasis-strong-text-size: var(--valence-alias-font-size-default);
  --valence-code-s-emphasis-strong-margin-bottom: var(--valence-global-dimension-size-0);
  --valence-code-s-strong-text-color: var(--valence-alias-text-color);
  --valence-code-s-strong-margin-top: 0px;
  --valence-code-s-strong-text-font-family: var(--valence-alias-code-text-font-family);
  --valence-code-s-strong-text-font-style: var(--valence-global-font-style-regular);
  --valence-code-s-strong-text-font-weight: var(--valence-global-font-weight-bold);
  --valence-code-s-strong-text-line-height: var(--valence-alias-code-text-line-height);
  --valence-code-s-strong-text-transform: none;
  --valence-code-s-strong-text-letter-spacing: var(--valence-global-font-letter-spacing-none);
  --valence-code-s-strong-margin-bottom-multiplier: 0em;
  --valence-code-s-strong-text-size: var(--valence-alias-font-size-default);
  --valence-code-s-strong-margin-bottom: var(--valence-global-dimension-size-0);
  --valence-code-xl-text-color: var(--valence-alias-text-color);
  --valence-code-xl-margin-top: 0px;
  --valence-code-xl-text-font-family: var(--valence-alias-code-text-font-family);
  --valence-code-xl-text-font-style: var(--valence-global-font-style-regular);
  --valence-code-xl-text-font-weight: var(--valence-alias-code-text-font-weight-regular);
  --valence-code-xl-text-line-height: var(--valence-alias-code-text-line-height);
  --valence-code-xl-text-transform: none;
  --valence-code-xl-text-letter-spacing: var(--valence-global-font-letter-spacing-none);
  --valence-code-xl-margin-bottom-multiplier: 0em;
  --valence-code-xl-text-size: var(--valence-global-dimension-font-size-400);
  --valence-code-xl-margin-bottom: var(--valence-global-dimension-size-0);
  --valence-code-xl-emphasis-text-color: var(--valence-alias-text-color);
  --valence-code-xl-emphasis-margin-top: 0px;
  --valence-code-xl-emphasis-text-font-family: var(--valence-alias-code-text-font-family);
  --valence-code-xl-emphasis-text-font-style: var(--valence-global-font-style-italic);
  --valence-code-xl-emphasis-text-font-weight: var(--valence-alias-code-text-font-weight-regular);
  --valence-code-xl-emphasis-text-line-height: var(--valence-alias-code-text-line-height);
  --valence-code-xl-emphasis-text-transform: none;
  --valence-code-xl-emphasis-text-letter-spacing: var(--valence-global-font-letter-spacing-none);
  --valence-code-xl-emphasis-margin-bottom-multiplier: 0em;
  --valence-code-xl-emphasis-text-size: var(--valence-global-dimension-font-size-400);
  --valence-code-xl-emphasis-margin-bottom: var(--valence-global-dimension-size-0);
  --valence-code-xl-emphasis-strong-text-color: var(--valence-alias-text-color);
  --valence-code-xl-emphasis-strong-margin-top: 0px;
  --valence-code-xl-emphasis-strong-text-font-family: var(--valence-alias-code-text-font-family);
  --valence-code-xl-emphasis-strong-text-font-style: var(--valence-global-font-style-italic);
  --valence-code-xl-emphasis-strong-text-font-weight: var(--valence-global-font-weight-bold);
  --valence-code-xl-emphasis-strong-text-line-height: var(--valence-alias-code-text-line-height);
  --valence-code-xl-emphasis-strong-text-transform: none;
  --valence-code-xl-emphasis-strong-text-letter-spacing: var(--valence-global-font-letter-spacing-none);
  --valence-code-xl-emphasis-strong-margin-bottom-multiplier: 0em;
  --valence-code-xl-emphasis-strong-text-size: var(--valence-global-dimension-font-size-400);
  --valence-code-xl-emphasis-strong-margin-bottom: var(--valence-global-dimension-size-0);
  --valence-code-xl-strong-text-color: var(--valence-alias-text-color);
  --valence-code-xl-strong-margin-top: 0px;
  --valence-code-xl-strong-text-font-family: var(--valence-alias-code-text-font-family);
  --valence-code-xl-strong-text-font-style: var(--valence-global-font-style-regular);
  --valence-code-xl-strong-text-font-weight: var(--valence-global-font-weight-bold);
  --valence-code-xl-strong-text-line-height: var(--valence-alias-code-text-line-height);
  --valence-code-xl-strong-text-transform: none;
  --valence-code-xl-strong-text-letter-spacing: var(--valence-global-font-letter-spacing-none);
  --valence-code-xl-strong-margin-bottom-multiplier: 0em;
  --valence-code-xl-strong-text-size: var(--valence-global-dimension-font-size-400);
  --valence-code-xl-strong-margin-bottom: var(--valence-global-dimension-size-0);
  --valence-code-xs-text-color: var(--valence-alias-text-color);
  --valence-code-xs-margin-top: 0px;
  --valence-code-xs-text-font-family: var(--valence-alias-code-text-font-family);
  --valence-code-xs-text-font-style: var(--valence-global-font-style-regular);
  --valence-code-xs-text-font-weight: var(--valence-alias-code-text-font-weight-regular);
  --valence-code-xs-text-line-height: var(--valence-alias-code-text-line-height);
  --valence-code-xs-text-transform: none;
  --valence-code-xs-text-letter-spacing: var(--valence-global-font-letter-spacing-none);
  --valence-code-xs-margin-bottom-multiplier: 0em;
  --valence-code-xs-text-size: var(--valence-global-dimension-font-size-75);
  --valence-code-xs-margin-bottom: var(--valence-global-dimension-size-0);
  --valence-code-xs-emphasis-text-color: var(--valence-alias-text-color);
  --valence-code-xs-emphasis-margin-top: 0px;
  --valence-code-xs-emphasis-text-font-family: var(--valence-alias-code-text-font-family);
  --valence-code-xs-emphasis-text-font-style: var(--valence-global-font-style-italic);
  --valence-code-xs-emphasis-text-font-weight: var(--valence-alias-code-text-font-weight-regular);
  --valence-code-xs-emphasis-text-line-height: var(--valence-alias-code-text-line-height);
  --valence-code-xs-emphasis-text-transform: none;
  --valence-code-xs-emphasis-text-letter-spacing: var(--valence-global-font-letter-spacing-none);
  --valence-code-xs-emphasis-margin-bottom-multiplier: 0em;
  --valence-code-xs-emphasis-text-size: var(--valence-global-dimension-font-size-75);
  --valence-code-xs-emphasis-margin-bottom: var(--valence-global-dimension-size-0);
  --valence-code-xs-emphasis-strong-text-color: var(--valence-alias-text-color);
  --valence-code-xs-emphasis-strong-margin-top: 0px;
  --valence-code-xs-emphasis-strong-text-font-family: var(--valence-alias-code-text-font-family);
  --valence-code-xs-emphasis-strong-text-font-style: var(--valence-global-font-style-italic);
  --valence-code-xs-emphasis-strong-text-font-weight: var(--valence-global-font-weight-bold);
  --valence-code-xs-emphasis-strong-text-line-height: var(--valence-alias-code-text-line-height);
  --valence-code-xs-emphasis-strong-text-transform: none;
  --valence-code-xs-emphasis-strong-text-letter-spacing: var(--valence-global-font-letter-spacing-none);
  --valence-code-xs-emphasis-strong-margin-bottom-multiplier: 0em;
  --valence-code-xs-emphasis-strong-text-size: var(--valence-global-dimension-font-size-75);
  --valence-code-xs-emphasis-strong-margin-bottom: var(--valence-global-dimension-size-0);
  --valence-code-xs-strong-text-color: var(--valence-alias-text-color);
  --valence-code-xs-strong-margin-top: 0px;
  --valence-code-xs-strong-text-font-family: var(--valence-alias-code-text-font-family);
  --valence-code-xs-strong-text-font-style: var(--valence-global-font-style-regular);
  --valence-code-xs-strong-text-font-weight: var(--valence-global-font-weight-bold);
  --valence-code-xs-strong-text-line-height: var(--valence-alias-code-text-line-height);
  --valence-code-xs-strong-text-transform: none;
  --valence-code-xs-strong-text-letter-spacing: var(--valence-global-font-letter-spacing-none);
  --valence-code-xs-strong-margin-bottom-multiplier: 0em;
  --valence-code-xs-strong-text-size: var(--valence-global-dimension-font-size-75);
  --valence-code-xs-strong-margin-bottom: var(--valence-global-dimension-size-0);
  --valence-code-han-l-text-color: var(--valence-alias-text-color);
  --valence-code-han-l-margin-top: 0px;
  --valence-code-han-l-text-font-family: var(--valence-alias-font-family-zh);
  --valence-code-han-l-text-font-style: var(--valence-global-font-style-regular);
  --valence-code-han-l-text-font-weight: var(--valence-alias-han-body-text-font-weight-regular);
  --valence-code-han-l-text-line-height: var(--valence-alias-body-han-text-line-height);
  --valence-code-han-l-text-transform: none;
  --valence-code-han-l-text-letter-spacing: var(--valence-global-font-letter-spacing-han);
  --valence-code-han-l-margin-bottom-multiplier: 0em;
  --valence-code-han-l-text-size: var(--valence-global-dimension-font-size-300);
  --valence-code-han-l-margin-bottom: var(--valence-global-dimension-size-0);
  --valence-code-han-l-emphasis-text-color: var(--valence-alias-text-color);
  --valence-code-han-l-emphasis-margin-top: 0px;
  --valence-code-han-l-emphasis-text-font-family: var(--valence-alias-font-family-zh);
  --valence-code-han-l-emphasis-text-font-style: var(--valence-global-font-style-regular);
  --valence-code-han-l-emphasis-text-font-weight: var(--valence-alias-han-body-text-font-weight-emphasis);
  --valence-code-han-l-emphasis-text-line-height: var(--valence-alias-body-han-text-line-height);
  --valence-code-han-l-emphasis-text-transform: none;
  --valence-code-han-l-emphasis-text-letter-spacing: var(--valence-global-font-letter-spacing-han);
  --valence-code-han-l-emphasis-margin-bottom-multiplier: 0em;
  --valence-code-han-l-emphasis-text-size: var(--valence-global-dimension-font-size-300);
  --valence-code-han-l-emphasis-margin-bottom: var(--valence-global-dimension-size-0);
  --valence-code-han-l-emphasis-strong-text-color: var(--valence-alias-text-color);
  --valence-code-han-l-emphasis-strong-margin-top: 0px;
  --valence-code-han-l-emphasis-strong-text-font-family: var(--valence-alias-font-family-zh);
  --valence-code-han-l-emphasis-strong-text-font-style: var(--valence-global-font-style-regular);
  --valence-code-han-l-emphasis-strong-text-font-weight: var(--valence-alias-han-body-text-font-weight-strong);
  --valence-code-han-l-emphasis-strong-text-line-height: var(--valence-alias-body-han-text-line-height);
  --valence-code-han-l-emphasis-strong-text-transform: none;
  --valence-code-han-l-emphasis-strong-text-letter-spacing: var(--valence-global-font-letter-spacing-han);
  --valence-code-han-l-emphasis-strong-margin-bottom-multiplier: 0em;
  --valence-code-han-l-emphasis-strong-text-size: var(--valence-global-dimension-font-size-300);
  --valence-code-han-l-emphasis-strong-margin-bottom: var(--valence-global-dimension-size-0);
  --valence-code-han-l-strong-text-color: var(--valence-alias-text-color);
  --valence-code-han-l-strong-margin-top: 0px;
  --valence-code-han-l-strong-text-font-family: var(--valence-alias-font-family-zh);
  --valence-code-han-l-strong-text-font-style: var(--valence-global-font-style-regular);
  --valence-code-han-l-strong-text-font-weight: var(--valence-alias-han-body-text-font-weight-strong);
  --valence-code-han-l-strong-text-line-height: var(--valence-alias-body-han-text-line-height);
  --valence-code-han-l-strong-text-transform: none;
  --valence-code-han-l-strong-text-letter-spacing: var(--valence-global-font-letter-spacing-han);
  --valence-code-han-l-strong-margin-bottom-multiplier: 0em;
  --valence-code-han-l-strong-text-size: var(--valence-global-dimension-font-size-300);
  --valence-code-han-l-strong-margin-bottom: var(--valence-global-dimension-size-0);
  --valence-code-han-m-text-color: var(--valence-alias-text-color);
  --valence-code-han-m-margin-top: 0px;
  --valence-code-han-m-text-font-family: var(--valence-alias-font-family-zh);
  --valence-code-han-m-text-font-style: var(--valence-global-font-style-regular);
  --valence-code-han-m-text-font-weight: var(--valence-alias-han-body-text-font-weight-regular);
  --valence-code-han-m-text-line-height: var(--valence-alias-body-han-text-line-height);
  --valence-code-han-m-text-transform: none;
  --valence-code-han-m-text-letter-spacing: var(--valence-global-font-letter-spacing-han);
  --valence-code-han-m-margin-bottom-multiplier: 0em;
  --valence-code-han-m-text-size: var(--valence-global-dimension-font-size-200);
  --valence-code-han-m-margin-bottom: var(--valence-global-dimension-size-0);
  --valence-code-han-m-emphasis-text-color: var(--valence-alias-text-color);
  --valence-code-han-m-emphasis-margin-top: 0px;
  --valence-code-han-m-emphasis-text-font-family: var(--valence-alias-font-family-zh);
  --valence-code-han-m-emphasis-text-font-style: var(--valence-global-font-style-regular);
  --valence-code-han-m-emphasis-text-font-weight: var(--valence-alias-han-body-text-font-weight-emphasis);
  --valence-code-han-m-emphasis-text-line-height: var(--valence-alias-body-han-text-line-height);
  --valence-code-han-m-emphasis-text-transform: none;
  --valence-code-han-m-emphasis-text-letter-spacing: var(--valence-global-font-letter-spacing-han);
  --valence-code-han-m-emphasis-margin-bottom-multiplier: 0em;
  --valence-code-han-m-emphasis-text-size: var(--valence-global-dimension-font-size-200);
  --valence-code-han-m-emphasis-margin-bottom: var(--valence-global-dimension-size-0);
  --valence-code-han-m-emphasis-strong-text-color: var(--valence-alias-text-color);
  --valence-code-han-m-emphasis-strong-margin-top: 0px;
  --valence-code-han-m-emphasis-strong-text-font-family: var(--valence-alias-font-family-zh);
  --valence-code-han-m-emphasis-strong-text-font-style: var(--valence-global-font-style-regular);
  --valence-code-han-m-emphasis-strong-text-font-weight: var(--valence-alias-han-body-text-font-weight-strong);
  --valence-code-han-m-emphasis-strong-text-line-height: var(--valence-alias-body-han-text-line-height);
  --valence-code-han-m-emphasis-strong-text-transform: none;
  --valence-code-han-m-emphasis-strong-text-letter-spacing: var(--valence-global-font-letter-spacing-han);
  --valence-code-han-m-emphasis-strong-margin-bottom-multiplier: 0em;
  --valence-code-han-m-emphasis-strong-text-size: var(--valence-global-dimension-font-size-200);
  --valence-code-han-m-emphasis-strong-margin-bottom: var(--valence-global-dimension-size-0);
  --valence-code-han-m-strong-text-color: var(--valence-alias-text-color);
  --valence-code-han-m-strong-margin-top: 0px;
  --valence-code-han-m-strong-text-font-family: var(--valence-alias-font-family-zh);
  --valence-code-han-m-strong-text-font-style: var(--valence-global-font-style-regular);
  --valence-code-han-m-strong-text-font-weight: var(--valence-alias-han-body-text-font-weight-strong);
  --valence-code-han-m-strong-text-line-height: var(--valence-alias-body-han-text-line-height);
  --valence-code-han-m-strong-text-transform: none;
  --valence-code-han-m-strong-text-letter-spacing: var(--valence-global-font-letter-spacing-han);
  --valence-code-han-m-strong-margin-bottom-multiplier: 0em;
  --valence-code-han-m-strong-text-size: var(--valence-global-dimension-font-size-200);
  --valence-code-han-m-strong-margin-bottom: var(--valence-global-dimension-size-0);
  --valence-code-han-s-text-color: var(--valence-alias-text-color);
  --valence-code-han-s-margin-top: 0px;
  --valence-code-han-s-text-font-family: var(--valence-alias-font-family-zh);
  --valence-code-han-s-text-font-style: var(--valence-global-font-style-regular);
  --valence-code-han-s-text-font-weight: var(--valence-alias-han-body-text-font-weight-regular);
  --valence-code-han-s-text-line-height: var(--valence-alias-body-han-text-line-height);
  --valence-code-han-s-text-transform: none;
  --valence-code-han-s-text-letter-spacing: var(--valence-global-font-letter-spacing-han);
  --valence-code-han-s-margin-bottom-multiplier: 0em;
  --valence-code-han-s-text-size: var(--valence-alias-font-size-default);
  --valence-code-han-s-margin-bottom: var(--valence-global-dimension-size-0);
  --valence-code-han-s-emphasis-text-color: var(--valence-alias-text-color);
  --valence-code-han-s-emphasis-margin-top: 0px;
  --valence-code-han-s-emphasis-text-font-family: var(--valence-alias-font-family-zh);
  --valence-code-han-s-emphasis-text-font-style: var(--valence-global-font-style-regular);
  --valence-code-han-s-emphasis-text-font-weight: var(--valence-alias-han-body-text-font-weight-emphasis);
  --valence-code-han-s-emphasis-text-line-height: var(--valence-alias-body-han-text-line-height);
  --valence-code-han-s-emphasis-text-transform: none;
  --valence-code-han-s-emphasis-text-letter-spacing: var(--valence-global-font-letter-spacing-han);
  --valence-code-han-s-emphasis-margin-bottom-multiplier: 0em;
  --valence-code-han-s-emphasis-text-size: var(--valence-alias-font-size-default);
  --valence-code-han-s-emphasis-margin-bottom: var(--valence-global-dimension-size-0);
  --valence-code-han-s-emphasis-strong-text-color: var(--valence-alias-text-color);
  --valence-code-han-s-emphasis-strong-margin-top: 0px;
  --valence-code-han-s-emphasis-strong-text-font-family: var(--valence-alias-font-family-zh);
  --valence-code-han-s-emphasis-strong-text-font-style: var(--valence-global-font-style-regular);
  --valence-code-han-s-emphasis-strong-text-font-weight: var(--valence-alias-han-body-text-font-weight-strong);
  --valence-code-han-s-emphasis-strong-text-line-height: var(--valence-alias-body-han-text-line-height);
  --valence-code-han-s-emphasis-strong-text-transform: none;
  --valence-code-han-s-emphasis-strong-text-letter-spacing: var(--valence-global-font-letter-spacing-han);
  --valence-code-han-s-emphasis-strong-margin-bottom-multiplier: 0em;
  --valence-code-han-s-emphasis-strong-text-size: var(--valence-alias-font-size-default);
  --valence-code-han-s-emphasis-strong-margin-bottom: var(--valence-global-dimension-size-0);
  --valence-code-han-s-strong-text-color: var(--valence-alias-text-color);
  --valence-code-han-s-strong-margin-top: 0px;
  --valence-code-han-s-strong-text-font-family: var(--valence-alias-font-family-zh);
  --valence-code-han-s-strong-text-font-style: var(--valence-global-font-style-regular);
  --valence-code-han-s-strong-text-font-weight: var(--valence-alias-han-body-text-font-weight-strong);
  --valence-code-han-s-strong-text-line-height: var(--valence-alias-body-han-text-line-height);
  --valence-code-han-s-strong-text-transform: none;
  --valence-code-han-s-strong-text-letter-spacing: var(--valence-global-font-letter-spacing-han);
  --valence-code-han-s-strong-margin-bottom-multiplier: 0em;
  --valence-code-han-s-strong-text-size: var(--valence-alias-font-size-default);
  --valence-code-han-s-strong-margin-bottom: var(--valence-global-dimension-size-0);
  --valence-code-han-xl-text-color: var(--valence-alias-text-color);
  --valence-code-han-xl-margin-top: 0px;
  --valence-code-han-xl-text-font-family: var(--valence-alias-font-family-zh);
  --valence-code-han-xl-text-font-style: var(--valence-global-font-style-regular);
  --valence-code-han-xl-text-font-weight: var(--valence-alias-han-body-text-font-weight-regular);
  --valence-code-han-xl-text-line-height: var(--valence-alias-body-han-text-line-height);
  --valence-code-han-xl-text-transform: none;
  --valence-code-han-xl-text-letter-spacing: var(--valence-global-font-letter-spacing-han);
  --valence-code-han-xl-margin-bottom-multiplier: 0em;
  --valence-code-han-xl-text-size: var(--valence-global-dimension-font-size-400);
  --valence-code-han-xl-margin-bottom: var(--valence-global-dimension-size-0);
  --valence-code-han-xl-emphasis-text-color: var(--valence-alias-text-color);
  --valence-code-han-xl-emphasis-margin-top: 0px;
  --valence-code-han-xl-emphasis-text-font-family: var(--valence-alias-font-family-zh);
  --valence-code-han-xl-emphasis-text-font-style: var(--valence-global-font-style-regular);
  --valence-code-han-xl-emphasis-text-font-weight: var(--valence-alias-han-body-text-font-weight-emphasis);
  --valence-code-han-xl-emphasis-text-line-height: var(--valence-alias-body-han-text-line-height);
  --valence-code-han-xl-emphasis-text-transform: none;
  --valence-code-han-xl-emphasis-text-letter-spacing: var(--valence-global-font-letter-spacing-han);
  --valence-code-han-xl-emphasis-margin-bottom-multiplier: 0em;
  --valence-code-han-xl-emphasis-text-size: var(--valence-global-dimension-font-size-400);
  --valence-code-han-xl-emphasis-margin-bottom: var(--valence-global-dimension-size-0);
  --valence-code-han-xl-emphasis-strong-text-color: var(--valence-alias-text-color);
  --valence-code-han-xl-emphasis-strong-margin-top: 0px;
  --valence-code-han-xl-emphasis-strong-text-font-family: var(--valence-alias-font-family-zh);
  --valence-code-han-xl-emphasis-strong-text-font-style: var(--valence-global-font-style-regular);
  --valence-code-han-xl-emphasis-strong-text-font-weight: var(--valence-alias-han-body-text-font-weight-strong);
  --valence-code-han-xl-emphasis-strong-text-line-height: var(--valence-alias-body-han-text-line-height);
  --valence-code-han-xl-emphasis-strong-text-transform: none;
  --valence-code-han-xl-emphasis-strong-text-letter-spacing: var(--valence-global-font-letter-spacing-han);
  --valence-code-han-xl-emphasis-strong-margin-bottom-multiplier: 0em;
  --valence-code-han-xl-emphasis-strong-text-size: var(--valence-global-dimension-font-size-400);
  --valence-code-han-xl-emphasis-strong-margin-bottom: var(--valence-global-dimension-size-0);
  --valence-code-han-xl-strong-text-color: var(--valence-alias-text-color);
  --valence-code-han-xl-strong-margin-top: 0px;
  --valence-code-han-xl-strong-text-font-family: var(--valence-alias-font-family-zh);
  --valence-code-han-xl-strong-text-font-style: var(--valence-global-font-style-regular);
  --valence-code-han-xl-strong-text-font-weight: var(--valence-alias-han-body-text-font-weight-strong);
  --valence-code-han-xl-strong-text-line-height: var(--valence-alias-body-han-text-line-height);
  --valence-code-han-xl-strong-text-transform: none;
  --valence-code-han-xl-strong-text-letter-spacing: var(--valence-global-font-letter-spacing-han);
  --valence-code-han-xl-strong-margin-bottom-multiplier: 0em;
  --valence-code-han-xl-strong-text-size: var(--valence-global-dimension-font-size-400);
  --valence-code-han-xl-strong-margin-bottom: var(--valence-global-dimension-size-0);
  --valence-code-han-xs-text-color: var(--valence-alias-text-color);
  --valence-code-han-xs-margin-top: 0px;
  --valence-code-han-xs-text-font-family: var(--valence-alias-font-family-zh);
  --valence-code-han-xs-text-font-style: var(--valence-global-font-style-regular);
  --valence-code-han-xs-text-font-weight: var(--valence-alias-han-body-text-font-weight-regular);
  --valence-code-han-xs-text-line-height: var(--valence-alias-body-han-text-line-height);
  --valence-code-han-xs-text-transform: none;
  --valence-code-han-xs-text-letter-spacing: var(--valence-global-font-letter-spacing-han);
  --valence-code-han-xs-margin-bottom-multiplier: 0em;
  --valence-code-han-xs-text-size: var(--valence-global-dimension-font-size-75);
  --valence-code-han-xs-margin-bottom: var(--valence-global-dimension-size-0);
  --valence-code-han-xs-emphasis-text-color: var(--valence-alias-text-color);
  --valence-code-han-xs-emphasis-margin-top: 0px;
  --valence-code-han-xs-emphasis-text-font-family: var(--valence-alias-font-family-zh);
  --valence-code-han-xs-emphasis-text-font-style: var(--valence-global-font-style-regular);
  --valence-code-han-xs-emphasis-text-font-weight: var(--valence-alias-han-body-text-font-weight-emphasis);
  --valence-code-han-xs-emphasis-text-line-height: var(--valence-alias-body-han-text-line-height);
  --valence-code-han-xs-emphasis-text-transform: none;
  --valence-code-han-xs-emphasis-text-letter-spacing: var(--valence-global-font-letter-spacing-han);
  --valence-code-han-xs-emphasis-margin-bottom-multiplier: 0em;
  --valence-code-han-xs-emphasis-text-size: var(--valence-global-dimension-font-size-75);
  --valence-code-han-xs-emphasis-margin-bottom: var(--valence-global-dimension-size-0);
  --valence-code-han-xs-emphasis-strong-text-color: var(--valence-alias-text-color);
  --valence-code-han-xs-emphasis-strong-margin-top: 0px;
  --valence-code-han-xs-emphasis-strong-text-font-family: var(--valence-alias-font-family-zh);
  --valence-code-han-xs-emphasis-strong-text-font-style: var(--valence-global-font-style-regular);
  --valence-code-han-xs-emphasis-strong-text-font-weight: var(--valence-alias-han-body-text-font-weight-strong);
  --valence-code-han-xs-emphasis-strong-text-line-height: var(--valence-alias-body-han-text-line-height);
  --valence-code-han-xs-emphasis-strong-text-transform: none;
  --valence-code-han-xs-emphasis-strong-text-letter-spacing: var(--valence-global-font-letter-spacing-han);
  --valence-code-han-xs-emphasis-strong-margin-bottom-multiplier: 0em;
  --valence-code-han-xs-emphasis-strong-text-size: var(--valence-global-dimension-font-size-75);
  --valence-code-han-xs-emphasis-strong-margin-bottom: var(--valence-global-dimension-size-0);
  --valence-code-han-xs-strong-text-color: var(--valence-alias-text-color);
  --valence-code-han-xs-strong-margin-top: 0px;
  --valence-code-han-xs-strong-text-font-family: var(--valence-alias-font-family-zh);
  --valence-code-han-xs-strong-text-font-style: var(--valence-global-font-style-regular);
  --valence-code-han-xs-strong-text-font-weight: var(--valence-alias-han-body-text-font-weight-strong);
  --valence-code-han-xs-strong-text-line-height: var(--valence-alias-body-han-text-line-height);
  --valence-code-han-xs-strong-text-transform: none;
  --valence-code-han-xs-strong-text-letter-spacing: var(--valence-global-font-letter-spacing-han);
  --valence-code-han-xs-strong-margin-bottom-multiplier: 0em;
  --valence-code-han-xs-strong-text-size: var(--valence-global-dimension-font-size-75);
  --valence-code-han-xs-strong-margin-bottom: var(--valence-global-dimension-size-0);
}
