.theme {
  --valence-tooltip-text-color: var(--valence-global-color-static-white);
  --valence-tooltip-icon-color: var(--valence-global-color-static-white);
  --valence-tooltip-background-color: var(--valence-global-color-static-gray-700);
  --valence-tooltip-tip-color: var(--valence-global-color-static-gray-700);
  --valence-tooltip-text-font-weight: var(--valence-global-font-weight-regular);
  --valence-tooltip-min-height: var(--valence-global-dimension-size-300);
  --valence-tooltip-padding-x: var(--valence-global-dimension-size-125);
  --valence-tooltip-padding-top: var(--valence-global-dimension-size-50);
  --valence-tooltip-max-width: var(--valence-global-dimension-size-2000);
  --valence-tooltip-icon-size: var(--valence-global-dimension-size-175);
  --valence-tooltip-icon-margin-x: var(--valence-global-dimension-size-100);
  --valence-tooltip-icon-margin-y: var(--valence-global-dimension-size-65);
  --valence-tooltip-tip-height: var(--valence-global-dimension-size-50);
  --valence-tooltip-tip-width: var(--valence-global-dimension-size-100);
  --valence-tooltip-tip-margin: var(--valence-global-dimension-size-50);
  --valence-tooltip-border-radius: var(--valence-global-dimension-size-50);
  --valence-tooltip-text-baseline: var(--valence-global-dimension-size-100);
  --valence-tooltip-text-size: var(--valence-global-dimension-font-size-75);
  --valence-tooltip-text-line-height: var(--valence-global-dimension-font-size-200);
  --valence-tooltip-entry-animation-delay: var(--valence-global-animation-duration-0);
  --valence-tooltip-entry-warmup-animation-delay: var(--valence-global-animation-duration-4000);
  --valence-tooltip-entry-animation-duration: var(--valence-global-animation-duration-200);
  --valence-tooltip-entry-animation-distance: var(--valence-global-dimension-size-50);
  --valence-tooltip-entry-animation-ease: var(--valence-global-animation-ease-out);
  --valence-tooltip-entry-animation-properties: opacity, distance;
  --valence-tooltip-exit-animation-delay: var(--valence-global-animation-duration-0);
  --valence-tooltip-exit-warmup-animation-delay: var(--valence-global-animation-duration-4000);
  --valence-tooltip-exit-animation-duration: var(--valence-global-animation-duration-200);
  --valence-tooltip-exit-animation-distance: var(--valence-global-dimension-size-50);
  --valence-tooltip-exit-animation-ease: var(--valence-global-animation-ease-out);
  --valence-tooltip-exit-animation-properties: opacity, distance;
  --valence-tooltip-info-text-color: var(--valence-global-color-static-white);
  --valence-tooltip-info-icon-color: var(--valence-global-color-static-white);
  --valence-tooltip-info-background-color: var(--valence-global-color-static-blue-700);
  --valence-tooltip-info-tip-color: var(--valence-global-color-static-blue-700);
  --valence-tooltip-info-text-font-weight: var(--valence-global-font-weight-regular);
  --valence-tooltip-info-min-height: var(--valence-global-dimension-size-300);
  --valence-tooltip-info-padding-x: var(--valence-global-dimension-size-125);
  --valence-tooltip-info-padding-top: var(--valence-global-dimension-size-50);
  --valence-tooltip-info-max-width: var(--valence-global-dimension-size-2000);
  --valence-tooltip-info-icon-size: var(--valence-global-dimension-size-175);
  --valence-tooltip-info-icon-margin-x: var(--valence-global-dimension-size-100);
  --valence-tooltip-info-icon-margin-y: var(--valence-global-dimension-size-65);
  --valence-tooltip-info-tip-height: var(--valence-global-dimension-size-50);
  --valence-tooltip-info-tip-width: var(--valence-global-dimension-size-100);
  --valence-tooltip-info-tip-margin: var(--valence-global-dimension-size-50);
  --valence-tooltip-info-border-radius: var(--valence-global-dimension-size-50);
  --valence-tooltip-info-text-baseline: var(--valence-global-dimension-size-100);
  --valence-tooltip-info-text-size: var(--valence-global-dimension-font-size-75);
  --valence-tooltip-info-text-line-height: var(--valence-global-dimension-font-size-200);
  --valence-tooltip-info-entry-animation-delay: var(--valence-global-animation-duration-0);
  --valence-tooltip-info-entry-warmup-animation-delay: var(--valence-global-animation-duration-4000);
  --valence-tooltip-info-entry-animation-duration: var(--valence-global-animation-duration-200);
  --valence-tooltip-info-entry-animation-distance: var(--valence-global-dimension-size-50);
  --valence-tooltip-info-entry-animation-ease: var(--valence-global-animation-ease-out);
  --valence-tooltip-info-entry-animation-properties: opacity, distance;
  --valence-tooltip-info-exit-animation-delay: var(--valence-global-animation-duration-0);
  --valence-tooltip-info-exit-warmup-animation-delay: var(--valence-global-animation-duration-4000);
  --valence-tooltip-info-exit-animation-duration: var(--valence-global-animation-duration-200);
  --valence-tooltip-info-exit-animation-distance: var(--valence-global-dimension-size-50);
  --valence-tooltip-info-exit-animation-ease: var(--valence-global-animation-ease-out);
  --valence-tooltip-info-exit-animation-properties: opacity, distance;
  --valence-tooltip-negative-text-color: var(--valence-global-color-static-white);
  --valence-tooltip-negative-icon-color: var(--valence-global-color-static-white);
  --valence-tooltip-negative-background-color: var(--valence-global-color-static-red-700);
  --valence-tooltip-negative-tip-color: var(--valence-global-color-static-red-700);
  --valence-tooltip-negative-text-font-weight: var(--valence-global-font-weight-regular);
  --valence-tooltip-negative-min-height: var(--valence-global-dimension-size-300);
  --valence-tooltip-negative-padding-x: var(--valence-global-dimension-size-125);
  --valence-tooltip-negative-padding-top: var(--valence-global-dimension-size-50);
  --valence-tooltip-negative-max-width: var(--valence-global-dimension-size-2000);
  --valence-tooltip-negative-icon-size: var(--valence-global-dimension-size-175);
  --valence-tooltip-negative-icon-margin-x: var(--valence-global-dimension-size-100);
  --valence-tooltip-negative-icon-margin-y: var(--valence-global-dimension-size-65);
  --valence-tooltip-negative-tip-height: var(--valence-global-dimension-size-50);
  --valence-tooltip-negative-tip-width: var(--valence-global-dimension-size-100);
  --valence-tooltip-negative-tip-margin: var(--valence-global-dimension-size-50);
  --valence-tooltip-negative-border-radius: var(--valence-global-dimension-size-50);
  --valence-tooltip-negative-text-baseline: var(--valence-global-dimension-size-100);
  --valence-tooltip-negative-text-size: var(--valence-global-dimension-font-size-75);
  --valence-tooltip-negative-text-line-height: var(--valence-global-dimension-font-size-200);
  --valence-tooltip-negative-entry-animation-delay: var(--valence-global-animation-duration-0);
  --valence-tooltip-negative-entry-warmup-animation-delay: var(--valence-global-animation-duration-4000);
  --valence-tooltip-negative-entry-animation-duration: var(--valence-global-animation-duration-200);
  --valence-tooltip-negative-entry-animation-distance: var(--valence-global-dimension-size-50);
  --valence-tooltip-negative-entry-animation-ease: var(--valence-global-animation-ease-out);
  --valence-tooltip-negative-entry-animation-properties: opacity, distance;
  --valence-tooltip-negative-exit-animation-delay: var(--valence-global-animation-duration-0);
  --valence-tooltip-negative-exit-warmup-animation-delay: var(--valence-global-animation-duration-4000);
  --valence-tooltip-negative-exit-animation-duration: var(--valence-global-animation-duration-200);
  --valence-tooltip-negative-exit-animation-distance: var(--valence-global-dimension-size-50);
  --valence-tooltip-negative-exit-animation-ease: var(--valence-global-animation-ease-out);
  --valence-tooltip-negative-exit-animation-properties: opacity, distance;
  --valence-tooltip-background-color-neutral: var(--valence-global-color-static-gray-700);
  --valence-tooltip-tip-color-neutral: var(--valence-global-color-static-gray-700);
  --valence-tooltip-positive-text-color: var(--valence-global-color-static-white);
  --valence-tooltip-positive-icon-color: var(--valence-global-color-static-white);
  --valence-tooltip-positive-background-color: var(--valence-global-color-static-green-700);
  --valence-tooltip-positive-tip-color: var(--valence-global-color-static-green-700);
  --valence-tooltip-positive-text-font-weight: var(--valence-global-font-weight-regular);
  --valence-tooltip-positive-min-height: var(--valence-global-dimension-size-300);
  --valence-tooltip-positive-padding-x: var(--valence-global-dimension-size-125);
  --valence-tooltip-positive-padding-top: var(--valence-global-dimension-size-50);
  --valence-tooltip-positive-max-width: var(--valence-global-dimension-size-2000);
  --valence-tooltip-positive-icon-size: var(--valence-global-dimension-size-175);
  --valence-tooltip-positive-icon-margin-x: var(--valence-global-dimension-size-100);
  --valence-tooltip-positive-icon-margin-y: var(--valence-global-dimension-size-65);
  --valence-tooltip-positive-tip-height: var(--valence-global-dimension-size-50);
  --valence-tooltip-positive-tip-width: var(--valence-global-dimension-size-100);
  --valence-tooltip-positive-tip-margin: var(--valence-global-dimension-size-50);
  --valence-tooltip-positive-border-radius: var(--valence-global-dimension-size-50);
  --valence-tooltip-positive-text-baseline: var(--valence-global-dimension-size-100);
  --valence-tooltip-positive-text-size: var(--valence-global-dimension-font-size-75);
  --valence-tooltip-positive-text-line-height: var(--valence-global-dimension-font-size-200);
  --valence-tooltip-positive-entry-animation-delay: var(--valence-global-animation-duration-0);
  --valence-tooltip-positive-entry-warmup-animation-delay: var(--valence-global-animation-duration-4000);
  --valence-tooltip-positive-entry-animation-duration: var(--valence-global-animation-duration-200);
  --valence-tooltip-positive-entry-animation-distance: var(--valence-global-dimension-size-50);
  --valence-tooltip-positive-entry-animation-ease: var(--valence-global-animation-ease-out);
  --valence-tooltip-positive-entry-animation-properties: opacity, distance;
  --valence-tooltip-positive-exit-animation-delay: var(--valence-global-animation-duration-0);
  --valence-tooltip-positive-exit-warmup-animation-delay: var(--valence-global-animation-duration-4000);
  --valence-tooltip-positive-exit-animation-duration: var(--valence-global-animation-duration-200);
  --valence-tooltip-positive-exit-animation-distance: var(--valence-global-dimension-size-50);
  --valence-tooltip-positive-exit-animation-ease: var(--valence-global-animation-ease-out);
  --valence-tooltip-positive-exit-animation-properties: opacity, distance;
}

.theme {
  /* This variable needs to be updated in Spectrum DNA. Using the height variable so it scales to valence-large */
  --valence-tooltip-tip-width: var(--valence-tooltip-tip-height);
}