.theme {
  --valence-radio-text-color: var(--valence-alias-text-color);
  --valence-radio-circle-border-color: var(--valence-global-color-gray-600);
  --valence-radio-circle-background-color: var(--valence-global-color-gray-75);
  --valence-radio-circle-dot-color: var(--valence-global-color-gray-75);
  --valence-radio-circle-border-size: var(--valence-alias-border-size-thick);
  --valence-radio-text-gap: var(--valence-global-dimension-size-125);
  --valence-radio-text-color-hover: var(--valence-alias-text-color-hover);
  --valence-radio-circle-border-color-hover: var(--valence-global-color-gray-700);
  --valence-radio-circle-border-size-hover: var(--valence-alias-border-size-thick);
  --valence-radio-text-gap-hover: var(--valence-global-dimension-size-125);
  --valence-radio-text-color-down: var(--valence-alias-text-color-down);
  --valence-radio-circle-border-color-down: var(--valence-global-color-gray-800);
  --valence-radio-circle-border-size-down: var(--valence-alias-border-size-thick);
  --valence-radio-text-gap-down: var(--valence-global-dimension-size-125);
  --valence-radio-text-color-key-focus: var(--valence-alias-text-color-hover);
  --valence-radio-circle-border-color-key-focus: var(--valence-global-color-gray-700);
  --valence-radio-circle-border-size-key-focus: var(--valence-alias-border-size-thick);
  --valence-radio-focus-ring-gap-key-focus: var(--valence-alias-focus-ring-gap);
  --valence-radio-focus-ring-size-key-focus: var(--valence-alias-focus-ring-size);
  --valence-radio-focus-ring-color-key-focus: var(--valence-alias-focus-ring-color);
  --valence-radio-text-color-disabled: var(--valence-alias-text-color-disabled);
  --valence-radio-circle-border-color-disabled: var(--valence-global-color-gray-400);
  --valence-radio-circle-border-size-disabled: var(--valence-alias-border-size-thick);
  --valence-radio-text-gap-disabled: var(--valence-global-dimension-size-125);
  --valence-radio-text-color-selected: var(--valence-alias-text-color);
  --valence-radio-circle-border-color-selected: var(--valence-global-color-gray-700);
  --valence-radio-circle-border-size-selected: var(--valence-alias-border-size-thick);
  --valence-radio-text-gap-selected: var(--valence-global-dimension-size-125);
  --valence-radio-text-color-selected-hover: var(--valence-alias-text-color-hover);
  --valence-radio-circle-border-color-selected-hover: var(--valence-global-color-gray-800);
  --valence-radio-circle-border-size-selected-hover: var(--valence-alias-border-size-thick);
  --valence-radio-text-gap-selected-hover: var(--valence-global-dimension-size-125);
  --valence-radio-text-color-selected-down: var(--valence-alias-text-color-down);
  --valence-radio-circle-border-color-selected-down: var(--valence-global-color-gray-900);
  --valence-radio-circle-border-size-selected-down: var(--valence-alias-border-size-thick);
  --valence-radio-text-gap-selected-down: var(--valence-global-dimension-size-125);
  --valence-radio-text-color-selected-key-focus: var(--valence-alias-text-color-hover);
  --valence-radio-circle-border-color-selected-key-focus: var(--valence-global-color-gray-800);
  --valence-radio-circle-border-size-selected-key-focus: var(--valence-alias-border-size-thick);
  --valence-radio-focus-ring-gap-selected-key-focus: var(--valence-alias-focus-ring-gap);
  --valence-radio-focus-ring-size-selected-key-focus: var(--valence-alias-focus-ring-size);
  --valence-radio-focus-ring-color-selected-key-focus: var(--valence-alias-focus-ring-color);
  --valence-radio-text-color-selected-disabled: var(--valence-alias-text-color-disabled);
  --valence-radio-circle-border-color-selected-disabled: var(--valence-global-color-gray-400);
  --valence-radio-circle-border-size-selected-disabled: var(--valence-alias-border-size-thick);
  --valence-radio-text-gap-selected-disabled: var(--valence-global-dimension-size-125);
  --valence-radio-text-color-error: var(--valence-global-color-red-600);
  --valence-radio-circle-border-color-error: var(--valence-global-color-red-500);
  --valence-radio-circle-border-size-error: var(--valence-alias-border-size-thick);
  --valence-radio-text-gap-error: var(--valence-global-dimension-size-125);
  --valence-radio-text-color-error-hover: var(--valence-global-color-red-700);
  --valence-radio-circle-border-color-error-hover: var(--valence-global-color-red-600);
  --valence-radio-circle-border-size-error-hover: var(--valence-alias-border-size-thick);
  --valence-radio-text-gap-error-hover: var(--valence-global-dimension-size-125);
  --valence-radio-text-color-error-down: var(--valence-global-color-red-700);
  --valence-radio-circle-border-color-error-down: var(--valence-global-color-red-700);
  --valence-radio-circle-border-size-error-down: var(--valence-alias-border-size-thick);
  --valence-radio-text-gap-error-down: var(--valence-global-dimension-size-125);
  --valence-radio-text-color-error-key-focus: var(--valence-global-color-blue-600);
  --valence-radio-circle-border-color-error-key-focus: var(--valence-global-color-red-600);
  --valence-radio-circle-border-size-error-key-focus: var(--valence-alias-border-size-thick);
  --valence-radio-focus-ring-gap-error-key-focus: var(--valence-alias-focus-ring-gap);
  --valence-radio-focus-ring-size-error-key-focus: var(--valence-alias-focus-ring-size);
  --valence-radio-focus-ring-color-error-key-focus: var(--valence-alias-focus-ring-color);
  --valence-radio-text-color-error-disabled: var(--valence-alias-text-color-disabled);
  --valence-radio-circle-border-color-error-disabled: var(--valence-global-color-gray-400);
  --valence-radio-circle-border-size-error-disabled: var(--valence-alias-border-size-thick);
  --valence-radio-text-gap-error-disabled: var(--valence-global-dimension-size-125);
  --valence-radio-text-color-error-selected: var(--valence-global-color-red-600);
  --valence-radio-circle-border-color-error-selected: var(--valence-global-color-red-500);
  --valence-radio-circle-border-size-error-selected: var(--valence-alias-border-size-thick);
  --valence-radio-text-gap-error-selected: var(--valence-global-dimension-size-125);
  --valence-radio-text-color-error-selected-hover: var(--valence-global-color-red-700);
  --valence-radio-circle-border-color-error-selected-hover: var(--valence-global-color-red-600);
  --valence-radio-circle-border-size-error-selected-hover: var(--valence-alias-border-size-thick);
  --valence-radio-text-gap-error-selected-hover: var(--valence-global-dimension-size-125);
  --valence-radio-text-color-error-selected-down: var(--valence-global-color-red-700);
  --valence-radio-circle-border-color-error-selected-down: var(--valence-global-color-red-700);
  --valence-radio-circle-border-size-error-selected-down: var(--valence-alias-border-size-thick);
  --valence-radio-text-gap-error-selected-down: var(--valence-global-dimension-size-125);
  --valence-radio-text-color-error-selected-key-focus: var(--valence-global-color-blue-600);
  --valence-radio-circle-border-color-error-selected-key-focus: var(--valence-global-color-red-600);
  --valence-radio-circle-border-size-error-selected-key-focus: var(--valence-alias-border-size-thick);
  --valence-radio-focus-ring-gap-error-selected-key-focus: var(--valence-alias-focus-ring-gap);
  --valence-radio-focus-ring-size-error-selected-key-focus: var(--valence-alias-focus-ring-size);
  --valence-radio-focus-ring-color-error-selected-key-focus: var(--valence-alias-focus-ring-color);
  --valence-radio-text-color-error-selected-disabled: var(--valence-alias-text-color-disabled);
  --valence-radio-circle-border-color-error-selected-disabled: var(--valence-global-color-gray-400);
  --valence-radio-circle-border-size-error-selected-disabled: var(--valence-alias-border-size-thick);
  --valence-radio-text-gap-error-selected-disabled: var(--valence-global-dimension-size-125);
  --valence-radio-text-font-family: var(--valence-alias-body-text-font-family);
  --valence-radio-text-font-style: var(--valence-global-font-style-regular);
  --valence-radio-text-font-weight: var(--valence-alias-body-text-font-weight);
  --valence-radio-text-line-height: var(--valence-alias-body-text-line-height);
  --valence-radio-text-letter-spacing: var(--valence-global-font-letter-spacing-none);
  --valence-radio-text-transform: none;
  --valence-radio-text-size: var(--valence-alias-font-size-default);
  --valence-radio-circle-dot-size: var(--valence-global-dimension-static-size-50);
  --valence-radio-circle-diameter: var(--valence-global-dimension-size-175);
  --valence-radio-height: var(--valence-global-dimension-size-400);
  --valence-radio-text-baseline: var(--valence-global-dimension-size-150);
  --valence-radio-cursor-hit-x: var(--valence-global-dimension-size-100);
  --valence-radio-touch-hit-x: var(--valence-global-dimension-size-100);
  --valence-radio-emphasized-text-color: var(--valence-alias-text-color);
  --valence-radio-emphasized-circle-border-color: var(--valence-global-color-gray-600);
  --valence-radio-emphasized-circle-background-color: var(--valence-global-color-gray-75);
  --valence-radio-emphasized-circle-dot-color: var(--valence-global-color-gray-75);
  --valence-radio-emphasized-circle-border-size: var(--valence-alias-border-size-thick);
  --valence-radio-emphasized-text-gap: var(--valence-global-dimension-size-125);
  --valence-radio-emphasized-text-color-hover: var(--valence-alias-text-color-hover);
  --valence-radio-emphasized-circle-border-color-hover: var(--valence-global-color-gray-700);
  --valence-radio-emphasized-circle-border-size-hover: var(--valence-alias-border-size-thick);
  --valence-radio-emphasized-text-gap-hover: var(--valence-global-dimension-size-125);
  --valence-radio-emphasized-text-color-down: var(--valence-alias-text-color-down);
  --valence-radio-emphasized-circle-border-color-down: var(--valence-global-color-gray-800);
  --valence-radio-emphasized-circle-border-size-down: var(--valence-alias-border-size-thick);
  --valence-radio-emphasized-text-gap-down: var(--valence-global-dimension-size-125);
  --valence-radio-emphasized-text-color-key-focus: var(--valence-alias-text-color-hover);
  --valence-radio-emphasized-circle-border-color-key-focus: var(--valence-global-color-gray-700);
  --valence-radio-emphasized-circle-border-size-key-focus: var(--valence-alias-border-size-thick);
  --valence-radio-emphasized-focus-ring-gap-key-focus: var(--valence-alias-focus-ring-gap);
  --valence-radio-emphasized-focus-ring-size-key-focus: var(--valence-alias-focus-ring-size);
  --valence-radio-emphasized-focus-ring-color-key-focus: var(--valence-alias-focus-ring-color);
  --valence-radio-emphasized-text-color-disabled: var(--valence-alias-text-color-disabled);
  --valence-radio-emphasized-circle-border-color-disabled: var(--valence-global-color-gray-400);
  --valence-radio-emphasized-circle-border-size-disabled: var(--valence-alias-border-size-thick);
  --valence-radio-emphasized-text-gap-disabled: var(--valence-global-dimension-size-125);
  --valence-radio-emphasized-text-color-selected: var(--valence-alias-text-color);
  --valence-radio-emphasized-circle-border-color-selected: var(--valence-global-color-blue-500);
  --valence-radio-emphasized-circle-border-size-selected: var(--valence-alias-border-size-thick);
  --valence-radio-emphasized-text-gap-selected: var(--valence-global-dimension-size-125);
  --valence-radio-emphasized-text-color-selected-hover: var(--valence-alias-text-color-hover);
  --valence-radio-emphasized-circle-border-color-selected-hover: var(--valence-global-color-blue-600);
  --valence-radio-emphasized-circle-border-size-selected-hover: var(--valence-alias-border-size-thick);
  --valence-radio-emphasized-text-gap-selected-hover: var(--valence-global-dimension-size-125);
  --valence-radio-emphasized-text-color-selected-down: var(--valence-alias-text-color-down);
  --valence-radio-emphasized-circle-border-color-selected-down: var(--valence-global-color-blue-700);
  --valence-radio-emphasized-circle-border-size-selected-down: var(--valence-alias-border-size-thick);
  --valence-radio-emphasized-text-gap-selected-down: var(--valence-global-dimension-size-125);
  --valence-radio-emphasized-text-color-selected-key-focus: var(--valence-alias-text-color-hover);
  --valence-radio-emphasized-circle-border-color-selected-key-focus: var(--valence-global-color-blue-600);
  --valence-radio-emphasized-circle-border-size-selected-key-focus: var(--valence-alias-border-size-thick);
  --valence-radio-emphasized-focus-ring-gap-selected-key-focus: var(--valence-alias-focus-ring-gap);
  --valence-radio-emphasized-focus-ring-size-selected-key-focus: var(--valence-alias-focus-ring-size);
  --valence-radio-emphasized-focus-ring-color-selected-key-focus: var(--valence-alias-focus-ring-color);
  --valence-radio-emphasized-text-color-selected-disabled: var(--valence-alias-text-color-disabled);
  --valence-radio-emphasized-circle-border-color-selected-disabled: var(--valence-global-color-gray-400);
  --valence-radio-emphasized-circle-border-size-selected-disabled: var(--valence-alias-border-size-thick);
  --valence-radio-emphasized-text-gap-selected-disabled: var(--valence-global-dimension-size-125);
  --valence-radio-emphasized-text-color-error: var(--valence-global-color-red-600);
  --valence-radio-emphasized-circle-border-color-error: var(--valence-global-color-red-500);
  --valence-radio-emphasized-circle-border-size-error: var(--valence-alias-border-size-thick);
  --valence-radio-emphasized-text-gap-error: var(--valence-global-dimension-size-125);
  --valence-radio-emphasized-text-color-error-hover: var(--valence-global-color-red-700);
  --valence-radio-emphasized-circle-border-color-error-hover: var(--valence-global-color-red-600);
  --valence-radio-emphasized-circle-border-size-error-hover: var(--valence-alias-border-size-thick);
  --valence-radio-emphasized-text-gap-error-hover: var(--valence-global-dimension-size-125);
  --valence-radio-emphasized-text-color-error-down: var(--valence-global-color-red-700);
  --valence-radio-emphasized-circle-border-color-error-down: var(--valence-global-color-red-700);
  --valence-radio-emphasized-circle-border-size-error-down: var(--valence-alias-border-size-thick);
  --valence-radio-emphasized-text-gap-error-down: var(--valence-global-dimension-size-125);
  --valence-radio-emphasized-text-color-error-key-focus: var(--valence-global-color-blue-600);
  --valence-radio-emphasized-circle-border-color-error-key-focus: var(--valence-global-color-red-600);
  --valence-radio-emphasized-circle-border-size-error-key-focus: var(--valence-alias-border-size-thick);
  --valence-radio-emphasized-focus-ring-gap-error-key-focus: var(--valence-alias-focus-ring-gap);
  --valence-radio-emphasized-focus-ring-size-error-key-focus: var(--valence-alias-focus-ring-size);
  --valence-radio-emphasized-focus-ring-color-error-key-focus: var(--valence-alias-focus-ring-color);
  --valence-radio-emphasized-text-color-error-disabled: var(--valence-alias-text-color-disabled);
  --valence-radio-emphasized-circle-border-color-error-disabled: var(--valence-global-color-gray-400);
  --valence-radio-emphasized-circle-border-size-error-disabled: var(--valence-alias-border-size-thick);
  --valence-radio-emphasized-text-gap-error-disabled: var(--valence-global-dimension-size-125);
  --valence-radio-emphasized-text-color-error-selected: var(--valence-global-color-red-600);
  --valence-radio-emphasized-circle-border-color-error-selected: var(--valence-global-color-red-500);
  --valence-radio-emphasized-circle-border-size-error-selected: var(--valence-alias-border-size-thick);
  --valence-radio-emphasized-text-gap-error-selected: var(--valence-global-dimension-size-125);
  --valence-radio-emphasized-text-color-error-selected-hover: var(--valence-global-color-red-700);
  --valence-radio-emphasized-circle-border-color-error-selected-hover: var(--valence-global-color-red-600);
  --valence-radio-emphasized-circle-border-size-error-selected-hover: var(--valence-alias-border-size-thick);
  --valence-radio-emphasized-text-gap-error-selected-hover: var(--valence-global-dimension-size-125);
  --valence-radio-emphasized-text-color-error-selected-down: var(--valence-global-color-red-700);
  --valence-radio-emphasized-circle-border-color-error-selected-down: var(--valence-global-color-red-700);
  --valence-radio-emphasized-circle-border-size-error-selected-down: var(--valence-alias-border-size-thick);
  --valence-radio-emphasized-text-gap-error-selected-down: var(--valence-global-dimension-size-125);
  --valence-radio-emphasized-text-color-error-selected-key-focus: var(--valence-global-color-blue-600);
  --valence-radio-emphasized-circle-border-color-error-selected-key-focus: var(--valence-global-color-red-600);
  --valence-radio-emphasized-circle-border-size-error-selected-key-focus: var(--valence-alias-border-size-thick);
  --valence-radio-emphasized-focus-ring-gap-error-selected-key-focus: var(--valence-alias-focus-ring-gap);
  --valence-radio-emphasized-focus-ring-size-error-selected-key-focus: var(--valence-alias-focus-ring-size);
  --valence-radio-emphasized-focus-ring-color-error-selected-key-focus: var(--valence-alias-focus-ring-color);
  --valence-radio-emphasized-text-color-error-selected-disabled: var(--valence-alias-text-color-disabled);
  --valence-radio-emphasized-circle-border-color-error-selected-disabled: var(--valence-global-color-gray-400);
  --valence-radio-emphasized-circle-border-size-error-selected-disabled: var(--valence-alias-border-size-thick);
  --valence-radio-emphasized-text-gap-error-selected-disabled: var(--valence-global-dimension-size-125);
  --valence-radio-emphasized-text-font-family: var(--valence-alias-body-text-font-family);
  --valence-radio-emphasized-text-font-style: var(--valence-global-font-style-regular);
  --valence-radio-emphasized-text-font-weight: var(--valence-alias-body-text-font-weight);
  --valence-radio-emphasized-text-line-height: var(--valence-alias-body-text-line-height);
  --valence-radio-emphasized-text-letter-spacing: var(--valence-global-font-letter-spacing-none);
  --valence-radio-emphasized-text-transform: none;
  --valence-radio-emphasized-text-size: var(--valence-alias-font-size-default);
  --valence-radio-emphasized-circle-dot-size: var(--valence-global-dimension-static-size-50);
  --valence-radio-emphasized-circle-diameter: var(--valence-global-dimension-size-175);
  --valence-radio-emphasized-height: var(--valence-global-dimension-size-400);
  --valence-radio-emphasized-text-baseline: var(--valence-global-dimension-size-150);
  --valence-radio-emphasized-cursor-hit-x: var(--valence-global-dimension-size-100);
  --valence-radio-emphasized-touch-hit-x: var(--valence-global-dimension-size-100);
  --valence-radio-quiet-text-color: var(--valence-alias-text-color);
  --valence-radio-quiet-circle-border-color: var(--valence-global-color-gray-600);
  --valence-radio-quiet-circle-background-color: var(--valence-global-color-gray-75);
  --valence-radio-quiet-circle-dot-color: var(--valence-global-color-gray-75);
  --valence-radio-quiet-circle-border-size: var(--valence-alias-border-size-thick);
  --valence-radio-quiet-text-gap: var(--valence-global-dimension-size-125);
  --valence-radio-quiet-text-color-hover: var(--valence-alias-text-color-hover);
  --valence-radio-quiet-circle-border-color-hover: var(--valence-global-color-gray-700);
  --valence-radio-quiet-circle-border-size-hover: var(--valence-alias-border-size-thick);
  --valence-radio-quiet-text-gap-hover: var(--valence-global-dimension-size-125);
  --valence-radio-quiet-text-color-down: var(--valence-alias-text-color-down);
  --valence-radio-quiet-circle-border-color-down: var(--valence-global-color-gray-800);
  --valence-radio-quiet-circle-border-size-down: var(--valence-alias-border-size-thick);
  --valence-radio-quiet-text-gap-down: var(--valence-global-dimension-size-125);
  --valence-radio-quiet-text-color-key-focus: var(--valence-alias-text-color-hover);
  --valence-radio-quiet-circle-border-color-key-focus: var(--valence-global-color-gray-700);
  --valence-radio-quiet-circle-border-size-key-focus: var(--valence-alias-border-size-thick);
  --valence-radio-quiet-focus-ring-gap-key-focus: var(--valence-alias-focus-ring-gap);
  --valence-radio-quiet-focus-ring-size-key-focus: var(--valence-alias-focus-ring-size);
  --valence-radio-quiet-focus-ring-color-key-focus: var(--valence-alias-focus-ring-color);
  --valence-radio-quiet-text-color-disabled: var(--valence-alias-text-color-disabled);
  --valence-radio-quiet-circle-border-color-disabled: var(--valence-global-color-gray-400);
  --valence-radio-quiet-circle-border-size-disabled: var(--valence-alias-border-size-thick);
  --valence-radio-quiet-text-gap-disabled: var(--valence-global-dimension-size-125);
  --valence-radio-quiet-text-color-selected: var(--valence-alias-text-color);
  --valence-radio-quiet-circle-border-color-selected: var(--valence-global-color-gray-700);
  --valence-radio-quiet-circle-border-size-selected: var(--valence-alias-border-size-thick);
  --valence-radio-quiet-text-gap-selected: var(--valence-global-dimension-size-125);
  --valence-radio-quiet-text-color-selected-hover: var(--valence-alias-text-color-hover);
  --valence-radio-quiet-circle-border-color-selected-hover: var(--valence-global-color-gray-800);
  --valence-radio-quiet-circle-border-size-selected-hover: var(--valence-alias-border-size-thick);
  --valence-radio-quiet-text-gap-selected-hover: var(--valence-global-dimension-size-125);
  --valence-radio-quiet-text-color-selected-down: var(--valence-alias-text-color-down);
  --valence-radio-quiet-circle-border-color-selected-down: var(--valence-global-color-gray-900);
  --valence-radio-quiet-circle-border-size-selected-down: var(--valence-alias-border-size-thick);
  --valence-radio-quiet-text-gap-selected-down: var(--valence-global-dimension-size-125);
  --valence-radio-quiet-text-color-selected-key-focus: var(--valence-alias-text-color-hover);
  --valence-radio-quiet-circle-border-color-selected-key-focus: var(--valence-global-color-gray-800);
  --valence-radio-quiet-circle-border-size-selected-key-focus: var(--valence-alias-border-size-thick);
  --valence-radio-quiet-focus-ring-gap-selected-key-focus: var(--valence-alias-focus-ring-gap);
  --valence-radio-quiet-focus-ring-size-selected-key-focus: var(--valence-alias-focus-ring-size);
  --valence-radio-quiet-focus-ring-color-selected-key-focus: var(--valence-alias-focus-ring-color);
  --valence-radio-quiet-text-color-selected-disabled: var(--valence-alias-text-color-disabled);
  --valence-radio-quiet-circle-border-color-selected-disabled: var(--valence-global-color-gray-400);
  --valence-radio-quiet-circle-border-size-selected-disabled: var(--valence-alias-border-size-thick);
  --valence-radio-quiet-text-gap-selected-disabled: var(--valence-global-dimension-size-125);
  --valence-radio-quiet-text-color-error: var(--valence-global-color-red-600);
  --valence-radio-quiet-circle-border-color-error: var(--valence-global-color-red-500);
  --valence-radio-quiet-circle-border-size-error: var(--valence-alias-border-size-thick);
  --valence-radio-quiet-text-gap-error: var(--valence-global-dimension-size-125);
  --valence-radio-quiet-text-color-error-hover: var(--valence-global-color-red-700);
  --valence-radio-quiet-circle-border-color-error-hover: var(--valence-global-color-red-600);
  --valence-radio-quiet-circle-border-size-error-hover: var(--valence-alias-border-size-thick);
  --valence-radio-quiet-text-gap-error-hover: var(--valence-global-dimension-size-125);
  --valence-radio-quiet-text-color-error-down: var(--valence-global-color-red-700);
  --valence-radio-quiet-circle-border-color-error-down: var(--valence-global-color-red-700);
  --valence-radio-quiet-circle-border-size-error-down: var(--valence-alias-border-size-thick);
  --valence-radio-quiet-text-gap-error-down: var(--valence-global-dimension-size-125);
  --valence-radio-quiet-text-color-error-key-focus: var(--valence-global-color-blue-600);
  --valence-radio-quiet-circle-border-color-error-key-focus: var(--valence-global-color-red-600);
  --valence-radio-quiet-circle-border-size-error-key-focus: var(--valence-alias-border-size-thick);
  --valence-radio-quiet-focus-ring-gap-error-key-focus: var(--valence-alias-focus-ring-gap);
  --valence-radio-quiet-focus-ring-size-error-key-focus: var(--valence-alias-focus-ring-size);
  --valence-radio-quiet-focus-ring-color-error-key-focus: var(--valence-alias-focus-ring-color);
  --valence-radio-quiet-text-color-error-disabled: var(--valence-alias-text-color-disabled);
  --valence-radio-quiet-circle-border-color-error-disabled: var(--valence-global-color-gray-400);
  --valence-radio-quiet-circle-border-size-error-disabled: var(--valence-alias-border-size-thick);
  --valence-radio-quiet-text-gap-error-disabled: var(--valence-global-dimension-size-125);
  --valence-radio-quiet-text-color-error-selected: var(--valence-global-color-red-600);
  --valence-radio-quiet-circle-border-color-error-selected: var(--valence-global-color-red-500);
  --valence-radio-quiet-circle-border-size-error-selected: var(--valence-alias-border-size-thick);
  --valence-radio-quiet-text-gap-error-selected: var(--valence-global-dimension-size-125);
  --valence-radio-quiet-text-color-error-selected-hover: var(--valence-global-color-red-700);
  --valence-radio-quiet-circle-border-color-error-selected-hover: var(--valence-global-color-red-600);
  --valence-radio-quiet-circle-border-size-error-selected-hover: var(--valence-alias-border-size-thick);
  --valence-radio-quiet-text-gap-error-selected-hover: var(--valence-global-dimension-size-125);
  --valence-radio-quiet-text-color-error-selected-down: var(--valence-global-color-red-700);
  --valence-radio-quiet-circle-border-color-error-selected-down: var(--valence-global-color-red-700);
  --valence-radio-quiet-circle-border-size-error-selected-down: var(--valence-alias-border-size-thick);
  --valence-radio-quiet-text-gap-error-selected-down: var(--valence-global-dimension-size-125);
  --valence-radio-quiet-text-color-error-selected-key-focus: var(--valence-global-color-blue-600);
  --valence-radio-quiet-circle-border-color-error-selected-key-focus: var(--valence-global-color-red-600);
  --valence-radio-quiet-circle-border-size-error-selected-key-focus: var(--valence-alias-border-size-thick);
  --valence-radio-quiet-focus-ring-gap-error-selected-key-focus: var(--valence-alias-focus-ring-gap);
  --valence-radio-quiet-focus-ring-size-error-selected-key-focus: var(--valence-alias-focus-ring-size);
  --valence-radio-quiet-focus-ring-color-error-selected-key-focus: var(--valence-alias-focus-ring-color);
  --valence-radio-quiet-text-color-error-selected-disabled: var(--valence-alias-text-color-disabled);
  --valence-radio-quiet-circle-border-color-error-selected-disabled: var(--valence-global-color-gray-400);
  --valence-radio-quiet-circle-border-size-error-selected-disabled: var(--valence-alias-border-size-thick);
  --valence-radio-quiet-text-gap-error-selected-disabled: var(--valence-global-dimension-size-125);
  --valence-radio-quiet-text-font-family: var(--valence-alias-body-text-font-family);
  --valence-radio-quiet-text-font-style: var(--valence-global-font-style-regular);
  --valence-radio-quiet-text-font-weight: var(--valence-alias-body-text-font-weight);
  --valence-radio-quiet-text-line-height: var(--valence-alias-body-text-line-height);
  --valence-radio-quiet-text-letter-spacing: var(--valence-global-font-letter-spacing-none);
  --valence-radio-quiet-text-transform: none;
  --valence-radio-quiet-text-size: var(--valence-alias-font-size-default);
  --valence-radio-quiet-circle-dot-size: var(--valence-global-dimension-static-size-50);
  --valence-radio-quiet-circle-diameter: var(--valence-global-dimension-size-175);
  --valence-radio-quiet-height: var(--valence-global-dimension-size-400);
  --valence-radio-quiet-text-baseline: var(--valence-global-dimension-size-150);
  --valence-radio-quiet-cursor-hit-x: var(--valence-global-dimension-size-100);
  --valence-radio-quiet-touch-hit-x: var(--valence-global-dimension-size-100);
}

.theme {
  --valence-radio-radius: calc(var(--valence-radio-circle-diameter) / 2);
  --valence-radio-border-width-checked: calc(
    calc(var(--valence-radio-circle-diameter) / 2) -
      calc(var(--valence-radio-circle-dot-size) / 2)
  );

  --valence-radio-labelbelow-label-margin: var(
      --valence-global-dimension-size-40
    )
    0 0 0;
  --valence-radio-labelbelow-height: auto;

  /* Hardcoded for wrapping study.
  Will be a DNA token in https://jira.corp.adobe.com/browse/SDS-4466 */
  --valence-radio-label-margin-top: var(--valence-global-dimension-size-65);

  /* Fix for inconsistent line-height between browsers that would push the label 1px below the intended baseline */
  /* more info: https://stackoverflow.com/questions/47700568/css-fonts-render-differently-in-firefox-and-chrome */
  --valence-radio-label-line-height: 1.49;
}

.theme {
  /* todo: fix in DNA */
  --valence-radio-emphasized-circle-border-color-selected-key-focus: var(
    --valence-radio-emphasized-circle-border-color-selected-hover
  );
}
