.theme {
  --valence-fieldlabel-icon-color: var(--valence-alias-icon-color);
  --valence-fieldlabel-asterisk-color: var(--valence-global-color-gray-600);
  --valence-fieldlabel-text-color: var(--valence-alias-label-text-color);
  --valence-fieldlabel-icon-color-disabled: var(--valence-alias-icon-color-disabled);
  --valence-fieldlabel-asterisk-color-disabled: var(--valence-alias-text-color-disabled);
  --valence-fieldlabel-text-color-disabled: var(--valence-alias-text-color-disabled);
  --valence-fieldlabel-text-font-family: var(--valence-alias-body-text-font-family);
  --valence-fieldlabel-text-font-style: var(--valence-global-font-style-regular);
  --valence-fieldlabel-text-font-weight: var(--valence-global-font-weight-regular);
  --valence-fieldlabel-text-line-height: var(--valence-global-font-line-height-small);
  --valence-fieldlabel-text-letter-spacing: var(--valence-global-font-letter-spacing-none);
  --valence-fieldlabel-text-transform: none;
  --valence-fieldlabel-icon-size: var(--valence-alias-workflow-icon-size);
  --valence-fieldlabel-text-size: var(--valence-global-dimension-font-size-75);
  --valence-fieldlabel-asterisk-size: var(--valence-global-dimension-size-100);
  --valence-fieldlabel-asterisk-gap: var(--valence-global-dimension-size-25);
  --valence-fieldlabel-asterisk-margin-y: var(--valence-global-dimension-size-50);
  --valence-fieldlabel-padding-top: var(--valence-global-dimension-size-50);
  --valence-fieldlabel-padding-bottom: var(--valence-global-dimension-size-65);
  --valence-fieldlabel-icon-margin-y: var(--valence-global-dimension-size-40);
  --valence-fieldlabel-side-icon-color: var(--valence-alias-icon-color);
  --valence-fieldlabel-side-asterisk-color: var(--valence-global-color-gray-600);
  --valence-fieldlabel-side-text-color: var(--valence-alias-label-text-color);
  --valence-fieldlabel-side-icon-color-disabled: var(--valence-alias-icon-color-disabled);
  --valence-fieldlabel-side-asterisk-color-disabled: var(--valence-alias-text-color-disabled);
  --valence-fieldlabel-side-text-color-disabled: var(--valence-alias-text-color-disabled);
  --valence-fieldlabel-side-text-font-family: var(--valence-alias-body-text-font-family);
  --valence-fieldlabel-side-text-font-style: var(--valence-global-font-style-regular);
  --valence-fieldlabel-side-text-font-weight: var(--valence-global-font-weight-regular);
  --valence-fieldlabel-side-text-line-height: var(--valence-global-font-line-height-small);
  --valence-fieldlabel-side-text-letter-spacing: var(--valence-global-font-letter-spacing-none);
  --valence-fieldlabel-side-text-transform: none;
  --valence-fieldlabel-side-icon-size: var(--valence-alias-workflow-icon-size);
  --valence-fieldlabel-side-text-size: var(--valence-global-dimension-font-size-75);
  --valence-fieldlabel-side-asterisk-size: var(--valence-global-dimension-size-100);
  --valence-fieldlabel-side-asterisk-gap: var(--valence-global-dimension-size-25);
  --valence-fieldlabel-side-asterisk-margin-y: 0px;
  --valence-fieldlabel-side-padding-top: var(--valence-global-dimension-size-100);
  --valence-fieldlabel-side-padding-x: var(--valence-global-dimension-size-100);
  --valence-fieldlabel-side-icon-margin-y: var(--valence-global-dimension-size-85);
}

.theme {
  --valence-tableform-border-spacing: 0 var(--valence-global-dimension-size-300);
  --valence-tableform-margin: calc(
      var(--valence-global-dimension-size-250) * -1
    )
    0;
}