.theme {
  --valence-textarea-placeholder-text-color: var(--valence-alias-placeholder-text-color);
  --valence-textarea-text-color: var(--valence-alias-text-color);
  --valence-textarea-border-size: var(--valence-alias-border-size-thin);
  --valence-textarea-background-color: var(--valence-global-color-gray-50);
  --valence-textarea-border-color: var(--valence-alias-border-color);
  --valence-textarea-icon-color: var(--valence-alias-icon-color);
  --valence-textarea-placeholder-text-color-hover: var(--valence-alias-placeholder-text-color-hover);
  --valence-textarea-text-color-hover: var(--valence-alias-text-color-hover);
  --valence-textarea-background-color-hover: var(--valence-global-color-gray-50);
  --valence-textarea-border-color-hover: var(--valence-alias-border-color-hover);
  --valence-textarea-icon-color-hover: var(--valence-global-color-gray-900);
  --valence-textarea-placeholder-text-color-key-focus: var(--valence-alias-placeholder-text-color-hover);
  --valence-textarea-text-color-key-focus: var(--valence-alias-text-color-hover);
  --valence-textarea-background-color-key-focus: var(--valence-global-color-gray-50);
  --valence-textarea-icon-color-key-focus: var(--valence-global-color-gray-900);
  --valence-textarea-border-color-key-focus: var(--valence-alias-border-color-focus);
  --valence-textarea-border-size-key-focus: var(--valence-alias-border-size-thick);
  --valence-textarea-placeholder-text-color-disabled: var(--valence-alias-text-color-disabled);
  --valence-textarea-text-color-disabled: var(--valence-alias-text-color-disabled);
  --valence-textarea-background-color-disabled: var(--valence-global-color-gray-200);
  --valence-textarea-border-color-disabled: var(--valence-alias-border-color-transparent);
  --valence-textarea-icon-color-disabled: var(--valence-global-color-gray-500);
  --valence-textarea-validation-icon-color-disabled: var(--valence-global-color-gray-500);
  --valence-textarea-text-color-down: var(--valence-alias-text-color-down);
  --valence-textarea-placeholder-text-color-down: var(--valence-alias-placeholder-text-color-down);
  --valence-textarea-background-color-down: var(--valence-global-color-gray-50);
  --valence-textarea-border-color-down: var(--valence-alias-border-color-mouse-focus);
  --valence-textarea-icon-color-down: var(--valence-alias-icon-color-down);
  --valence-textarea-text-color-mouse-focus: var(--valence-alias-text-color-hover);
  --valence-textarea-placeholder-text-color-mouse-focus: var(--valence-alias-placeholder-text-color);
  --valence-textarea-background-color-mouse-focus: var(--valence-global-color-gray-50);
  --valence-textarea-border-color-mouse-focus: var(--valence-alias-border-color-mouse-focus);
  --valence-textarea-border-size-mouse-focus: var(--valence-alias-border-size-thin);
  --valence-textarea-icon-color-mouse-focus: var(--valence-global-color-gray-700);
  --valence-textarea-border-color-error: var(--valence-semantic-negative-color-default);
  --valence-textarea-validation-icon-color-error: var(--valence-semantic-negative-color-icon);
  --valence-textarea-border-color-error-hover: var(--valence-semantic-negative-color-state-hover);
  --valence-textarea-validation-icon-color-error-hover: var(--valence-semantic-negative-color-icon);
  --valence-textarea-border-color-error-down: var(--valence-semantic-negative-color-state-down);
  --valence-textarea-validation-icon-color-error-down: var(--valence-semantic-negative-color-icon);
  --valence-textarea-border-color-error-key-focus: var(--valence-alias-border-color-focus);
  --valence-textarea-validation-icon-color-error-key-focus: var(--valence-semantic-negative-color-icon);
  --valence-textarea-border-color-error-mouse-focus: var(--valence-semantic-negative-color-state-hover);
  --valence-textarea-validation-icon-color-error-mouse-focus: var(--valence-semantic-negative-color-icon);
  --valence-textarea-icon-color-valid: var(--valence-global-color-green-400);
  --valence-textarea-border-color-valid-hover: var(--valence-global-color-gray-400);
  --valence-textarea-icon-color-valid-hover: var(--valence-global-color-green-400);
  --valence-textarea-border-color-valid-down: var(--valence-alias-border-color-down);
  --valence-textarea-icon-color-valid-down: var(--valence-global-color-green-400);
  --valence-textarea-border-color-valid-key-focus: var(--valence-alias-border-color-focus);
  --valence-textarea-icon-color-valid-key-focus: var(--valence-global-color-green-400);
  --valence-textarea-border-color-valid-mouse-focus: var(--valence-alias-border-color-down);
  --valence-textarea-icon-color-valid-mouse-focus: var(--valence-global-color-green-400);
  --valence-textarea-placeholder-text-font-style: var(--valence-global-font-style-italic);
  --valence-textarea-placeholder-text-font-weight: var(--valence-global-font-weight-regular);
  --valence-textarea-placeholder-text-size: var(--valence-global-dimension-font-size-100);
  --valence-textarea-text-font-family: var(--valence-alias-body-text-font-family);
  --valence-textarea-text-font-style: var(--valence-global-font-style-regular);
  --valence-textarea-text-font-weight: var(--valence-alias-body-text-font-weight);
  --valence-textarea-text-line-height: var(--valence-alias-body-text-line-height);
  --valence-textarea-text-letter-spacing: var(--valence-global-font-letter-spacing-none);
  --valence-textarea-text-transform: none;
  --valence-textarea-text-size: var(--valence-alias-font-size-default);
  --valence-textarea-height: var(--valence-alias-single-line-height);
  --valence-textarea-min-width: var(--valence-global-dimension-size-600);
  --valence-textarea-padding-x: var(--valence-global-dimension-size-150);
  --valence-textarea-padding-top: var(--valence-global-dimension-size-75);
  --valence-textarea-padding-bottom: var(--valence-global-dimension-size-115);
  --valence-textarea-border-radius: var(--valence-alias-border-radius-regular);
  --valence-textarea-label-gap-x: var(--valence-global-dimension-size-100);
  --valence-textarea-label-gap-y: var(--valence-global-dimension-size-100);
  --valence-textarea-label-padding-top: var(--valence-global-dimension-size-100);
  --valence-textarea-label-padding-bottom: var(--valence-global-dimension-size-150);
  --valence-textarea-counter-gap: var(--valence-global-dimension-size-100);
  --valence-textarea-asterisk-size: var(--valence-global-dimension-size-100);
  --valence-textarea-asterisk-gap: var(--valence-global-dimension-size-50);
  --valence-textarea-icon-size: var(--valence-global-dimension-size-225);
  --valence-textarea-success-icon-height: var(--valence-global-dimension-size-150);
  --valence-textarea-success-icon-width: var(--valence-global-dimension-size-150);
  --valence-textarea-error-icon-height: var(--valence-global-dimension-size-225);
  --valence-textarea-error-icon-width: var(--valence-global-dimension-size-225);
  --valence-textarea-text-baseline: var(--valence-global-dimension-size-150);
  --valence-textarea-cursor-hit-x: var(--valence-global-dimension-size-50);
  --valence-textarea-icon-margin-left: var(--valence-global-dimension-size-150);
  --valence-textarea-icon-margin-right: var(--valence-global-dimension-size-0);
  --valence-textarea-quiet-placeholder-text-color: var(--valence-alias-placeholder-text-color);
  --valence-textarea-quiet-text-color: var(--valence-alias-text-color);
  --valence-textarea-quiet-border-size: var(--valence-alias-border-size-thin);
  --valence-textarea-quiet-background-color: var(--valence-alias-background-color-transparent);
  --valence-textarea-quiet-border-color: var(--valence-alias-border-color);
  --valence-textarea-quiet-icon-color: var(--valence-alias-icon-color);
  --valence-textarea-quiet-placeholder-text-color-hover: var(--valence-alias-placeholder-text-color-hover);
  --valence-textarea-quiet-text-color-hover: var(--valence-alias-text-color-hover);
  --valence-textarea-quiet-background-color-hover: var(--valence-alias-background-color-transparent);
  --valence-textarea-quiet-border-color-hover: var(--valence-alias-border-color-hover);
  --valence-textarea-quiet-icon-color-hover: var(--valence-global-color-gray-900);
  --valence-textarea-quiet-placeholder-text-color-key-focus: var(--valence-alias-placeholder-text-color-hover);
  --valence-textarea-quiet-text-color-key-focus: var(--valence-alias-text-color-hover);
  --valence-textarea-quiet-background-color-key-focus: var(--valence-alias-background-color-transparent);
  --valence-textarea-quiet-icon-color-key-focus: var(--valence-global-color-gray-900);
  --valence-textarea-quiet-border-color-key-focus: var(--valence-alias-border-color-focus);
  --valence-textarea-quiet-border-size-key-focus: var(--valence-alias-border-size-thick);
  --valence-textarea-quiet-placeholder-text-color-disabled: var(--valence-alias-text-color-disabled);
  --valence-textarea-quiet-text-color-disabled: var(--valence-alias-text-color-disabled);
  --valence-textarea-quiet-background-color-disabled: var(--valence-alias-background-color-transparent);
  --valence-textarea-quiet-border-color-disabled: var(--valence-alias-border-color-mid);
  --valence-textarea-quiet-icon-color-disabled: var(--valence-global-color-gray-500);
  --valence-textarea-quiet-validation-icon-color-disabled: var(--valence-global-color-gray-500);
  --valence-textarea-quiet-text-color-down: var(--valence-alias-text-color-down);
  --valence-textarea-quiet-placeholder-text-color-down: var(--valence-alias-placeholder-text-color-down);
  --valence-textarea-quiet-background-color-down: var(--valence-alias-background-color-transparent);
  --valence-textarea-quiet-border-color-down: var(--valence-alias-border-color-mouse-focus);
  --valence-textarea-quiet-icon-color-down: var(--valence-alias-icon-color-down);
  --valence-textarea-quiet-text-color-mouse-focus: var(--valence-alias-text-color-hover);
  --valence-textarea-quiet-placeholder-text-color-mouse-focus: var(--valence-alias-placeholder-text-color);
  --valence-textarea-quiet-background-color-mouse-focus: var(--valence-alias-background-color-transparent);
  --valence-textarea-quiet-border-color-mouse-focus: var(--valence-alias-border-color-mouse-focus);
  --valence-textarea-quiet-border-size-mouse-focus: var(--valence-alias-border-size-thin);
  --valence-textarea-quiet-icon-color-mouse-focus: var(--valence-global-color-gray-700);
  --valence-textarea-quiet-border-color-error: var(--valence-semantic-negative-color-default);
  --valence-textarea-quiet-validation-icon-color-error: var(--valence-semantic-negative-color-icon);
  --valence-textarea-quiet-border-color-error-hover: var(--valence-semantic-negative-color-state-hover);
  --valence-textarea-quiet-validation-icon-color-error-hover: var(--valence-semantic-negative-color-icon);
  --valence-textarea-quiet-border-color-error-down: var(--valence-semantic-negative-color-state-down);
  --valence-textarea-quiet-validation-icon-color-error-down: var(--valence-semantic-negative-color-icon);
  --valence-textarea-quiet-border-color-error-key-focus: var(--valence-alias-border-color-focus);
  --valence-textarea-quiet-validation-icon-color-error-key-focus: var(--valence-semantic-negative-color-icon);
  --valence-textarea-quiet-border-color-error-mouse-focus: var(--valence-semantic-negative-color-state-hover);
  --valence-textarea-quiet-validation-icon-color-error-mouse-focus: var(--valence-semantic-negative-color-icon);
  --valence-textarea-quiet-icon-color-valid: var(--valence-global-color-green-400);
  --valence-textarea-quiet-border-color-valid-hover: var(--valence-global-color-gray-400);
  --valence-textarea-quiet-icon-color-valid-hover: var(--valence-global-color-green-400);
  --valence-textarea-quiet-border-color-valid-down: var(--valence-alias-border-color-down);
  --valence-textarea-quiet-icon-color-valid-down: var(--valence-global-color-green-400);
  --valence-textarea-quiet-border-color-valid-key-focus: var(--valence-alias-border-color-focus);
  --valence-textarea-quiet-icon-color-valid-key-focus: var(--valence-global-color-green-400);
  --valence-textarea-quiet-border-color-valid-mouse-focus: var(--valence-alias-border-color-down);
  --valence-textarea-quiet-icon-color-valid-mouse-focus: var(--valence-global-color-green-400);
  --valence-textarea-quiet-placeholder-text-font-style: var(--valence-global-font-style-italic);
  --valence-textarea-quiet-placeholder-text-font-weight: var(--valence-global-font-weight-regular);
  --valence-textarea-quiet-placeholder-text-size: var(--valence-global-dimension-font-size-100);
  --valence-textarea-quiet-text-font-family: var(--valence-alias-body-text-font-family);
  --valence-textarea-quiet-text-font-style: var(--valence-global-font-style-regular);
  --valence-textarea-quiet-text-font-weight: var(--valence-alias-body-text-font-weight);
  --valence-textarea-quiet-text-line-height: var(--valence-alias-body-text-line-height);
  --valence-textarea-quiet-text-letter-spacing: var(--valence-global-font-letter-spacing-none);
  --valence-textarea-quiet-text-transform: none;
  --valence-textarea-quiet-text-size: var(--valence-alias-font-size-default);
  --valence-textarea-quiet-height: var(--valence-alias-single-line-height);
  --valence-textarea-quiet-min-width: var(--valence-global-dimension-size-600);
  --valence-textarea-quiet-padding-x: 0;
  --valence-textarea-quiet-padding-top: var(--valence-global-dimension-size-75);
  --valence-textarea-quiet-padding-bottom: var(--valence-global-dimension-size-115);
  --valence-textarea-quiet-border-radius: 0px;
  --valence-textarea-quiet-label-gap-x: var(--valence-global-dimension-size-150);
  --valence-textarea-quiet-label-gap-y: 0;
  --valence-textarea-quiet-label-padding-top: var(--valence-global-dimension-size-100);
  --valence-textarea-quiet-label-padding-bottom: var(--valence-global-dimension-size-150);
  --valence-textarea-quiet-counter-gap: var(--valence-global-dimension-size-100);
  --valence-textarea-quiet-asterisk-size: var(--valence-global-dimension-size-100);
  --valence-textarea-quiet-asterisk-gap: var(--valence-global-dimension-size-50);
  --valence-textarea-quiet-icon-size: var(--valence-global-dimension-size-225);
  --valence-textarea-quiet-success-icon-height: var(--valence-global-dimension-size-150);
  --valence-textarea-quiet-success-icon-width: var(--valence-global-dimension-size-150);
  --valence-textarea-quiet-error-icon-height: var(--valence-global-dimension-size-225);
  --valence-textarea-quiet-error-icon-width: var(--valence-global-dimension-size-225);
  --valence-textarea-quiet-text-baseline: var(--valence-global-dimension-size-150);
  --valence-textarea-quiet-cursor-hit-x: var(--valence-global-dimension-size-50);
  --valence-textarea-quiet-icon-margin-left: var(--valence-global-dimension-size-150);
  --valence-textarea-quiet-icon-margin-right: var(--valence-global-dimension-size-0);
  --valence-textarea-quiet-affixed-border-size: var(--valence-global-dimension-static-size-10);
}
