.theme {
  --valence-card-border-size: var(--valence-alias-border-size-thin);
  --valence-card-border-color: var(--valence-global-color-gray-200);
  --valence-card-border-size-key-focus: var(--valence-alias-border-size-thick);
  --valence-card-border-color-key-focus: var(--valence-alias-border-color-focus);
  --valence-card-border-color-hover: var(--valence-global-color-gray-400);
  --valence-card-coverphoto-background-color: var(--valence-global-color-gray-200);
  --valence-card-coverphoto-border-color: var(--valence-global-color-gray-200);
  --valence-card-description-text-color: var(--valence-global-color-gray-700);
  --valence-card-background-color: var(--valence-global-color-gray-50);
  --valence-card-min-width: var(--valence-global-dimension-size-3000);
  --valence-card-border-radius: var(--valence-alias-border-radius-regular);
  --valence-card-coverphoto-height: var(--valence-global-dimension-size-1700);
  --valence-card-coverphoto-border-bottom-size: var(--valence-alias-border-size-thin);
  --valence-card-body-padding-top: var(--valence-global-dimension-size-250);
  --valence-card-body-padding-right: var(--valence-global-dimension-size-300);
  --valence-card-body-padding-left: var(--valence-global-dimension-size-300);
  --valence-card-body-padding-bottom: var(--valence-global-dimension-size-250);
  --valence-card-checkbox-margin: var(--valence-global-dimension-size-200);
  --valence-card-body-header-height: var(--valence-global-dimension-size-225);
  --valence-card-body-content-height: var(--valence-global-dimension-size-175);
  --valence-card-body-content-margin-top: var(--valence-global-dimension-size-75);
  --valence-card-title-padding-right: var(--valence-global-dimension-size-100);
  --valence-card-title-text-size: var(--valence-global-dimension-font-size-100);
  --valence-card-subtitle-text-size: var(--valence-global-dimension-font-size-50);
  --valence-card-subtitle-padding-top: var(--valence-global-dimension-size-50);
  --valence-card-subtitle-padding-right: var(--valence-global-dimension-size-100);
  --valence-card-subtitle-letter-spacing: var(--valence-global-font-letter-spacing-medium);
  --valence-card-actions-margin: var(--valence-global-dimension-size-125);
  --valence-card-footer-padding-top: var(--valence-global-dimension-size-175);
  --valence-card-footer-border-top-size: var(--valence-global-dimension-size-10);
  --valence-card-quiet-preview-background-color: var(--valence-global-color-gray-200);
  --valence-card-quiet-preview-background-color-hover: var(--valence-global-color-gray-300);
  --valence-card-quiet-border-color-selected: var(--valence-global-color-blue-500);
  --valence-card-quiet-title-text-color: var(--valence-global-color-gray-800);
  --valence-card-quiet-subtitle-text-color: var(--valence-global-color-gray-700);
  --valence-card-quiet-border-radius: var(--valence-alias-border-radius-regular);
  --valence-card-quiet-border-size: var(--valence-alias-border-size-thin);
  --valence-card-quiet-min-size: var(--valence-global-dimension-size-1700);
  --valence-card-quiet-checkbox-margin: var(--valence-global-dimension-size-200);
  --valence-card-quiet-preview-padding: var(--valence-global-dimension-size-250);
  --valence-card-quiet-body-margin-top: var(--valence-global-dimension-size-175);
  --valence-card-quiet-body-header-height: var(--valence-global-dimension-size-225);
  --valence-card-quiet-body-header-margin-top: var(--valence-global-dimension-size-175);
  --valence-card-quiet-small-border-radius: var(--valence-alias-border-radius-regular);
  --valence-card-quiet-small-border-size: var(--valence-alias-border-size-thin);
  --valence-card-quiet-small-body-header-height: var(--valence-global-dimension-size-150);
  --valence-card-quiet-small-body-margin-top: var(--valence-global-dimension-size-100);
  --valence-card-quiet-small-preview-padding: var(--valence-global-dimension-size-150);
  --valence-card-quiet-small-checkbox-margin: var(--valence-global-dimension-size-125);
  --valence-card-quiet-small-min-size: var(--valence-global-dimension-size-900);
  --valence-card-quiet-small-title-text-size: var(--valence-global-dimension-font-size-100);
  --valence-card-quiet-small-body-header-margin-top: var(--valence-global-dimension-size-175);
}
