.theme {
  --valence-toast-background-color: var(--valence-global-color-static-gray-700);
  --valence-toast-text-color: var(--valence-global-color-static-white);
  --valence-toast-icon-color: var(--valence-global-color-static-white);
  --valence-toast-rule-color: var(--valence-alias-track-color-over-background);
  --valence-toast-text-size: var(--valence-alias-font-size-default);
  --valence-toast-text-font-weight: var(--valence-global-font-weight-bold);
  --valence-toast-text-line-height: var(--valence-alias-body-text-line-height);
  --valence-toast-text-baseline: var(--valence-global-dimension-size-250);
  --valence-toast-min-height: var(--valence-global-dimension-size-600);
  --valence-toast-max-width: var(--valence-global-dimension-size-6000);
  --valence-toast-border-radius: var(--valence-global-dimension-static-size-50);
  --valence-toast-padding-left: var(--valence-global-dimension-size-200);
  --valence-toast-padding-right: var(--valence-global-dimension-size-100);
  --valence-toast-padding-y: var(--valence-global-dimension-size-100);
  --valence-toast-margin-x: var(--valence-global-dimension-static-size-100);
  --valence-toast-icon-padding-y: var(--valence-global-dimension-size-85);
  --valence-toast-icon-padding-right: var(--valence-global-dimension-size-150);
  --valence-toast-icon-size: var(--valence-alias-workflow-icon-size);
  --valence-toast-button-gap: var(--valence-global-dimension-size-100);
  --valence-toast-button-gap-x: var(--valence-global-dimension-size-100);
  --valence-toast-button-gap-y: var(--valence-global-dimension-size-50);
  --valence-toast-button-padding-y: var(--valence-global-dimension-size-100);
  --valence-toast-rule-border-size: var(--valence-alias-border-size-thin);
  --valence-toast-rule-height: var(--valence-global-dimension-static-percent-100);
  --valence-toast-content-padding-right: var(--valence-global-dimension-size-200);
  --valence-toast-content-padding-top: var(--valence-global-dimension-size-65);
  --valence-toast-content-padding-bottom: var(--valence-global-dimension-size-65);
  --valence-toast-content-padding-bottom-action: var(--valence-global-dimension-size-50);
  --valence-toast-dismiss-duration: 5000ms;
  --valence-toast-offset-y: var(--valence-global-dimension-static-size-200);
  --valence-toast-entry-animation-offset-y: var(--valence-global-dimension-static-percent-50);
  --valence-toast-entry-animation-opacity: 0%;
  --valence-toast-entry-animation-duration: var(--valence-global-animation-duration-500);
  --valence-toast-entry-animation-ease: var(--valence-global-animation-ease-in-out);
  --valence-toast-entry-animation-properties: opacity, offset;
  --valence-toast-entry-animation-keyframe-0-opacity: 0%;
  --valence-toast-entry-animation-keyframe-0-offset-y: var(--valence-global-dimension-static-percent-50);
  --valence-toast-entry-animation-keyframe-66-opacity: var(--valence-global-dimension-static-percent-100);
  --valence-toast-entry-animation-keyframe-66-offset-y: var(--valence-global-dimension-static-size-250);
  --valence-toast-entry-animation-keyframe-100-opacity: var(--valence-global-dimension-static-percent-100);
  --valence-toast-entry-animation-keyframe-100-offset-y: var(--valence-global-dimension-static-size-200);
  --valence-toast-exit-animation-offset-y: var(--valence-global-dimension-static-size-200);
  --valence-toast-exit-animation-opacity: 0%;
  --valence-toast-exit-animation-duration: var(--valence-global-animation-duration-400);
  --valence-toast-exit-animation-ease: var(--valence-global-animation-ease-in-out);
  --valence-toast-exit-animation-keyframe-0-opacity: var(--valence-global-dimension-static-percent-100);
  --valence-toast-exit-animation-keyframe-0-offset-y: var(--valence-global-dimension-static-size-200);
  --valence-toast-exit-animation-keyframe-100-opacity: 0%;
  --valence-toast-exit-animation-keyframe-100-offset-y: var(--valence-global-dimension-static-percent-50);
  --valence-toast-error-background-color: var(--valence-global-color-static-red-700);
  --valence-toast-info-background-color: var(--valence-global-color-static-blue-700);
  --valence-toast-info-text-color: var(--valence-global-color-static-white);
  --valence-toast-info-icon-color: var(--valence-global-color-static-white);
  --valence-toast-info-rule-color: var(--valence-alias-track-color-over-background);
  --valence-toast-info-text-size: var(--valence-alias-font-size-default);
  --valence-toast-info-text-font-weight: var(--valence-global-font-weight-bold);
  --valence-toast-info-text-line-height: var(--valence-alias-body-text-line-height);
  --valence-toast-info-text-baseline: var(--valence-global-dimension-size-250);
  --valence-toast-info-min-height: var(--valence-global-dimension-size-600);
  --valence-toast-info-max-width: var(--valence-global-dimension-size-6000);
  --valence-toast-info-border-radius: var(--valence-global-dimension-static-size-50);
  --valence-toast-info-padding-left: var(--valence-global-dimension-size-200);
  --valence-toast-info-padding-right: var(--valence-global-dimension-size-100);
  --valence-toast-info-padding-y: var(--valence-global-dimension-size-100);
  --valence-toast-info-margin-x: var(--valence-global-dimension-static-size-100);
  --valence-toast-info-icon-padding-y: var(--valence-global-dimension-size-85);
  --valence-toast-info-icon-padding-right: var(--valence-global-dimension-size-150);
  --valence-toast-info-icon-size: var(--valence-alias-workflow-icon-size);
  --valence-toast-info-button-gap: var(--valence-global-dimension-size-100);
  --valence-toast-info-button-gap-x: var(--valence-global-dimension-size-100);
  --valence-toast-info-button-gap-y: var(--valence-global-dimension-size-50);
  --valence-toast-info-button-padding-y: var(--valence-global-dimension-size-100);
  --valence-toast-info-rule-border-size: var(--valence-alias-border-size-thin);
  --valence-toast-info-rule-height: var(--valence-global-dimension-static-percent-100);
  --valence-toast-info-content-padding-right: var(--valence-global-dimension-size-200);
  --valence-toast-info-content-padding-top: var(--valence-global-dimension-size-65);
  --valence-toast-info-content-padding-bottom: var(--valence-global-dimension-size-65);
  --valence-toast-info-content-padding-bottom-action: var(--valence-global-dimension-size-50);
  --valence-toast-info-dismiss-duration: 5000ms;
  --valence-toast-info-offset-y: var(--valence-global-dimension-static-size-200);
  --valence-toast-info-entry-animation-offset-y: var(--valence-global-dimension-static-percent-50);
  --valence-toast-info-entry-animation-opacity: 0%;
  --valence-toast-info-entry-animation-duration: var(--valence-global-animation-duration-500);
  --valence-toast-info-entry-animation-ease: var(--valence-global-animation-ease-in-out);
  --valence-toast-info-entry-animation-properties: opacity, offset;
  --valence-toast-info-entry-animation-keyframe-0-opacity: 0%;
  --valence-toast-info-entry-animation-keyframe-0-offset-y: var(--valence-global-dimension-static-percent-50);
  --valence-toast-info-entry-animation-keyframe-66-opacity: var(--valence-global-dimension-static-percent-100);
  --valence-toast-info-entry-animation-keyframe-66-offset-y: var(--valence-global-dimension-static-size-250);
  --valence-toast-info-entry-animation-keyframe-100-opacity: var(--valence-global-dimension-static-percent-100);
  --valence-toast-info-entry-animation-keyframe-100-offset-y: var(--valence-global-dimension-static-size-200);
  --valence-toast-info-exit-animation-offset-y: var(--valence-global-dimension-static-size-200);
  --valence-toast-info-exit-animation-opacity: 0%;
  --valence-toast-info-exit-animation-duration: var(--valence-global-animation-duration-400);
  --valence-toast-info-exit-animation-ease: var(--valence-global-animation-ease-in-out);
  --valence-toast-info-exit-animation-keyframe-0-opacity: var(--valence-global-dimension-static-percent-100);
  --valence-toast-info-exit-animation-keyframe-0-offset-y: var(--valence-global-dimension-static-size-200);
  --valence-toast-info-exit-animation-keyframe-100-opacity: 0%;
  --valence-toast-info-exit-animation-keyframe-100-offset-y: var(--valence-global-dimension-static-percent-50);
  --valence-toast-negative-background-color: var(--valence-global-color-static-red-700);
  --valence-toast-negative-text-color: var(--valence-global-color-static-white);
  --valence-toast-negative-icon-color: var(--valence-global-color-static-white);
  --valence-toast-negative-rule-color: var(--valence-alias-track-color-over-background);
  --valence-toast-negative-text-size: var(--valence-alias-font-size-default);
  --valence-toast-negative-text-font-weight: var(--valence-global-font-weight-bold);
  --valence-toast-negative-text-line-height: var(--valence-alias-body-text-line-height);
  --valence-toast-negative-text-baseline: var(--valence-global-dimension-size-250);
  --valence-toast-negative-min-height: var(--valence-global-dimension-size-600);
  --valence-toast-negative-max-width: var(--valence-global-dimension-size-6000);
  --valence-toast-negative-border-radius: var(--valence-global-dimension-static-size-50);
  --valence-toast-negative-padding-left: var(--valence-global-dimension-size-200);
  --valence-toast-negative-padding-right: var(--valence-global-dimension-size-100);
  --valence-toast-negative-padding-y: var(--valence-global-dimension-size-100);
  --valence-toast-negative-margin-x: var(--valence-global-dimension-static-size-100);
  --valence-toast-negative-icon-padding-y: var(--valence-global-dimension-size-85);
  --valence-toast-negative-icon-padding-right: var(--valence-global-dimension-size-150);
  --valence-toast-negative-icon-size: var(--valence-alias-workflow-icon-size);
  --valence-toast-negative-button-gap: var(--valence-global-dimension-size-100);
  --valence-toast-negative-button-gap-x: var(--valence-global-dimension-size-100);
  --valence-toast-negative-button-gap-y: var(--valence-global-dimension-size-50);
  --valence-toast-negative-button-padding-y: var(--valence-global-dimension-size-100);
  --valence-toast-negative-rule-border-size: var(--valence-alias-border-size-thin);
  --valence-toast-negative-rule-height: var(--valence-global-dimension-static-percent-100);
  --valence-toast-negative-content-padding-right: var(--valence-global-dimension-size-200);
  --valence-toast-negative-content-padding-top: var(--valence-global-dimension-size-65);
  --valence-toast-negative-content-padding-bottom: var(--valence-global-dimension-size-65);
  --valence-toast-negative-content-padding-bottom-action: var(--valence-global-dimension-size-50);
  --valence-toast-negative-dismiss-duration: 5000ms;
  --valence-toast-negative-offset-y: var(--valence-global-dimension-static-size-200);
  --valence-toast-negative-entry-animation-offset-y: var(--valence-global-dimension-static-percent-50);
  --valence-toast-negative-entry-animation-opacity: 0%;
  --valence-toast-negative-entry-animation-duration: var(--valence-global-animation-duration-500);
  --valence-toast-negative-entry-animation-ease: var(--valence-global-animation-ease-in-out);
  --valence-toast-negative-entry-animation-properties: opacity, offset;
  --valence-toast-negative-entry-animation-keyframe-0-opacity: 0%;
  --valence-toast-negative-entry-animation-keyframe-0-offset-y: var(--valence-global-dimension-static-percent-50);
  --valence-toast-negative-entry-animation-keyframe-66-opacity: var(--valence-global-dimension-static-percent-100);
  --valence-toast-negative-entry-animation-keyframe-66-offset-y: var(--valence-global-dimension-static-size-250);
  --valence-toast-negative-entry-animation-keyframe-100-opacity: var(--valence-global-dimension-static-percent-100);
  --valence-toast-negative-entry-animation-keyframe-100-offset-y: var(--valence-global-dimension-static-size-200);
  --valence-toast-negative-exit-animation-offset-y: var(--valence-global-dimension-static-size-200);
  --valence-toast-negative-exit-animation-opacity: 0%;
  --valence-toast-negative-exit-animation-duration: var(--valence-global-animation-duration-400);
  --valence-toast-negative-exit-animation-ease: var(--valence-global-animation-ease-in-out);
  --valence-toast-negative-exit-animation-keyframe-0-opacity: var(--valence-global-dimension-static-percent-100);
  --valence-toast-negative-exit-animation-keyframe-0-offset-y: var(--valence-global-dimension-static-size-200);
  --valence-toast-negative-exit-animation-keyframe-100-opacity: 0%;
  --valence-toast-negative-exit-animation-keyframe-100-offset-y: var(--valence-global-dimension-static-percent-50);
  --valence-toast-neutral-background-color: var(--valence-global-color-static-gray-700);
  --valence-toast-neutral-text-color: var(--valence-global-color-static-white);
  --valence-toast-neutral-icon-color: var(--valence-global-color-static-white);
  --valence-toast-neutral-rule-color: var(--valence-alias-track-color-over-background);
  --valence-toast-neutral-text-size: var(--valence-alias-font-size-default);
  --valence-toast-neutral-text-font-weight: var(--valence-global-font-weight-bold);
  --valence-toast-neutral-text-line-height: var(--valence-alias-body-text-line-height);
  --valence-toast-neutral-text-baseline: var(--valence-global-dimension-size-250);
  --valence-toast-neutral-min-height: var(--valence-global-dimension-size-600);
  --valence-toast-neutral-max-width: var(--valence-global-dimension-size-6000);
  --valence-toast-neutral-border-radius: var(--valence-global-dimension-static-size-50);
  --valence-toast-neutral-padding-left: var(--valence-global-dimension-size-200);
  --valence-toast-neutral-padding-right: var(--valence-global-dimension-size-100);
  --valence-toast-neutral-padding-y: var(--valence-global-dimension-size-100);
  --valence-toast-neutral-margin-x: var(--valence-global-dimension-static-size-100);
  --valence-toast-neutral-icon-padding-y: var(--valence-global-dimension-size-85);
  --valence-toast-neutral-icon-padding-right: var(--valence-global-dimension-size-150);
  --valence-toast-neutral-icon-size: var(--valence-alias-workflow-icon-size);
  --valence-toast-neutral-button-gap: var(--valence-global-dimension-size-100);
  --valence-toast-neutral-button-gap-x: var(--valence-global-dimension-size-100);
  --valence-toast-neutral-button-gap-y: var(--valence-global-dimension-size-50);
  --valence-toast-neutral-button-padding-y: var(--valence-global-dimension-size-100);
  --valence-toast-neutral-rule-border-size: var(--valence-alias-border-size-thin);
  --valence-toast-neutral-rule-height: var(--valence-global-dimension-static-percent-100);
  --valence-toast-neutral-content-padding-right: var(--valence-global-dimension-size-200);
  --valence-toast-neutral-content-padding-top: var(--valence-global-dimension-size-65);
  --valence-toast-neutral-content-padding-bottom: var(--valence-global-dimension-size-65);
  --valence-toast-neutral-content-padding-bottom-action: var(--valence-global-dimension-size-50);
  --valence-toast-neutral-dismiss-duration: 5000ms;
  --valence-toast-neutral-offset-y: var(--valence-global-dimension-static-size-200);
  --valence-toast-neutral-entry-animation-offset-y: var(--valence-global-dimension-static-percent-50);
  --valence-toast-neutral-entry-animation-opacity: 0%;
  --valence-toast-neutral-entry-animation-duration: var(--valence-global-animation-duration-500);
  --valence-toast-neutral-entry-animation-ease: var(--valence-global-animation-ease-in-out);
  --valence-toast-neutral-entry-animation-properties: opacity, offset;
  --valence-toast-neutral-entry-animation-keyframe-0-opacity: 0%;
  --valence-toast-neutral-entry-animation-keyframe-0-offset-y: var(--valence-global-dimension-static-percent-50);
  --valence-toast-neutral-entry-animation-keyframe-66-opacity: var(--valence-global-dimension-static-percent-100);
  --valence-toast-neutral-entry-animation-keyframe-66-offset-y: var(--valence-global-dimension-static-size-250);
  --valence-toast-neutral-entry-animation-keyframe-100-opacity: var(--valence-global-dimension-static-percent-100);
  --valence-toast-neutral-entry-animation-keyframe-100-offset-y: var(--valence-global-dimension-static-size-200);
  --valence-toast-neutral-exit-animation-offset-y: var(--valence-global-dimension-static-size-200);
  --valence-toast-neutral-exit-animation-opacity: 0%;
  --valence-toast-neutral-exit-animation-duration: var(--valence-global-animation-duration-400);
  --valence-toast-neutral-exit-animation-ease: var(--valence-global-animation-ease-in-out);
  --valence-toast-neutral-exit-animation-keyframe-0-opacity: var(--valence-global-dimension-static-percent-100);
  --valence-toast-neutral-exit-animation-keyframe-0-offset-y: var(--valence-global-dimension-static-size-200);
  --valence-toast-neutral-exit-animation-keyframe-100-opacity: 0%;
  --valence-toast-neutral-exit-animation-keyframe-100-offset-y: var(--valence-global-dimension-static-percent-50);
  --valence-toast-positive-background-color: var(--valence-global-color-static-green-700);
  --valence-toast-positive-text-color: var(--valence-global-color-static-white);
  --valence-toast-positive-icon-color: var(--valence-global-color-static-white);
  --valence-toast-positive-rule-color: var(--valence-alias-track-color-over-background);
  --valence-toast-positive-text-size: var(--valence-alias-font-size-default);
  --valence-toast-positive-text-font-weight: var(--valence-global-font-weight-bold);
  --valence-toast-positive-text-line-height: var(--valence-alias-body-text-line-height);
  --valence-toast-positive-text-baseline: var(--valence-global-dimension-size-250);
  --valence-toast-positive-min-height: var(--valence-global-dimension-size-600);
  --valence-toast-positive-max-width: var(--valence-global-dimension-size-6000);
  --valence-toast-positive-border-radius: var(--valence-global-dimension-static-size-50);
  --valence-toast-positive-padding-left: var(--valence-global-dimension-size-200);
  --valence-toast-positive-padding-right: var(--valence-global-dimension-size-100);
  --valence-toast-positive-padding-y: var(--valence-global-dimension-size-100);
  --valence-toast-positive-margin-x: var(--valence-global-dimension-static-size-100);
  --valence-toast-positive-icon-padding-y: var(--valence-global-dimension-size-85);
  --valence-toast-positive-icon-padding-right: var(--valence-global-dimension-size-150);
  --valence-toast-positive-icon-size: var(--valence-alias-workflow-icon-size);
  --valence-toast-positive-button-gap: var(--valence-global-dimension-size-100);
  --valence-toast-positive-button-gap-x: var(--valence-global-dimension-size-100);
  --valence-toast-positive-button-gap-y: var(--valence-global-dimension-size-50);
  --valence-toast-positive-button-padding-y: var(--valence-global-dimension-size-100);
  --valence-toast-positive-rule-border-size: var(--valence-alias-border-size-thin);
  --valence-toast-positive-rule-height: var(--valence-global-dimension-static-percent-100);
  --valence-toast-positive-content-padding-right: var(--valence-global-dimension-size-200);
  --valence-toast-positive-content-padding-top: var(--valence-global-dimension-size-65);
  --valence-toast-positive-content-padding-bottom: var(--valence-global-dimension-size-65);
  --valence-toast-positive-content-padding-bottom-action: var(--valence-global-dimension-size-50);
  --valence-toast-positive-dismiss-duration: 5000ms;
  --valence-toast-positive-offset-y: var(--valence-global-dimension-static-size-200);
  --valence-toast-positive-entry-animation-offset-y: var(--valence-global-dimension-static-percent-50);
  --valence-toast-positive-entry-animation-opacity: 0%;
  --valence-toast-positive-entry-animation-duration: var(--valence-global-animation-duration-500);
  --valence-toast-positive-entry-animation-ease: var(--valence-global-animation-ease-in-out);
  --valence-toast-positive-entry-animation-properties: opacity, offset;
  --valence-toast-positive-entry-animation-keyframe-0-opacity: 0%;
  --valence-toast-positive-entry-animation-keyframe-0-offset-y: var(--valence-global-dimension-static-percent-50);
  --valence-toast-positive-entry-animation-keyframe-66-opacity: var(--valence-global-dimension-static-percent-100);
  --valence-toast-positive-entry-animation-keyframe-66-offset-y: var(--valence-global-dimension-static-size-250);
  --valence-toast-positive-entry-animation-keyframe-100-opacity: var(--valence-global-dimension-static-percent-100);
  --valence-toast-positive-entry-animation-keyframe-100-offset-y: var(--valence-global-dimension-static-size-200);
  --valence-toast-positive-exit-animation-offset-y: var(--valence-global-dimension-static-size-200);
  --valence-toast-positive-exit-animation-opacity: 0%;
  --valence-toast-positive-exit-animation-duration: var(--valence-global-animation-duration-400);
  --valence-toast-positive-exit-animation-ease: var(--valence-global-animation-ease-in-out);
  --valence-toast-positive-exit-animation-keyframe-0-opacity: var(--valence-global-dimension-static-percent-100);
  --valence-toast-positive-exit-animation-keyframe-0-offset-y: var(--valence-global-dimension-static-size-200);
  --valence-toast-positive-exit-animation-keyframe-100-opacity: 0%;
  --valence-toast-positive-exit-animation-keyframe-100-offset-y: var(--valence-global-dimension-static-percent-50);
  --valence-toast-success-background-color: var(--valence-global-color-static-green-700);
  --valence-toast-warning-background-color: var(--valence-global-color-static-orange-700);
}

.theme {
  --valence-toast-icon-padding-y: var(--valence-global-dimension-size-85);
  --valence-toast-content-padding-top: var(--valence-global-dimension-size-65);
  --valence-toast-content-padding-bottom: var(
    --valence-global-dimension-size-65
  );

  --valence-toast-button-margin-right: var(--valence-global-dimension-size-130);
}
