.theme {
  --valence-progressbar-large-text-color: var(--valence-alias-text-color);
  --valence-progressbar-large-track-color: var(--valence-alias-track-color-default);
  --valence-progressbar-large-track-fill-color: var(--valence-global-color-blue-500);
  --valence-progressbar-large-track-color-disabled: var(--valence-alias-track-color-disabled);
  --valence-progressbar-large-track-fill-color-disabled: var(--valence-alias-track-color-disabled);
  --valence-progressbar-large-width: var(--valence-global-dimension-size-2400);
  --valence-progressbar-large-label-gap-x: var(--valence-global-dimension-size-150);
  --valence-progressbar-large-height: var(--valence-global-dimension-size-75);
  --valence-progressbar-large-fill-border-radius: 0;
  --valence-progressbar-large-label-gap-y: var(--valence-global-dimension-size-115);
  --valence-progressbar-large-indeterminate-text-color: var(--valence-alias-text-color);
  --valence-progressbar-large-indeterminate-track-color: var(--valence-alias-track-color-default);
  --valence-progressbar-large-indeterminate-track-fill-color: var(--valence-global-color-blue-500);
  --valence-progressbar-large-indeterminate-track-color-disabled: var(--valence-alias-track-color-disabled);
  --valence-progressbar-large-indeterminate-track-fill-color-disabled: var(--valence-alias-track-color-disabled);
  --valence-progressbar-large-indeterminate-width: var(--valence-global-dimension-size-2400);
  --valence-progressbar-large-indeterminate-label-gap-x: var(--valence-global-dimension-size-150);
  --valence-progressbar-large-indeterminate-height: var(--valence-global-dimension-size-75);
  --valence-progressbar-large-indeterminate-fill-border-radius: 0;
  --valence-progressbar-large-indeterminate-label-gap-y: var(--valence-global-dimension-size-115);
  --valence-progressbar-large-indeterminate-fill-width: var(--valence-global-dimension-size-1700);
  --valence-progressbar-large-indeterminate-animation-ease: var(--valence-global-animation-ease-in-out);
  --valence-progressbar-large-indeterminate-duration: var(--valence-global-animation-duration-2000);
  --valence-progressbar-large-over-background-text-color: var(--valence-global-color-static-white);
  --valence-progressbar-large-over-background-track-color: var(--valence-alias-track-color-over-background);
  --valence-progressbar-large-over-background-track-fill-color: var(--valence-global-color-static-white);
  --valence-progressbar-large-over-background-track-color-disabled: var(--valence-alias-track-color-over-background);
  --valence-progressbar-large-over-background-track-fill-color-disabled: var(--valence-alias-background-color-transparent);
  --valence-progressbar-large-over-background-width: var(--valence-global-dimension-size-2400);
  --valence-progressbar-large-over-background-label-gap-x: var(--valence-global-dimension-size-150);
  --valence-progressbar-large-over-background-height: var(--valence-global-dimension-size-75);
  --valence-progressbar-large-over-background-fill-border-radius: 0;
  --valence-progressbar-large-over-background-label-gap-y: var(--valence-global-dimension-size-115);
  --valence-progressbar-small-text-color: var(--valence-alias-text-color);
  --valence-progressbar-small-track-color: var(--valence-alias-track-color-default);
  --valence-progressbar-small-track-fill-color: var(--valence-global-color-blue-500);
  --valence-progressbar-small-track-color-disabled: var(--valence-alias-track-color-disabled);
  --valence-progressbar-small-track-fill-color-disabled: var(--valence-alias-track-color-disabled);
  --valence-progressbar-small-width: var(--valence-global-dimension-size-2400);
  --valence-progressbar-small-label-gap-x: var(--valence-global-dimension-size-150);
  --valence-progressbar-small-height: var(--valence-global-dimension-size-50);
  --valence-progressbar-small-fill-border-radius: 0;
  --valence-progressbar-small-label-gap-y: var(--valence-global-dimension-size-115);
  --valence-progressbar-small-indeterminate-text-color: var(--valence-alias-text-color);
  --valence-progressbar-small-indeterminate-track-color: var(--valence-alias-track-color-default);
  --valence-progressbar-small-indeterminate-track-fill-color: var(--valence-global-color-blue-500);
  --valence-progressbar-small-indeterminate-track-color-disabled: var(--valence-alias-track-color-disabled);
  --valence-progressbar-small-indeterminate-track-fill-color-disabled: var(--valence-alias-track-color-disabled);
  --valence-progressbar-small-indeterminate-width: var(--valence-global-dimension-size-2400);
  --valence-progressbar-small-indeterminate-label-gap-x: var(--valence-global-dimension-size-150);
  --valence-progressbar-small-indeterminate-height: var(--valence-global-dimension-size-50);
  --valence-progressbar-small-indeterminate-fill-border-radius: 0;
  --valence-progressbar-small-indeterminate-label-gap-y: var(--valence-global-dimension-size-115);
  --valence-progressbar-small-indeterminate-fill-width: var(--valence-global-dimension-size-1700);
  --valence-progressbar-small-indeterminate-animation-ease: var(--valence-global-animation-ease-in-out);
  --valence-progressbar-small-indeterminate-duration: var(--valence-global-animation-duration-2000);
  --valence-progressbar-small-over-background-text-color: var(--valence-global-color-static-white);
  --valence-progressbar-small-over-background-track-color: var(--valence-alias-track-color-over-background);
  --valence-progressbar-small-over-background-track-fill-color: var(--valence-global-color-static-white);
  --valence-progressbar-small-over-background-track-color-disabled: var(--valence-alias-track-color-over-background);
  --valence-progressbar-small-over-background-track-fill-color-disabled: var(--valence-alias-background-color-transparent);
  --valence-progressbar-small-over-background-width: var(--valence-global-dimension-size-2400);
  --valence-progressbar-small-over-background-label-gap-x: var(--valence-global-dimension-size-150);
  --valence-progressbar-small-over-background-height: var(--valence-global-dimension-size-50);
  --valence-progressbar-small-over-background-fill-border-radius: 0;
  --valence-progressbar-small-over-background-label-gap-y: var(--valence-global-dimension-size-115);
}
