@import "../commons/index.scss";

.Dropdown {
  position: relative;
  display: inline-block;
  user-select: none;

  height: var(--sandia-line-height);

  /* Truncate if menu options make us too wide */
  max-inline-size: 100%;
  inline-size: var(--sandia-field-min-width);
  min-inline-size: var(--sandia-field-min-width);

  /* Hack to enable select-powered Dropdowns */
  select {
    appearance: none;
    -ms-appearance: none; /* Edge */

    &::-ms-expand {
      display: none;
    }

    &::-ms-value {
      background-color: transparent;
    }

    & + .Dropdown-chevron {
      position: absolute;
      inset-inline-end: var(--sandia-padding-unit);
      inset-block-start: 50%;
      //margin-block-start: var(--sandia-frame-offset);
    }
  }
}

.Dropdown-trigger {
  position: relative;
  inline-size: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  /* Ensure that changing the selected item doesn't affect the size of the dropdown and its parents */
  contain: size;
  .Icon {
    padding-left: var(--sandia-framed-icon-offset)
  }
}

.Dropdown-label {
  /* Be the biggest, but also shrink! */
  flex: 1 1 auto;

  white-space: nowrap;
  overflow: hidden;

  block-size: var(--sandia-base-unit);
  line-height: var(--sandia-base-unit);

  font-size: var(--sandia-input-font-size);

  text-overflow: ellipsis;
  text-align: start;
  align-content: center;
  margin-left: var(--sandia-padding-min);

  &.is-placeholder {
    font-style: var(--sandia-placeholder-font-style);
    transition: color var(--valence-global-animation-duration-100) ease-in-out;
    margin-left: var(--sandia-padding-unit);
  }
}

/* Only apply margin to the icon if there's a label */
.Dropdown-label + .Dropdown-chevron {
  margin-inline-start: var(--sandia-padding-unit);
}

.Icon + .Dropdown-label {
  margin-inline-start: var(--sandia-padding-unit);
}

/* Only apply margin if there's a label */
.Dropdown-label ~ .Dropdown-chevron {
  margin-inline-start: var(--sandia-padding-unit);
}

.Dropdown-chevron {
  display: inline-block;
  position: relative;
  vertical-align: top;
  transition: color var(--valence-global-animation-duration-100) ease-out;
  flex-shrink: 0;

  /* Fix Safari 10 bug where align-items is ignored inside of buttons */
  margin-top: var(--sandia-padding-unit);
  margin-bottom: var(--sandia-padding-unit);
  margin-inline-end: var(--sandia-padding-unit);
  opacity: 1;
}

/* Error icons */
.Dropdown-trigger {
  .Dropdown-invalidIcon {
    /* Fix Safari 10 bug where align-items is ignored inside of buttons */
    margin-block-start: var(--sandia-framed-icon-offset);
    margin-block-end: var(--sandia-framed-icon-offset);
  }

  .Dropdown-label + .Dropdown-invalidIcon {
    margin-inline-start: var(--sandia-framed-icon-offset);
  }
}

.Dropdown-trigger {
  .Dropdown-progressCircle {
    margin-inline-start: var(--sandia-framed-icon-offset);
  }
}

.Icon + .Dropdown-chevron {
  margin-inline-start: var(--sandia-framed-icon-offset);
}

.Dropdown--quiet {
  inline-size: auto;
  min-inline-size: var(--valence-dropdown-quiet-min-width);

  .Dropdown-trigger {
    contain: none;
  }
}

.Dropdown-popover--quiet {
  inline-size: var(--sandia-field-min-width);

  /* Define this var so it can be read from JS */
  --valence-dropdown-quiet-offset: calc(var(--valence-dropdown-quiet-popover-offset-x) + var(--valence-popover-border-size));
  margin-inline-start: calc(var(--valence-dropdown-quiet-offset) * -1);
}

/* When used with a label or inside a Form, we need to override some things from .Field
 * so quiet dropdowns still collapse properly. */
.Field.Dropdown-fieldWrapper--quiet {
  display: inline-flex;
  flex-direction: column;
  inline-size: auto;

  .Dropdown--quiet {
    inline-size: auto;
    min-inline-size: var(--valence-dropdown-quiet-min-width);

    .Dropdown-trigger {
      inline-size: auto;
    }
  }

  &.Dropdown-fieldWrapper--positionSide {
    flex-direction: row;
  }
}
