
.Dropdown {
  /* Override to gray-800 to meet WCAG */
  --valence-dropdown-placeholder-text-color: var(--valence-global-color-gray-800);

  .Dropdown-trigger:hover {
    .Dropdown-chevron {
      color: var(--valence-dropdown-icon-color-hover);
    }
  }

  .Dropdown-trigger {
    &.is-selected {
      .is-placeholder {
        color: var(--valence-dropdown-placeholder-text-color-down);
      }
    }
  }

  &.is-invalid {
    .Dropdown-invalidIcon {
      color: var(--valence-dropdown-validation-icon-color-error);
    }

    &.is-disabled {
      .Icon,
      .Dropdown-invalidIcon {
        color: var(--valence-dropdown-icon-color-disabled);
      }
    }
  }

  &.is-disabled {
    &,
    .Dropdown-trigger:hover {
      .Dropdown-chevron {
        color: var(--valence-dropdown-icon-color-disabled);
      }
    }
    &:active .Dropdown-label {
      color: var(--valence-dropdown-text-color-disabled);
    }
    .Dropdown-label {
      &.is-placeholder {
        color: var(--valence-dropdown-placeholder-text-color-disabled);
      }
    }
  }
}

.Dropdown-chevron {
  color: var(--valence-dropdown-icon-color);
}

.Dropdown-label {
  &.is-placeholder {
    color: var(--valence-dropdown-placeholder-text-color);
  }
}

.Dropdown-trigger {
  &:hover .Dropdown-label {
    color: var(--valence-dropdown-placeholder-text-color-hover);
  }

  &:active .Dropdown-label {
    color: var(--valence-dropdown-placeholder-text-color-mouse-focus);
  }
}

.Dropdown-trigger.focus-ring {
  .Dropdown-label.is-placeholder {
    color: var(--valence-dropdown-placeholder-text-color-key-focus);
  }
  .Dropdown-chevron {
    color: var(--valence-dropdown-icon-color-key-focus)
  }
}

@media (forced-colors: active) {
  .Dropdown {
    --valence-dropdown-icon-color: ButtonText;
    --valence-dropdown-icon-color-disabled: GrayText;
    --valence-dropdown-icon-color-hover: ButtonText;
    --valence-dropdown-icon-color-key-focus: ButtonText;
    --valence-dropdown-placeholder-text-color: GrayText;
    --valence-dropdown-placeholder-text-color-disabled: GrayText;
    --valence-dropdown-placeholder-text-color-down: GrayText;
    --valence-dropdown-placeholder-text-color-hover: GrayText;
    --valence-dropdown-placeholder-text-color-key-focus: GrayText;
    --valence-dropdown-placeholder-text-color-mouse-focus: GrayText;
    --valence-dropdown-text-color-disabled: GrayText;
    --valence-dropdown-validation-icon-color-error: ButtonText;
  }
  /*Override the label behaviour when NOT a placeholder*/
  .Dropdown-trigger {
    &:hover .Dropdown-label {
      color: ButtonText;
      &.is-placeholder {
        color: GrayText;
      }
    }
  }
}
